Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

command: treat DOCKER_HOST the same if it's empty or unset
  cli/command/cli.go
  cli/command/context/use.go
  cli/command/context/use_test.go
Owners: none

also treat DOCKER_CONTEXT='' as unset
  cli/command/cli.go
Owners: none

context use: skip validation for "default" context
  cli/command/context/use.go
Owners: none

context use: don't create/update config file and directories if not needed
  cli/command/context/use.go
  cli/command/context/use_test.go
Owners: none

cli: set timeout connection ping on sockets as well
  cli/command/cli.go
  cli/command/cli_test.go
Owners: none

cli: set a timeout for the initial connection ping
  cli/command/cli.go
  cli/command/cli_test.go
Owners: none

Update golang to 1.18.5
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

[20.10] Update golang to 1.17.13
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update link to libnetwork docs
  docs/extend/plugins_network.md
Owners: @thaJeztah

display port name field in 'service ls'
  cli/command/service/formatter.go
  cli/command/task/formatter.go
Owners: none

Move notes about required buildkit
  docs/reference/commandline/build.md
Owners: @thaJeztah

Dockerfile: update buildx to v0.9.0
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

update cli-docs-tool to v0.5.0
  docs/go.mod
  scripts/docs/generate-yaml.sh
Owners: @thaJeztah

Update issues form
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: none

complete the "-g" / "--graph" daemon option deprecation
  docs/deprecated.md
Owners: @thaJeztah

cli/command/container: unnecessary use of fmt.Sprintf (gosimple)
  cli/command/container/formatter_stats.go
Owners: none

linting: ignore some "G101: Potential hardcoded credentials" warnings
  cli/command/service/opts.go
  cli/config/credentials/native_store.go
Owners: none

linting: fix incorrectly formatted errors (revive)
  cli/command/config/formatter_test.go
  cli/command/config/inspect_test.go
  cli/command/container/create.go
  cli/command/container/create_test.go
  cli/command/container/formatter_stats_test.go
  cli/command/formatter/container_test.go
  cli/command/formatter/disk_usage_test.go
  cli/command/formatter/formatter.go
  cli/command/formatter/image_test.go
  cli/command/formatter/volume_test.go
  cli/command/image/build.go
  cli/command/inspect/inspector.go
  cli/command/inspect/inspector_test.go
  cli/command/network/formatter_test.go
  cli/command/node/formatter_test.go
  cli/command/plugin/formatter_test.go
  cli/command/plugin/inspect_test.go
  cli/command/plugin/list_test.go
  cli/command/registry/formatter_search_test.go
  cli/command/secret/formatter_test.go
  cli/command/secret/inspect_test.go
  cli/command/service/formatter_test.go
  cli/command/stack/formatter/formatter_test.go
  cli/command/stack/list_test.go
  cli/command/stack/loader/loader.go
  cli/command/stack/services_test.go
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/version.go
  cli/command/task/formatter_test.go
  cli/command/trust/formatter_test.go
  cli/command/volume/create.go
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/compose/interpolation/interpolation.go
  cli/compose/interpolation/interpolation_test.go
Owners: @silvin-lubecki

lint: update golangci-lint to v1.45.2
  .golangci.yml
  dockerfiles/Dockerfile.lint
Owners: none

[20.10] vendor: github.com/google/gofuzz v1.0.0
  vendor.conf
Owners: none

[20.10] vendor: github.com/modern-go/reflect2 v1.0.2 for Go 1.18 compatibility
  vendor.conf
  vendor/github.com/google/gofuzz/go.mod
  vendor/github.com/modern-go/reflect2/go.mod
  vendor/github.com/modern-go/reflect2/go_above_118.go
  vendor/github.com/modern-go/reflect2/go_above_17.go
  vendor/github.com/modern-go/reflect2/go_above_19.go
  vendor/github.com/modern-go/reflect2/go_below_118.go
  vendor/github.com/modern-go/reflect2/go_below_17.go
  vendor/github.com/modern-go/reflect2/go_below_19.go
  vendor/github.com/modern-go/reflect2/reflect2.go
  vendor/github.com/modern-go/reflect2/type_map.go
  vendor/github.com/modern-go/reflect2/unsafe_link.go
  vendor/github.com/modern-go/reflect2/unsafe_map.go
Owners: none

[20.10] vendor: github.com/json-iterator/go v1.1.12 for Go 1.18 compatibility
  vendor.conf
  vendor/github.com/json-iterator/go/README.md
  vendor/github.com/json-iterator/go/adapter.go
  vendor/github.com/json-iterator/go/any_str.go
  vendor/github.com/json-iterator/go/config.go
  vendor/github.com/json-iterator/go/go.mod
  vendor/github.com/json-iterator/go/iter.go
  vendor/github.com/json-iterator/go/iter_array.go
  vendor/github.com/json-iterator/go/iter_float.go
  vendor/github.com/json-iterator/go/iter_int.go
  vendor/github.com/json-iterator/go/iter_object.go
  vendor/github.com/json-iterator/go/iter_skip.go
  vendor/github.com/json-iterator/go/iter_skip_sloppy.go
  vendor/github.com/json-iterator/go/reflect.go
  vendor/github.com/json-iterator/go/reflect_extension.go
  vendor/github.com/json-iterator/go/reflect_json_raw_message.go
  vendor/github.com/json-iterator/go/reflect_map.go
  vendor/github.com/json-iterator/go/reflect_marshaler.go
  vendor/github.com/json-iterator/go/reflect_native.go
  vendor/github.com/json-iterator/go/reflect_optional.go
  vendor/github.com/json-iterator/go/reflect_struct_decoder.go
  vendor/github.com/json-iterator/go/reflect_struct_encoder.go
  vendor/github.com/json-iterator/go/stream.go
  vendor/github.com/json-iterator/go/stream_float.go
Owners: none

[20.10] Dockerfile: use syntax=docker/dockerfile:1
  Dockerfile
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

[20.10] Dockerfile.lint: use go install
  dockerfiles/Dockerfile.lint
Owners: none

staticcheck: ignore SA1019: strings.Title is deprecated
  templates/templates.go
Owners: none

update go to 1.18.0
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

update golang to 1.18.1
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

update golang to 1.18.2
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

update golang to 1.18.3
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

update golang to 1.18.4
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update golang to 1.18.5
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

ci: update github actions
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Owners: none

ci: add concurrency check
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Owners: none

chore: dependabot to keep gha up to date
  .github/dependabot.yml
Owners: none

vendor: github.com/containerd/containerd v1.6.8
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

fix race condition in TestRemoveForce
  cli/command/container/rm_test.go
Owners: none

Add completion for docker-compose plugin
  contrib/completion/bash/docker
Owners: @albers

Detect compose plugin
  contrib/completion/bash/docker
Owners: @albers

make compose plugin detection in bash completion work on Mac OS
  contrib/completion/bash/docker
Owners: @albers

vendor: github.com/moby/buildkit v0.10.4
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none
