Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/context/store: removeAllContextData(): accept name instead of ID
  cli/context/store/store.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
Owners: none

cli/context/store: listRecursivelyMetadataDirs(): use filepath.Join()
  cli/context/store/metadatastore.go
Owners: none

cli/context/store: getData(): accept name instead of ID
  cli/context/store/store.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
Owners: none

cli/context/store: createOrUpdate(): accept name instead of ID
  cli/context/store/store.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
Owners: none

cli/context/store: remove(): accept name instead of ID
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
Owners: none

cli/context/store: listContextData(): accept name instead of ID
  cli/context/store/store.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
Owners: none

cli/context/store: removeAllEndpointData(): accept name instead of ID
  cli/context/store/store.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
Owners: none

cli/context/store: remove filePath(), make contextDir() accept name
  cli/context/store/store.go
  cli/context/store/tlsstore.go
Owners: none

cli/context/store: New(): return concrete type
  cli/context/store/store.go
  cli/context/store/storeconfig.go
  cli/context/store/storeconfig_test.go
Owners: none

cli/context/store: simplify error handling, and make it more idiomatic
  cli/command/cli.go
  cli/command/context/create.go
  cli/command/context/remove.go
  cli/command/context/remove_test.go
  cli/command/context/use_test.go
  cli/command/defaultcontextstore.go
  cli/command/defaultcontextstore_test.go
  cli/context/store/metadata_test.go
  cli/context/store/metadatastore.go
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
  cli/context/tlsdata.go
Owners: none

cli/context/store: List(): don't interrupt listing for not-found errors
  cli/context/store/metadatastore.go
  cli/context/store/tlsstore.go
Owners: none

cli/context/store: rename removeAllContextData(), removeAllEndpointData()
  cli/context/store/store.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
Owners: none

format go with gofumpt (with -lang=1.19)
  cli-plugins/manager/manager_test.go
  cli/command/context/export-import_test.go
  cli/command/context/export.go
  cli/command/image/build.go
  cli/command/image/build/context.go
  cli/command/image/build/context_test.go
  cli/command/image/build_test.go
  cli/command/service/create_test.go
  cli/command/service/update_test.go
  cli/command/trust/key_load.go
  cli/command/trust/key_load_test.go
  cli/command/trust/signer_add.go
  cli/command/utils_test.go
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  cli/compose/loader/full-struct_test.go
  cli/config/config_test.go
  cli/config/configfile/file.go
  cli/config/configfile/file_unix.go
  cli/context/store/metadatastore.go
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/tlsstore.go
  cli/manifest/store/store.go
  cmd/docker/builder_test.go
  e2e/image/build_test.go
  e2e/image/push_test.go
  e2e/internal/fixtures/fixtures.go
  e2e/plugin/basic/basic.go
  e2e/plugin/trust_test.go
  opts/config.go
  opts/config_test.go
  opts/mount_test.go
  opts/secret.go
  opts/secret_test.go
Owners: none

Use gofumpt if available, and enable gofumpt linter
  .golangci.yml
  CONTRIBUTING.md
  Makefile
  docker.Makefile
  dockerfiles/Dockerfile.dev
Owners: none

Update to go 1.19.2 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

[20.10] Update go 1.18.7 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update README.md - ip6tables
  experimental/README.md
Owners: none

docs: use correct separator in --security-opt
  docs/reference/run.md
Owners: @thaJeztah

docs: update deprecation status for "overlay2.override_kernel_check"
  docs/deprecated.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: update deprecation status for "overlay2.override_kernel_check"
  docs/deprecated.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs/reference: run.md update confusing example name
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs/reference: run.md update confusing example name
  docs/reference/commandline/run.md
Owners: @thaJeztah

add ability to override ints in compose files with 0
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
Owners: none

[20.10] vendor: github.com/containerd/continuity v0.3.0
  vendor.conf
  vendor/github.com/containerd/continuity/README.md
  vendor/github.com/containerd/continuity/go.mod
  vendor/github.com/containerd/continuity/sysx/nodata_unix.go
  vendor/github.com/containerd/continuity/sysx/xattr.go
  vendor/github.com/containerd/continuity/sysx/xattr_unsupported.go
Owners: none

[20.10] vendor: github.com/docker/docker v20.10.18
  vendor.conf
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/system/stat_linux.go
  vendor/github.com/docker/docker/registry/endpoint_v1.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

feat(docker): add context argument completion
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

fixed the plugin command docker-runc
  docs/extend/index.md
Owners: @thaJeztah

docs: fix default value for cgroupns
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

[20.10] vendor: github.com/moby/buildkit 3a1eeca59a9263613d996ead67d53a4b7d45723d (v0.8 branch)
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/api/services/control/generate.go
  vendor/github.com/moby/buildkit/api/types/generate.go
  vendor/github.com/moby/buildkit/client/client_unix.go
  vendor/github.com/moby/buildkit/frontend/gateway/pb/caps.go
  vendor/github.com/moby/buildkit/frontend/gateway/pb/generate.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/solver/errdefs/solve.go
  vendor/github.com/moby/buildkit/util/apicaps/pb/generate.go
  vendor/github.com/moby/buildkit/util/appcontext/appcontext_unix.go
  vendor/github.com/moby/buildkit/util/appdefaults/appdefaults_unix.go
  vendor/github.com/moby/buildkit/util/system/path_unix.go
  vendor/github.com/moby/buildkit/util/system/path_windows.go
  vendor/github.com/moby/buildkit/util/system/seccomp_linux.go
  vendor/github.com/moby/buildkit/util/system/seccomp_nolinux.go
  vendor/github.com/moby/buildkit/util/system/seccomp_noseccomp.go
Owners: none

[20.10] vendor: github.com/docker/docker v20.10.19
  vendor.conf
  vendor/github.com/docker/docker/vendor.conf
Owners: none

[20.10] vendor moby/buildkit v0.8.3-31-gc0149372
  vendor.conf
Owners: none

[20.10] vendor docker 03df974ae9e6c219862907efdd76ec2e77ec930b (v20.10.20)
  vendor.conf
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: github.com/moby/buildkit v0.10.5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

fixed the plugin command docker-runc
  docs/extend/index.md
Owners: @thaJeztah

Remove "experimental" gates around "--platform" in bash completion
  contrib/completion/bash/docker
Owners: @albers

builder: fix running git commands on Windows
  cli/command/image/build/internal/git/gitutils.go
Owners: none

builder: explicitly set CWD for all git commands
  cli/command/image/build/internal/git/gitutils.go
  cli/command/image/build/internal/git/gitutils_test.go
Owners: none

builder: modernize TestCheckoutGit
  cli/command/image/build/internal/git/gitutils_test.go
Owners: none

builder: add missing doc comment
  cli/command/image/build/internal/git/gitutils.go
Owners: none

builder: isolate git from local system
  cli/command/image/build/internal/git/gitutils.go
  cli/command/image/build/internal/git/gitutils_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
