Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

docs: rewrite section on overriding environment variables
  docs/reference/run.md
Owners: @thaJeztah

docs: rewrite section on working directory
  docs/reference/run.md
Owners: @thaJeztah

cli-plugins: terminate plugin when CLI exits
  cli-plugins/plugin/plugin.go
  cmd/docker/docker.go
  cmd/docker/internal/appcontext/appcontext.go
  cmd/docker/internal/appcontext/appcontext_unix.go
  cmd/docker/internal/appcontext/appcontext_windows.go
  cmd/docker/internal/signals/signals_unix.go
  cmd/docker/internal/signals/signals_windows.go
Owners: none

cli/command: merge DockerCliOption and InitializeOpt types
  cli-plugins/plugin/plugin.go
  cli/cobra.go
  cli/command/cli.go
  cli/command/cli_options.go
Owners: none

vendor: github.com/felixge/httpsnoop v1.0.4
  vendor.mod
  vendor.sum
  vendor/github.com/felixge/httpsnoop/.travis.yml
  vendor/github.com/felixge/httpsnoop/Makefile
  vendor/github.com/felixge/httpsnoop/README.md
  vendor/github.com/felixge/httpsnoop/capture_metrics.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_gteq_1.8.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_lt_1.8.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.7.11
  vendor.mod
  vendor.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconvutil/gen.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconvutil/httpconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconvutil/netconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/transport.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker 92884c25b394 (v25.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/types/configs.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/go.opentelemetry.io/otel/semconv/internal/v2/http.go
  vendor/go.opentelemetry.io/otel/semconv/internal/v2/net.go
  vendor/go.opentelemetry.io/otel/semconv/v1.17.0/httpconv/http.go
  vendor/modules.txt
Owners: none

docs: refresh --publish, add --publish-all
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs/deprecated.md: add version for "-g" / "--graph" removal
  docs/deprecated.md
Owners: @thaJeztah

docs/deprecated: mark logentries log-driver for removal
  docs/deprecated.md
Owners: @thaJeztah

docs/deprecated: mark logentries log-driver for removal
  docs/deprecated.md
Owners: @thaJeztah

vendor: github.com/docker/docker f3cc93630ed8 (v25.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v25.0.0-beta.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

contrib/completion: remove logentries logging-driver
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Owners: @albers, @sdurrheimer

docs, man: remove logentries logging-driver
  docs/reference/commandline/info.md
  man/src/system/info.md
Owners: @thaJeztah

cli/command: remove "logentries" driver from tests and fixtures
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
  cli/command/system/testdata/docker-info-with-labels-empty.golden
  cli/command/system/testdata/docker-info-with-labels-nil.golden
  cli/command/system/testdata/docker-info-with-swarm.golden
  cli/command/system/testdata/docker-info-with-swarm.json.golden
Owners: none

docs/deprecated: mark logentries logging-driver as "removed"
  docs/deprecated.md
Owners: @thaJeztah

docs: run-reference: use table for health options
  docs/reference/run.md
Owners: @thaJeztah

docs: docker events: use tables to describe filters
  docs/reference/commandline/events.md
Owners: @thaJeztah

make it fail
  scripts/vendor
Owners: none

implement module compatibility check
  internal/gocompat/.gitignore
  internal/gocompat/Makefile
  internal/gocompat/generate.go
  internal/gocompat/modulegenerator.go
  internal/tools.go
  vendor.mod
  vendor/golang.org/x/mod/internal/lazyregexp/lazyre.go
  vendor/golang.org/x/mod/modfile/print.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/golang.org/x/mod/modfile/work.go
  vendor/golang.org/x/mod/module/module.go
  vendor/golang.org/x/mod/module/pseudo.go
  vendor/modules.txt
Owners: none

vendor: github.com/gofrs/flock
  vendor.mod
  vendor.sum
  vendor/github.com/gofrs/flock/.gitignore
  vendor/github.com/gofrs/flock/.travis.yml
  vendor/github.com/gofrs/flock/LICENSE
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/appveyor.yml
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_aix.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_winapi.go
  vendor/github.com/gofrs/flock/flock_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/hashicorp/go-multierror
  vendor.mod
  vendor.sum
  vendor/github.com/hashicorp/errwrap/LICENSE
  vendor/github.com/hashicorp/errwrap/README.md
  vendor/github.com/hashicorp/errwrap/errwrap.go
  vendor/github.com/hashicorp/go-multierror/LICENSE
  vendor/github.com/hashicorp/go-multierror/Makefile
  vendor/github.com/hashicorp/go-multierror/README.md
  vendor/github.com/hashicorp/go-multierror/append.go
  vendor/github.com/hashicorp/go-multierror/flatten.go
  vendor/github.com/hashicorp/go-multierror/format.go
  vendor/github.com/hashicorp/go-multierror/group.go
  vendor/github.com/hashicorp/go-multierror/multierror.go
  vendor/github.com/hashicorp/go-multierror/prefix.go
  vendor/github.com/hashicorp/go-multierror/sort.go
  vendor/modules.txt
Owners: none

store: serialise access with a file lock
  cli/context/store/metadatastore.go
  cli/context/store/store.go
  cli/context/store/store_test.go
Owners: none

Update minimum Go version to 1.20 for errors.Join
  scripts/vendor
  vendor.mod
Owners: none

store: use stdlib errors rather than github.com/pkg/errors
  cli/context/store/store.go
Owners: none

Revert "vendor: github.com/hashicorp/go-multierror"
  vendor.mod
  vendor.sum
  vendor/github.com/hashicorp/errwrap/LICENSE
  vendor/github.com/hashicorp/errwrap/README.md
  vendor/github.com/hashicorp/errwrap/errwrap.go
  vendor/github.com/hashicorp/go-multierror/LICENSE
  vendor/github.com/hashicorp/go-multierror/Makefile
  vendor/github.com/hashicorp/go-multierror/README.md
  vendor/github.com/hashicorp/go-multierror/append.go
  vendor/github.com/hashicorp/go-multierror/flatten.go
  vendor/github.com/hashicorp/go-multierror/format.go
  vendor/github.com/hashicorp/go-multierror/group.go
  vendor/github.com/hashicorp/go-multierror/multierror.go
  vendor/github.com/hashicorp/go-multierror/prefix.go
  vendor/github.com/hashicorp/go-multierror/sort.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.14.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/secure/bidirule/bidirule10.0.0.go
  vendor/golang.org/x/text/secure/bidirule/bidirule9.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables10.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables11.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables13.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables15.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables9.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables10.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables11.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables15.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables9.0.0.go
  vendor/golang.org/x/text/width/tables10.0.0.go
  vendor/golang.org/x/text/width/tables11.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
  vendor/golang.org/x/text/width/tables13.0.0.go
  vendor/golang.org/x/text/width/tables15.0.0.go
  vendor/golang.org/x/text/width/tables9.0.0.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.16.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/term/term_unix.go
  vendor/golang.org/x/term/term_unix_bsd.go
  vendor/golang.org/x/term/term_unix_other.go
  vendor/golang.org/x/term/term_unsupported.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.17.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

docs: minor editorial improvements, typo fixes
  docs/reference/commandline/attach.md
  docs/reference/commandline/build.md
  docs/reference/commandline/checkpoint.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/config_create.md
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/config_rm.md
  docs/reference/commandline/container_prune.md
  docs/reference/commandline/context_create.md
  docs/reference/commandline/context_use.md
  docs/reference/commandline/cp.md
  docs/reference/commandline/create.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/events.md
  docs/reference/commandline/exec.md
  docs/reference/commandline/export.md
  docs/reference/commandline/history.md
  docs/reference/commandline/run.md
  docs/reference/commandline/swarm_init.md
  docs/reference/commandline/system_df.md
  docs/reference/commandline/system_events.md
  docs/reference/commandline/system_prune.md
  docs/reference/commandline/tag.md
  docs/reference/commandline/trust_key_generate.md
  docs/reference/commandline/trust_key_load.md
  docs/reference/commandline/trust_revoke.md
  docs/reference/commandline/trust_sign.md
  docs/reference/commandline/trust_signer_add.md
  docs/reference/commandline/trust_signer_remove.md
  docs/reference/commandline/volume_create.md
  docs/reference/commandline/volume_ls.md
  docs/reference/commandline/volume_prune.md
  docs/reference/commandline/volume_rm.md
  docs/reference/run.md
Owners: @thaJeztah

update typos and style in docs
  docs/reference/commandline/image_prune.md
  docs/reference/commandline/images.md
  docs/reference/commandline/inspect.md
  docs/reference/commandline/login.md
  docs/reference/commandline/manifest.md
  docs/reference/commandline/network_connect.md
  docs/reference/commandline/network_create.md
  docs/reference/commandline/node_ps.md
  docs/reference/commandline/node_rm.md
  docs/reference/commandline/plugin_create.md
  docs/reference/commandline/plugin_install.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/plugin_rm.md
  docs/reference/commandline/plugin_set.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/pull.md
  docs/reference/commandline/rm.md
  docs/reference/commandline/search.md
  docs/reference/commandline/secret_inspect.md
  docs/reference/commandline/secret_ls.md
  docs/reference/commandline/secret_rm.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_ls.md
  docs/reference/commandline/service_ps.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/stack_config.md
  docs/reference/commandline/stack_deploy.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stats.md
  docs/reference/commandline/update.md
  docs/reference/commandline/version.md
Owners: @thaJeztah

vendor: github.com/docker/docker 388216fc45ab (v25.0.0-dev)
  cli/command/system/info_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/system/info.go
  vendor/github.com/docker/docker/api/types/system/runtime.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/modules.txt
Owners: none

cli/command/container: runStats(): minor cleanup and fixes
  cli/command/container/stats.go
Owners: none

cli/command/container: runStats(): don't register unused event handlers
  cli/command/container/stats.go
Owners: none

cli/command/container: runStats(): move code to where it's used
  cli/command/container/stats.go
Owners: none

prevent "docker stats" from hanging if the initial API call fails
  cli/command/container/stats.go
Owners: none

cli/command/container: statsOptions: add GoDoc
  cli/command/container/stats.go
Owners: none

export RunStat, StatsOptions, and add Filters option
  cli/command/container/stats.go
Owners: none

docs(plugins): update Docker Store to Docker Hub
  docs/extend/plugins_network.md
Owners: @thaJeztah
