Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/config: Using the variable on range scope `tc` in function literal (scopelint)
  cli/config/config_test.go
Owners: none

cli/command/formatter: Error return value of `ContainerWrite` is not checked (errcheck)
  cli/command/formatter/container_test.go
Owners: none

service/logs: Using the variable on range scope `testcase` in function literal (scopelint)
  service/logs/parse_logs_test.go
Owners: none

cli/compose/loader: Using a reference for the variable on range scope `overrideService` (scopelint)
  cli/compose/loader/loader_test.go
  cli/compose/loader/merge.go
Owners: none

templates: Using the variable on range scope `testCase` in function literal (scopelint)
  templates/templates_test.go
Owners: none

e2e/cli-plugins: Using the variable on range scope `args` in function literal (scopelint)
  e2e/cli-plugins/flags_test.go
Owners: none

cli/command/context: Using the variable on range scope `c` in function literal (scopelint)
  cli/command/context/create_test.go
Owners: none

cli/command/trust: Using the variable on range scope `keyBytes` in function literal (scopelint)
  cli/command/trust/key_load_test.go
Owners: none

cli: remove unnecessary newlines (whitespace)
  cli/command/image/build/context.go
  cli/compose/interpolation/interpolation.go
  cli/compose/schema/schema_test.go
  cli/config/config_test.go
  cli/context/store/tlsstore_test.go
  cli/registry/client/fetcher.go
Owners: none

cli/command: Using the variable on range scope `testcase` in function literal (scopelint)
  cli/command/cli_test.go
Owners: none

internal: remove unnecessary newlines (whitespace)
  internal/containerizedengine/progress.go
  internal/licenseutils/client_test.go
  internal/versions/versions.go
Owners: none

e2e: remove unnecessary trailing newline (whitespace)
  e2e/trust/sign_test.go
Owners: none

cli/command/container: suppress dogsled warnings
  cli/command/container/opts_test.go
Owners: none

cli/compose/template: Using the variable on range scope `tc` in function literal (scopelint)
  cli/compose/template/template_test.go
Owners: none

cli/manifest: Using the variable on range scope `testcase` in function literal (scopelint)
  cli/manifest/store/store_test.go
Owners: none

opts: Using the variable on range scope `tc` in function literal (scopelint)
  opts/network_test.go
  opts/opts_test.go
Owners: none

cli/command/stack/kubernetes: Using a reference for the variable on range scope `obj` (scopelint)
  cli/command/stack/kubernetes/watcher_test.go
Owners: @silvin-lubecki

cli/command/container: Using the variable on range scope `c` in function literal (scopelint)
  cli/command/container/create_test.go
Owners: none

cli/command/stack/kubernetes: Using the variable on range scope `c` in function literal (scopelint)
  cli/command/stack/kubernetes/convert_test.go
Owners: @silvin-lubecki

Remove now obsolete gometalinter and use golangci-lint instead
  .golangci.yml
  dockerfiles/Dockerfile.lint
  gometalinter.json
Owners: none

Change example networks
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

docs: document from platform
  docs/reference/builder.md
Owners: @thaJeztah

vendor: bump google.golang.org/grpc v1.23.1
  vendor.conf
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
Owners: none

vendor: bump runc v1.0.0-rc9
  vendor.conf
  vendor/github.com/opencontainers/runc/vendor.conf
Owners: none

vendor: bump containerd acdcf13d5eaf0dfe0eaeabe7194a82535549bc2b
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/oci/spec_opts_linux.go
  vendor/github.com/containerd/containerd/oci/spec_opts_unix.go
  vendor/github.com/containerd/containerd/oci/spec_opts_windows.go
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

vendor: bump buildkit 4f4e03067523b2fc5ca2f17514a5e75ad63e02fb
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/go.mod
Owners: none

vendor: bump docker/docker a9507c6f76627fdc092edc542d5a7ef4a6df5eec
  vendor.conf
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/container/container_changes.go
  vendor/github.com/docker/docker/api/types/container/container_create.go
  vendor/github.com/docker/docker/api/types/container/container_top.go
  vendor/github.com/docker/docker/api/types/container/container_update.go
  vendor/github.com/docker/docker/api/types/container/container_wait.go
  vendor/github.com/docker/docker/api/types/container/host_config.go
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/api/types/image/image_history.go
  vendor/github.com/docker/docker/api/types/network/network.go
  vendor/github.com/docker/docker/api/types/volume/volume_create.go
  vendor/github.com/docker/docker/api/types/volume/volume_list.go
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/github.com/docker/docker/client/client_unix.go
  vendor/github.com/docker/docker/client/image_import.go
  vendor/github.com/docker/docker/client/image_push.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_windows.go
  vendor/github.com/docker/docker/pkg/idtools/utils_unix.go
  vendor/github.com/docker/docker/pkg/jsonmessage/jsonmessage.go
  vendor/github.com/docker/docker/pkg/mount/mountinfo_freebsd.go
  vendor/github.com/docker/docker/pkg/progress/progressreader.go
  vendor/github.com/docker/docker/pkg/signal/trap.go
  vendor/github.com/docker/docker/pkg/system/chtimes_unix.go
  vendor/github.com/docker/docker/pkg/system/chtimes_windows.go
  vendor/github.com/docker/docker/pkg/system/filesys_windows.go
  vendor/github.com/docker/docker/pkg/system/syscall_windows.go
  vendor/github.com/docker/docker/pkg/system/xattrs_linux.go
  vendor/github.com/docker/docker/registry/registry.go
  vendor/github.com/docker/docker/registry/session.go
  vendor/github.com/docker/docker/rootless/rootless.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Docker wait command is now exiting with the container exit code
  cli/command/container/wait.go
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Refactor config and secret tests to table-driven
  opts/config_test.go
  opts/secret_test.go
Owners: none

Detect single value advanced config/secret syntax
  opts/config.go
  opts/config_test.go
  opts/secret.go
Owners: none

Default config/secret target to source name
  opts/config.go
  opts/config_test.go
  opts/secret.go
  opts/secret_test.go
Owners: none

connhelper: add ssh multiplexing
  cli/connhelper/connhelper.go
Owners: none

docs: document ssh multiplexing env
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Reverse order of long-form ports
  cli/command/container/opts.go
  cli/command/container/opts_test.go
Owners: none

Convert ports before parsing.
  cli/command/container/opts.go
  cli/command/container/opts_test.go
Owners: none

Dockerfile.e2e: update compose v1.25.1, enable buildkit
  dockerfiles/Dockerfile.e2e
Owners: none

Don't exclude unset variables during env_file parsing
  opts/envfile_test.go
  opts/file.go
Owners: none

e2e: fix formatting of comments
  e2e/cli-plugins/plugins/nopersistentprerun/main.go
  e2e/internal/fixtures/fixtures.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
