Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/registry/client: remove unused IsNotFound(), and slight refactor
  cli/registry/client/fetcher.go
Owners: none

Add .IPAddresses as formatting option on docker ps
  cli/command/formatter/container.go
  cli/command/formatter/container_test.go
  docs/reference/commandline/ps.md
Owners: @thaJeztah

WIP Fix test
  cli/command/formatter/container_test.go
Owners: none

use GO_LDFLAGS instead of LDFLAGS to prevent inheriting unrelated options
  scripts/build/.variables
  scripts/build/binary
  scripts/build/plugins
Owners: none

[20.10] vendor.conf: don't use git:// protocol
  vendor.conf
Owners: none

[20.10] use GO_LDFLAGS instead of LDFLAGS to prevent inheriting unrelated options
  scripts/build/.variables
  scripts/build/binary
  scripts/build/plugins
  scripts/build/plugins-osx
  scripts/make.ps1
Owners: none

trim leading 0 for minor in the version quad
  scripts/build/mkversioninfo
Owners: none

fix version quad logic that trims 0 digit so returns an empty one
  scripts/build/mkversioninfo
Owners: none

fix race condition in TestRemoveForce
  cli/command/container/rm_test.go
Owners: none

tweak description of "docker exec" command
  cli/command/container/exec.go
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/container.md
  docs/reference/commandline/exec.md
  docs/reference/commandline/index.md
Owners: @sdurrheimer, @thaJeztah

tweak description of "docker run" command
  cli/command/container/run.go
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/cli.md
  docs/reference/commandline/container.md
  docs/reference/commandline/index.md
  docs/reference/commandline/run.md
  man/docker-run.1.md
Owners: @sdurrheimer, @thaJeztah

tweak description of "docker push" and "docker pull" commands
  cli/command/image/pull.go
  cli/command/image/push.go
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/image.md
  docs/reference/commandline/index.md
  docs/reference/commandline/pull.md
  docs/reference/commandline/push.md
Owners: @sdurrheimer, @thaJeztah

Dockerfile: update xx to 1.1
  Dockerfile
Owners: none

Fix incorrect pointer inputs to `json.Unmarshal`
  cli/config/configfile/file.go
Owners: none

docs: add missing documentation for --pull flag
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs: unify "docker create" and "docker run" reference
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

improve cp documentation with some illustration examples
  docs/reference/commandline/cp.md
Owners: @thaJeztah

docs: dockerd: fix broken link in blockquote area
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Fix CMD --ignored-param1 example
  docs/reference/builder.md
Owners: @thaJeztah

Update the list of log drivers
  docs/reference/run.md
Owners: @thaJeztah

docs: build: fix minor markdown and syntax issues
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: fix (table) formatting, fix some broken links
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/context.md
  docs/reference/commandline/context_use.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/history.md
  docs/reference/commandline/images.md
  docs/reference/commandline/import.md
  docs/reference/commandline/index.md
  docs/reference/commandline/network_connect.md
  docs/reference/commandline/network_create.md
  docs/reference/commandline/network_ls.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_ps.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/search.md
  docs/reference/commandline/secret_ls.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_ls.md
  docs/reference/commandline/service_ps.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/stats.md
  docs/reference/commandline/system_df.md
  docs/reference/commandline/volume_ls.md
Owners: @thaJeztah

docs: reference: remove trailing space to fix yaml formatting
  docs/reference/commandline/cp.md
Owners: @thaJeztah

docs: reference: remove trailing space to fix yaml formatting
  docs/reference/commandline/cp.md
Owners: @thaJeztah

e2e: update docker-compose to 1.29.2
  dockerfiles/Dockerfile.e2e
Owners: none

[20.10] update remaining Dockerfiles to go 1.16.15
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.e2e
Owners: none

scripts/build/binary: disable pkcs11 on static builds with CGO_ENABLED=1
  scripts/build/binary
Owners: none

Dockerfile: update buildx to v0.8.2
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

[20.10] circleci: update buildx to v0.8.2
  .circleci/config.yml
Owners: none

tweak description of login/logout
  TESTING.md
  cli/command/registry/login.go
  cli/command/registry/logout.go
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/index.md
  docs/reference/commandline/login.md
  docs/reference/commandline/logout.md
  docs/reference/commandline/manifest.md
  man/src/login.md
  man/src/logout.md
Owners: @sdurrheimer, @thaJeztah

[20.10] vendor: github.com/docker/docker v20.10.14
  vendor.conf
  vendor/github.com/docker/docker/vendor.conf
Owners: none

[20.10] vendor: github.com/opencontainers/image-spec v1.0.2
  vendor.conf
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
Owners: none

[20.10] vendor: github.com/docker/distribution v2.8.1
  vendor.conf
  vendor/github.com/docker/distribution/README.md
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/manifest/manifestlist/manifestlist.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/vendor.conf
Owners: none

Describe privileged mode in terms of capabilities
  docs/reference/run.md
Owners: @thaJeztah

scripts/build: fix date formatting on macOS
  scripts/build/.variables
Owners: none

scripts/build: make sure build-time is in UTC
  scripts/build/.variables
Owners: none

update mailmap and authors
  .mailmap
  AUTHORS
Owners: none

Makefile: add missing help messages for some targets
  Makefile
  docker.Makefile
Owners: none

Dockerfile.dev: set prompt, add nano and jq, and set MOTD
  dockerfiles/Dockerfile.dev
Owners: none

Makefile: don't warn "outside container" for some targets
  Makefile
  scripts/warn-outside-container
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
