Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Update Golang 1.12.16 (CVE-2020-0601, CVE-2020-7919)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update Golang 1.12.16 (CVE-2020-0601, CVE-2020-7919)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

docker run: specify cgroup namespace mode with --cgroupns
  cli/command/container/opts.go
  cli/command/system/info_test.go
  cli/compose/schema/bindata.go
  cli/compose/schema/data/config_schema_v3.9.json
  cli/compose/types/types.go
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/create.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/run.md
  e2e/container/run_test.go
  internal/test/environment/testenv.go
  man/docker-run.1.md
  man/dockerd.8.md
Owners: @albers, @sdurrheimer, @thaJeztah

Revert "docs: document ssh multiplexing env"
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Revert "connhelper: add ssh multiplexing"
  cli/connhelper/connhelper.go
Owners: none

Add support for Kubernetes username/password auth
  cli/context/kubernetes/endpoint_test.go
  cli/context/kubernetes/load.go
  cli/context/kubernetes/save.go
  cli/context/kubernetes/testdata/k3s-kubeconfig
Owners: none

Syntax corrected
  docs/reference/commandline/search.md
Owners: @thaJeztah

Add notice about port binding and overriding of UFW to docker run reference
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs: document cache-from
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: document build outputs
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: document dockerignore update
  docs/reference/commandline/build.md
Owners: @thaJeztah

Syntax corrected
  docs/reference/commandline/search.md
Owners: @thaJeztah

Add examples for configs
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

Remove a useless '\' and enhance a script in an example in the section 'Add entries ... (--add-host)'
  docs/reference/commandline/run.md
Owners: @thaJeztah

Add examples for configs
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

Remove a useless '\' and enhance a script in an example in the section 'Add entries ... (--add-host)'
  docs/reference/commandline/run.md
Owners: @thaJeztah

Give an example for --reserve-memory
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

docs: service create: use markdown table for constraints
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

docs: service create: document non-matching/exclude constraints
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

fix LoadVolumes for compose schema 3.4+
  cli/compose/loader/loader.go
Owners: none

Test cases vols+driver+/-external on schema 3.4+
  cli/compose/loader/loader_test.go
Owners: none

docs: minor touch-ups in "deprecated.md"
  docs/deprecated.md
Owners: @thaJeztah

docs: update some release-versions in "deprecated.md"
  docs/deprecated.md
Owners: @thaJeztah

docs: sort "deprecated.md" by deprecation release
  docs/deprecated.md
Owners: @thaJeztah

docs: mark deprecation of "dab" files and top-level "deploy" subcommand
  docs/deprecated.md
Owners: @thaJeztah

docs: mark deprecation of "docker engine" subcommands
  docs/deprecated.md
Owners: @thaJeztah

docs: add status table to "deprecated.md"
  docs/deprecated.md
Owners: @thaJeztah

docs: service create: document os/arch constraints and more examples
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

Give an example for --reserve-memory
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

docs: service create: use markdown table for constraints
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

docs: service create: document non-matching/exclude constraints
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

docs: service create: document os/arch constraints and more examples
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

docs: minor touch-ups in "deprecated.md"
  docs/deprecated.md
Owners: @thaJeztah

docs: update some release-versions in "deprecated.md"
  docs/deprecated.md
Owners: @thaJeztah

docs: sort "deprecated.md" by deprecation release
  docs/deprecated.md
Owners: @thaJeztah

docs: mark deprecation of "dab" files and top-level "deploy" subcommand
  docs/deprecated.md
Owners: @thaJeztah

docs: mark deprecation of "docker engine" subcommands
  docs/deprecated.md
Owners: @thaJeztah

docs: add status table to "deprecated.md"
  docs/deprecated.md
Owners: @thaJeztah

docs: update deprecation status of "engine *" commands, and dab files
  docs/deprecated.md
Owners: @thaJeztah

docs: update deprecated status for --disable-legacy-registry
  docs/deprecated.md
Owners: @thaJeztah
