Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

docs: deprecate daemon's api-cors-header flag
  docs/deprecated.md
Owners: @thaJeztah

cli/command/context: add test-utility to create multiple contexts
  cli/command/context/list_test.go
  cli/command/context/remove_test.go
  cli/command/context/update_test.go
Owners: none

cli/command/context: test inspecting context with custom metadata
  cli/command/context/create.go
  cli/command/context/export-import_test.go
  cli/command/context/inspect_test.go
  cli/command/context/list_test.go
  cli/command/context/remove_test.go
  cli/command/context/show_test.go
  cli/command/context/testdata/inspect.golden
  cli/command/context/update_test.go
Owners: none

cli/command/context: list: add test for JSON output
  cli/command/context/list_test.go
  cli/command/context/testdata/list-json-name.golden
  cli/command/context/testdata/list-json.golden
Owners: none

context list: temporarily add ContextType to JSON output
  cli/command/context/list.go
  cli/command/context/testdata/list-json.golden
  cli/command/formatter/context.go
Owners: none

cli/command/context: add test-utility to create multiple contexts
  cli/command/context/list_test.go
  cli/command/context/remove_test.go
  cli/command/context/update_test.go
Owners: none

cli/command/context: list: add test for JSON output
  cli/command/context/list_test.go
  cli/command/context/testdata/list-json-name.golden
  cli/command/context/testdata/list-json.golden
Owners: none

cli/command/context: test inspecting context with custom metadata
  cli/command/context/create.go
  cli/command/context/export-import_test.go
  cli/command/context/inspect_test.go
  cli/command/context/list_test.go
  cli/command/context/remove_test.go
  cli/command/context/show_test.go
  cli/command/context/testdata/inspect.golden
  cli/command/context/update_test.go
Owners: none

context list: temporarily add ContextType to JSON output
  cli/command/context/list.go
  cli/command/context/testdata/list-json.golden
  cli/command/formatter/context.go
Owners: none

vendor: github.com/opencontainers/image-spec v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/Microsoft/hcsshim v0.11.5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker e622cea55698 (master / v27.0.0-dev)
  cli/command/network/client_test.go
  cli/command/network/create_test.go
  cli/command/network/inspect.go
  cli/command/network/remove.go
  cli/command/network/remove_test.go
  cli/command/service/client_test.go
  cli/command/service/inspect.go
  cli/command/service/opts.go
  cli/command/service/opts_test.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/stack/swarm/deploy_composefile_test.go
  cli/command/system/inspect.go
  internal/test/network/client.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/network/create_response.go
  vendor/github.com/docker/docker/api/types/network/endpoint.go
  vendor/github.com/docker/docker/api/types/network/network.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/api/types/types_deprecated.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/network_connect.go
  vendor/github.com/docker/docker/client/network_create.go
  vendor/github.com/docker/docker/client/network_disconnect.go
  vendor/github.com/docker/docker/client/network_inspect.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/modules.txt
Owners: @silvin-lubecki

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
