Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

Dockerfile: update xx to 1.1.1
  Dockerfile
Owners: none

bake: use no-cache-filter for outdated stage
  docker-bake.hcl
  dockerfiles/Dockerfile.vendor
Owners: none

Add env file quotes handling
  opts/envfile_test.go
  opts/file.go
Owners: none

bake: align platforms
  docker-bake.hcl
Owners: none

Fix dead external link
  docs/extend/legacy_plugins.md
Owners: @thaJeztah

Fix psFormat's Size handling in config file
  cli/command/container/list.go
  cli/command/container/list_test.go
  cli/command/container/testdata/container-list-with-config-format.golden
  cli/command/formatter/container.go
  internal/test/builders/container.go
Owners: none

cli/command/info: Print OSVersion
  cli/command/system/info.go
Owners: none

opts: fix potential panic in trimQuotes
  opts/quotedstring.go
  opts/quotedstring_test.go
Owners: none

use trimQuotes() for trimming quotes
  opts/envfile_test.go
  opts/file.go
Owners: none

docs: fix misleading example of setting an env variable for a single command
  docs/reference/builder.md
Owners: @thaJeztah

Improve doc code formatting
  docs/reference/run.md
Owners: @thaJeztah

Improve doc code formatting
  docs/reference/run.md
Owners: @thaJeztah

Removed feminine reference
  docs/reference/run.md
Owners: @thaJeztah

vendor: github.com/docker/docker 4eb1c5bd52afa08595d9a082a9ba05c81f79be07
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/configs.go
  vendor/github.com/docker/docker/api/types/container/config.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/container_exec.go
  vendor/modules.txt
Owners: none

command/exec: Fill ConsoleSize
  cli/command/container/exec.go
Owners: none

docs: dockerfile reference moved to buildkit repo
  docs/extend/config.md
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/cli.md
  docs/reference/index.md
  docs/reference/run.md
Owners: @thaJeztah

vendor: Bump github.com/spf13/cobra to v1.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/spf13/cobra/CHANGELOG.md
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/active_help.md
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Owners: none

cli/command/container: rename variable that collided with import
  cli/command/container/create.go
  cli/command/container/run.go
Owners: none

cli: print full command as aliases in usage output
  cli/cobra.go
  cli/cobra_test.go
  e2e/stack/testdata/stack-deploy-help.golden
Owners: none

container: validate --pull option on create and run
  cli/command/container/create.go
  cli/command/container/create_test.go
  cli/command/container/run.go
  cli/command/container/run_test.go
Owners: none

docs: fix default value for cgroupns
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

maintainers: Add Bruno de Sousa as curator
  MAINTAINERS
Owners: none

maintainers: Add Paweł Gronowski as curator
  MAINTAINERS
Owners: none

gofmt GoDoc comments with go1.19
  cli/command/image/build/internal/urlutil/urlutil.go
Owners: none

Removing feminine refs in documentation
  docs/reference/run.md
  vendor/github.com/spf13/cobra/active_help.md
Owners: @thaJeztah

Update active_help.md
  vendor/github.com/spf13/cobra/active_help.md
Owners: none

Update active_help.md
  vendor/github.com/spf13/cobra/active_help.md
Owners: none

Removed feminine reference
  docs/reference/run.md
Owners: @thaJeztah

remove uses of client.IsErrUnauthorized()
  cli/command/registry/login.go
  cli/command/registry/login_test.go
Owners: none

update golang to 1.18.4
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

[20.10] update golang to 1.17.12
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

changed table
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

format (GoDoc) comments with Go 1.19 to prepare for go updates
  cli-plugins/manager/plugin.go
  cli/command/container/cp.go
  cli/command/container/create.go
  cli/command/container/opts.go
  cli/command/container/opts_test.go
  cli/command/container/run.go
  cli/command/container/start.go
  cli/command/container/stats.go
  cli/command/formatter/container_test.go
  cli/command/formatter/reflect_test.go
  cli/command/formatter/tabwriter/tabwriter.go
  cli/command/image/build.go
  cli/command/image/formatter_history_test.go
  cli/command/image/trust.go
  cli/command/manifest/util.go
  cli/command/network/create.go
  cli/command/registry/login.go
  cli/command/service/list.go
  cli/command/service/opts.go
  cli/command/service/progress/progress.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/system/info.go
  cli/compose/loader/merge.go
  cli/compose/loader/windows_path.go
  cli/connhelper/commandconn/commandconn.go
  cli/context/docker/load.go
  cli/context/store/doc.go
  cli/context/store/tlsstore.go
  cli/required.go
  e2e/image/push_test.go
  internal/test/builders/doc.go
  internal/test/doc.go
  opts/envfile.go
  opts/gpus.go
  opts/mount.go
  opts/opts_test.go
  opts/parse.go
  opts/port.go
Owners: @silvin-lubecki

vendor: remove replace rule for github.com/gogo/googleapis
  vendor.mod
  vendor/modules.txt
Owners: none

vendor: docker v20.10.3-0.20220720171342-a60b458179aa (22.06 branch)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/github.com/docker/docker/api/types/time/timestamp.go
  vendor/github.com/docker/docker/builder/remotecontext/urlutil/urlutil.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/container_attach.go
  vendor/github.com/docker/docker/client/container_logs.go
  vendor/github.com/docker/docker/client/errors.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/wrap.go
  vendor/github.com/docker/docker/pkg/system/meminfo_windows.go
  vendor/modules.txt
Owners: none

cli/command: remove unused args from ResolveDefaultContext()
  cli/command/cli.go
  cli/command/defaultcontextstore.go
  cli/command/defaultcontextstore_test.go
Owners: none

cli/command: remove WithContextEndpointType() as it's unused
  cli/command/cli_options.go
Owners: none

cli/command/context: remove newContextMetadata() utility
  cli/command/context/create.go
Owners: none

missing DWARF symbol table
  scripts/build/.variables
Owners: none

dockerfile: llvm needed on debian for cross comp
  Dockerfile
  scripts/build/.variables
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
