Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

Add CodeQL Analysis workflow (again)
  .github/workflows/codeql-analysis.yml
Owners: none

builder: rephrase ENV section, remove examples for ENV key value without '='
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/import.md
  e2e/image/build_test.go
  man/Dockerfile.5.md
  man/src/container/commit.md
  man/src/image/import.md
Owners: @thaJeztah

GH Actions: run CodeQL only on cron-job, not on pull requests
  .github/workflows/codeql-analysis.yml
Owners: none

Add docs and bash-completion for new Linux capabilities
  contrib/completion/bash/docker
  docs/reference/run.md
Owners: @albers, @thaJeztah

Fix 2 typos Consecutive occurrences of 'the'
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

cli: print experimental message in usage output
  cli/cobra.go
Owners: none

Config-file: remove User-Agent from config.json when saving
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Owners: none

builder: add note about alternative syntax
  docs/reference/builder.md
Owners: @thaJeztah

Fix typo
  contrib/completion/bash/docker
Owners: @albers

Fix make -f docker.Makefile without buildkit enabled
  Jenkinsfile
  docker.Makefile
Owners: none

docs: fix broken links in build reference
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: deprecate CLI options for experimental CLI features
  docs/deprecated.md
Owners: @thaJeztah

Always enable experimental features
  cli-plugins/examples/helloworld/main.go
  cli-plugins/manager/candidate_test.go
  cli-plugins/manager/manager.go
  cli-plugins/manager/metadata.go
  cli-plugins/manager/plugin.go
  cli/command/cli.go
  cli/command/cli_test.go
  cli/command/stack/kubernetes/cli.go
  cli/command/stack/kubernetes/client.go
  cli/command/system/version.go
  cmd/docker/docker.go
  docs/reference/commandline/cli.md
  kubernetes/check.go
  kubernetes/check_test.go
Owners: @silvin-lubecki, @thaJeztah

docs: update URL for security landing page
  docs/reference/commandline/login.md
  man/src/login.md
Owners: @thaJeztah

Bump vndr v0.1.2
  dockerfiles/Dockerfile.dev
Owners: none

deprecate Dockerfile legacy 'ENV name value' syntax
  docs/deprecated.md
Owners: @thaJeztah

update docs usage output to match new format
  docs/reference/commandline/container_prune.md
  docs/reference/commandline/image_prune.md
  docs/reference/commandline/network_create.md
  docs/reference/commandline/network_prune.md
  docs/reference/commandline/node_rm.md
  docs/reference/commandline/plugin_inspect.md
  docs/reference/commandline/plugin_push.md
  docs/reference/commandline/secret_create.md
  docs/reference/commandline/secret_ls.md
  docs/reference/commandline/secret_rm.md
  docs/reference/commandline/service_ls.md
  docs/reference/commandline/service_rm.md
  docs/reference/commandline/service_rollback.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/swarm_ca.md
  docs/reference/commandline/swarm_join-token.md
  docs/reference/commandline/swarm_leave.md
  docs/reference/commandline/swarm_unlock-key.md
  docs/reference/commandline/swarm_unlock.md
  docs/reference/commandline/system_df.md
  docs/reference/commandline/system_prune.md
  docs/reference/commandline/trust_key_load.md
  docs/reference/commandline/trust_signer_add.md
  docs/reference/commandline/trust_signer_remove.md
  docs/reference/commandline/volume_prune.md
Owners: @thaJeztah

vendor: github.com/containerd/containerd v1.4.1
  vendor.conf
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

handle sigterm on running a plugin
  cmd/docker/docker.go
Owners: none

Deprecate Linux containers on Windows (LCOW) (experimental)
  docs/deprecated.md
Owners: @thaJeztah

vendor: cloud.google.com/go v0.44.3
  vendor.conf
  vendor/cloud.google.com/go/README.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/go.mod
Owners: none

Always enable experimental features in bash completion
  contrib/completion/bash/docker
Owners: @albers

vendor: github.com/containerd/console v1.0.1
  vendor.conf
  vendor/github.com/containerd/console/console.go
  vendor/github.com/containerd/console/console_unix.go
  vendor/github.com/containerd/console/go.mod
  vendor/github.com/containerd/console/tc_darwin.go
  vendor/github.com/containerd/console/tc_netbsd.go
  vendor/github.com/containerd/console/tc_unix.go
Owners: none

Deprecation: add experimental docker build --stream option
  docs/deprecated.md
Owners: @thaJeztah

vendor: github.com/creack/pty v1.1.11
  vendor.conf
  vendor/github.com/creack/pty/run.go
  vendor/github.com/creack/pty/ztypes_freebsd_arm64.go
  vendor/github.com/creack/pty/ztypes_openbsd_32bit_int.go
  vendor/github.com/creack/pty/ztypes_openbsd_amd64.go
Owners: none

vendor: github.com/fvbommel/sortorder v1.0.2
  vendor.conf
  vendor/github.com/fvbommel/sortorder/doc.go
Owners: none

builder: print deprecation warning instead of failing for --stream
  cli/command/image/build.go
Owners: none

vendor: github.com/docker/docker c2cc352355d4c26be60be8ea3a1acfddc20fdfd3
  vendor.conf
  vendor/github.com/docker/docker/pkg/tarsum/builder_context.go
  vendor/github.com/docker/docker/pkg/tarsum/fileinfosums.go
  vendor/github.com/docker/docker/pkg/tarsum/tarsum.go
  vendor/github.com/docker/docker/pkg/tarsum/versioning.go
  vendor/github.com/docker/docker/pkg/tarsum/writercloser.go
  vendor/github.com/docker/docker/registry/auth.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/github.com/docker/docker/registry/errors.go
  vendor/github.com/docker/docker/registry/resumable/resumablerequestreader.go
  vendor/github.com/docker/docker/registry/service.go
  vendor/github.com/docker/docker/registry/service_v2.go
  vendor/github.com/docker/docker/registry/session.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: github.com/gofrs/flock v0.7.3
  vendor.conf
  vendor/github.com/gofrs/flock/LICENSE
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_windows.go
Owners: none

Use consistent formatting and sorted keys in all JSON examples for dockerd reference
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: remove some references to obsolete docker versions
  docs/extend/index.md
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/export.md
  docs/reference/commandline/system_prune.md
  docs/reference/run.md
Owners: @thaJeztah

docs/builder: fix typo
  docs/reference/builder.md
Owners: @thaJeztah

vendor: docker/docker 73dc6a680cdd48f2f993f1a1b91aac1dd23d47c8
  vendor.conf
  vendor/github.com/docker/docker/api/types/seccomp.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/pkg/system/rm_unix.go
  vendor/github.com/docker/docker/pkg/system/rm_windows.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

cli/command/container/stats.go: fix goimports
  cli/command/container/stats.go
Owners: none

docs/builder: fix broken link
  docs/reference/builder.md
Owners: @thaJeztah

Wait on waitgroup instead of using time.Sleep
  cli/command/container/stats.go
Owners: none

Replace deprecated instruction
  docs/reference/commandline/pull.md
  man/src/image/pull.md
Owners: @thaJeztah

Fix buildkit flags not being hidden without buildkit enabled
  cmd/docker/docker.go
Owners: none

opts: fix potential integer overflow CWE-190, CWE-681
  opts/weightdevice.go
Owners: none

Remove really outdated zsh-completion REVIEWERS file
  contrib/completion/zsh/REVIEWERS
Owners: @sdurrheimer

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
