Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Update stats.md add example json output
  docs/reference/commandline/stats.md
Owners: @thaJeztah

fix linguist with .gitattributes
  .gitattributes
Owners: none

Fix typo
  docs/reference/commandline/run.md
Owners: @thaJeztah

Fix Typos
  cli/command/container/exec_test.go
  cli/command/service/update_test.go
  cli/command/stack/kubernetes/watcher.go
Owners: @silvin-lubecki

Create launch.json
  .vscode/launch.json
Owners: none

try pull missing image while tagging
  cli/command/image/tag.go
Owners: none

Update run.md
  docs/reference/run.md
Owners: @thaJeztah

make compose plugin detection in bash completion work on Mac OS
  contrib/completion/bash/docker
Owners: @albers

use uuid to invalidate cache
  docker-bake.hcl
  docker.Makefile
  dockerfiles/Dockerfile.vendor
Owners: none

docs/daemon: replace deprecated '-g' option for '--data-root'
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Docs Improvement in run.md Added some more explanation and reduced the wording for it to be more simple to understand.
  docs/reference/run.md
Owners: @thaJeztah

fix innocuous data-race when config.Load called in parallel
  cli/config/config.go
Owners: none

Remove support for encrypted TLS private keys
  cli/command/cli.go
  cli/command/cli_test.go
  cli/context/docker/load.go
  docs/deprecated.md
Owners: @thaJeztah

scripts/vendor: run go mod tidy when vendoring
  scripts/vendor
Owners: none

Dockerfile.vendor: use GOPROXY=direct
  dockerfiles/Dockerfile.vendor
Owners: none

Correct device syntax to --gpus
  docs/reference/commandline/run.md
Owners: @thaJeztah

Update dockerd.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

builder: fallback to legacy
  cli/command/image/build.go
  cmd/docker/builder.go
  docs/deprecated.md
  e2e/image/build_test.go
Owners: @thaJeztah

builder: simplify error generation, and rephrase error/warning
  cli/command/image/build.go
  cmd/docker/builder.go
  e2e/image/build_test.go
Owners: none

Update deprecation docs
  docs/deprecated.md
Owners: @thaJeztah

builder: conditional warning for wcow
  cmd/docker/builder.go
  cmd/docker/builder_test.go
Owners: none

Describe privileged mode in terms of capabilities
  docs/reference/run.md
Owners: @thaJeztah

Fixed description of -f build flag
  docs/reference/commandline/build.md
Owners: @thaJeztah

[20.10] vendor: compose-on-kubernetes v0.5.0 to remove github.com/golang/glog
  vendor.conf
  vendor/github.com/docker/compose-on-kubernetes/README.md
  vendor/github.com/docker/compose-on-kubernetes/api/client/clientset/clientset.go
  vendor/github.com/golang/glog/LICENSE
  vendor/github.com/golang/glog/README
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
Owners: none

vendor: compose-on-kubernetes v0.5.0 to remove use of github.com/golang/glog
  vendor.mod
  vendor.sum
  vendor/github.com/docker/compose-on-kubernetes/api/client/clientset/clientset.go
  vendor/github.com/golang/glog/LICENSE
  vendor/github.com/golang/glog/README
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/modules.txt
Owners: none

[20.10] update Go to 1.16.13
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

[20.10] Update Go to 1.16.14
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

Document special values for --restart
  cli/command/container/opts.go
Owners: none

Update reference docs
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

Add format and/or examples for some complex options
  cli/command/container/opts.go
Owners: none

Normalize the representation of string and number argument values
  cli/command/container/opts.go
  cli/command/container/update.go
  cli/command/image/build.go
Owners: none

Update reference docs
  docs/reference/commandline/build.md
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
  docs/reference/commandline/update.md
Owners: @thaJeztah

Include the long form of options in dedicated section headings
  docs/reference/commandline/run.md
Owners: @thaJeztah

cli/compose/schema: Validate(): normalize version before validating
  cli/compose/schema/schema.go
  cli/compose/schema/schema_test.go
Owners: none

cli/compose: add schema 3.10 (no changes with 3.9 yet)
  cli/compose/schema/data/config_schema_v3.10.json
  cli/compose/schema/schema_test.go
Owners: none

cli/compose/schema: make version optional, default to "latest"
  cli/compose/loader/loader_test.go
  cli/compose/schema/data/config_schema_v3.10.json
  cli/compose/schema/schema.go
  cli/compose/schema/schema_test.go
Owners: none

Correct device syntax to --gpus
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs/daemon: replace deprecated '-g' option for '--data-root'
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Update Ubuntu version number references in push.md
  docs/reference/commandline/pull.md
Owners: @thaJeztah

Update stats.md add example json output
  docs/reference/commandline/stats.md
Owners: @thaJeztah
