Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

fix: infinite socket connection retries
  cli-plugins/socket/socket.go
  cli-plugins/socket/socket_openbsd.go
  cmd/docker/docker.go
Owners: none

Add 5 unit tests for code coverage (#20)
  cli/command/utils_test.go
  cli/compose/convert/compose_test.go
  cli/compose/convert/service_test.go
Owners: none

docs: update url scheme for reference docs
  docs/extend/config.md
  docs/extend/plugins_authorization.md
  docs/reference/commandline/builder_build.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/container_attach.md
  docs/reference/commandline/container_cp.md
  docs/reference/commandline/container_create.md
  docs/reference/commandline/container_run.md
  docs/reference/commandline/image_build.md
  docs/reference/commandline/image_pull.md
  docs/reference/commandline/image_push.md
  docs/reference/commandline/image_tag.md
  docs/reference/commandline/index.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_update.md
  docs/reference/commandline/plugin_create.md
  docs/reference/commandline/plugin_inspect.md
  docs/reference/commandline/service_create.md
  docs/reference/dockerd.md
  docs/reference/index.md
  docs/reference/run.md
Owners: @thaJeztah

test/ Added test coverage for handleNpipeToMount (#24)
  cli/compose/convert/volume_test.go
Owners: none

deps: update cli-docs-tool version (v0.7.0)
  scripts/docs/generate-yaml.sh
Owners: none

docs: update url scheme for reference docs
  docs/extend/config.md
  docs/extend/plugins_authorization.md
  docs/reference/commandline/builder_build.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/container_attach.md
  docs/reference/commandline/container_cp.md
  docs/reference/commandline/container_create.md
  docs/reference/commandline/container_run.md
  docs/reference/commandline/image_build.md
  docs/reference/commandline/image_pull.md
  docs/reference/commandline/image_push.md
  docs/reference/commandline/image_tag.md
  docs/reference/commandline/index.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_update.md
  docs/reference/commandline/plugin_create.md
  docs/reference/commandline/plugin_inspect.md
  docs/reference/commandline/service_create.md
  docs/reference/dockerd.md
  docs/reference/index.md
  docs/reference/run.md
Owners: @thaJeztah

docs: regenerate markdown
  docs/reference/commandline/attach.md
  docs/reference/commandline/build.md
  docs/reference/commandline/builder_build.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/container_attach.md
  docs/reference/commandline/container_commit.md
  docs/reference/commandline/container_create.md
  docs/reference/commandline/container_run.md
  docs/reference/commandline/create.md
  docs/reference/commandline/history.md
  docs/reference/commandline/image_build.md
  docs/reference/commandline/image_history.md
  docs/reference/commandline/image_pull.md
  docs/reference/commandline/image_push.md
  docs/reference/commandline/plugin_install.md
  docs/reference/commandline/plugin_push.md
  docs/reference/commandline/plugin_upgrade.md
  docs/reference/commandline/pull.md
  docs/reference/commandline/push.md
  docs/reference/commandline/run.md
  scripts/docs/generate-md.sh
Owners: @thaJeztah

/test added tests for coverage opts/network.go & opts/opts.go (#27)
  opts/network_test.go
  opts/opts_test.go
Owners: none

docs: regenerate markdown
  docs/reference/commandline/attach.md
  docs/reference/commandline/build.md
  docs/reference/commandline/builder_build.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/container_attach.md
  docs/reference/commandline/container_commit.md
  docs/reference/commandline/container_create.md
  docs/reference/commandline/container_run.md
  docs/reference/commandline/create.md
  docs/reference/commandline/history.md
  docs/reference/commandline/image_build.md
  docs/reference/commandline/image_history.md
  docs/reference/commandline/image_pull.md
  docs/reference/commandline/image_push.md
  docs/reference/commandline/plugin_install.md
  docs/reference/commandline/plugin_push.md
  docs/reference/commandline/plugin_upgrade.md
  docs/reference/commandline/pull.md
  docs/reference/commandline/push.md
  docs/reference/commandline/run.md
  scripts/docs/generate-md.sh
Owners: @thaJeztah

Revert "/test added tests for coverage opts/network.go & opts/opts.go (#27)"
  opts/network_test.go
  opts/opts_test.go
Owners: none

/test Added 4 tests to improve test coverage *opts/opts test/ add GetAllOrEmpty test test/ add TestParseCPUs test *opts/network test/ add NetOptsString test test/ add NetOptsType test
  opts/network_test.go
  opts/opts_test.go
Owners: none

docs: fix invalid daemon.json examples
  docs/reference/dockerd.md
Owners: @thaJeztah

cmd/docker: instance the main context in main()
  cmd/docker/docker.go
Owners: none

cli: SetupRootCommand, SetupPluginRootCommand: set context on root-commands
  cli-plugins/examples/helloworld/main.go
  cli-plugins/plugin/plugin.go
  cli/cobra.go
  cmd/docker/builder_test.go
  cmd/docker/docker.go
  cmd/docker/docker_test.go
  docs/generate/generate.go
  e2e/cli-plugins/plugins/nopersistentprerun/main.go
  e2e/cli-plugins/plugins/presocket/main.go
Owners: @thaJeztah

refactor: remove reconnect behavior
  cli-plugins/socket/socket.go
  cli-plugins/socket/socket_test.go
Owners: none

Add a deprecation warning about --link on default nw
  docs/deprecated.md
Owners: @thaJeztah

chore: update docstring and address nit
  cli-plugins/socket/socket.go
Owners: none

ci: set codecov token
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Owners: none

vendor: github.com/containerd/containerd v1.7.13
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/go-logr/logr v1.3.0
  vendor.mod
  vendor.sum
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/go-logr/logr/SECURITY.md
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/modules.txt
Owners: none

vendor: OTEL v0.46.1 / v1.21.0
  vendor.mod
  vendor.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/common.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/config.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/version.go
  vendor/go.opentelemetry.io/otel/.gitignore
  vendor/go.opentelemetry.io/otel/.golangci.yml
  vendor/go.opentelemetry.io/otel/CHANGELOG.md
  vendor/go.opentelemetry.io/otel/CONTRIBUTING.md
  vendor/go.opentelemetry.io/otel/Makefile
  vendor/go.opentelemetry.io/otel/README.md
  vendor/go.opentelemetry.io/otel/baggage/baggage.go
  vendor/go.opentelemetry.io/otel/internal/global/instruments.go
  vendor/go.opentelemetry.io/otel/internal/global/trace.go
  vendor/go.opentelemetry.io/otel/metric/doc.go
  vendor/go.opentelemetry.io/otel/metric/instrument.go
  vendor/go.opentelemetry.io/otel/metric/syncfloat64.go
  vendor/go.opentelemetry.io/otel/metric/syncint64.go
  vendor/go.opentelemetry.io/otel/propagation/trace_context.go
  vendor/go.opentelemetry.io/otel/requirements.txt
  vendor/go.opentelemetry.io/otel/trace/config.go
  vendor/go.opentelemetry.io/otel/trace/doc.go
  vendor/go.opentelemetry.io/otel/trace/embedded/embedded.go
  vendor/go.opentelemetry.io/otel/trace/noop.go
  vendor/go.opentelemetry.io/otel/trace/trace.go
  vendor/go.opentelemetry.io/otel/trace/tracestate.go
  vendor/go.opentelemetry.io/otel/version.go
  vendor/go.opentelemetry.io/otel/versions.yaml
  vendor/modules.txt
Owners: none

vendor: google.golang.org/grpc v1.59.0
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/attributes/attributes.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/encoding/encoding.go
  vendor/google.golang.org/grpc/internal/backoff/backoff.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/status/status.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/tap/tap.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker c70d7905fbd9 (v26.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/pkg/streamformatter/streamformatter.go
  vendor/modules.txt
Owners: none

cmd/docker: remove handling for BuildKit's detect package
  cmd/docker/docker.go
Owners: none

plugins: set OTEL_RESOURCE_ATTRIBUTES when invoking a plugin
  cli-plugins/manager/cobra.go
  cli-plugins/manager/manager.go
  cmd/docker/builder.go
  vendor.mod
Owners: none

plugins: fix encoding for OTEL env var passed to plugin
  cli-plugins/manager/cobra.go
Owners: none

chore: `docker help` should not show plugin vendor and version
  cli/cobra.go
  e2e/cli-plugins/help_test.go
Owners: none

docs: fix typo in tty example
  docs/reference/commandline/container_run.md
Owners: @thaJeztah

docs: prefer -it over -ti
  docs/reference/run.md
Owners: @thaJeztah

vendor: github.com/docker/docker v26.0.0-rc1
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/types.go
  vendor/modules.txt
Owners: none

fix: fallthrough for non-blocking channel
  cmd/docker/docker.go
Owners: none

vendor: github.com/docker/docker v26.0.0-rc1
  cli/command/image/testdata/inspect-command-success.simple-many.golden
  cli/command/image/testdata/inspect-command-success.simple.golden
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/types.go
  vendor/modules.txt
Owners: none

Add support for --detach flag in stack deploy
  cli/command/service/create.go
  cli/command/service/helpers.go
  cli/command/service/progress/progress.go
  cli/command/service/rollback.go
  cli/command/service/scale.go
  cli/command/service/update.go
  cli/command/stack/deploy.go
  cli/command/stack/options/opts.go
  cli/command/stack/swarm/deploy.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/stack/swarm/deploy_test.go
  docs/reference/commandline/stack_deploy.md
  e2e/stack/testdata/stack-deploy-help.golden
Owners: @silvin-lubecki, @thaJeztah

Add support for --detach/-d flag in stack rm
  cli/command/stack/options/opts.go
  cli/command/stack/remove.go
  cli/command/stack/swarm/common.go
  cli/command/stack/swarm/remove.go
  docs/reference/commandline/stack_rm.md
Owners: @silvin-lubecki, @thaJeztah

Avoid keeping @docker_cli_[UUID] files
  cli-plugins/socket/socket_openbsd.go
Owners: none

docker stack: allow '=' separator in extra_hosts
  cli/compose/loader/loader.go
  cli/compose/loader/loader_test.go
Owners: none

Fixed typo in bash completion functions
  contrib/completion/bash/docker
Owners: @albers

update to go1.21.7
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

Minor test fixes necessary for eventually upgrading ci runners and engine version
  e2e/container/run_test.go
  e2e/image/build_test.go
Owners: none

Dockerfile: update docker compose to v2.24.3
  Dockerfile
Owners: none
