Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/command/swarm: remove deprecated io/ioutil and use t.TempDir()
  cli/command/swarm/ca.go
  cli/command/swarm/ca_test.go
  cli/command/swarm/init_test.go
  cli/command/swarm/join_test.go
  cli/command/swarm/join_token_test.go
  cli/command/swarm/leave_test.go
  cli/command/swarm/opts.go
  cli/command/swarm/unlock_key_test.go
  cli/command/swarm/unlock_test.go
  cli/command/swarm/update_test.go
Owners: none

cli/command/system: remove deprecated io/ioutil
  cli/command/system/events.go
  cli/command/system/info.go
Owners: none

cli/command/trust: remove deprecated io/ioutil and use t.TempDir()
  cli/command/trust/helpers_test.go
  cli/command/trust/inspect_pretty_test.go
  cli/command/trust/inspect_test.go
  cli/command/trust/key_generate.go
  cli/command/trust/key_generate_test.go
  cli/command/trust/key_load.go
  cli/command/trust/key_load_test.go
  cli/command/trust/revoke_test.go
  cli/command/trust/sign_test.go
  cli/command/trust/signer_add.go
  cli/command/trust/signer_add_test.go
  cli/command/trust/signer_remove_test.go
Owners: none

cli/command/volume: remove deprecated io/ioutil
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/command/volume/list_test.go
  cli/command/volume/prune_test.go
  cli/command/volume/remove_test.go
Owners: none

cli/command: remove deprecated io/ioutil and use t.TempDir()
  cli/command/cli.go
  cli/command/cli_test.go
  cli/command/defaultcontextstore_test.go
  cli/command/utils_test.go
Owners: none

cli/config: remove deprecated io/ioutil and use t.TempDir()
  cli/config/config_test.go
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
  cli/config/credentials/native_store_test.go
Owners: none

cli/compose: remove deprecated io/ioutil
  cli/compose/convert/compose.go
  cli/compose/loader/loader_test.go
Owners: none

cli/context: remove deprecated io/ioutil and use t.TempDir()
  cli/context/store/io_utils_test.go
  cli/context/store/metadata_test.go
  cli/context/store/metadatastore.go
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
  cli/context/tlsdata.go
Owners: none

cli/manifest: remove deprecated io/ioutil and use t.TempDir()
  cli/manifest/store/store.go
  cli/manifest/store/store_test.go
Owners: none

cli/trust: remove deprecated io/ioutil and use t.TempDir()
  cli/trust/trust_test.go
Owners: none

cmd/docker: remove deprecated io/ioutil
  cmd/docker/docker_test.go
Owners: none

cli: remove deprecated io/ioutil
  cli/required_test.go
Owners: none

docs/yaml: remove deprecated io/ioutil and use t.TempDir()
  docs/yaml/generate.go
Owners: @thaJeztah

e2e: remove deprecated io/ioutil and use t.TempDir()
  e2e/context/context_test.go
  e2e/image/build_test.go
Owners: none

internal/test: remove deprecated io/ioutil
  internal/test/cli.go
Owners: none

man: remove deprecated io/ioutil and use t.TempDir()
  man/generate.go
Owners: none

opts: remove deprecated io/ioutil and use t.Cleanup()
  opts/envfile_test.go
Owners: none

cli-plugins/manager: remove uses of deprecated io/ioutil
  cli-plugins/manager/manager.go
Owners: none

golangci-lint: prevent io/ioutil from being used
  .golangci.yml
Owners: none

add common args bake target
  docker-bake.hcl
Owners: none

fix inherits for vendor bake defs
  docker-bake.hcl
Owners: none

validate authors target
  .github/workflows/validate.yml
  docker-bake.hcl
  docker.Makefile
  dockerfiles/Dockerfile.authors
  scripts/docs/generate-authors.sh
Owners: none

switch to cli-docs-tool for yaml docs generation
  .dockerignore
  .github/workflows/validate.yml
  .gitignore
  Makefile
  docs/.gitignore
  docs/README.md
  docs/generate.go
  docs/go.mod
  docs/tools.go
  docs/yaml/Dockerfile
  docs/yaml/generate.go
  docs/yaml/markdown.go
  docs/yaml/markdown_test.go
  docs/yaml/yaml.go
  scripts/docs/generate-yaml.sh
  scripts/vendor
Owners: @thaJeztah

remove circleci
  .circleci/config.yml
  Makefile
  README.md
Owners: none

dummy circleci config
  .circleci/config.yml
Owners: none

cli/compose/schema: make version: "3" equivalent to "3.x" (latest)
  cli/compose/loader/loader_test.go
  cli/compose/schema/schema.go
  cli/compose/schema/schema_test.go
Owners: none

docs: add missing documentation for --pull flag
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs: unify "docker create" and "docker run" reference
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs: daemon: remove LCOW configuration options
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

cli/command: Add quiet option for create and run
  cli/command/container/create.go
  cli/command/container/run.go
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
Owners: @albers, @sdurrheimer, @thaJeztah

vendor: remove replace rules for k8s.io packages
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.0.0-20201126162022-7de9c90e9dd1
  vendor.mod
  vendor.sum
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/go.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.3.4
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables13.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/width/tables13.0.0.go
  vendor/modules.txt
Owners: none

vendor: gopkg.in/yaml.v2 v2.4.0
  vendor.mod
  vendor.sum
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/modules.txt
Owners: none

vendor: gotest.tools/v3 v3.0.3
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/assert/result.go
  vendor/gotest.tools/v3/internal/cleanup/cleanup.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/poll/poll.go
  vendor/gotest.tools/v3/x/subtest/context.go
  vendor/modules.txt
Owners: none

vendor: move github.com/moby/sys packages to "requires" ("indirect")
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: remove redundant replace rules
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

fixing a typo
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

vendor: gotest.tools/v3 v3.1.0
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert_go113.go
  vendor/gotest.tools/v3/assert/cmp/compare_go113.go
  vendor/gotest.tools/v3/fs/file.go
  vendor/gotest.tools/v3/fs/manifest_unix.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/poll/check.go
  vendor/modules.txt
Owners: none

add preDump
  cli/command/checkpoint/create.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
