Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230406225228-75e92ce14ff7
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

e2e: Match notary server version with the main Dockerfile
  e2e/testdata/Dockerfile.evil-notary-server
  e2e/testdata/Dockerfile.notary-server
Owners: none

cli/command/system: prettyPrintServerInfo: rename var that collided with import
  cli/command/system/info.go
Owners: none

github.com/docker/cli/cli/command/system: add BenchmarkPrettyPrintInfo
  cli/command/system/info_test.go
Owners: none

vendor: github.com/moby/buildkit v0.11.6
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

e2e: Skip tests with platform-specific digests on other platforms
  e2e/container/run_test.go
  e2e/image/pull_test.go
  e2e/image/push_test.go
  e2e/trust/sign_test.go
  internal/test/environment/testenv.go
Owners: none

e2e: Update alpine to 3.17.2
  e2e/container/testdata/run-attached-from-remote-and-remove.golden
  e2e/image/push_test.go
  e2e/image/testdata/pull-with-content-trust-err.golden
  e2e/image/testdata/pull-with-content-trust.golden
  e2e/internal/fixtures/fixtures.go
  scripts/test/e2e/load-image
Owners: none

docs: update deprecation status of "overlay" and "AuFS"
  docs/deprecated.md
Owners: @thaJeztah

remove uses of deprecated VirtualSize field
  cli/command/formatter/disk_usage.go
  cli/command/formatter/image.go
  cli/command/formatter/image_test.go
Owners: none

Docs freshness updates
  docs/reference/commandline/run.md
Owners: @thaJeztah

vendor: github.com/moby/term v0.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/term/doc.go
  vendor/github.com/moby/term/tc.go
  vendor/github.com/moby/term/term.go
  vendor/github.com/moby/term/term_unix.go
  vendor/github.com/moby/term/term_windows.go
  vendor/github.com/moby/term/termios_unix.go
  vendor/github.com/moby/term/termios_windows.go
  vendor/github.com/moby/term/windows/ansi_reader.go
  vendor/github.com/moby/term/windows/console.go
  vendor/github.com/moby/term/winsize.go
  vendor/modules.txt
Owners: none

test/e2e: Use "frozen" tag to reference test images
  cli/command/image/build_test.go
  e2e/image/build_test.go
  e2e/image/pull_test.go
  e2e/internal/fixtures/fixtures.go
  e2e/stack/testdata/full-stack.yml
  e2e/stack/testdata/stack-with-named-resources.yml
  scripts/test/e2e/load-image
Owners: none

cli/command: remove deprecated Stream types
  cli/command/streams.go
Owners: none

vendor: github.com/docker/docker v24.0.0-rc.1
  cli/command/image/testdata/inspect-command-success.simple-many.golden
  cli/command/image/testdata/inspect-command-success.simple.golden
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/image_summary.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/modules.txt
Owners: none

cli/command/system: use io.Writer for printing warnings
  cli/command/system/info.go
Owners: none

cli/command/system: prettyInfo: accept Streams
  cli/command/system/info.go
Owners: none

cli/command/container: implement `docker run --annotation`
  cli/command/container/opts.go
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/container_create.md
  docs/reference/commandline/container_run.md
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
  man/docker-run.1.md
Owners: @albers, @sdurrheimer, @thaJeztah

vendor: github.com/opencontainers/runc v1.1.7
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.21
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.0-rc.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cli/command/system: printSwarmInfo(): accept io.Writer
  cli/command/system/info.go
Owners: none

cli/command/system: prettyPrintServerInfo: accept Streams
  cli/command/system/info.go
Owners: none

update go to go1.20.4
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

vendor: github.com/mattn/go-runewidth v0.0.14
  vendor.mod
  vendor.sum
  vendor/github.com/mattn/go-runewidth/.travis.yml
  vendor/github.com/mattn/go-runewidth/README.md
  vendor/github.com/mattn/go-runewidth/go.test.sh
  vendor/github.com/mattn/go-runewidth/runewidth.go
  vendor/github.com/mattn/go-runewidth/runewidth_appengine.go
  vendor/github.com/mattn/go-runewidth/runewidth_js.go
  vendor/github.com/mattn/go-runewidth/runewidth_posix.go
  vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  vendor/modules.txt
Owners: none

cli/command/system: prettyPrintServerInfo: refactor printing "runtimes"
  cli/command/system/info.go
Owners: none

cli/command/system: add utilities for printing
  cli/command/system/info.go
  cli/command/system/info_test.go
Owners: none

cli/command/system: prettyPrintClientInfo: accept Streams
  cli/command/system/info.go
Owners: none

connhelper: Allow socket path when using SSH
  cli/connhelper/connhelper.go
  cli/connhelper/ssh/ssh.go
  cli/connhelper/ssh/ssh_test.go
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

vendor: github.com/docker/docker v24.0.0-rc.1.0.20230505222407-8d9a40a82034
  cli/command/container/formatter_diff.go
  cli/command/container/formatter_diff_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/change_response_deprecated.go
  vendor/github.com/docker/docker/api/types/container/change_type.go
  vendor/github.com/docker/docker/api/types/container/change_types.go
  vendor/github.com/docker/docker/api/types/container/container_changes.go
  vendor/github.com/docker/docker/api/types/container/filesystem_change.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/client_unix.go
  vendor/github.com/docker/docker/client/client_windows.go
  vendor/github.com/docker/docker/client/container_diff.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/pkg/jsonmessage/jsonmessage.go
  vendor/modules.txt
Owners: none

vendor: update docker/docker to v25.0.0-dev, API v1.44
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
Owners: none

Update version to v25.0.0-dev
  VERSION
Owners: none

Update Remote Syntax Documentation
  docs/reference/commandline/push.md
Owners: @thaJeztah

docs: update description for docker -H flag
  cli/flags/options.go
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Update tag docs to clarify name
  docs/reference/commandline/tag.md
Owners: @thaJeztah

vendor: github.com/docker/distribution v2.8.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.dockerignore
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/errors.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/client/transport/http_reader.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/distribution v2.8.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.dockerignore
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/errors.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/client/transport/http_reader.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/distribution v2.8.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.dockerignore
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/errors.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/client/transport/http_reader.go
  vendor/modules.txt
Owners: none

cli/command: don't use legacy "notfound" error-type in tests
  cli/command/container/create_test.go
  cli/command/image/remove_test.go
  cli/command/stack/swarm/deploy_composefile_test.go
Owners: @silvin-lubecki

replace uses of client.IsErrNotFound for errdefs.IsNotFound
  cli/command/container/create.go
  cli/command/image/remove.go
  cli/command/service/inspect.go
  cli/command/service/logs.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/system/inspect.go
Owners: @silvin-lubecki

vendor: github.com/docker/docker v24.0.0-rc.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
