Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/command/container/create: pullImage() remove intermediate vars
  cli/command/container/create.go
Owners: none

cli/command/container/create: pullImage(): use RetrieveAuthTokenFromImage
  cli/command/container/create.go
Owners: none

cli/command/image: imagePullPrivileged: remove intermediate variables
  cli/command/image/trust.go
Owners: none

cli/command/container: pullImage: use DisplayJSONMessagesToStream utility
  cli/command/container/create.go
Owners: none

docker ps: always use --quiet, also combined with --format
  cli/command/container/list_test.go
  cli/command/container/testdata/container-list-quiet.golden
  cli/command/formatter/container.go
  cli/command/formatter/container_test.go
Owners: none

docker ps: print warning if both --format and --quiet are set
  cli/command/container/list.go
  cli/command/container/list_test.go
Owners: none

docs/reference: use table for proxy env-vars
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs/reference: reformat env-vars table, and simplify
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs/reference: dockerd: update seccomp flag description
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs/reference: dockerd: use table for env-vars
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs/reference: remove mention of DOCKER_NOWARN_KERNEL_VERSION
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs/reference: dockerd: remove default oom-score-adjust
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: update dockerd usage output for new proxy-options
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/pull.md
  man/dockerd.8.md
Owners: @thaJeztah

cli/command: deprecate EncodeAuthToBase64
  cli/command/registry.go
Owners: none

docker info: don't print "registry" (IndexServerAddress)
  cli/command/system/info.go
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-with-labels-empty.golden
  cli/command/system/testdata/docker-info-with-labels-nil.golden
  cli/command/system/testdata/docker-info-with-swarm.golden
  docs/reference/commandline/info.md
  man/src/system/info.md
Owners: @thaJeztah

cli/command/system: prettyPrintServerInfo: simplify username
  cli/command/system/info.go
Owners: none

cli/command/system: prettyPrintServerInfo: move out collecting username
  cli/command/system/info.go
Owners: none

cli/command/system: printServerWarnings: use client API version from info
  cli/command/system/info.go
Owners: none

docs: update deprecation status of BuildKit "buildInfo" for v24.0.0
  docs/deprecated.md
Owners: @thaJeztah

cli/command/container: implement `docker run --annotation`
  cli/command/container/opts.go
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/container_create.md
  docs/reference/commandline/container_run.md
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
  man/docker-run.1.md
Owners: @albers, @sdurrheimer, @thaJeztah

docs: deprecation: OOM-score adjust for the daemon
  docs/deprecated.md
Owners: @thaJeztah

scripts/warn-outside-container: fix escapes
  scripts/warn-outside-container
Owners: none

vendor: golang.org/x/term v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.8.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.8.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.6
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.0-beta.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/client_deprecated.go
  vendor/modules.txt
Owners: none

man/dockerd.8: escape asterisks and underscores
  man/dockerd.8.md
Owners: none

man/dockerd.8: assorted formatting fixes
  man/dockerd.8.md
Owners: none

cli/compose: add schema 3.11 (no changes with 3.10 yet)
  cli/compose/schema/data/config_schema_v3.11.json
  cli/compose/schema/schema.go
  cli/compose/schema/schema_test.go
Owners: none

Swarm: allow additional properties in `build`
  cli/compose/loader/loader_test.go
  cli/compose/schema/data/config_schema_v3.11.json
Owners: none

Handle empty DOCKER_BUILDKIT like unset
  cli/command/cli.go
  cmd/docker/builder.go
Owners: none

Handle empty DOCKER_BUILDKIT like unset
  cli/command/cli.go
  cmd/docker/builder.go
Owners: none

volumes: prune: add --all / -a option
  cli/command/volume/prune.go
  cli/command/volume/prune_test.go
  cli/command/volume/testdata/volume-prune-success.all-forced.golden
  cli/command/volume/testdata/volume-prune-success.all.golden
  cli/command/volume/testdata/volume-prune-success.label-filter.golden
  cli/command/volume/testdata/volume-prune-yes.golden
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/volume_prune.md
Owners: @albers, @sdurrheimer, @thaJeztah

docs: update deprecation status for overlay2.override_kernel_check
  docs/deprecated.md
Owners: @thaJeztah

docs: move doc generation scripts to subdir
  docs/generate/generate.go
  docs/generate/go.mod
  docs/generate/tools.go
  scripts/docs/generate-yaml.sh
Owners: @thaJeztah

manifest: save raw manifest content on download
  cli/command/manifest/push.go
  cli/command/manifest/testdata/inspect-annotate.golden
  cli/command/manifest/util.go
  cli/manifest/types/types.go
Owners: none

docs: add note about MKE CA rotation, which is potentially dangerous
  docs/reference/commandline/swarm_ca.md
Owners: @thaJeztah

manifest: explicitly error if whitespace reconstruction has failed
  cli/command/manifest/push.go
Owners: none

rm: allow `docker container remove` as an alias
  cli/command/container/rm.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
