Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

vendor: github.com/opentracing/opentracing-go v1.2.0
  vendor.conf
  vendor/github.com/opentracing/opentracing-go/LICENSE
  vendor/github.com/opentracing/opentracing-go/README.md
  vendor/github.com/opentracing/opentracing-go/ext.go
  vendor/github.com/opentracing/opentracing-go/ext/field.go
  vendor/github.com/opentracing/opentracing-go/ext/tags.go
  vendor/github.com/opentracing/opentracing-go/globaltracer.go
  vendor/github.com/opentracing/opentracing-go/go.mod
  vendor/github.com/opentracing/opentracing-go/gocontext.go
  vendor/github.com/opentracing/opentracing-go/log/field.go
  vendor/github.com/opentracing/opentracing-go/log/util.go
  vendor/github.com/opentracing/opentracing-go/noop.go
  vendor/github.com/opentracing/opentracing-go/propagation.go
  vendor/github.com/opentracing/opentracing-go/span.go
  vendor/github.com/opentracing/opentracing-go/tracer.go
Owners: none

vendor: github.com/moby/term bea5bbe245bf407372d477f1361d2ff042d2f556
  vendor.conf
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/term_windows.go
Owners: none

vendor: github.com/containerd/cgroups 0b889c03f102012f1d93a97ddd3ef71cd6f4f510
  vendor.conf
  vendor/github.com/containerd/cgroups/stats/v1/metrics.pb.go
  vendor/github.com/containerd/cgroups/stats/v1/metrics.proto
Owners: none

vendor: github.com/tonistiigi/fsutil 0834f99b7b85462efb69b4f571a4fa3ca7da5ac9
  vendor.conf
  vendor/github.com/docker/docker/builder/dockerignore/deprecated.go
  vendor/github.com/tonistiigi/fsutil/chtimes_nolinux.go
  vendor/github.com/tonistiigi/fsutil/diff.go
  vendor/github.com/tonistiigi/fsutil/diff_containerd_linux.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unix.go
  vendor/github.com/tonistiigi/fsutil/followlinks.go
  vendor/github.com/tonistiigi/fsutil/fs.go
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/github.com/tonistiigi/fsutil/hardlinks.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/github.com/tonistiigi/fsutil/send.go
  vendor/github.com/tonistiigi/fsutil/stat.go
  vendor/github.com/tonistiigi/fsutil/tarwriter.go
  vendor/github.com/tonistiigi/fsutil/validator.go
  vendor/github.com/tonistiigi/fsutil/walker.go
Owners: none

vendor: containerd 0edc412565dcc6e3d6125ff9e4b009ad4b89c638
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/content/helpers.go
  vendor/github.com/containerd/containerd/content/local/store_unix.go
  vendor/github.com/containerd/containerd/content/proxy/content_reader.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/sys/stat_bsd.go
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

build: display [auth] output
  cli/command/image/build_buildkit.go
Owners: none

Remove k8s.io/kubernetes dependency
  cli/command/stack/kubernetes/watcher.go
  vendor.conf
  vendor/k8s.io/apiextensions-apiserver/LICENSE
  vendor/k8s.io/apiextensions-apiserver/README.md
  vendor/k8s.io/apiextensions-apiserver/go.mod
  vendor/k8s.io/apiextensions-apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/README.md
  vendor/k8s.io/apiserver/go.mod
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/util/feature/feature_gate.go
  vendor/k8s.io/component-base/LICENSE
  vendor/k8s.io/component-base/README.md
  vendor/k8s.io/component-base/featuregate/feature_gate.go
  vendor/k8s.io/component-base/go.mod
  vendor/k8s.io/kubernetes/LICENSE
  vendor/k8s.io/kubernetes/README.md
  vendor/k8s.io/kubernetes/build/README.md
  vendor/k8s.io/kubernetes/build/pause/orphan.c
  vendor/k8s.io/kubernetes/build/pause/pause.c
  vendor/k8s.io/kubernetes/go.mod
  vendor/k8s.io/kubernetes/pkg/api/v1/pod/util.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/third_party/protobuf/google/protobuf/compiler/plugin.proto
  vendor/k8s.io/kubernetes/third_party/protobuf/google/protobuf/descriptor.proto
Owners: @silvin-lubecki

Connect to rootless socket by default if /var/run/docker.sock is not accessible
  opts/hosts.go
  opts/hosts_test.go
  opts/hosts_unix.go
  opts/hosts_windows.go
Owners: none

docs: un-wrap line to prevent YAML docs from using "compact" formatting
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: un-wrap line to prevent YAML docs from using "compact" formatting
  docs/reference/commandline/build.md
Owners: @thaJeztah

vendor: github.com/docker/docker cf31b9622ae9de4b5fb7a1c9456460980ab80281
  vendor.conf
  vendor/github.com/docker/docker/errdefs/helpers.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: BuildKit v0.8.0
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/solver/errdefs/context.go
Owners: none

Add deprecation note for non-compliant registries
  docs/deprecated.md
Owners: @thaJeztah

Deprecation: add pulling from non-compliant registries to table
  docs/deprecated.md
Owners: @thaJeztah

generate-man.sh: Only build md2man if it's not installed
  scripts/docs/generate-man.sh
Owners: none

execv into context-specific binary is context type is not "" (docker, default)
  cli/cobra.go
  cli/command/context/create.go
  cli/context/store/storeconfig.go
  cli/context/types.go
  cmd/docker/docker.go
Owners: none

Help link: remove color, add "bold" style, and white-space
  cli/cobra.go
Owners: none

Fix reading context and dockerfile from stdin with BuildKit
  cli/command/image/build_buildkit.go
Owners: none

vendor: github.com/moby/buildkit v0.8.1
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/client/llb/fileop.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/util/flightcontrol/flightcontrol.go
  vendor/github.com/moby/buildkit/util/sshutil/transport_validation.go
Owners: none

vendor: github.com/docker/docker v20.10.1
  vendor.conf
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Add bash completion for jobs
  contrib/completion/bash/docker
Owners: @albers

Fix container creation time in test/builders
  internal/test/builders/container.go
Owners: none

Rename bin/md2man to bin/go-md2man
  man/md2man-all.sh
  scripts/docs/generate-man.sh
Owners: none

remove composer version check since we are not calling the api
  cli/command/stack/config.go
Owners: @silvin-lubecki

add experimental flag to config command
  cli/command/stack/config.go
  e2e/stack/config_test.go
Owners: @silvin-lubecki

Fix link to docker build with squash experiment
  experimental/README.md
Owners: none

Clarifies Confusion Surrounding CMD and Entrypoint Usage
  docs/reference/builder.md
Owners: @thaJeztah

Specify that CMD and ENTRYPOINT are recommended
  docs/reference/builder.md
Owners: @thaJeztah

update image.md
  docs/reference/commandline/images.md
Owners: @thaJeztah

configFile: directly write changes to configFile
  cli/config/configfile/file.go
  cli/config/configfile/file_unix.go
Owners: none

Added zsh completion for docker context subcommands
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Removed format flag for inspect
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Add bash completion for `docker run|create --pull`
  contrib/completion/bash/docker
Owners: @albers

Update bash completion for fluentd --log-options
  contrib/completion/bash/docker
Owners: @albers

Add bash completion for `dockerd --ip6tables`
  contrib/completion/bash/docker
Owners: @albers

Remove duplicate word in push.md
  docs/reference/commandline/push.md
Owners: @thaJeztah

execv into context-specific binary is context type is not "" (docker, default)
  cli/cobra.go
  cli/command/context/create.go
  cli/context/store/storeconfig.go
  cli/context/types.go
  cmd/docker/docker.go
Owners: none

Added `docker login azure` subcommand
  cli/command/registry/login.go
Owners: none

Find backend binary in hardcoded path, add explicit context create subcommands
  cli/command/context/create.go
  cli/context/types.go
Owners: none

deprecate blkio-weight options with cgroups v1
  docs/deprecated.md
Owners: @thaJeztah
