Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Bump Golang 1.13.15
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

vendor: github.com/golang/protobuf v1.3.5
  vendor.conf
  vendor/github.com/golang/protobuf/go.mod
  vendor/github.com/golang/protobuf/ptypes/any/any.pb.go
  vendor/github.com/golang/protobuf/ptypes/any/any.proto
  vendor/github.com/golang/protobuf/ptypes/duration/duration.pb.go
  vendor/github.com/golang/protobuf/ptypes/duration/duration.proto
  vendor/github.com/golang/protobuf/ptypes/timestamp/timestamp.pb.go
  vendor/github.com/golang/protobuf/ptypes/timestamp/timestamp.proto
Owners: none

Service cap-add/cap-drop: add special "RESET" value
  cli/command/service/update.go
  cli/command/service/update_test.go
  contrib/completion/bash/docker
  opts/capabilities.go
Owners: @albers

docs: document optional "CAP_" prefix for capabilities
  docs/reference/run.md
Owners: @thaJeztah

Improve bash completion for ulimits
  contrib/completion/bash/docker
Owners: @albers

Support ulimits in docker stack deploy
  cli/compose/convert/service.go
  cli/compose/types/types.go
Owners: none

vendor: github.com/containerd/cgroups 318312a373405e5e91134d8063d04d59768a1bff
  vendor.conf
  vendor/github.com/containerd/cgroups/README.md
  vendor/github.com/containerd/cgroups/go.mod
Owners: none

Add ulimits option to docker service create/update/inspect
  cli/command/service/create.go
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  contrib/completion/bash/docker
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_update.md
Owners: @albers, @thaJeztah

vendor: github.com/docker/docker f50a40e889fdaeebf14fce1d494f95e60092d21d
  vendor.conf
  vendor/github.com/docker/docker/api/types/events/events.go
  vendor/github.com/docker/docker/api/types/swarm/container.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/idtools/usergroupadd_linux.go
  vendor/github.com/docker/docker/pkg/idtools/utils_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_solaris.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

docs/build: add note about git subdirectories with BuildKit
  docs/reference/commandline/build.md
Owners: @thaJeztah

vendor: github.com/docker/swarmkit d6592ddefd8a5319aadff74c558b816b1a0b2590
  vendor.conf
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
Owners: none

Bash-completion: add CAP_AUDIT_READ
  contrib/completion/bash/docker
Owners: @albers

docs: document CAP_AUDIT_READ
  docs/reference/run.md
Owners: @thaJeztah

vendor golang.org/x/crypto v0.0.0-20200622213623-75b288015ac9
  vendor.conf
  vendor/golang.org/x/crypto/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/chacha20/xor.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/poly1305.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/poly1305/sum_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/poly1305/sum_vmsl_s390x.s
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
Owners: none

docs: resize capabilities table
  docs/reference/run.md
Owners: @thaJeztah

vendor: github.com/containerd/containerd v1.4.0-rc.1
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

docs: sort list of capabilities alphabetically
  docs/reference/run.md
Owners: @thaJeztah

vendor: github.com/gorilla/mux v1.8.0
  vendor.conf
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
Owners: none

CircleCI: update to docker 19.03.12
  .circleci/config.yml
Owners: none

opts/UlimitOpt: sort lists by name
  opts/ulimit.go
  opts/ulimit_test.go
Owners: none

vendor: buildkit 4d1f260e8490ec438ab66e08bb105577aca0ce06
  cli/command/image/build_buildkit.go
  cli/command/image/build_test.go
  vendor.conf
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/session/auth/auth.go
  vendor/github.com/moby/buildkit/session/context.go
  vendor/github.com/moby/buildkit/session/group.go
  vendor/github.com/moby/buildkit/session/secrets/secretsprovider/file.go
  vendor/github.com/moby/buildkit/session/secrets/secretsprovider/store.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/util/progress/progressui/display.go
Owners: none

vendor: opencontainers/runc v1.0.0-rc92
  vendor.conf
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/go.mod
  vendor/github.com/opencontainers/runc/libcontainer/README.md
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/cloned_binary.c
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/vendor.conf
Owners: none

vendor golang.org/x/net v0.0.0-20200707034311-ab3426394381
  vendor.conf
  vendor/golang.org/x/net/go.mod
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
Owners: none

vendor: docker/docker 7f7e4abb331a2973cfb3223710cc35a3e476b1b3
  vendor.conf
  vendor/github.com/docker/docker/pkg/system/stat_bsd.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Subcommand `docker manifest rm`
  cli/command/manifest/cmd.go
  cli/command/manifest/rm.go
  cli/command/manifest/rm_test.go
  contrib/completion/bash/docker
Owners: @albers

docs/deprecated: remove minor versions
  docs/deprecated.md
Owners: @thaJeztah

vendor: github.com/spf13/cobra v1.1.1
  vendor.conf
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/custom_completions.go
  vendor/github.com/spf13/cobra/doc/README.md
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/doc/md_docs.go
  vendor/github.com/spf13/cobra/doc/util.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/go.mod
  vendor/github.com/spf13/cobra/shell_completions.go
  vendor/github.com/spf13/cobra/zsh_completions.go
Owners: none

docs: fix "docker logs" example missing container name
  docs/reference/commandline/logs.md
  man/src/container/logs.md
Owners: @thaJeztah

docs: update 20.03 -> 20.10 in deprecated.md
  docs/deprecated.md
Owners: @thaJeztah

docs: fix generated YAML due to trailing whitespace
  docs/reference/commandline/context_create.md
Owners: @thaJeztah

Add test-case for env with, and without =
  cli/command/image/import_test.go
Owners: none

vendor: sirupsen/logrus v1.7.0
  vendor.conf
  vendor/github.com/konsorten/go-windows-terminal-sequences/LICENSE
  vendor/github.com/konsorten/go-windows-terminal-sequences/README.md
  vendor/github.com/konsorten/go-windows-terminal-sequences/go.mod
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences.go
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences_dummy.go
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/exported.go
  vendor/github.com/sirupsen/logrus/go.mod
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/terminal_check_windows.go
Owners: none

Update version to 20.10-dev
  VERSION
Owners: none

Replace tab with spaces in usage output
  cli/cobra.go
  e2e/cli-plugins/run_test.go
  e2e/cli-plugins/testdata/docker-help-helloworld-goodbye.golden
  e2e/cli-plugins/testdata/docker-help-helloworld.golden
  e2e/stack/testdata/stack-deploy-help-kubernetes.golden
  e2e/stack/testdata/stack-deploy-help-swarm.golden
Owners: none

docs: add /go/experimental/ vanity URL
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Update man-page source MarkDown to work with go-md2man v2
  man/Dockerfile.5.md
  man/docker-build.1.md
  man/docker-config-json.5.md
  man/docker-run.1.md
  man/docker.1.md
  man/dockerd.8.md
Owners: none

man-pages: fix missing manual title in heading
  man/generate.go
Owners: none

docs: update 20.03 -> 20.10 in docker update docs
  docs/reference/commandline/update.md
  man/src/container/update.md
Owners: @thaJeztah

docs: add link to linux kernel source code for capabilities
  docs/reference/run.md
Owners: @thaJeztah

Fix initializing client modifying custom HTTPHeaders
  cli/command/cli.go
  cli/command/cli_test.go
Owners: none
