Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Makefile: have binary, cross, dynbinary targets not use docker for backwards compat
  Makefile
Owners: none

registry: don't call "/info" API endpoint to get default registry
  cli/command/registry.go
  cli/command/registry/login.go
  cli/command/registry/logout.go
  cli/command/registry_test.go
Owners: none

bake: remove windows targets other than windows/amd64
  docker-bake.hcl
Owners: none

scripts: fix VERSION_QUAD corner case in windows resource
  scripts/build/binary
Owners: none

scripts: use WINDRES env var if set
  scripts/build/binary
Owners: none

scripts: Allow skipping windres when WINDRES= (empty string)
  scripts/build/binary
Owners: none

docs: document log-opts for "dual logging" cache
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Fix typo for configuring dockerd Containerd plugins namespace.
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs/reference/builder: touch-up code-hints and some minor changes
  docs/reference/builder.md
Owners: @thaJeztah

Use net.JoinHostPort() to fix formatting with IPv6 addresses
  cli/command/container/port.go
  cli/command/container/port_test.go
  cli/command/container/testdata/container-port-ipv4.golden
  cli/command/container/testdata/container-port-ipv6-and-ipv4.golden
  cli/command/container/testdata/container-port-ipv6.golden
  opts/port.go
  opts/port_test.go
Owners: none

docs/reference/builder: remove outdated example Dockerfiles
  docs/reference/builder.md
Owners: @thaJeztah

docs/reference/builder: update example output, and some rephrasing
  docs/reference/builder.md
Owners: @thaJeztah

Update buildkit
  vendor.conf
  vendor/github.com/golang/protobuf/jsonpb/jsonpb.go
  vendor/github.com/golang/protobuf/ptypes/struct/struct.pb.go
  vendor/github.com/golang/protobuf/ptypes/struct/struct.proto
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/api/services/control/control.pb.go
  vendor/github.com/moby/buildkit/api/services/control/control.proto
  vendor/github.com/moby/buildkit/api/types/worker.pb.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/frontend/gateway/errdefs/exit.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/frontend/gateway/pb/gateway.pb.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/session/auth/auth.pb.go
  vendor/github.com/moby/buildkit/session/auth/authprovider/tokenseed.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.pb.go
  vendor/github.com/moby/buildkit/session/secrets/secrets.pb.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.pb.go
  vendor/github.com/moby/buildkit/solver/errdefs/context.go
  vendor/github.com/moby/buildkit/solver/errdefs/errdefs.pb.go
  vendor/github.com/moby/buildkit/solver/errdefs/errdefs.proto
  vendor/github.com/moby/buildkit/solver/errdefs/fronetendcap.go
  vendor/github.com/moby/buildkit/solver/errdefs/generate.go
  vendor/github.com/moby/buildkit/solver/errdefs/op.go
  vendor/github.com/moby/buildkit/solver/errdefs/solve.go
  vendor/github.com/moby/buildkit/solver/errdefs/source.go
  vendor/github.com/moby/buildkit/solver/errdefs/subrequest.go
  vendor/github.com/moby/buildkit/solver/errdefs/vertex.go
  vendor/github.com/moby/buildkit/solver/pb/ops.pb.go
  vendor/github.com/moby/buildkit/util/apicaps/caps.go
  vendor/github.com/moby/buildkit/util/apicaps/pb/caps.pb.go
  vendor/github.com/moby/buildkit/util/gitutil/git_protocol.go
  vendor/github.com/moby/buildkit/util/sshutil/transport_validation.go
Owners: none

Enable ssh forwarding when building a remote target
  cli/command/image/build_buildkit.go
Owners: none

docs/reference/builder: update "syntax" section
  docs/reference/builder.md
Owners: @thaJeztah

Add progress bar to copy into and from container
  cli/command/container/cp.go
  cli/command/container/cp_test.go
Owners: none

docs: remove experimental ipvlan docs, as they were migrated
  experimental/README.md
  experimental/images/ipvlan-l3.gliffy
  experimental/images/ipvlan-l3.png
  experimental/images/ipvlan-l3.svg
  experimental/images/ipvlan_l2_simple.gliffy
  experimental/images/ipvlan_l2_simple.png
  experimental/images/ipvlan_l2_simple.svg
  experimental/images/macvlan-bridge-ipvlan-l2.gliffy
  experimental/images/macvlan-bridge-ipvlan-l2.png
  experimental/images/macvlan-bridge-ipvlan-l2.svg
  experimental/images/multi_tenant_8021q_vlans.gliffy
  experimental/images/multi_tenant_8021q_vlans.png
  experimental/images/multi_tenant_8021q_vlans.svg
  experimental/images/vlans-deeper-look.gliffy
  experimental/images/vlans-deeper-look.png
  experimental/images/vlans-deeper-look.svg
  experimental/vlan-networks.md
Owners: none

docs/reference/builder: touch-up code-hints and some minor changes
  docs/reference/builder.md
Owners: @thaJeztah

docs/reference/builder: remove outdated example Dockerfiles
  docs/reference/builder.md
Owners: @thaJeztah

docs/reference/builder: update example output, and some rephrasing
  docs/reference/builder.md
Owners: @thaJeztah

docs/reference/builder: update "syntax" section
  docs/reference/builder.md
Owners: @thaJeztah

Use designated test domains (RFC2606) in tests
  cli/command/cli_test.go
  cli/command/container/create_test.go
  cli/command/context/create_test.go
  cli/command/context/list_test.go
  cli/command/context/testdata/inspect.golden
  cli/command/context/testdata/list.golden
  cli/command/context/testdata/test-kubeconfig
  cli/command/image/trust_test.go
  cli/command/registry_test.go
  cli/command/swarm/ca_test.go
  cli/config/configfile/file_test.go
  cli/config/credentials/file_store_test.go
  cli/connhelper/connhelper.go
Owners: none

cli/config/configfile: various test cleanups
  cli/config/configfile/file_test.go
Owners: none

docs: remove experimental ipvlan docs, as they were migrated
  experimental/README.md
  experimental/images/ipvlan-l3.gliffy
  experimental/images/ipvlan-l3.png
  experimental/images/ipvlan-l3.svg
  experimental/images/ipvlan_l2_simple.gliffy
  experimental/images/ipvlan_l2_simple.png
  experimental/images/ipvlan_l2_simple.svg
  experimental/images/macvlan-bridge-ipvlan-l2.gliffy
  experimental/images/macvlan-bridge-ipvlan-l2.png
  experimental/images/macvlan-bridge-ipvlan-l2.svg
  experimental/images/multi_tenant_8021q_vlans.gliffy
  experimental/images/multi_tenant_8021q_vlans.png
  experimental/images/multi_tenant_8021q_vlans.svg
  experimental/images/vlans-deeper-look.gliffy
  experimental/images/vlans-deeper-look.png
  experimental/images/vlans-deeper-look.svg
  experimental/vlan-networks.md
Owners: none

docs: update some examples for proxy configuration
  docs/reference/builder.md
  docs/reference/commandline/cli.md
  man/Dockerfile.5.md
Owners: @thaJeztah

docs: add reference for "docker config" commands
  docs/reference/commandline/config.md
  docs/reference/commandline/config_create.md
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/config_rm.md
Owners: @thaJeztah

docs: cleanup / refactor cli doc
  docs/reference/commandline/cli.md
Owners: @thaJeztah

zsh completion: Fix completion when using `docker run/exec -it` shortcut
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

printServerWarningsLegacy: silence "No kernel memory limit support"
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-warnings.golden
Owners: none

Add ALL_PROXY
  cli/command/container/create_test.go
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
  docs/reference/builder.md
  docs/reference/commandline/cli.md
  man/Dockerfile.5.md
Owners: @thaJeztah

docs: update some examples for proxy configuration
  docs/reference/builder.md
  docs/reference/commandline/cli.md
  man/Dockerfile.5.md
Owners: @thaJeztah

docs: add reference for "docker config" commands
  docs/reference/commandline/config.md
  docs/reference/commandline/config_create.md
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/config_rm.md
Owners: @thaJeztah

docs: cleanup / refactor cli doc
  docs/reference/commandline/cli.md
Owners: @thaJeztah

printServerWarningsLegacy: silence "No oom kill disable support" on cgroup v2
  cli/command/system/info.go
Owners: none

Update stop.md
  docs/reference/commandline/stop.md
Owners: @thaJeztah

docs: document log-opts for "dual logging" cache
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Swap "LABEL maintainer" for the OCI pre-defined "org.opencontainers.image.authors"
  docs/reference/builder.md
  docs/reference/commandline/pull.md
  man/src/image/pull.md
Owners: @thaJeztah

Add an info field for features like buildkit
  cli/command/system/info.go
Owners: none

Notes on how `git` is called amended.
  docs/reference/commandline/build.md
Owners: @thaJeztah

Powershell examples added for piping.
  docs/reference/commandline/build.md
Owners: @thaJeztah
