Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

config: revert to using pkg/homedir
  cli/config/config.go
Owners: none

Minor formatting changes and a typo fix.
  docs/reference/commandline/cli.md
Owners: @thaJeztah

bump miekg/pkcs11 v1.0.2
  vendor.conf
  vendor/github.com/miekg/pkcs11/go.mod
  vendor/github.com/miekg/pkcs11/params.go
  vendor/github.com/miekg/pkcs11/pkcs11.go
  vendor/github.com/miekg/pkcs11/release.go
Owners: none

bump github.com/xeipuuv/gojsonschema v1.1.0
  cli/compose/schema/schema.go
  vendor.conf
  vendor/github.com/xeipuuv/gojsonschema/README.md
  vendor/github.com/xeipuuv/gojsonschema/draft.go
  vendor/github.com/xeipuuv/gojsonschema/errors.go
  vendor/github.com/xeipuuv/gojsonschema/format_checkers.go
  vendor/github.com/xeipuuv/gojsonschema/jsonContext.go
  vendor/github.com/xeipuuv/gojsonschema/jsonLoader.go
  vendor/github.com/xeipuuv/gojsonschema/locales.go
  vendor/github.com/xeipuuv/gojsonschema/result.go
  vendor/github.com/xeipuuv/gojsonschema/schema.go
  vendor/github.com/xeipuuv/gojsonschema/schemaLoader.go
  vendor/github.com/xeipuuv/gojsonschema/schemaPool.go
  vendor/github.com/xeipuuv/gojsonschema/schemaReferencePool.go
  vendor/github.com/xeipuuv/gojsonschema/schemaType.go
  vendor/github.com/xeipuuv/gojsonschema/subSchema.go
  vendor/github.com/xeipuuv/gojsonschema/utils.go
  vendor/github.com/xeipuuv/gojsonschema/validation.go
Owners: none

Adjusting glossary reference and clarrifying the start of a Dockerfile
  docs/reference/builder.md
Owners: @thaJeztah

bump github.com/xeipuuv/gojsonpointer 02993c407bfbf5f6dae44c4f4b1cf6a39b5fc5bb
  vendor.conf
  vendor/github.com/xeipuuv/gojsonpointer/README.md
  vendor/github.com/xeipuuv/gojsonpointer/pointer.go
Owners: none

Fix erroneous space indentation of shell script
  contrib/completion/bash/docker
Owners: @albers

Add `volume` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `config` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `network` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `node` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `secret` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `system` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `image` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `container` subcommand support for fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `plugin` subcommand support for fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `service` subcommand support for fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `swarm` subcommand support for fish completions
  contrib/completion/fish/docker.fish
Owners: none

Drop -A flag in fish completions
  contrib/completion/fish/docker.fish
Owners: none

Enable `ls` and `rm` aliases in fish completions
  contrib/completion/fish/docker.fish
Owners: none

Prevent mixing subsubcommands with subcommands in fish completions
  contrib/completion/fish/docker.fish
Owners: none

Fix typo
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

daemon: document --max-download-attempts option
  docs/reference/commandline/dockerd.md
  man/dockerd.8.md
Owners: @thaJeztah

Refactor the `stack services` command to be uniform
  cli/command/stack/kubernetes/services.go
  cli/command/stack/services.go
  cli/command/stack/swarm/services.go
Owners: @silvin-lubecki

Add test case to cover non-empty auth entry
  cli/config/configfile/file_test.go
Owners: none

Fix lint issue
  cli/config/configfile/file_test.go
Owners: none

Remove remaining uses of pkg/homedir
  cli/command/context/options.go
  cli/config/config.go
  cli/context/kubernetes/load.go
Owners: none

TestFormatInfo: add extra test-case
  cli/command/system/info_test.go
Owners: none

Update Golang 1.12.12 (CVE-2019-17596)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

separate port spec parsing
  cli/command/container/opts.go
Owners: none

Update Golang 1.12.12 (CVE-2019-17596)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update Golang 1.12.12 (CVE-2019-17596)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

typo fix
  cli/command/container/opts.go
Owners: none

parse ports separately
  cli/command/container/opts.go
Owners: none

delete previous code block
  cli/command/container/opts.go
Owners: none

declare error to not to shadow publishOptList
  cli/command/container/opts.go
Owners: none

gofmt -s
  cli/command/container/opts.go
Owners: none

make maps
  cli/command/container/opts.go
Owners: none

bump gorilla/mux v1.7.3
  vendor.conf
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/doc.go
  vendor/github.com/gorilla/mux/middleware.go
Owners: none

bump creack/pty v1.1.9
  vendor.conf
  vendor/github.com/creack/pty/go.mod
Owners: none
