Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

docs: add link to LastPass credential helper
  docs/reference/commandline/login.md
Owners: @thaJeztah

docs: remove some references to obsolete docker versions
  docs/extend/index.md
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/export.md
  docs/reference/commandline/system_prune.md
  docs/reference/run.md
Owners: @thaJeztah

Update kill.md
  docs/reference/commandline/kill.md
Owners: @thaJeztah

GetDefaultAuthConfig: fix potential panic due to unhandled error
  cli/command/registry.go
Owners: none

vendor: github.com/fvbommel/sortorder v1.0.2
  vendor.conf
  vendor/github.com/fvbommel/sortorder/doc.go
Owners: none

vendor: github.com/docker/docker c2cc352355d4c26be60be8ea3a1acfddc20fdfd3
  vendor.conf
  vendor/github.com/docker/docker/pkg/tarsum/builder_context.go
  vendor/github.com/docker/docker/pkg/tarsum/fileinfosums.go
  vendor/github.com/docker/docker/pkg/tarsum/tarsum.go
  vendor/github.com/docker/docker/pkg/tarsum/versioning.go
  vendor/github.com/docker/docker/pkg/tarsum/writercloser.go
  vendor/github.com/docker/docker/registry/auth.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/github.com/docker/docker/registry/errors.go
  vendor/github.com/docker/docker/registry/resumable/resumablerequestreader.go
  vendor/github.com/docker/docker/registry/service.go
  vendor/github.com/docker/docker/registry/service_v2.go
  vendor/github.com/docker/docker/registry/session.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

replace pkg/symlink with github.com/moby/sys/symlink
  cli/command/image/build/internal/git/gitutils.go
Owners: none

vendor: github.com/creack/pty v1.1.11
  vendor.conf
  vendor/github.com/creack/pty/run.go
  vendor/github.com/creack/pty/ztypes_freebsd_arm64.go
  vendor/github.com/creack/pty/ztypes_openbsd_32bit_int.go
  vendor/github.com/creack/pty/ztypes_openbsd_amd64.go
Owners: none

vendor: github.com/containerd/console v1.0.1
  vendor.conf
  vendor/github.com/containerd/console/console.go
  vendor/github.com/containerd/console/console_unix.go
  vendor/github.com/containerd/console/go.mod
  vendor/github.com/containerd/console/tc_darwin.go
  vendor/github.com/containerd/console/tc_netbsd.go
  vendor/github.com/containerd/console/tc_unix.go
Owners: none

docs/builder: fix typo
  docs/reference/builder.md
Owners: @thaJeztah

2825 Update activate help information
  cli/command/engine/activate.go
Owners: none

docs: add redirects for engine reference pages
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Use consistent formatting and sorted keys in all JSON examples for dockerd reference
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Add "--containerd-namespace" daemon flags in completion and docs
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/dockerd.md
Owners: @albers, @sdurrheimer, @thaJeztah

Remove really outdated zsh-completion REVIEWERS file
  contrib/completion/zsh/REVIEWERS
Owners: @sdurrheimer

docs/builder: fix broken link
  docs/reference/builder.md
Owners: @thaJeztah

New commit
  cli/command/service/formatter.go
Owners: none

I want the ConfigID and SecretID to show with --pretty
  cli/command/service/formatter.go
Owners: none

ID
  cli/command/service/formatter.go
Owners: none

cli/command/container/stats.go: fix goimports
  cli/command/container/stats.go
Owners: none

Always enable experimental features in bash completion
  contrib/completion/bash/docker
Owners: @albers

vendor: update docker/docker and moby/sys
  vendor.conf
  vendor/github.com/docker/docker/api/types/mount/mount.go
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/github.com/docker/docker/pkg/system/chtimes_nowindows.go
  vendor/github.com/docker/docker/pkg/system/rm.go
  vendor/github.com/docker/docker/registry/auth.go
  vendor/github.com/docker/docker/vendor.conf
  vendor/github.com/moby/sys/mount/doc.go
  vendor/github.com/moby/sys/mount/flags_bsd.go
  vendor/github.com/moby/sys/mount/flags_unix.go
  vendor/github.com/moby/sys/mount/flags_unsupported.go
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/mount/mount.go
  vendor/github.com/moby/sys/mount/mount_unix.go
  vendor/github.com/moby/sys/mount/mounter_bsd.go
  vendor/github.com/moby/sys/mount/mounter_unsupported.go
  vendor/github.com/moby/sys/mount/unmount_unix.go
  vendor/github.com/moby/sys/mount/unmount_unsupported.go
  vendor/github.com/moby/sys/mountinfo/doc.go
  vendor/github.com/moby/sys/mountinfo/go.mod
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_bsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_filters.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_unsupported.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_windows.go
  vendor/github.com/moby/sys/symlink/LICENSE.APACHE
  vendor/github.com/moby/sys/symlink/LICENSE.BSD
  vendor/github.com/moby/sys/symlink/README.md
  vendor/github.com/moby/sys/symlink/doc.go
  vendor/github.com/moby/sys/symlink/fs.go
  vendor/github.com/moby/sys/symlink/fs_unix.go
  vendor/github.com/moby/sys/symlink/fs_windows.go
  vendor/github.com/moby/sys/symlink/go.mod
Owners: none

%SystemDrive% is not always C:\
  docs/reference/builder.md
Owners: @thaJeztah

vendor: github.com/Microsoft/go-winio v0.4.15
  vendor.conf
  vendor/github.com/Microsoft/go-winio/go.mod
  vendor/github.com/Microsoft/go-winio/pipe.go
Owners: none

build: remove PersistentPreRunE hack for experimental --platform
  cli/command/image/build.go
  cli/command/utils.go
Owners: none

build: print error if BuildKit/non-BuildKit-specific flags are used
  cmd/docker/docker.go
Owners: none

added ip6tables to daemon CLI and config file doc
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Long format for flag -w --workdir
  docs/reference/run.md
Owners: @thaJeztah

Remove shebang to bash completion file
  contrib/completion/bash/docker
Owners: @albers

Update README.md
  experimental/README.md
Owners: none

scripts/build/.variables: Support SOURCE_DATE_EPOCH
  scripts/build/.variables
Owners: none

Display additional help message pointing to docs.docker.com guides. Will display when user types `docker help` or `docker --help`, but not for `docker run --help`.
  cli/cobra.go
Owners: none

Do not display help link if env var “DOCKER_HIDE_HELP_GUIDES” is set
  cli/cobra.go
Owners: none

Additional help message is displayed in cyan
  cli/cobra.go
Owners: none

Allow publishing same port as UDP and TCP using docker stack deploy(Trying tests)
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
Owners: none

added ,
  cli/compose/loader/merge_test.go
Owners: none

Allow publishing same port as UDP and TCP using docker stack deploy
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
Owners: none

Allow publishing same port as UDP and TCP
  cli/compose/loader/merge.go
Owners: none

AdditionalHelpMessage set in command annotations, removed env var check
  cli/cobra.go
Owners: none

vendor: golang.org/x/crypto c1f2f97bffc9c53fc40a1a28a5b460094c0050d9
  cli/command/swarm/unlock.go
  vendor.conf
  vendor/golang.org/x/crypto/go.mod
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/sys/plan9/asm.s
  vendor/golang.org/x/sys/plan9/asm_plan9_386.s
  vendor/golang.org/x/sys/plan9/asm_plan9_amd64.s
  vendor/golang.org/x/sys/plan9/asm_plan9_arm.s
  vendor/golang.org/x/sys/plan9/const_plan9.go
  vendor/golang.org/x/sys/plan9/dir_plan9.go
  vendor/golang.org/x/sys/plan9/env_plan9.go
  vendor/golang.org/x/sys/plan9/errors_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_go15_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_plan9.go
  vendor/golang.org/x/sys/plan9/race.go
  vendor/golang.org/x/sys/plan9/race0.go
  vendor/golang.org/x/sys/plan9/str.go
  vendor/golang.org/x/sys/plan9/syscall.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_386.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_amd64.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_arm.go
  vendor/golang.org/x/sys/plan9/zsysnum_plan9.go
  vendor/golang.org/x/term/LICENSE
  vendor/golang.org/x/term/PATENTS
  vendor/golang.org/x/term/README.md
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/term.go
  vendor/golang.org/x/term/term_plan9.go
  vendor/golang.org/x/term/term_solaris.go
  vendor/golang.org/x/term/term_unix.go
  vendor/golang.org/x/term/term_unix_aix.go
  vendor/golang.org/x/term/term_unix_bsd.go
  vendor/golang.org/x/term/term_unix_linux.go
  vendor/golang.org/x/term/term_unix_zos.go
  vendor/golang.org/x/term/term_unsupported.go
  vendor/golang.org/x/term/term_windows.go
  vendor/golang.org/x/term/terminal.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
