Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

linting: address else/if/elseif statements found by gocritic
  cli-plugins/manager/candidate_test.go
  cli/command/checkpoint/formatter.go
  cli/command/container/exec_test.go
  cli/command/container/formatter_diff.go
  cli/command/container/logs_test.go
  cli/command/container/opts_test.go
  cli/command/container/start.go
  cli/command/container/utils.go
  cli/command/formatter/tabwriter/tabwriter.go
  cli/command/image/formatter_history.go
  cli/command/service/scale.go
  cli/command/service/update.go
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/version.go
  cli/compose/loader/loader.go
  cli/connhelper/connhelper.go
  opts/hosts_test.go
Owners: none

linting: Consider pre-allocating sliceVar (prealloc)
  cli-plugins/manager/manager_test.go
  cli/command/config/formatter.go
  cli/command/context/list.go
  cli/command/formatter/container.go
  cli/command/formatter/displayutils.go
  cli/command/formatter/volume.go
  cli/command/manifest/push.go
  cli/command/network/formatter.go
  cli/command/secret/formatter.go
  cli/command/service/generic_resource_opts.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/stack/loader/loader.go
  cli/command/stack/swarm/list.go
  cli/command/swarm/init.go
  cli/command/system/events_test.go
  cli/command/trust/common_test.go
  cli/compose/convert/service.go
  cli/compose/convert/volume.go
  cli/compose/loader/loader.go
  cli/context/store/metadatastore.go
  cli/context/store/store.go
  cli/manifest/types/types.go
  opts/throttledevice.go
  opts/ulimit.go
  opts/weightdevice.go
Owners: @silvin-lubecki

linting: address slice-append issues found by gocritic
  cli/command/task/print.go
  cli/command/trust/inspect.go
Owners: none

golangci-lint: enable predeclared linter
  .golangci.yml
  cli/command/utils.go
Owners: none

golangci-lint: enable thelper linter
  .golangci.yml
  cli/command/cli_options_test.go
  cli/command/context/create_test.go
  cli/command/formatter/tabwriter/tabwriter_test.go
  cli/command/image/build/context_test.go
  cli/command/manifest/inspect_test.go
  cli/command/service/inspect_test.go
  cli/command/trust/key_load_test.go
  cli/config/config_test.go
  cli/required_test.go
  e2e/cli-plugins/util_test.go
  e2e/container/attach_test.go
  e2e/container/kill_test.go
  e2e/container/run_test.go
  e2e/image/push_test.go
  e2e/plugin/trust_test.go
  e2e/stack/remove_test.go
  e2e/trust/revoke_test.go
  e2e/trust/sign_test.go
  internal/test/strings.go
  opts/port_test.go
Owners: none

cli/command/system: fix deprecated comments (gocritic)
  cli/command/system/info.go
Owners: none

cli/command/manifest: rename vars that collided with import
  cli/command/manifest/inspect_test.go
Owners: none

golangci-lint: govet: enable shadow check
  .golangci.yml
  cli/command/container/opts_test.go
  cli/command/manifest/push.go
  cli/command/manifest/push_test.go
  cli/command/service/progress/progress_test.go
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/trust/key_load_test.go
  cli/compose/template/template.go
Owners: none

golangci-lint: enable dupword linter
  .golangci.yml
  cli/command/container/formatter_stats.go
  cli/command/defaultcontextstore.go
  cli/command/formatter/image_test.go
  cli/command/formatter/tabwriter/tabwriter.go
  cli/command/image/formatter_history_test.go
  cli/command/service/parse.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  cli/trust/trust.go
Owners: none

golangci-lint: enable nilerr linter
  .golangci.yml
  cli/command/idresolver/idresolver.go
Owners: none

golangci-lint: enable perfsprint linter
  .golangci.yml
  cli/command/formatter/buildcache.go
  cli/command/formatter/image.go
  cli/command/formatter/tabwriter/tabwriter_test.go
  cli/command/image/prune.go
  cli/command/network/formatter.go
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/compose/loader/loader.go
  cli/compose/types/types.go
Owners: none

vendor: github.com/Microsoft/hcsshim v0.11.4
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Add zstd as supported in load command doc
  docs/reference/commandline/load.md
Owners: @thaJeztah

golangci-lint: revive: enable empty-lines
  .golangci.yml
  cli/command/container/cp.go
  cli/command/formatter/container_test.go
  cli/command/formatter/image.go
  cli/command/network/connect_test.go
  cli/command/network/create_test.go
  cli/command/network/remove_test.go
  cli/command/service/progress/progress.go
  cli/command/service/scale.go
  cli/command/swarm/ipnet_slice_test.go
  cli/compose/convert/service.go
  cli/context/docker/load.go
Owners: none

templates: linting: fix "error return value is not checked (errchkjson)
  .golangci.yml
  templates/templates.go
Owners: none

golangci-lint: enable more linters
  .golangci.yml
  cli/command/formatter/image_test.go
  cli/command/formatter/tabwriter/tabwriter.go
  cli/command/registry/formatter_search.go
  cli/command/registry/formatter_search_test.go
  cli/command/stack/loader/loader.go
  cli/connhelper/commandconn/pdeathsig_nolinux.go
  templates/templates.go
Owners: @silvin-lubecki

vendor: github.com/docker/docker v25.0.0-beta.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

mount: bind-recursive: remove boolean convenience values
  docs/reference/commandline/service_create.md
  opts/mount.go
Owners: @thaJeztah

cli/command/system/runInfo: set negotiated API version when available
  cli/command/system/info.go
Owners: none

cli/command/system/newClientVersion: initialize with default API version
  cli/command/system/version.go
Owners: none

Dockerfile: update to debian bookworm
  .github/workflows/e2e.yml
  Dockerfile
  docker-bake.hcl
Owners: none

Dockerfile: use "debian" in stages instead of distro name
  .github/workflows/e2e.yml
  Dockerfile
  docker-bake.hcl
Owners: none

docs: update debian examples to use bookworm
  docs/reference/commandline/pull.md
  man/src/image/pull.md
Owners: @thaJeztah

Dockerfile: update buildx to v0.12.0
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: update ALPINE_VERSION to 3.18
  Dockerfile
  dockerfiles/Dockerfile.authors
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

vendor: github.com/docker/docker cfdca8dc1d4c (v25.0.0-dev)
  cli/command/service/update.go
  cli/compose/convert/service.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/swarm/service.go
  vendor/github.com/docker/docker/client/README.md
  vendor/github.com/docker/docker/errdefs/is.go
  vendor/modules.txt
Owners: none

docs/man: fix -name flag with single hyphen
  docs/reference/commandline/run.md
  man/src/container/create-example.md
Owners: @thaJeztah

docs/man: fix -name flag with single hyphen
  docs/reference/commandline/run.md
  man/src/container/create-example.md
Owners: @thaJeztah

docs: remove "{% raw %}" / "{% endraw %}" Jekyl (liquid) leftovers
  docs/deprecated.md
  docs/extend/plugins_graphdriver.md
  docs/extend/plugins_logging.md
  docs/extend/plugins_services.md
  docs/reference/commandline/cli.md
  docs/reference/run.md
Owners: @thaJeztah

docs: reference/commandlin/cli: remove redundant italic
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: reference/commandlin/cli: remove redundant italic
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: remove "{% raw %}" / "{% endraw %}" Jekyl (liquid) leftovers
  docs/deprecated.md
  docs/extend/plugins_graphdriver.md
  docs/extend/plugins_logging.md
  docs/extend/plugins_services.md
  docs/reference/commandline/cli.md
  docs/reference/run.md
Owners: @thaJeztah

Readme: remove reference to "Docker EE"
  README.md
Owners: none

exec.md: remove misleading part
  docs/reference/commandline/exec.md
Owners: @thaJeztah

vendor: github.com/gorilla/mux v1.8.1
  vendor.mod
  vendor.sum
  vendor/github.com/gorilla/mux/.gitignore
  vendor/github.com/gorilla/mux/AUTHORS
  vendor/github.com/gorilla/mux/LICENSE
  vendor/github.com/gorilla/mux/Makefile
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/doc.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
  vendor/github.com/gorilla/mux/route.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker 029519a1498b (v25.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/types/container/hostconfig.go
  vendor/github.com/docker/docker/api/types/container/hostconfig_unix.go
  vendor/github.com/docker/docker/api/types/container/hostconfig_windows.go
  vendor/github.com/docker/docker/api/types/network/network.go
  vendor/modules.txt
Owners: none

Fix typo in dockerd reference documentation
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

drop deprecated is.ErrorType
  cli/command/context/remove_test.go
  cli/command/context/use_test.go
  cli/command/defaultcontextstore_test.go
  cli/context/store/store_test.go
Owners: none

prune: fix build cache prune warning
  cli/command/system/prune.go
  cli/command/system/prune_test.go
  docs/reference/commandline/system_prune.md
Owners: @thaJeztah

update to go1.21.4
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
