Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Fix docker plugin suggestions in Zsh completion
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

fix: remove asterisk from docker command suggestions
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Deprecation: config: remove support for old ~/.dockercfg
  cli/config/config.go
  cli/config/config_test.go
  cli/config/configfile/file.go
  docs/deprecated.md
Owners: @thaJeztah

Update version to 22.04.0-dev
  VERSION
Owners: none

Update v21.xx to v22.04
  docs/deprecated.md
  vendor.mod
Owners: @thaJeztah

docs: reformat table for compatibility
  docs/deprecated.md
Owners: @thaJeztah

update deprecation status of --kernel-memory(-tcp)
  cli/command/container/update.go
  docs/deprecated.md
Owners: @thaJeztah

docs: update deprecation status of aufs, overlay, and devicemapper
  docs/deprecated.md
Owners: @thaJeztah

docs: update deprecation status of legacy overlay networks
  docs/deprecated.md
Owners: @thaJeztah

docs: update deprecation status for overlay(2) on backingfs without d_type
  docs/deprecated.md
Owners: @thaJeztah

docs: update deprecation status of "experimental" cli
  docs/deprecated.md
Owners: @thaJeztah

cli/command/system: remove printStorageDriverWarnings()
  cli/command/system/info.go
Owners: none

Add stack config command
  cli/command/stack/cmd.go
  cli/command/stack/config.go
  cli/command/stack/config_test.go
  cli/command/stack/loader/loader.go
  cli/command/stack/loader/loader_test.go
  cli/command/stack/options/opts.go
  docs/reference/commandline/index.md
  docs/reference/commandline/stack_config.md
  docs/reference/commandline/stack_deploy.md
  e2e/stack/config_test.go
Owners: @silvin-lubecki, @thaJeztah

Change merge strategy for service volumes
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
Owners: none

Add merge to ShellCommand properties in config
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
Owners: none

cli/command: fix documentation of CopyToFile mentioning ioutil
  cli/command/utils.go
Owners: none

remove "Experimental" client field from "docker version"
  cli/command/system/testdata/docker-client-version.golden
  cli/command/system/version.go
  cli/command/system/version_test.go
  docs/deprecated.md
Owners: @thaJeztah

cli: annotate "stack" command to be a swarm subcommand
  cli/command/stack/cmd.go
Owners: @silvin-lubecki

move orchestration commands to their own section in --help output
  cli/cobra.go
  cli/command/config/cmd.go
  cli/command/secret/cmd.go
  cli/command/service/cmd.go
  cli/command/stack/cmd.go
  docs/reference/commandline/config.md
  docs/reference/commandline/secret.md
  docs/reference/commandline/service.md
  docs/reference/commandline/stack.md
Owners: @silvin-lubecki, @thaJeztah

move global flags to end of --help output
  cli/cobra.go
Owners: none

commands.AddCommands(): re-order/group commands
  cli/command/commands/commands.go
Owners: none

remove exec, push, pull, ps, images, info from "legacy" commands
  cli/command/commands/commands.go
Owners: none

move commonly used top-level commands to the top of --help
  cli/cobra.go
  cli/command/container/exec.go
  cli/command/container/list.go
  cli/command/container/run.go
  cli/command/image/build.go
  cli/command/image/list.go
  cli/command/image/pull.go
  cli/command/image/push.go
  cli/command/registry/login.go
  cli/command/registry/logout.go
  cli/command/registry/search.go
  cli/command/system/info.go
  cli/command/system/version.go
Owners: none

cli: use "Swarm Subcommands" instead of "Orchestrator"
  cli/cobra.go
Owners: none

docs: deprecated: add entry for "fluent-async-connect" log-opt
  docs/deprecated.md
Owners: @thaJeztah

[20.10] docs: reformat table for compatibility
  docs/deprecated.md
Owners: @thaJeztah

docs: deprecated: add entry for "fluent-async-connect" log-opt
  docs/deprecated.md
Owners: @thaJeztah

Add main CI workflow
  .github/workflows/ci.yml
Owners: none

Add release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: none

Add Nicolas De Loof to maintainers
  MAINTAINERS
Owners: none

pkg/urlutil: deprecate, and move to builder/remotecontext/urlutil
  cli/command/image/build/internal/urlutil/urlutil.go
  cli/command/image/build/internal/urlutil/urlutil_test.go
Owners: none

builder/remotecontext/urlutil: simplify and improve documentation
  cli/command/image/build/internal/urlutil/urlutil.go
Owners: none

update go to 1.17.8
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

[20.10] update remaining files to go1.17.8
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.e2e
Owners: none

gofmt with go1.17
  cli-plugins/manager/manager_unix.go
  cli-plugins/manager/suffix_unix.go
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/image/build/context_unix.go
  cli/command/image/build/context_windows.go
  cli/config/configfile/file_unix.go
  cli/config/credentials/default_store_unsupported.go
  cli/connhelper/commandconn/commandconn_unix_test.go
  cli/connhelper/commandconn/pdeathsig_nolinux.go
  cli/connhelper/commandconn/session_unix.go
  opts/hosts_unix.go
  opts/hosts_windows.go
Owners: none

Update builder.md to document newly supported --chmod features in both ADD and COPY statements.
  docs/reference/builder.md
Owners: @thaJeztah

update golang to 1.18.1
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

Add Djordje Lukic to maintainers
  MAINTAINERS
Owners: none

[20.10] update golang to 1.17.9
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Adding information about usage of --build-arg
  docs/reference/commandline/build.md
Owners: @thaJeztah
