Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Add missing opts to --network advanced syntax
  cli/command/container/opts.go
  cli/command/container/opts_test.go
  opts/network.go
  opts/network_test.go
Owners: none

update to go1.20.8
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update to go1.20.8
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update to go1.20.8
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

docs: fix duplicate words in "docker tag" reference
  docs/reference/commandline/tag.md
Owners: @thaJeztah

docs: fix duplicate words in "docker tag" reference
  docs/reference/commandline/tag.md
Owners: @thaJeztah

docs: tidy markup
  docs/deprecated.md
  docs/extend/plugins_graphdriver.md
  docs/extend/plugins_logging.md
  docs/extend/plugins_services.md
  docs/reference/commandline/cli.md
  docs/reference/run.md
Owners: @thaJeztah

Fix:misspelt cmd with flag displays error Set the DisableFlagParsing value to true in cmd/docker to pass commands as arguements
  cmd/docker/docker.go
Owners: none

Fix: check for help arg in RunE and show help
  cmd/docker/docker.go
Owners: none

vendor: container-device-interface v0.6.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sync v0.3.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.9.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/tools v0.8.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/tokeninternal/tokeninternal.go
  vendor/modules.txt
Owners: none

vendor: google.golang.org/protobuf v1.31.0
  vendor.mod
  vendor.sum
  vendor/google.golang.org/protobuf/encoding/protojson/encode.go
  vendor/google.golang.org/protobuf/encoding/prototext/encode.go
  vendor/google.golang.org/protobuf/internal/encoding/json/encode.go
  vendor/google.golang.org/protobuf/internal/encoding/text/encode.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/genid/type_gen.go
  vendor/google.golang.org/protobuf/internal/order/order.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/size.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.16.5
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.24
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/LICENSE
  vendor/github.com/Microsoft/hcsshim/osversion/osversion_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/platform_compat_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/windowsbuilds.go
  vendor/github.com/containerd/containerd/log/context.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/Microsoft/hcsshim v0.11.1
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/osversion/osversion_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/windowsbuilds.go
  vendor/modules.txt
Owners: none

e2e: update to use compose v2, and don't depend on distro-packages
  Dockerfile
  e2e/compose-env.connhelper-ssh.yaml
  e2e/compose-env.experimental.yaml
  e2e/compose-env.yaml
  scripts/test/e2e/run
Owners: none

Dockerfile: build gotestsum and goversioninfo without cgo
  Dockerfile
Owners: none

Dockerfile: use GOTOOLCHAIN=local
  Dockerfile
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

updates docs to describe default target behaviour
  cli/command/image/build.go
  contrib/completion/zsh/_docker
  docs/reference/commandline/build.md
  docs/reference/commandline/builder_build.md
  docs/reference/commandline/image_build.md
Owners: @sdurrheimer, @thaJeztah

remove buildkit as dependency
  cmd/docker/docker.go
  cmd/docker/internal/appcontext/appcontext.go
  cmd/docker/internal/appcontext/appcontext_unix.go
  cmd/docker/internal/appcontext/appcontext_windows.go
  cmd/docker/internal/appcontext/register.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/AUTHORS
  vendor/github.com/moby/buildkit/LICENSE
  vendor/modules.txt
Owners: none

appcontext: remove unused parts
  cmd/docker/internal/appcontext/appcontext.go
  cmd/docker/internal/appcontext/register.go
Owners: none

vendor: github.com/distribution/reference v0.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/distribution/reference/.gitattributes
  vendor/github.com/distribution/reference/.gitignore
  vendor/github.com/distribution/reference/.golangci.yml
  vendor/github.com/distribution/reference/CONTRIBUTING.md
  vendor/github.com/distribution/reference/GOVERNANCE.md
  vendor/github.com/distribution/reference/Makefile
  vendor/github.com/distribution/reference/README.md
  vendor/github.com/distribution/reference/SECURITY.md
  vendor/github.com/distribution/reference/normalize.go
  vendor/modules.txt
Owners: none

update golang to go1.21.1
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

Dockerfile: use COPY --link where possible
  Dockerfile
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

e2e: update to use compose v2, and don't depend on distro-packages
  Dockerfile
  e2e/compose-env.connhelper-ssh.yaml
  e2e/compose-env.experimental.yaml
  e2e/compose-env.yaml
  scripts/test/e2e/run
Owners: none

Dockerfile: build gotestsum and goversioninfo without cgo
  Dockerfile
Owners: none

Dockerfile: use GOTOOLCHAIN=local
  Dockerfile
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update golang to go1.21.1
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

Update minimum Go version to 1.19
  scripts/vendor
  vendor.mod
Owners: none

Update minimum Go version to 1.19
  scripts/vendor
  vendor.mod
Owners: none

mount: add `bind-recursive=<bool|string>` and deprecate `bind-nonrecursive=<bool>`
  cli/command/container/opts.go
  cli/command/service/opts.go
  cli/command/utils.go
  opts/mount.go
  opts/mount_test.go
Owners: none

update go-md2man to v2.0.3
  man/go.mod
  scripts/docs/generate-man.sh
Owners: none

stacks: Add support for start interval
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  cli/compose/types/types.go
Owners: none

update go-md2man to v2.0.3
  man/go.mod
  scripts/docs/generate-man.sh
Owners: none

update go-md2man to v2.0.3
  man/go.mod
  scripts/docs/generate-man.sh
Owners: none

update to go1.21.2
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update to go1.21.3
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update to go1.20.9
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none
