Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Replaces ADD with COPY in the COPY section
  docs/reference/builder.md
Owners: @thaJeztah

Fix order of processing of some xx-add/xx-rm service update flags
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

Replaces ADD with COPY in the COPY section
  docs/reference/builder.md
Owners: @thaJeztah

Update authors and mailmap
  .mailmap
  AUTHORS
Owners: none

fix docs, completion and docker service
  cli/command/service/logs.go
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/logs.md
  docs/reference/commandline/service_logs.md
Owners: @albers, @sdurrheimer, @thaJeztah

Add design guidelines
  DESIGN_GUIDELINES.md
Owners: none

Bump Golang 1.13.15
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump Golang 1.13.15
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Fix Auto complete options available:
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Owners: @albers, @sdurrheimer

Return zero exit-code when force-removing non-existing containers
  cli/command/container/client_test.go
  cli/command/container/rm.go
  cli/command/container/rm_test.go
Owners: none

Dockerfiles: update shellcheck v0.7.1
  contrib/completion/bash/docker
  dockerfiles/Dockerfile.shellcheck
  scripts/gen/windows-resources
Owners: @albers

Update .dockerignore
  .dockerignore
Owners: none

Replace vbom.ml/util with fvbommel/sortorder
  cli-plugins/manager/manager.go
  cli/command/config/ls.go
  cli/command/context/list.go
  cli/command/network/list.go
  cli/command/node/list.go
  cli/command/plugin/list.go
  cli/command/secret/ls.go
  cli/command/service/formatter.go
  cli/command/stack/list.go
  cli/command/stack/services.go
  cli/command/system/prune.go
  cli/command/task/print.go
  cli/command/trust/common.go
  cli/command/trust/inspect_pretty.go
  cli/command/volume/list.go
  cli/context/store/metadatastore.go
  vendor.conf
  vendor/github.com/fvbommel/sortorder/LICENSE
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/doc.go
  vendor/github.com/fvbommel/sortorder/go.mod
  vendor/github.com/fvbommel/sortorder/natsort.go
  vendor/vbom.ml/util/README.md
  vendor/vbom.ml/util/sortorder/README.md
Owners: @silvin-lubecki

Replace vbom.ml/util with fvbommel/sortorder
  cli/command/config/ls.go
  cli/command/context/list.go
  cli/command/network/list.go
  cli/command/node/list.go
  cli/command/plugin/list.go
  cli/command/secret/ls.go
  cli/command/service/list.go
  cli/command/stack/list.go
  cli/command/system/prune.go
  cli/command/trust/common.go
  cli/command/trust/inspect_pretty.go
  cli/command/volume/list.go
  cli/context/store/metadatastore.go
  vendor.conf
  vendor/github.com/fvbommel/sortorder/LICENSE
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/doc.go
  vendor/github.com/fvbommel/sortorder/go.mod
  vendor/github.com/fvbommel/sortorder/natsort.go
  vendor/vbom.ml/util/README.md
  vendor/vbom.ml/util/sortorder/README.md
Owners: @silvin-lubecki

Dockerfile: fix dynbinary inside dev container
  dockerfiles/Dockerfile.dev
Owners: none

vendor: bump github.com/fvbommel/sortorder v1.0.1
  vendor.conf
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/go.mod
Owners: none

opts: simplify ValidateEnv to use os.LookupEnv
  opts/env.go
  opts/env_test.go
Owners: none

formatter: minor refactor to reduce needless conversions
  cli/command/container/formatter_stats.go
  cli/command/stack/formatter/formatter.go
  cli/command/stack/formatter/formatter_test.go
  cli/command/stack/list.go
Owners: @silvin-lubecki

added prune filters
  cli/command/builder/prune.go
  cli/command/system/prune.go
  cli/command/volume/prune.go
Owners: none

changes to CLI for prune --dry-run
  cli/command/builder/prune.go
  cli/command/container/prune.go
  cli/command/image/prune.go
  cli/command/network/prune.go
  cli/command/system/prune.go
  cli/command/volume/prune.go
Owners: none

remove print
  cli/command/system/prune.go
Owners: none

man/docker-build.1:fix --memory-swamp and --network, removing = between long-form opts and values
  man/docker-build.1.md
Owners: none

Fix CMD --ignored-param1, add quotes
  docs/reference/builder.md
Owners: @thaJeztah

Complete capabilites with and without "CAP_" prefix.
  contrib/completion/bash/docker
Owners: @albers

Dockerfile: refactor to use multi-stage build
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: build gotestsum from source
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: use bash as default command, remove DOCKER_CLI_SHELL
  docker.Makefile
  dockerfiles/Dockerfile.dev
Owners: none

Makefile: use --mount instead of -v for docker socket
  docker.Makefile
Owners: none

Dockerfile: use experimental syntax and buildkit cache-mounts
  dockerfiles/Dockerfile.dev
Owners: none

stack: Support cap_add and cap_drop on services
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  cli/compose/types/types.go
Owners: none

service: Add --cap-add & --cap-drop to service cmds
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

Service cap-add/cap-drop: improve handling of combinations and special "ALL" value
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_update.md
  opts/capabilities.go
  opts/capabilities_test.go
Owners: @albers, @sdurrheimer, @thaJeztah

Service cap-add/cap-drop: handle updates as "tri-state"
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

vendor: github.com/docker/swarmkit d6592ddefd8a5319aadff74c558b816b1a0b2590
  vendor.conf
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
Owners: none

vendor: github.com/docker/docker f50a40e889fdaeebf14fce1d494f95e60092d21d
  vendor.conf
  vendor/github.com/docker/docker/api/types/events/events.go
  vendor/github.com/docker/docker/api/types/swarm/container.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/idtools/usergroupadd_linux.go
  vendor/github.com/docker/docker/pkg/idtools/utils_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_solaris.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: github.com/gorilla/mux v1.8.0
  vendor.conf
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
Owners: none

vendor golang.org/x/crypto v0.0.0-20200622213623-75b288015ac9
  vendor.conf
  vendor/golang.org/x/crypto/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/chacha20/xor.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/poly1305.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/poly1305/sum_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/poly1305/sum_vmsl_s390x.s
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
Owners: none

vendor golang.org/x/net v0.0.0-20200707034311-ab3426394381
  vendor.conf
  vendor/golang.org/x/net/go.mod
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
Owners: none

vendor: opencontainers/runc v1.0.0-rc92
  vendor.conf
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/go.mod
  vendor/github.com/opencontainers/runc/libcontainer/README.md
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/cloned_binary.c
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/vendor.conf
Owners: none

vendor: github.com/containerd/containerd v1.4.0-rc.1
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none
