Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Fix issue where one bad credential helper causes none to be returned
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Owners: none

manifest: add support for oci image types
  cli/command/manifest/push.go
  cli/manifest/types/types.go
  cli/registry/client/fetcher.go
  vendor/github.com/docker/distribution/manifest/ocischema/builder.go
  vendor/github.com/docker/distribution/manifest/ocischema/manifest.go
  vendor/modules.txt
Owners: none

cli/command/container: exit 126 on EISDIR error
  cli/command/container/run.go
Owners: none

contrib/completion: bash `nounset` mode fixes
  contrib/completion/bash/docker
Owners: @albers

Fix bad ThrottleDevice path
  opts/throttledevice.go
Owners: none

update to go1.19.6
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

Dockerfile: update buildx to v0.10.3 release notes: https://github.com/docker/buildx/releases/tag/v0.10.3
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

vendor: github.com/containerd/containerd v1.6.19
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v23.0.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

formatter: Consider empty RepoTags and RepoDigests as dangling
  cli/command/formatter/image.go
Owners: none

stack/loader: Ignore cmd.exe special env variables
  cli/command/stack/loader/loader.go
  cli/command/stack/loader/loader_test.go
Owners: @silvin-lubecki

stack: Change unexpected environment variable error
  cli/command/stack/loader/loader.go
Owners: @silvin-lubecki

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230309194213-a745a8755ce3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

docs: Deprecate buildkit's build information
  docs/deprecated.md
Owners: @thaJeztah

test/cli: Use empty array as empty output of images/json
  cli/command/image/client_test.go
  cli/command/image/list_test.go
Owners: none

update to go1.19.7
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

vendor: github.com/containerd/containerd v1.6.16
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

changed the container name in docker stats page
  docs/reference/commandline/stats.md
Owners: @thaJeztah

vendor: golang.org/x/sys v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/unix/gccgo_c.c
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_386.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/timestruct.go
  vendor/golang.org/x/sys/unix/xattr_bsd.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Owners: none

docs: drop dated comments about graphdrivers
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

vendor: golang.org/x/text v0.7.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/time v0.3.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/modules.txt
Owners: none

context: avoid corrupt file writes
  cli/context/store/metadatastore.go
  cli/context/store/store_test.go
  cli/context/store/tlsstore.go
Owners: none

vendor: golang.org/x/term v0.5.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

MAINTAINERS: add myself as curator
  MAINTAINERS
Owners: none

ci: fix branch filter pattern
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Owners: none

vendor: github.com/docker/docker v23.0.0
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/container_wait.go
  vendor/modules.txt
Owners: none

Don't automatically request size if `--size` was explicitly set to `false`
  cli/command/container/list.go
  cli/command/container/list_test.go
Owners: none

Dockerfile: update buildx to v0.10.4
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

vendor: github.com/docker/docker v23.0.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/modules.txt
Owners: none

e2e: update notary certificates
  e2e/testdata/notary-evil/notary-server.cert
  e2e/testdata/notary-evil/notary-server.key
  e2e/testdata/notary-evil/root-ca.cert
  e2e/testdata/notary/notary-server.cert
  e2e/testdata/notary/notary-server.key
  e2e/testdata/notary/root-ca.cert
Owners: none

cli/command: fix imports formatting
  cli/command/registry_test.go
Owners: none

vendor: github.com/moby/buildkit v0.11.4
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerignore/dockerignore.go
  vendor/modules.txt
Owners: none

gha: align stray go 1.19.4 version
  .github/workflows/test.yml
Owners: none

cli/command/stack: deprecate now obsolete wrappers
  cli/command/stack/deploy.go
  cli/command/stack/list.go
  cli/command/stack/ps.go
  cli/command/stack/remove.go
  cli/command/stack/services.go
Owners: @silvin-lubecki

cli/trust: remove special handling for "plugin" Class
  cli/command/container/create.go
  cli/command/image/build.go
  cli/command/image/pull.go
  cli/command/image/trust.go
  cli/command/plugin/install.go
  cli/command/plugin/push.go
  cli/command/trust/common.go
  cli/command/trust/revoke.go
  cli/command/trust/sign.go
  cli/command/trust/signer_add.go
  cli/command/trust/signer_remove.go
  cli/trust/trust.go
Owners: none

Add bash completion for available plugins
  contrib/completion/bash/docker
Owners: @albers

Dockerfile: build binary if no target specified
  Dockerfile
Owners: none

cli/command/volume: suppress err output in tests
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/command/volume/list_test.go
  cli/command/volume/prune_test.go
  cli/command/volume/remove_test.go
Owners: none

don't use null values in the bake definition
  docker-bake.hcl
Owners: none
