Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

cli/command: fix formatting of comments, and minor linting issues
  cli/command/container/run.go
  cli/command/defaultcontextstore_test.go
  cli/command/image/build_buildkit.go
  cli/command/service/update.go
Owners: none

cli/config: fix formatting of comments
  cli/config/config.go
Owners: none

opts: fix formatting of comments
  opts/port.go
Owners: none

Reverse order of long-form ports
  cli/command/container/opts.go
  cli/command/container/opts_test.go
Owners: none

vendor: bump miekg/pkcs11 v1.0.3
  vendor.conf
  vendor/github.com/miekg/pkcs11/README.md
  vendor/github.com/miekg/pkcs11/const.go
  vendor/github.com/miekg/pkcs11/release.go
Owners: none

Allow username/password in config file
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Owners: none

Add test case to cover non-empty auth entry
  cli/config/configfile/file_test.go
Owners: none

Fix lint issue
  cli/config/configfile/file_test.go
Owners: none

fix(pull_test): for quiet option
  cli/command/image/pull_test.go
  cli/command/image/testdata/pull-command-success.simple-quiet.golden
Owners: none

CircleCI: add some info steps, and re-group jobs
  circle.yml
Owners: none

fix formatting issue of encoded url
  cli/command/image/build/context.go
Owners: none

Docs: add note about management commands targeting a manager
  docs/reference/commandline/node_demote.md
  docs/reference/commandline/node_inspect.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_promote.md
  docs/reference/commandline/node_ps.md
  docs/reference/commandline/node_rm.md
  docs/reference/commandline/node_update.md
  docs/reference/commandline/secret_create.md
  docs/reference/commandline/secret_inspect.md
  docs/reference/commandline/secret_ls.md
  docs/reference/commandline/secret_rm.md
  docs/reference/commandline/service.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/service_logs.md
  docs/reference/commandline/service_ls.md
  docs/reference/commandline/service_ps.md
  docs/reference/commandline/service_rm.md
  docs/reference/commandline/service_rollback.md
  docs/reference/commandline/service_scale.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/stack_deploy.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stack_rm.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/swarm_ca.md
  docs/reference/commandline/swarm_join_token.md
  docs/reference/commandline/swarm_unlock.md
  docs/reference/commandline/swarm_unlock_key.md
  docs/reference/commandline/swarm_update.md
Owners: @thaJeztah

Update service_create.md
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

Fixing some links and deleting an older page reference
  docs/reference/builder.md
Owners: @thaJeztah

Add docs for proxy configuration in config.json
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Change example networks
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

Update Golang 1.12.15
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Add log-driver and options to service inspect "pretty" format
  cli/command/service/formatter.go
  cli/command/service/inspect_test.go
Owners: none

Explain the behavior of `--restart on-failure` on daemon startup.
  docs/reference/run.md
Owners: @thaJeztah

Add content trust tests for run command
  e2e/container/run_test.go
Owners: none

completion: add `--max-download-attempts`
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Owners: @albers, @sdurrheimer

Bump Golang 1.12.14
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update Golang 1.12.15
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

bump imdario/mergo v0.3.8
  vendor.conf
  vendor/github.com/imdario/mergo/merge.go
Owners: none

Clearify the paragraph about adding Dockerfile and .dockerignore to .dockerignore
  docs/reference/builder.md
Owners: @thaJeztah

Fix: docker push --quiet suppressing errors and exit code
  cli/command/image/push.go
  e2e/image/push_test.go
Owners: none

Add notice about port binding and overriding of UFW to docker run reference
  docs/reference/commandline/run.md
Owners: @thaJeztah

Added transforms for compose overrides
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
Owners: none

Update flag description for docker rm -v
  cli/command/container/rm.go
  contrib/completion/fish/docker.fish
  docs/reference/commandline/rm.md
Owners: @thaJeztah

Update flag description for docker rm -v
  cli/command/container/rm.go
  contrib/completion/fish/docker.fish
  docs/reference/commandline/rm.md
Owners: @thaJeztah

Annotate flags that are not supported by Buildkit
  cli/command/image/build.go
Owners: none

bump vndr v0.1.0 to support versioned import paths
  dockerfiles/Dockerfile.dev
Owners: none

bump mjibson/esc v0.2.0
  cli/compose/schema/bindata.go
  dockerfiles/Dockerfile.dev
Owners: none

bump gotestsum v0.3.5
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
Owners: none

bump gotestsum v0.4.0
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
Owners: none

vendor: bump gopkg.in/yaml.v2 v2.2.8
  vendor.conf
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
Owners: none

implement docker push -a/--all-tags
  cli/command/image/push.go
  cli/command/image/trust.go
  cli/command/trust/sign.go
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/push.md
  e2e/image/push_test.go
  man/src/image/push.md
Owners: @albers, @sdurrheimer, @thaJeztah

docs: document cache-from
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: document build outputs
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: document dockerignore update
  docs/reference/commandline/build.md
Owners: @thaJeztah
