Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

added missing closing parenthese
  docs/reference/builder.md
Owners: @thaJeztah

Fix typo
  docs/reference/commandline/run.md
Owners: @thaJeztah

format create.md table
  docs/reference/commandline/create.md
Owners: @thaJeztah

Fixing typo (his --> its)
  docs/reference/commandline/run.md
Owners: @thaJeztah

Update dockerd.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Fix the (dead) link for docs for Dockerfile syntax reference
  docs/reference/builder.md
Owners: @thaJeztah

Update WORKDIR command information
  docs/reference/builder.md
Owners: @thaJeztah

Fix mistake with env var example in docker run docs
  docs/reference/commandline/run.md
Owners: @thaJeztah

warn user kubernetes is deprecated and options won't be stored in context
  cli/command/context/create.go
  cli/command/context/update.go
Owners: none

Fix incorrect pointer inputs to `json.Unmarshal`
  cli/config/configfile/file.go
Owners: none

introduce plugin.RunningStandalone as utility func for a plugin to know it is run standalone
  cli-plugins/plugin/plugin.go
Owners: none

document kubernetes feature as "removed" in 21.xx
  docs/deprecated.md
Owners: @thaJeztah

context export: remove docker context export --kubeconfig options
  cli/command/context/export.go
Owners: none

stack/swarm: remove unneeded getStackServiceFilter()
  cli/command/stack/swarm/common.go
Owners: @silvin-lubecki

system/version: remove dead-code
  cli/command/system/version.go
Owners: none

docs: remove mention of DOCKER_STACK_ORCHESTRATOR env-var
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: remove deprecated orchestrator flags
  docs/reference/commandline/context_create.md
  docs/reference/commandline/context_export.md
  docs/reference/commandline/context_inspect.md
  docs/reference/commandline/context_update.md
  docs/reference/commandline/stack.md
  docs/reference/commandline/stack_deploy.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stack_rm.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/version.md
Owners: @thaJeztah

docs: update list of supported filters for stack services
  docs/reference/commandline/stack_services.md
Owners: @thaJeztah

docs: add more details to stack kubernetes deprecation
  docs/deprecated.md
Owners: @thaJeztah

config: mark stackOrchestrator option as deprecated
  cli/command/defaultcontextstore_test.go
  cli/config/configfile/file.go
  docs/deprecated.md
  docs/reference/commandline/cli.md
Owners: @thaJeztah

formatter: mark KubernetesEndpoint templating option as deprecated
  cli/command/formatter/context.go
Owners: none

publish RunExec for use by docker/compose
  cli/command/container/exec.go
  cli/command/container/exec_test.go
  cli/command/container/start.go
Owners: none

remove unused KubernetesEnabled() test-utility
  internal/test/environment/testenv.go
Owners: none

update/remove various tests and options related to kubernetes support
  cli/command/context/create.go
  cli/command/context/create_test.go
  cli/command/context/export-import_test.go
  cli/command/context/inspect_test.go
  cli/command/context/list_test.go
  cli/command/context/remove_test.go
  cli/command/context/testdata/test-kubeconfig
  cli/command/context/update.go
  cli/command/context/update_test.go
  e2e/context/context_test.go
  e2e/context/testdata/test-kubeconfig
  internal/test/environment/testenv.go
  scripts/test/e2e/run
Owners: none

cli/context: update package documentation
  cli/context/store/doc.go
Owners: none

bring back and expose BuildKitEnabled func
  cli/command/cli.go
  internal/test/cli.go
Owners: none

build: use legacy builder for wcow if not opt-in with a builder component
  cmd/docker/builder.go
Owners: none

cli/command/checkpoint: remove deprecated io/ioutil
  cli/command/checkpoint/create_test.go
  cli/command/checkpoint/list_test.go
  cli/command/checkpoint/remove_test.go
Owners: none

cli/command/config: remove deprecated io/ioutil
  cli/command/config/create.go
  cli/command/config/create_test.go
  cli/command/config/inspect_test.go
  cli/command/config/ls_test.go
  cli/command/config/remove_test.go
Owners: none

cli/command/container: remove deprecated io/ioutil
  cli/command/container/attach_test.go
  cli/command/container/cp_test.go
  cli/command/container/create_test.go
  cli/command/container/exec_test.go
  cli/command/container/export_test.go
  cli/command/container/list.go
  cli/command/container/list_test.go
  cli/command/container/logs_test.go
  cli/command/container/opts.go
  cli/command/container/opts_test.go
  cli/command/container/port_test.go
  cli/command/container/rm_test.go
  cli/command/container/run_test.go
Owners: none

cli/command/context: remove deprecated io/ioutil and use t.TempDir()
  cli/command/context/create_test.go
  cli/command/context/export-import_test.go
  cli/command/context/inspect_test.go
  cli/command/context/list_test.go
  cli/command/context/remove_test.go
  cli/command/context/update_test.go
  cli/command/context/use_test.go
Owners: none

cli/command/image: remove deprecated io/ioutil and use t.TempDir()
  cli/command/image/build.go
  cli/command/image/build/context.go
  cli/command/image/build/context_test.go
  cli/command/image/build_test.go
  cli/command/image/client_test.go
  cli/command/image/history_test.go
  cli/command/image/import_test.go
  cli/command/image/inspect_test.go
  cli/command/image/list_test.go
  cli/command/image/load_test.go
  cli/command/image/prune_test.go
  cli/command/image/pull_test.go
  cli/command/image/push.go
  cli/command/image/push_test.go
  cli/command/image/remove_test.go
  cli/command/image/save_test.go
  cli/command/image/tag_test.go
  cli/command/image/trust.go
  cli/command/image/trust_test.go
Owners: none

cli/command/manifest: remove deprecated io/ioutil and use t.TempDir()
  cli/command/manifest/annotate_test.go
  cli/command/manifest/create_test.go
  cli/command/manifest/inspect_test.go
  cli/command/manifest/push_test.go
  cli/command/manifest/rm_test.go
Owners: none

cli/command/context: remove deprecated io/ioutil
  cli/command/network/connect_test.go
  cli/command/network/create_test.go
  cli/command/network/disconnect_test.go
  cli/command/network/list_test.go
Owners: none

cli/command/node: remove deprecated io/ioutil
  cli/command/node/demote_test.go
  cli/command/node/inspect_test.go
  cli/command/node/list_test.go
  cli/command/node/promote_test.go
  cli/command/node/ps_test.go
  cli/command/node/remove_test.go
  cli/command/node/update_test.go
Owners: none

cli/command/registry: remove deprecated io/ioutil
  cli/command/registry/login.go
Owners: none

cli/command/plugin: remove deprecated io/ioutil
  cli/command/plugin/create_test.go
  cli/command/plugin/disable_test.go
  cli/command/plugin/enable_test.go
  cli/command/plugin/inspect_test.go
  cli/command/plugin/install_test.go
  cli/command/plugin/list_test.go
  cli/command/plugin/remove_test.go
Owners: none

cli/command/secret: remove deprecated io/ioutil
  cli/command/secret/create.go
  cli/command/secret/create_test.go
  cli/command/secret/inspect_test.go
  cli/command/secret/ls_test.go
  cli/command/secret/remove_test.go
Owners: none

cli/command/service: remove deprecated io/ioutil
  cli/command/service/helpers.go
  cli/command/service/rollback_test.go
Owners: none

cli/command/stack: remove deprecated io/ioutil
  cli/command/stack/deploy_test.go
  cli/command/stack/list_test.go
  cli/command/stack/loader/loader.go
  cli/command/stack/ps_test.go
  cli/command/stack/remove_test.go
  cli/command/stack/services_test.go
Owners: @silvin-lubecki

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
