Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

vendor: opencontainers/go-digest v1.0.0
  vendor.conf
  vendor/github.com/opencontainers/go-digest/LICENSE
  vendor/github.com/opencontainers/go-digest/README.md
  vendor/github.com/opencontainers/go-digest/algorithm.go
  vendor/github.com/opencontainers/go-digest/digest.go
  vendor/github.com/opencontainers/go-digest/digester.go
  vendor/github.com/opencontainers/go-digest/doc.go
  vendor/github.com/opencontainers/go-digest/go.mod
  vendor/github.com/opencontainers/go-digest/verifiers.go
Owners: none

Add "--containerd-namespace" daemon flags in completion and docs
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/dockerd.md
Owners: @albers, @sdurrheimer, @thaJeztah

GetDefaultAuthConfig: fix potential panic due to unhandled error
  cli/command/registry.go
Owners: none

vendor: github.com/containerd/cgroups 0b889c03f102012f1d93a97ddd3ef71cd6f4f510
  vendor.conf
  vendor/github.com/containerd/cgroups/stats/v1/metrics.pb.go
  vendor/github.com/containerd/cgroups/stats/v1/metrics.proto
Owners: none

Add deprecation note for non-compliant registries
  docs/deprecated.md
Owners: @thaJeztah

Deprecation: add pulling from non-compliant registries to table
  docs/deprecated.md
Owners: @thaJeztah

vendor: golang.org/x/crypto c1f2f97bffc9c53fc40a1a28a5b460094c0050d9
  cli/command/swarm/unlock.go
  vendor.conf
  vendor/golang.org/x/crypto/go.mod
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/sys/plan9/asm.s
  vendor/golang.org/x/sys/plan9/asm_plan9_386.s
  vendor/golang.org/x/sys/plan9/asm_plan9_amd64.s
  vendor/golang.org/x/sys/plan9/asm_plan9_arm.s
  vendor/golang.org/x/sys/plan9/const_plan9.go
  vendor/golang.org/x/sys/plan9/dir_plan9.go
  vendor/golang.org/x/sys/plan9/env_plan9.go
  vendor/golang.org/x/sys/plan9/errors_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_go15_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_plan9.go
  vendor/golang.org/x/sys/plan9/race.go
  vendor/golang.org/x/sys/plan9/race0.go
  vendor/golang.org/x/sys/plan9/str.go
  vendor/golang.org/x/sys/plan9/syscall.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_386.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_amd64.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_arm.go
  vendor/golang.org/x/sys/plan9/zsysnum_plan9.go
  vendor/golang.org/x/term/LICENSE
  vendor/golang.org/x/term/PATENTS
  vendor/golang.org/x/term/README.md
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/term.go
  vendor/golang.org/x/term/term_plan9.go
  vendor/golang.org/x/term/term_solaris.go
  vendor/golang.org/x/term/term_unix.go
  vendor/golang.org/x/term/term_unix_aix.go
  vendor/golang.org/x/term/term_unix_bsd.go
  vendor/golang.org/x/term/term_unix_linux.go
  vendor/golang.org/x/term/term_unix_zos.go
  vendor/golang.org/x/term/term_unsupported.go
  vendor/golang.org/x/term/term_windows.go
  vendor/golang.org/x/term/terminal.go
Owners: none

vendor: github.com/tonistiigi/fsutil 0834f99b7b85462efb69b4f571a4fa3ca7da5ac9
  vendor.conf
  vendor/github.com/docker/docker/builder/dockerignore/deprecated.go
  vendor/github.com/tonistiigi/fsutil/chtimes_nolinux.go
  vendor/github.com/tonistiigi/fsutil/diff.go
  vendor/github.com/tonistiigi/fsutil/diff_containerd_linux.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unix.go
  vendor/github.com/tonistiigi/fsutil/followlinks.go
  vendor/github.com/tonistiigi/fsutil/fs.go
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/github.com/tonistiigi/fsutil/hardlinks.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/github.com/tonistiigi/fsutil/send.go
  vendor/github.com/tonistiigi/fsutil/stat.go
  vendor/github.com/tonistiigi/fsutil/tarwriter.go
  vendor/github.com/tonistiigi/fsutil/validator.go
  vendor/github.com/tonistiigi/fsutil/walker.go
Owners: none

Remove k8s.io/kubernetes dependency
  cli/command/stack/kubernetes/watcher.go
  vendor.conf
  vendor/k8s.io/apiextensions-apiserver/LICENSE
  vendor/k8s.io/apiextensions-apiserver/README.md
  vendor/k8s.io/apiextensions-apiserver/go.mod
  vendor/k8s.io/apiextensions-apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/README.md
  vendor/k8s.io/apiserver/go.mod
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/util/feature/feature_gate.go
  vendor/k8s.io/component-base/LICENSE
  vendor/k8s.io/component-base/README.md
  vendor/k8s.io/component-base/featuregate/feature_gate.go
  vendor/k8s.io/component-base/go.mod
  vendor/k8s.io/kubernetes/LICENSE
  vendor/k8s.io/kubernetes/README.md
  vendor/k8s.io/kubernetes/build/README.md
  vendor/k8s.io/kubernetes/build/pause/orphan.c
  vendor/k8s.io/kubernetes/build/pause/pause.c
  vendor/k8s.io/kubernetes/go.mod
  vendor/k8s.io/kubernetes/pkg/api/v1/pod/util.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/third_party/protobuf/google/protobuf/compiler/plugin.proto
  vendor/k8s.io/kubernetes/third_party/protobuf/google/protobuf/descriptor.proto
Owners: @silvin-lubecki

Long format for flag -w --workdir
  docs/reference/run.md
Owners: @thaJeztah

docs: un-wrap line to prevent YAML docs from using "compact" formatting
  docs/reference/commandline/build.md
Owners: @thaJeztah

vendor: BuildKit v0.8.0
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/solver/errdefs/context.go
Owners: none

Display additional help message pointing to docs.docker.com guides. Will display when user types `docker help` or `docker --help`, but not for `docker run --help`.
  cli/cobra.go
Owners: none

feat: allow ssh flag arguments
  cli/connhelper/connhelper.go
Owners: none

Fix container creation time in test/builders
  internal/test/builders/container.go
Owners: none

vendor: github.com/docker/docker cf31b9622ae9de4b5fb7a1c9456460980ab80281
  vendor.conf
  vendor/github.com/docker/docker/errdefs/helpers.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

build: remove PersistentPreRunE hack for experimental --platform
  cli/command/image/build.go
  cli/command/utils.go
Owners: none

vendor: update docker/docker and moby/sys
  vendor.conf
  vendor/github.com/docker/docker/api/types/mount/mount.go
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/github.com/docker/docker/pkg/system/chtimes_nowindows.go
  vendor/github.com/docker/docker/pkg/system/rm.go
  vendor/github.com/docker/docker/registry/auth.go
  vendor/github.com/docker/docker/vendor.conf
  vendor/github.com/moby/sys/mount/doc.go
  vendor/github.com/moby/sys/mount/flags_bsd.go
  vendor/github.com/moby/sys/mount/flags_unix.go
  vendor/github.com/moby/sys/mount/flags_unsupported.go
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/mount/mount.go
  vendor/github.com/moby/sys/mount/mount_unix.go
  vendor/github.com/moby/sys/mount/mounter_bsd.go
  vendor/github.com/moby/sys/mount/mounter_unsupported.go
  vendor/github.com/moby/sys/mount/unmount_unix.go
  vendor/github.com/moby/sys/mount/unmount_unsupported.go
  vendor/github.com/moby/sys/mountinfo/doc.go
  vendor/github.com/moby/sys/mountinfo/go.mod
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_bsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_filters.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_unsupported.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_windows.go
  vendor/github.com/moby/sys/symlink/LICENSE.APACHE
  vendor/github.com/moby/sys/symlink/LICENSE.BSD
  vendor/github.com/moby/sys/symlink/README.md
  vendor/github.com/moby/sys/symlink/doc.go
  vendor/github.com/moby/sys/symlink/fs.go
  vendor/github.com/moby/sys/symlink/fs_unix.go
  vendor/github.com/moby/sys/symlink/fs_windows.go
  vendor/github.com/moby/sys/symlink/go.mod
Owners: none

added ip6tables to daemon CLI and config file doc
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Additional help message is displayed in cyan
  cli/cobra.go
Owners: none

build: display [auth] output
  cli/command/image/build_buildkit.go
Owners: none

vendor: github.com/Microsoft/go-winio v0.4.15
  vendor.conf
  vendor/github.com/Microsoft/go-winio/go.mod
  vendor/github.com/Microsoft/go-winio/pipe.go
Owners: none

AdditionalHelpMessage set in command annotations, removed env var check
  cli/cobra.go
Owners: none

vendor: github.com/opentracing/opentracing-go v1.2.0
  vendor.conf
  vendor/github.com/opentracing/opentracing-go/LICENSE
  vendor/github.com/opentracing/opentracing-go/README.md
  vendor/github.com/opentracing/opentracing-go/ext.go
  vendor/github.com/opentracing/opentracing-go/ext/field.go
  vendor/github.com/opentracing/opentracing-go/ext/tags.go
  vendor/github.com/opentracing/opentracing-go/globaltracer.go
  vendor/github.com/opentracing/opentracing-go/go.mod
  vendor/github.com/opentracing/opentracing-go/gocontext.go
  vendor/github.com/opentracing/opentracing-go/log/field.go
  vendor/github.com/opentracing/opentracing-go/log/util.go
  vendor/github.com/opentracing/opentracing-go/noop.go
  vendor/github.com/opentracing/opentracing-go/propagation.go
  vendor/github.com/opentracing/opentracing-go/span.go
  vendor/github.com/opentracing/opentracing-go/tracer.go
Owners: none

Fix link to docker build with squash experiment
  experimental/README.md
Owners: none

generate-man.sh: Only build md2man if it's not installed
  scripts/docs/generate-man.sh
Owners: none

vendor: github.com/moby/term bea5bbe245bf407372d477f1361d2ff042d2f556
  vendor.conf
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/term_windows.go
Owners: none

vendor: containerd 0edc412565dcc6e3d6125ff9e4b009ad4b89c638
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/content/helpers.go
  vendor/github.com/containerd/containerd/content/local/store_unix.go
  vendor/github.com/containerd/containerd/content/proxy/content_reader.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/sys/stat_bsd.go
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

Help link: remove color, add "bold" style, and white-space
  cli/cobra.go
Owners: none

Do not display help link if env var “DOCKER_HIDE_HELP_GUIDES” is set
  cli/cobra.go
Owners: none

Add bash completion for jobs
  contrib/completion/bash/docker
Owners: @albers

Remove duplicate word in push.md
  docs/reference/commandline/push.md
Owners: @thaJeztah

vendor: github.com/moby/buildkit v0.8.1
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/client/llb/fileop.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/util/flightcontrol/flightcontrol.go
  vendor/github.com/moby/buildkit/util/sshutil/transport_validation.go
Owners: none

service rollback: always verify state
  cli/command/service/progress/progress.go
Owners: none

docker service rollback: fix non-zero exit code in some cases
  cli/command/service/progress/progress.go
Owners: none

Rename bin/md2man to bin/go-md2man
  man/md2man-all.sh
  scripts/docs/generate-man.sh
Owners: none

Fix reading context and dockerfile from stdin with BuildKit
  cli/command/image/build_buildkit.go
Owners: none

Update bash completion for fluentd --log-options
  contrib/completion/bash/docker
Owners: @albers

Ignore SIGURG on Linux.
  cli/command/container/attach.go
  cli/command/container/client_test.go
  cli/command/container/run.go
  cli/command/container/signals.go
  cli/command/container/signals_linux.go
  cli/command/container/signals_linux_test.go
  cli/command/container/signals_notlinux.go
  cli/command/container/signals_test.go
  cli/command/container/start.go
  cli/command/container/tty.go
Owners: none

deprecate blkio-weight options with cgroups v1
  docs/deprecated.md
Owners: @thaJeztah
