Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

fix containerd-plugins-namespace typos
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

context: deprecate support for encrypted TLS private keys
  cli/command/cli.go
  cli/context/docker/load.go
  docs/deprecated.md
Owners: @thaJeztah

cli/context: ignore linting warnings about RFC 1423 encryption
  cli/context/docker/load.go
Owners: none

context: deprecate support for encrypted TLS private keys
  cli/command/cli.go
  cli/context/docker/load.go
  docs/deprecated.md
Owners: @thaJeztah

e2e: update gotestsum to v1.7.0
  dockerfiles/Dockerfile.e2e
Owners: none

change TestNewAPIClientFromFlagsWithHttpProxyEnv to an e2e test
  cli/command/cli_test.go
  e2e/global/cli_test.go
Owners: none

docs: update deprecation status of LCOW
  docs/deprecated.md
Owners: @thaJeztah

cli/command: don't use client.CustomHTTPHeaders(), and simplify asserts
  cli/command/cli_test.go
Owners: none

test updating go-connections
  vendor.conf
  vendor/github.com/docker/go-connections/go.mod
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/sort.go
  vendor/github.com/docker/go-connections/sockets/proxy.go
  vendor/github.com/docker/go-connections/sockets/sockets.go
  vendor/github.com/docker/go-connections/sockets/sockets_unix.go
  vendor/github.com/docker/go-connections/sockets/sockets_windows.go
  vendor/github.com/docker/go-connections/sockets/unix_socket.go
  vendor/github.com/docker/go-connections/tlsconfig/config.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_go113.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_other.go
Owners: none

try revert_transport_dial branch
  vendor.conf
  vendor/github.com/docker/go-connections/go.mod
  vendor/github.com/docker/go-connections/sockets/proxy.go
  vendor/github.com/docker/go-connections/sockets/sockets.go
  vendor/github.com/docker/go-connections/sockets/sockets_unix.go
  vendor/github.com/docker/go-connections/sockets/sockets_windows.go
  vendor/github.com/docker/go-connections/sockets/unix_socket.go
  vendor/github.com/docker/go-connections/tlsconfig/config.go
Owners: none

Update to go1.16.6
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
  scripts/build/plugins
  scripts/test/e2e/run
Owners: none

Use designated test domains (RFC2606) in tests
  cli/command/cli_test.go
  cli/command/container/create_test.go
  cli/command/context/create_test.go
  cli/command/context/list_test.go
  cli/command/context/testdata/inspect.golden
  cli/command/context/testdata/list.golden
  cli/command/context/testdata/test-kubeconfig
  cli/command/image/trust_test.go
  cli/command/registry_test.go
  cli/command/swarm/ca_test.go
  cli/config/configfile/file_test.go
  cli/config/credentials/file_store_test.go
  cli/connhelper/connhelper.go
Owners: none

cli/config/configfile: various test cleanups
  cli/config/configfile/file_test.go
Owners: none

change TestNewAPIClientFromFlagsWithHttpProxyEnv to an e2e test
  cli/command/cli_test.go
  e2e/global/cli_test.go
Owners: none

Update to go1.16.6
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
  scripts/build/plugins
  scripts/test/e2e/run
Owners: none

vendor: bump github.com/fvbommel/sortorder v1.0.1
  vendor.conf
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/go.mod
Owners: none

Dockerfiles: update shellcheck v0.7.1
  contrib/completion/bash/docker
  dockerfiles/Dockerfile.shellcheck
  scripts/gen/windows-resources
Owners: @albers

Add shorthand for --tail option
  cli/command/container/logs.go
Owners: none

remove print
  cli/command/system/prune.go
Owners: none

Dockerfile: use bash as default command, remove DOCKER_CLI_SHELL
  docker.Makefile
  dockerfiles/Dockerfile.dev
Owners: none

stack: Support cap_add and cap_drop on services
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  cli/compose/types/types.go
Owners: none

Update .dockerignore
  .dockerignore
Owners: none

Replace vbom.ml/util with fvbommel/sortorder
  cli-plugins/manager/manager.go
  cli/command/config/ls.go
  cli/command/context/list.go
  cli/command/network/list.go
  cli/command/node/list.go
  cli/command/plugin/list.go
  cli/command/secret/ls.go
  cli/command/service/formatter.go
  cli/command/stack/list.go
  cli/command/stack/services.go
  cli/command/system/prune.go
  cli/command/task/print.go
  cli/command/trust/common.go
  cli/command/trust/inspect_pretty.go
  cli/command/volume/list.go
  cli/context/store/metadatastore.go
  vendor.conf
  vendor/github.com/fvbommel/sortorder/LICENSE
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/doc.go
  vendor/github.com/fvbommel/sortorder/go.mod
  vendor/github.com/fvbommel/sortorder/natsort.go
  vendor/vbom.ml/util/README.md
  vendor/vbom.ml/util/sortorder/README.md
Owners: @silvin-lubecki

Complete capabilites with and without "CAP_" prefix.
  contrib/completion/bash/docker
Owners: @albers

Return zero exit-code when force-removing non-existing containers
  cli/command/container/client_test.go
  cli/command/container/rm.go
  cli/command/container/rm_test.go
Owners: none

Fix Auto complete options available:
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Owners: @albers, @sdurrheimer

Dockerfile: build gotestsum from source
  dockerfiles/Dockerfile.dev
Owners: none

Service cap-add/cap-drop: handle updates as "tri-state"
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

Dockerfile: refactor to use multi-stage build
  dockerfiles/Dockerfile.dev
Owners: none

man/docker-build.1:fix --memory-swamp and --network, removing = between long-form opts and values
  man/docker-build.1.md
Owners: none

Dockerfile: use experimental syntax and buildkit cache-mounts
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: fix dynbinary inside dev container
  dockerfiles/Dockerfile.dev
Owners: none

opts: simplify ValidateEnv to use os.LookupEnv
  opts/env.go
  opts/env_test.go
Owners: none

Update authors and mailmap
  .mailmap
  AUTHORS
Owners: none

Makefile: use --mount instead of -v for docker socket
  docker.Makefile
Owners: none

Service cap-add/cap-drop: improve handling of combinations and special "ALL" value
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_update.md
  opts/capabilities.go
  opts/capabilities_test.go
Owners: @albers, @sdurrheimer, @thaJeztah

Fix order of processing of some xx-add/xx-rm service update flags
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

service: Add --cap-add & --cap-drop to service cmds
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

formatter: minor refactor to reduce needless conversions
  cli/command/container/formatter_stats.go
  cli/command/stack/formatter/formatter.go
  cli/command/stack/formatter/formatter_test.go
  cli/command/stack/list.go
Owners: @silvin-lubecki

fix docs, completion and docker service
  cli/command/service/logs.go
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/logs.md
  docs/reference/commandline/service_logs.md
Owners: @albers, @sdurrheimer, @thaJeztah
