Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

docs: fix "docker logs" example missing container name
  docs/reference/commandline/logs.md
  man/src/container/logs.md
Owners: @thaJeztah

docs: fix "docker logs" example missing container name
  docs/reference/commandline/logs.md
  man/src/container/logs.md
Owners: @thaJeztah

builder: rephrase ENV section, remove examples for ENV key value without '='
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/import.md
  e2e/image/build_test.go
  man/Dockerfile.5.md
  man/src/container/commit.md
  man/src/image/import.md
Owners: @thaJeztah

builder: add note about alternative syntax
  docs/reference/builder.md
Owners: @thaJeztah

Add test-case for env with, and without =
  cli/command/image/import_test.go
Owners: none

added 'docker build --taget' to zsh completion
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Fix Auto complete options available:
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Owners: @albers, @sdurrheimer

Fix initializing client modifying custom HTTPHeaders
  cli/command/cli.go
  cli/command/cli_test.go
Owners: none

docs: update URL for security landing page
  docs/reference/commandline/login.md
  man/src/login.md
Owners: @thaJeztah

docs: update URL for security landing page
  docs/reference/commandline/login.md
  man/src/login.md
Owners: @thaJeztah

docs: fix generated YAML due to trailing whitespace
  docs/reference/commandline/context_create.md
Owners: @thaJeztah

docs: fix generated YAML due to trailing whitespace
  docs/reference/commandline/context_create.md
Owners: @thaJeztah

vendor: sirupsen/logrus v1.7.0
  vendor.conf
  vendor/github.com/konsorten/go-windows-terminal-sequences/LICENSE
  vendor/github.com/konsorten/go-windows-terminal-sequences/README.md
  vendor/github.com/konsorten/go-windows-terminal-sequences/go.mod
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences.go
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences_dummy.go
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/exported.go
  vendor/github.com/sirupsen/logrus/go.mod
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/terminal_check_windows.go
Owners: none

Mirroring ps docs to container ls
  docs/reference/commandline/container_ls.md
Owners: @thaJeztah

rename reference docs to "object_action"
  docs/reference/commandline/container_attach.md
  docs/reference/commandline/container_commit.md
  docs/reference/commandline/container_cp.md
  docs/reference/commandline/container_create.md
  docs/reference/commandline/container_diff.md
  docs/reference/commandline/container_exec.md
  docs/reference/commandline/container_export.md
  docs/reference/commandline/container_kill.md
  docs/reference/commandline/container_logs.md
  docs/reference/commandline/container_pause.md
  docs/reference/commandline/container_port.md
  docs/reference/commandline/container_ps.md
  docs/reference/commandline/container_rename.md
  docs/reference/commandline/container_restart.md
  docs/reference/commandline/container_rm.md
  docs/reference/commandline/container_run.md
  docs/reference/commandline/container_start.md
  docs/reference/commandline/container_stats.md
  docs/reference/commandline/container_stop.md
  docs/reference/commandline/container_top.md
  docs/reference/commandline/container_unpause.md
  docs/reference/commandline/container_update.md
  docs/reference/commandline/container_wait.md
  docs/reference/commandline/image_build.md
  docs/reference/commandline/image_history.md
  docs/reference/commandline/image_import.md
  docs/reference/commandline/image_load.md
  docs/reference/commandline/image_ls.md
  docs/reference/commandline/image_pull.md
  docs/reference/commandline/image_push.md
  docs/reference/commandline/image_rm.md
  docs/reference/commandline/image_save.md
  docs/reference/commandline/image_tag.md
  docs/reference/commandline/index.md
  docs/reference/commandline/system_events.md
  docs/reference/commandline/system_info.md
Owners: @thaJeztah

rename events -> system_events
  docs/reference/commandline/system_events.md
Owners: @thaJeztah

Change CreatedAt type to time.Time to enable formatting #2747
  cli/command/formatter/image.go
Owners: none

Fix test #2754
  cli/command/formatter/image_test.go
Owners: none

Change CreatedAt type to time.Time to enable formatting #2747
  cli/command/formatter/image.go
Owners: none

Fix initializing client modifying custom HTTPHeaders
  cli/command/cli.go
  cli/command/cli_test.go
Owners: none

Fix test #2754
  cli/command/formatter/image_test.go
Owners: none

Change createdAt type to date to enable formatting #2747
  cli/command/formatter/image.go
  cli/command/formatter/image_test.go
Owners: none

Fix test #2747
  cli/command/formatter/image_test.go
Owners: none

Add field to test with strings and time #2747
  cli/command/formatter/image_test.go
Owners: none

Adjust test to time field #2747
  cli/command/formatter/image_test.go
Owners: none

Add CodeQL Analysis workflow (again)
  .github/workflows/codeql-analysis.yml
Owners: none

Update README.md
  README.md
Owners: none

Config-file: remove User-Agent from config.json when saving
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Owners: none

Fix test #2747
  cli/command/formatter/image_test.go
Owners: none

GH Actions: run CodeQL only on cron-job, not on pull requests
  .github/workflows/codeql-analysis.yml
Owners: none

Update README.md
  README.md
Owners: none

docs: add /go/experimental/ vanity URL
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: deprecate CLI options for experimental CLI features
  docs/deprecated.md
Owners: @thaJeztah

docs/deprecated: remove minor versions
  docs/deprecated.md
Owners: @thaJeztah

cli: print experimental message in usage output
  cli/cobra.go
Owners: none

Replace tab with spaces in usage output
  cli/cobra.go
  e2e/cli-plugins/run_test.go
  e2e/cli-plugins/testdata/docker-help-helloworld-goodbye.golden
  e2e/cli-plugins/testdata/docker-help-helloworld.golden
  e2e/stack/testdata/stack-deploy-help-kubernetes.golden
  e2e/stack/testdata/stack-deploy-help-swarm.golden
Owners: none

update docs usage output to match new format
  docs/reference/commandline/container_prune.md
  docs/reference/commandline/image_prune.md
  docs/reference/commandline/network_create.md
  docs/reference/commandline/network_prune.md
  docs/reference/commandline/node_rm.md
  docs/reference/commandline/plugin_inspect.md
  docs/reference/commandline/plugin_push.md
  docs/reference/commandline/secret_create.md
  docs/reference/commandline/secret_ls.md
  docs/reference/commandline/secret_rm.md
  docs/reference/commandline/service_ls.md
  docs/reference/commandline/service_rm.md
  docs/reference/commandline/service_rollback.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/swarm_ca.md
  docs/reference/commandline/swarm_join-token.md
  docs/reference/commandline/swarm_leave.md
  docs/reference/commandline/swarm_unlock-key.md
  docs/reference/commandline/swarm_unlock.md
  docs/reference/commandline/system_df.md
  docs/reference/commandline/system_prune.md
  docs/reference/commandline/trust_key_load.md
  docs/reference/commandline/trust_signer_add.md
  docs/reference/commandline/trust_signer_remove.md
  docs/reference/commandline/volume_prune.md
Owners: @thaJeztah

Always enable experimental features
  cli-plugins/examples/helloworld/main.go
  cli-plugins/manager/candidate_test.go
  cli-plugins/manager/manager.go
  cli-plugins/manager/metadata.go
  cli-plugins/manager/plugin.go
  cli/command/cli.go
  cli/command/cli_test.go
  cli/command/stack/kubernetes/cli.go
  cli/command/stack/kubernetes/client.go
  cli/command/system/version.go
  cmd/docker/docker.go
  docs/reference/commandline/cli.md
  kubernetes/check.go
  kubernetes/check_test.go
Owners: @silvin-lubecki, @thaJeztah

docs: add /go/experimental/ vanity URL
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: deprecate CLI options for experimental CLI features
  docs/deprecated.md
Owners: @thaJeztah
