Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

cli/command/stack: use strings.Cut
  cli/command/stack/loader/loader.go
Owners: @silvin-lubecki

cli/command/network: use strings.Cut
  cli/command/network/connect.go
Owners: none

cli/compose: use strings.Cut
  cli/compose/convert/service.go
  cli/compose/loader/loader.go
  cli/compose/template/template.go
Owners: none

internal/test: use strings.Cut
  internal/test/strings.go
Owners: none

service/logs: use strings.Cut
  service/logs/parse_logs.go
  service/logs/parse_logs_test.go
Owners: none

cli/config: use strings.Cut
  cli/config/configfile/file.go
  cli/config/credentials/file_store.go
Owners: none

cli/command: use strings.Cut
  cli/command/utils.go
Owners: none

Update index.md
  docs/extend/index.md
Owners: @thaJeztah

cli/rm_test: Fix TestRemoveForce race condition
  cli/command/container/rm_test.go
Owners: none

cli/rm_test: Fix TestRemoveForce race condition
  cli/command/container/rm_test.go
Owners: none

docs: deprecated: fix link to Docker Desktop 3.2.0 release notes
  docs/deprecated.md
Owners: @thaJeztah

docs: fix anchor links
  docs/reference/commandline/build.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/cp.md
  docs/reference/commandline/export.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/stats.md
Owners: @thaJeztah

docs: fix some more anchors
  docs/reference/commandline/images.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_ps.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/volume_ls.md
Owners: @thaJeztah

cmd: set double quotes as code delimiter
  cli/cobra.go
  cli/command/builder/prune.go
  cli/command/container/commit.go
  cli/command/container/create.go
  cli/command/container/exec.go
  cli/command/container/logs.go
  cli/command/container/prune.go
  cli/command/container/run.go
  cli/command/container/update.go
  cli/command/context/create.go
  cli/command/image/build.go
  cli/command/image/prune.go
  cli/command/network/connect.go
  cli/command/network/list.go
  cli/command/network/prune.go
  cli/command/node/update.go
  cli/command/plugin/list.go
  cli/command/service/create.go
  cli/command/service/logs.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/stack/deploy.go
  cli/command/swarm/init.go
  cli/command/swarm/join.go
  cli/command/system/prune.go
  cli/command/volume/create.go
  cli/command/volume/list.go
  cli/command/volume/prune.go
  cli/command/volume/update.go
  cli/flags/options.go
  e2e/stack/testdata/stack-deploy-help.golden
Owners: @silvin-lubecki

contrib: fix engine logging docs link
  contrib/completion/bash/docker
Owners: @albers

update cli-docs-tool to v0.5.1
  scripts/docs/generate-yaml.sh
Owners: none

Cleaned up formatting/typesetting.
  man/src/container/attach.md
Owners: none

Bolded SIGKILL & fixed backslash escaping.
  man/src/container/attach.md
Owners: none

Updated docker attach example.
  man/src/container/attach.md
Owners: none

docker exec cli docs: show 2 env vars, not just 1
  docs/reference/commandline/exec.md
Owners: @thaJeztah

docs: inspect: remove trailing whitespace from example
  docs/reference/commandline/inspect.md
Owners: @thaJeztah

docs: inspect: remove trailing whitespace from example
  docs/reference/commandline/inspect.md
Owners: @thaJeztah

Move notes about required buildkit
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: build: add named anchor tags for flags
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs/extend: remove note about first supported version
  docs/extend/config.md
Owners: @thaJeztah

docs/reference: exec: update some examples
  docs/reference/commandline/exec.md
Owners: @thaJeztah

docs/reference: info: update example output
  docs/reference/commandline/info.md
  man/src/system/info.md
Owners: @thaJeztah

docs: update examples to not use deprecated images
  docs/reference/commandline/commit.md
  docs/reference/commandline/events.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/pull.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/system_events.md
  docs/reference/run.md
  man/src/container/ls.md
  man/src/image/ls.md
  man/src/image/pull.md
  man/src/system/events.md
Owners: @thaJeztah

doc/reference: update attach reference
  docs/reference/commandline/attach.md
  man/src/container/attach.md
Owners: @thaJeztah

docs: improved docker run cli reference
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs: update link to docker cp
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs: fix some more anchors
  docs/reference/commandline/images.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_ps.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/volume_ls.md
Owners: @thaJeztah

docs: fix anchor links
  docs/reference/commandline/build.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/cp.md
  docs/reference/commandline/export.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/stats.md
Owners: @thaJeztah

deprecation: mark btrfs driver as deprecated for CentOS 7 and RHEL7
  docs/deprecated.md
Owners: @thaJeztah

deprecated: update deprecation for btrfs on CentOS/RHEL 7
  docs/deprecated.md
Owners: @thaJeztah

deprecation: mark btrfs driver as deprecated for CentOS 7 and RHEL7
  docs/deprecated.md
Owners: @thaJeztah

update to go1.19.5
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

[20.10] update to go1.18.10
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

vendor: github.com/containerd/containerd v1.6.15
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v23.0.0-rc.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_linux.go
  vendor/modules.txt
Owners: none
