Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

Correct "ps --no-trunc" example output
  docs/reference/commandline/ps.md
Owners: @thaJeztah

docs: update link location for the overlay driver
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

Fix nits
  cli/command/container/opts.go
Owners: none

update description for --rm flag in run.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

update description for --rm flag in run.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

The current description for the --rm flag doesn't talk about removing the anonyms volume deletion. As add the flag is also responsible for deleting the anonyms volume created with the container.
  docs/reference/commandline/run.md
Owners: @thaJeztah

Fix not to assign a value to toBind
  cli/command/container/opts.go
Owners: none

docs/deprecated: remove .patch release from deprecation status
  docs/deprecated.md
Owners: @thaJeztah

docs/deprecated: remove .patch release from deprecation status
  docs/deprecated.md
Owners: @thaJeztah

cli/command/system: remove aufs from fixtures
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
  cli/command/system/testdata/docker-info-with-labels-empty.golden
  cli/command/system/testdata/docker-info-with-labels-nil.golden
  cli/command/system/testdata/docker-info-with-swarm.golden
  cli/command/system/testdata/docker-info-with-swarm.json.golden
Owners: none

contrib/completion: remove aufs, legacy overlay
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Owners: @albers, @sdurrheimer

contrib/completion: remove aufs, legacy overlay
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Owners: @albers, @sdurrheimer

docs: remove aufs and legacy overlay
  docs/extend/plugins_graphdriver.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs/deprecated: remove "disabled by default" for AuFS, overlay
  docs/deprecated.md
Owners: @thaJeztah

docs/deprecated: remove "disabled by default" for AuFS, overlay
  docs/deprecated.md
Owners: @thaJeztah

docs: remove aufs and legacy overlay
  docs/extend/plugins_graphdriver.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

man: remove devicemapper from examples
  man/src/inspect.md
Owners: none

docs: remove boot2docker and docker-machine from glossary
  docs/reference/glossary.md
Owners: @thaJeztah

docs: remove Docker Toolbox from glossary
  docs/reference/glossary.md
Owners: @thaJeztah

docs: remove AuFS from glossary
  docs/reference/glossary.md
Owners: @thaJeztah

docs: remove boot2docker and docker-machine from glossary
  docs/reference/glossary.md
Owners: @thaJeztah

docs: remove AuFS from glossary
  docs/reference/glossary.md
Owners: @thaJeztah

docs: remove Docker Toolbox from glossary
  docs/reference/glossary.md
Owners: @thaJeztah

Correct "ps --no-trunc" example output
  docs/reference/commandline/ps.md
Owners: @thaJeztah

man: remove devicemapper from examples
  man/src/inspect.md
Owners: none

docs: fix example for proxies in daemon.json
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: fix example for proxies in daemon.json
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: fix example for proxies in daemon.json
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

[24.0] vendor: github.com/docker/docker v24.0.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

remove uses of golang.org/x/sys/execabs
  cli-plugins/manager/candidate.go
  cli-plugins/manager/manager.go
  cli/command/image/build/context.go
  cli/config/credentials/default_store.go
  cli/connhelper/commandconn/commandconn.go
Owners: none

docs: remove devicemapper
  docs/deprecated.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/run.md
  man/docker-run.1.md
  man/dockerd.8.md
Owners: @thaJeztah

Add unit information about `docker builder prune --filter until=XXX`
  docs/reference/commandline/builder_prune.md
Owners: @thaJeztah

Update start docs to add examples
  docs/reference/commandline/start.md
Owners: @thaJeztah

vendor: github.com/docker/docker v24.0.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

docs: rephrase section on credential stores for docker login
  docs/reference/commandline/cli.md
  docs/reference/commandline/login.md
Owners: @thaJeztah

cli/command: fix GoDoc referencing wrong const
  cli/command/cli.go
Owners: none

Dockerfile.vendor: update GOPROXY to use default with fallback
  dockerfiles/Dockerfile.vendor
Owners: none

Dockerfile.vendor: update GOPROXY to use default with fallback
  dockerfiles/Dockerfile.vendor
Owners: none

Dockerfile.vendor: update GOPROXY to use default with fallback
  dockerfiles/Dockerfile.vendor
Owners: none

cli/command: fix GoDoc referencing wrong const
  cli/command/cli.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
