Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

update go to go1.20.3
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

vendor: github.com/docker/docker v24.0.0-beta.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cli/command/registry: remove intermediate var that collided
  cli/command/registry/search.go
Owners: none

cli/command/container/create: pullImage() remove intermediate vars
  cli/command/container/create.go
Owners: none

docker info: include Client Version and "platform name"
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  docs/reference/commandline/info.md
  man/src/system/info.md
Owners: @thaJeztah

cli/command/system: add platformInfo type, and fix "omitempty"
  cli/command/system/testdata/docker-client-version.json.golden
  cli/command/system/version.go
Owners: none

cli/command: deprecate EncodeAuthToBase64
  cli/command/registry.go
Owners: none

docker ps: always use --quiet, also combined with --format
  cli/command/container/list_test.go
  cli/command/container/testdata/container-list-quiet.golden
  cli/command/formatter/container.go
  cli/command/formatter/container_test.go
Owners: none

cli/command: replace EncodeAuthToBase64 for registry.EncodeAuthConfig
  cli/command/container/create.go
  cli/command/image/push.go
  cli/command/image/trust.go
  cli/command/plugin/install.go
  cli/command/plugin/push.go
  cli/command/registry.go
  cli/command/registry/search.go
  cli/command/trust/sign.go
Owners: none

docker ps: print warning if both --format and --quiet are set
  cli/command/container/list.go
  cli/command/container/list_test.go
Owners: none

cli/command/image: imagePullPrivileged: remove intermediate variables
  cli/command/image/trust.go
Owners: none

cli/command/system:remove versionInfo.ServerOK() utility
  cli/command/system/version.go
Owners: none

docs: deprecated: fix version (23.1.0 -> 24.0.0)
  docs/deprecated.md
Owners: @thaJeztah

cli/command/container: pullImage: use DisplayJSONMessagesToStream utility
  cli/command/container/create.go
Owners: none

cli/command: ConfigureAuth: trim whitespace both for username and password
  cli/command/registry.go
Owners: none

Fix styling of arguments
  man/dockerd.8.md
Owners: none

cli/command/system: clientVersion: make all fields "omitempty"
  cli/command/system/version.go
Owners: none

cli/command: ConfigureAuth: fix terminal state not being restored on error
  cli/command/registry.go
Owners: none

ci: remove fetch depth 0 for validate jobs
  .github/workflows/validate.yml
Owners: none

cli/command: ConfigureAuth: fix links to related tickets
  cli/command/registry.go
Owners: none

cli: make cobra templates a const
  cli/cobra.go
Owners: none

cli/command: fix documentation for ResolveAuthConfig
  cli/command/registry.go
Owners: none

cli/command/system: add newClientVersion() utility
  cli/command/system/version.go
Owners: none

vendor: github.com/spf13/cobra v1.7.0
  vendor.mod
  vendor.sum
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/Makefile
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_notwin.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.go
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Owners: none

ci: add validation for generated markdown
  .github/workflows/validate.yml
Owners: none

cli/command/container/create: pullImage(): use RetrieveAuthTokenFromImage
  cli/command/container/create.go
Owners: none

vendor: github.com/opencontainers/runc v1.1.6
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Owners: none

cli/compose: add schema 3.11 (no changes with 3.10 yet)
  cli/compose/schema/data/config_schema_v3.11.json
  cli/compose/schema/schema.go
  cli/compose/schema/schema_test.go
Owners: none

man/dockerd.8: escape asterisks and underscores
  man/dockerd.8.md
Owners: none

docs: update deprecation status of BuildKit "buildInfo" for v24.0.0
  docs/deprecated.md
Owners: @thaJeztah

docs/reference: dockerd: update seccomp flag description
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Swarm: allow additional properties in `build`
  cli/compose/loader/loader_test.go
  cli/compose/schema/data/config_schema_v3.11.json
Owners: none

vendor: golang.org/x/net v0.8.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

docs/reference: dockerd: use table for env-vars
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Handle empty DOCKER_BUILDKIT like unset
  cli/command/cli.go
  cmd/docker/builder.go
Owners: none

docs/reference: dockerd: remove default oom-score-adjust
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: update dockerd usage output for new proxy-options
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/pull.md
  man/dockerd.8.md
Owners: @thaJeztah

docs/reference: use table for proxy env-vars
  docs/reference/commandline/cli.md
Owners: @thaJeztah

vendor: golang.org/x/text v0.8.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/modules.txt
Owners: none

volumes: prune: add --all / -a option
  cli/command/volume/prune.go
  cli/command/volume/prune_test.go
  cli/command/volume/testdata/volume-prune-success.all-forced.golden
  cli/command/volume/testdata/volume-prune-success.all.golden
  cli/command/volume/testdata/volume-prune-success.label-filter.golden
  cli/command/volume/testdata/volume-prune-yes.golden
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/volume_prune.md
Owners: @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
