Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

vendor: docker v20.10.3-0.20220826112928-d2590dc3cd4f (22.06 branch)
  cli/command/formatter/buildcache.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/mount/mount.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/api/types/volume/cluster_volume.go
  vendor/github.com/docker/docker/client/options.go
  vendor/github.com/moby/swarmkit/v2/api/api.pb.txt
  vendor/github.com/moby/swarmkit/v2/api/defaults/service.go
  vendor/github.com/moby/swarmkit/v2/api/types.pb.go
  vendor/github.com/moby/swarmkit/v2/api/types.proto
  vendor/modules.txt
Owners: none

replace pkg/system Sequential funcs with moby/sys/sequential
  cli/command/config/create.go
  cli/command/image/load.go
  cli/command/secret/create.go
  cli/command/utils.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/sequential/LICENSE
  vendor/github.com/moby/sys/sequential/doc.go
  vendor/github.com/moby/sys/sequential/sequential_unix.go
  vendor/github.com/moby/sys/sequential/sequential_windows.go
  vendor/modules.txt
Owners: none

feat: add 'docker containers' alias to match the 'docker images' logic
  cli/command/container/list.go
Owners: none

cli/command: NewDockerCli(): use WithStandardStreams()
  cli/command/cli.go
Owners: none

build: replace uses of archive.CanonicalTarNameForPath
  cli/command/image/build.go
  cli/command/image/build/dockerignore.go
Owners: none

vendor: docker v20.10.3-0.20220831131523-b5a0d7a188ac (22.06 branch)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/system/filesys.go
  vendor/github.com/docker/docker/pkg/system/filesys_deprecated.go
  vendor/github.com/docker/docker/pkg/system/filesys_unix.go
  vendor/github.com/docker/docker/pkg/system/filesys_windows.go
  vendor/modules.txt
Owners: none

cli: use DisplayJSONMessagesToStream
  cli/command/container/create.go
Owners: none

cli: createContainer() remove intermediate variable
  cli/command/container/create.go
Owners: none

cli: createContainer() remove intermediate variable
  cli/command/container/create.go
Owners: none

vendor: github.com/docker/go-units v0.5.0
  cli/command/container/opts_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/go-units/size.go
  vendor/modules.txt
Owners: none

opts: remove unused RuntimeOpt
  opts/runtime.go
Owners: none

linting: use consts from stdlib (usestdlibvars)
  cli/command/image/build/context.go
  cli/trust/trust.go
Owners: none

linting: remove unused nolint comments (nolintlint)
  cli-plugins/manager/plugin.go
  cli/command/image/formatter_history_test.go
  cli/command/service/list.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/context/store/tlsstore.go
Owners: @silvin-lubecki

linting: ST1019: package is being imported more than once (stylecheck)
  cli/command/manifest/inspect_test.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/trust/inspect_pretty_test.go
Owners: @silvin-lubecki

linting: os.Setenv() can be replaced by `t.Setenv()` (tenv)
  cli/command/cli_options_test.go
Owners: none

linting: tabwriter: ignore stylecheck
  cli/command/formatter/tabwriter/tabwriter.go
Owners: none

linting: ST1017: don't use Yoda conditions (stylecheck)
  opts/envfile_test.go
Owners: none

linting: ST1005: error strings should not be capitalized (stylecheck)
  cli/command/config/inspect.go
  cli/command/node/inspect.go
  cli/command/secret/inspect.go
  cli/command/swarm/opts_test.go
  cli/command/trust/common.go
  cli/command/trust/inspect_pretty_test.go
  cli/command/trust/inspect_test.go
  cli/command/trust/sign.go
  cli/command/trust/sign_test.go
  cli/command/trust/signer_add.go
  cli/command/trust/signer_add_test.go
  cli/command/trust/signer_remove.go
  cli/command/trust/signer_remove_test.go
  docs/reference/commandline/trust_inspect.md
  docs/reference/commandline/trust_sign.md
  docs/reference/commandline/trust_signer_add.md
  opts/hosts.go
  opts/hosts_test.go
Owners: @thaJeztah

linting: G112: Potential Slowloris Attack
  e2e/plugin/basic/basic.go
Owners: none

linting: assigned to src, but reassigned without using the value (wastedassign)
  cli/command/container/opts.go
Owners: none

golangci-lint: update to v1.49.0 for compatibilty with go1.19
  .golangci.yml
  dockerfiles/Dockerfile.lint
Owners: none

Update to go 1.18.6 to address CVE-2022-27664, CVE-2022-32190
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

Update to go 1.18.6 to address CVE-2022-27664, CVE-2022-32190
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

vendor: golang.org/x/net v0.0.0-20220906165146-f3363e06e74c
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/AUTHORS
  vendor/golang.org/x/net/CONTRIBUTORS
  vendor/golang.org/x/net/http/httpguts/httplex.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/go118.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/not_go118.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched_priority.go
  vendor/golang.org/x/net/idna/trieval.go
  vendor/golang.org/x/term/codereview.cfg
  vendor/golang.org/x/term/term.go
  vendor/modules.txt
Owners: none

update to golang 1.19
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  scripts/vendor
  vendor.mod
Owners: none

Update to go 1.19.1 to address CVE-2022-27664, CVE-2022-32190
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

vendor: docker v20.10.3-0.20220909113731-8af2e62556de (22.06 branch)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

docs: Fix template error in cli example
  docs/reference/commandline/inspect.md
Owners: @thaJeztah

cli: hide old CREATED times, instead of "52 years ago"
  cli/command/image/formatter_history.go
  cli/command/image/formatter_history_test.go
Owners: none

cli: use N/A as placeholder for old CREATED dates
  cli/command/image/formatter_history.go
  cli/command/image/formatter_history_test.go
Owners: none

vendor: docker v20.10.3-0.20220922131805-e143eed8bc4f (22.06 branch)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/container_create.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker-credential-helpers v0.7.0
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker-credential-helpers/credentials/credentials.go
  vendor/github.com/docker/docker-credential-helpers/credentials/version.go
  vendor/modules.txt
Owners: none

replace uses of deprecated env.Patch()
  cli/command/cli_test.go
  cli/command/defaultcontextstore_test.go
  cli/command/image/build_test.go
  cli/command/image/trust_test.go
  cli/compose/interpolation/interpolation_test.go
  cli/config/config_test.go
  cmd/docker/builder_test.go
  e2e/image/build_test.go
  opts/parse_test.go
Owners: none

vendor: gotest.tools v3.3.0
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/assert_go113.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/compare_go113.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/fs/manifest.go
  vendor/gotest.tools/v3/fs/ops.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/assert/result.go
  vendor/gotest.tools/v3/internal/source/defers.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/internal/source/version.go
  vendor/modules.txt
Owners: none

docker context rm: allow --force to ignore non-existing contexts
  cli/command/context/remove.go
  cli/command/context/remove_test.go
Owners: none

cli/compose: remove redundant reflection from tests
  cli/compose/loader/loader_test.go
  cli/compose/template/template_test.go
Owners: none

fix broken alias check is buildx is installed as alias for builder
  cmd/docker/aliases.go
  cmd/docker/docker.go
Owners: none

cli-plugins/manager: add IsPluginCommand(() utility
  cli-plugins/manager/manager.go
  cli-plugins/manager/plugin.go
  cli/cobra.go
  cmd/docker/aliases.go
  cmd/docker/docker.go
Owners: none

cli/context/store: TestTlsCreateUpdateGetRemove(): use correct ID
  cli/context/store/tlsstore_test.go
Owners: none

cli/context/store: metadataStore.get(), .remove(): accept name instead of ID
  cli/context/store/metadata_test.go
  cli/context/store/metadatastore.go
  cli/context/store/store.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
