Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

vendor: github.com/docker/docker 25.0.4-51e876cd96
  cli/command/image/testdata/inspect-command-success.simple-many.golden
  cli/command/image/testdata/inspect-command-success.simple.golden
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/github.com/docker/docker/client/container_exec.go
  vendor/github.com/docker/docker/client/container_restart.go
  vendor/github.com/docker/docker/client/container_stop.go
  vendor/github.com/docker/docker/client/container_wait.go
  vendor/github.com/docker/docker/client/errors.go
  vendor/github.com/docker/docker/client/image_list.go
  vendor/github.com/docker/docker/client/network_create.go
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/service_create.go
  vendor/github.com/docker/docker/client/service_update.go
  vendor/github.com/docker/docker/client/volume_remove.go
  vendor/github.com/docker/docker/pkg/streamformatter/streamformatter.go
  vendor/modules.txt
Owners: none

fix: cli prompt termination exit code
  cli/command/builder/client_test.go
  cli/command/builder/prune.go
  cli/command/builder/prune_test.go
  cli/command/container/client_test.go
  cli/command/container/prune.go
  cli/command/container/prune_test.go
  cli/command/image/prune.go
  cli/command/image/prune_test.go
  cli/command/network/client_test.go
  cli/command/network/prune.go
  cli/command/network/prune_test.go
  cli/command/network/remove.go
  cli/command/network/remove_test.go
  cli/command/plugin/client_test.go
  cli/command/plugin/install.go
  cli/command/plugin/testdata/plugin-upgrade-terminate.golden
  cli/command/plugin/upgrade.go
  cli/command/plugin/upgrade_test.go
  cli/command/system/client_test.go
  cli/command/system/prune.go
  cli/command/system/prune_test.go
  cli/command/trust/revoke.go
  cli/command/trust/revoke_test.go
  cli/command/trust/signer_remove.go
  cli/command/trust/signer_remove_test.go
  cli/command/trust/testdata/trust-revoke-prompt-termination.golden
  cli/command/utils.go
  cli/command/utils_test.go
  cli/command/volume/prune.go
  cli/command/volume/prune_test.go
  cli/command/volume/testdata/volume-prune-terminate.golden
  internal/test/cmd.go
  internal/test/writer.go
Owners: none

testenv: Add DaemonAPIVersion helper
  internal/test/environment/testenv.go
Owners: none

Update gha runners and engines used in e2e tests
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
  e2e/image/testdata/pull-with-content-trust.golden
  e2e/plugin/trust_test.go
Owners: none

Cleanup of dockerfiles, compose files and env vars
  .github/workflows/e2e.yml
  docker.Makefile
  e2e/compose-env.connhelper-ssh.yaml
  e2e/compose-env.yaml
  e2e/testdata/Dockerfile.connhelper-ssh
  e2e/testdata/Dockerfile.evil-notary-server
  e2e/testdata/Dockerfile.notary-server
Owners: none

update to go1.21.8
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update to go1.21.8
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

vendor: github.com/docker/docker 9e526bc3943c
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

chore: context usage in tests
  cmd/docker/builder_test.go
  cmd/docker/docker_test.go
Owners: none

vendor: github.com/docker/docker 061aa95809be396a6
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

bake: Add `windows/arm64` target to bin-image-cross
  docker-bake.hcl
Owners: none

bake: Add `windows/arm64` target to bin-image-cross
  docker-bake.hcl
Owners: none

chore: add more context
  cli-plugins/examples/helloworld/main.go
  cli-plugins/plugin/plugin.go
  cli/command/cli.go
  cli/command/cli_test.go
  cli/command/container/client_test.go
  cli/command/container/create.go
  cli/command/container/run.go
  cli/command/container/utils.go
  cli/command/context/create.go
  cli/command/context/create_test.go
  cli/command/context/list_test.go
  cli/command/context/options.go
  cli/command/context/update.go
  cli/command/context/update_test.go
  cli/command/context/use_test.go
  cli/command/image/build.go
  cli/command/plugin/install.go
  cli/command/registry.go
  cli/command/service/create.go
  cli/command/service/rollback.go
  cli/command/service/scale.go
  cli/command/service/update.go
  cli/command/stack/client_test.go
  cli/command/stack/swarm/client_test.go
  cli/command/stack/swarm/deploy.go
  cli/command/stack/swarm/remove.go
  cli/command/system/client_test.go
  cli/command/system/dial_stdio.go
  cli/command/system/prune.go
  cli/compose/convert/service.go
  cmd/docker/docker.go
  cmd/docker/otel.go
  e2e/cli-plugins/plugins/nopersistentprerun/main.go
  e2e/cli-plugins/plugins/presocket/main.go
  internal/test/cli.go
Owners: @silvin-lubecki

vendor: github.com/docker/docker f4c696eef17d62a42
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/github.com/docker/docker/api/types/volume/cluster_volume.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/github.com/docker/docker/client/container_exec.go
  vendor/github.com/docker/docker/client/container_restart.go
  vendor/github.com/docker/docker/client/container_stop.go
  vendor/github.com/docker/docker/client/container_wait.go
  vendor/github.com/docker/docker/client/errors.go
  vendor/github.com/docker/docker/client/image_list.go
  vendor/github.com/docker/docker/client/network_create.go
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/service_create.go
  vendor/github.com/docker/docker/client/service_update.go
  vendor/github.com/docker/docker/client/volume_remove.go
  vendor/github.com/docker/docker/registry/search.go
  vendor/modules.txt
Owners: none

docs: deprecate TCP connection without TLS
  docs/deprecated.md
Owners: @thaJeztah

vendor: github.com/docker/docker v26.0.0-rc2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

'docker daemon' flags refer to the default bridge
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

Describe an 'internal' network.
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

cli/command/container: use ping-result for OS-version
  cli/command/container/stats.go
Owners: none

cli/command: deprecate EventHandler and InitEventHandler
  cli/command/container/stats.go
  cli/command/events_utils.go
Owners: none

Dockerfile: update to xx 1.4.0
  Dockerfile
Owners: none

docs: clarify what the --privileged flag does
  docs/reference/commandline/container_exec.md
  docs/reference/commandline/container_run.md
  docs/reference/run.md
Owners: @thaJeztah

Set CGO_ENABLED=1 on riscv64
  scripts/build/.variables
Owners: none

deprecate legacy image formats
  docs/deprecated.md
Owners: @thaJeztah

docs: add description and link for --userns flag
  docs/reference/commandline/container_run.md
Owners: @thaJeztah

docs: typo fixes and other corrections
  docs/reference/commandline/image_build.md
  docs/reference/dockerd.md
  docs/reference/run.md
Owners: @thaJeztah

docs/deprecated: Deprecate Container fields in image inspect
  docs/deprecated.md
Owners: @thaJeztah

builder: correct the command path for docker build
  cmd/docker/builder.go
Owners: none

vendor: github.com/containerd/containerd v1.7.14
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

scripts/vendor: remove -compat=1.19
  scripts/vendor
Owners: none

vendor: github.com/docker/docker 70e46f2c7c2d (v26.0.0-rc3-dev)
  cli/command/image/testdata/inspect-command-success.simple-many.golden
  cli/command/image/testdata/inspect-command-success.simple.golden
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/types/types.go
  vendor/modules.txt
Owners: none

Dockerfile: update mvdan/gofumpt to v0.6.0
  Makefile
  cli/command/image/build/context_test.go
  cli/command/plugin/create.go
  dockerfiles/Dockerfile.dev
Owners: none

ci: fix CodeQL 2.16.4 autobuild
  .github/workflows/codeql.yml
Owners: none

ci: set DISABLE_WARN_OUTSIDE_CONTAINER=1 for CodeQL action
  .github/workflows/codeql.yml
Owners: none

docs/deprecated: update status of short cid alias deprecation
  docs/deprecated.md
Owners: @thaJeztah

vendor: github.com/docker/docker 330d777c53fb (v26.0.0-rc3-dev)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker e63daec8672d (v25.0.5-dev)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker 8b79278316b5 (master)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

test/ Improve test coverage in volume.go
  cli/compose/convert/compose_test.go
  cli/compose/convert/service_test.go
  cli/compose/convert/volume_test.go
  opts/network_test.go
  opts/opts_test.go
Owners: none

fix: flaky prompt termination on reader close test
  cli/command/utils_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
