Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

vendor: golang.org/x/time v0.0.0-20210723032227-1f47c861a9ac
  vendor.mod
  vendor.sum
  vendor/golang.org/x/time/rate/rate.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/swarmkit 616e8db4c3b0
  vendor.mod
  vendor.sum
  vendor/github.com/coreos/etcd/NOTICE
  vendor/github.com/coreos/etcd/raft/raftpb/raft.proto
  vendor/github.com/docker/swarmkit/api/api.pb.txt
  vendor/github.com/docker/swarmkit/api/control.pb.go
  vendor/github.com/docker/swarmkit/api/control.proto
  vendor/github.com/docker/swarmkit/api/dispatcher.pb.go
  vendor/github.com/docker/swarmkit/api/dispatcher.proto
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/objects.proto
  vendor/github.com/docker/swarmkit/api/raft.pb.go
  vendor/github.com/docker/swarmkit/api/raft.proto
  vendor/github.com/docker/swarmkit/api/snapshot.pb.go
  vendor/github.com/docker/swarmkit/api/snapshot.proto
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
  vendor/github.com/docker/swarmkit/api/watch.pb.go
  vendor/github.com/docker/swarmkit/api/watch.proto
  vendor/go.etcd.io/etcd/raft/v3/LICENSE
  vendor/go.etcd.io/etcd/raft/v3/raftpb/confchange.go
  vendor/go.etcd.io/etcd/raft/v3/raftpb/confstate.go
  vendor/go.etcd.io/etcd/raft/v3/raftpb/raft.pb.go
  vendor/go.etcd.io/etcd/raft/v3/raftpb/raft.proto
  vendor/modules.txt
Owners: none

Dockerfile: use syntax=docker/dockerfile:1
  Dockerfile
  dockerfiles/Dockerfile.authors
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.shellcheck
  dockerfiles/Dockerfile.vendor
Owners: none

vendor: golang.org/x/crypto v0.0.0-20220315160706-3147a52a75dd
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/modules.txt
Owners: none

Fixing a small typo
  vendor/golang.org/x/net/http2/transport.go
Owners: none

docs: hyphens are not dashes
  docs/reference/commandline/tag.md
Owners: @thaJeztah

vendor: github.com/containerd/containerd v1.6.2
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/errdefs/errors.go
  vendor/github.com/containerd/containerd/errdefs/grpc.go
  vendor/github.com/containerd/containerd/log/context.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_unsupported.go
  vendor/github.com/containerd/containerd/platforms/compare.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/platforms/database.go
  vendor/github.com/containerd/containerd/platforms/defaults.go
  vendor/github.com/containerd/containerd/platforms/defaults_darwin.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/platforms/platforms.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/fnv.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/time.go
  vendor/google.golang.org/genproto/googleapis/rpc/status/status.pb.go
  vendor/modules.txt
Owners: none

vendor: github.com/prometheus/client_golang v1.11.0
  vendor.mod
  vendor.sum
  vendor/github.com/prometheus/client_golang/prometheus/build_info.go
  vendor/github.com/prometheus/client_golang/prometheus/build_info_pre_1.12.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/expvar_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/delegator.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/http.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/registry.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/github.com/prometheus/client_golang/prometheus/value.go
  vendor/github.com/prometheus/client_golang/prometheus/vec.go
  vendor/github.com/prometheus/client_golang/prometheus/wrap.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/util/appcontext/appcontext.go
  vendor/github.com/moby/buildkit/util/appcontext/appcontext_unix.go
  vendor/github.com/moby/buildkit/util/appcontext/register.go
  vendor/github.com/prometheus/client_golang/prometheus/README.md
  vendor/github.com/prometheus/client_golang/prometheus/build_info_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/collector.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector_go116.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector_go117.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_other.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/option.go
  vendor/github.com/prometheus/client_golang/prometheus/value.go
  vendor/modules.txt
Owners: none

[WIP] test docker/docker vendor without rootlesskit dependency
  cli/cobra.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/changes.go
  vendor/github.com/docker/docker/pkg/archive/diff.go
  vendor/github.com/docker/docker/pkg/idtools/idtools.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/github.com/docker/docker/registry/config_unix.go
  vendor/github.com/docker/docker/registry/config_windows.go
  vendor/github.com/docker/docker/rootless/rootless.go
  vendor/github.com/rootless-containers/rootlesskit/LICENSE
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/api.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/client/client.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/openapi.yaml
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/port.go
  vendor/modules.txt
Owners: none

Dockerfile: update xx to 1.1
  Dockerfile
Owners: none

scripts/build: make sure osusergo is set for static with CGO enabled
  scripts/build/.variables
Owners: none

Dockerfile: use xx-apt-get instead of xx-apt
  Dockerfile
Owners: none

update go to 1.17.8
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

gofmt with go1.17
  cli-plugins/manager/manager_unix.go
  cli-plugins/manager/suffix_unix.go
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/image/build/context_unix.go
  cli/command/image/build/context_windows.go
  cli/config/configfile/file_unix.go
  cli/config/credentials/default_store_unsupported.go
  cli/connhelper/commandconn/commandconn_unix_test.go
  cli/connhelper/commandconn/pdeathsig_nolinux.go
  cli/connhelper/commandconn/session_unix.go
  docs/generate.go
  docs/tools.go
  man/generate.go
  man/tools.go
  opts/hosts_unix.go
  opts/hosts_windows.go
Owners: @thaJeztah

Added --current-user flag
  cli/command/container/opts.go
  cli/command/container/opts_test.go
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/run.md
Owners: @albers, @sdurrheimer, @thaJeztah

Change "COMPANY_NAME" to "PACKAGER_NAME"
  Dockerfile
  Makefile
  docker-bake.hcl
  docker.Makefile
  scripts/build/mkversioninfo
Owners: none

e2e: cleanup TestGlobalHelp() to be less brittle
  e2e/cli-plugins/help_test.go
Owners: none

Bump cobra to v1.4.0
  vendor.mod
  vendor.sum
  vendor/github.com/spf13/cobra/.travis.yml
  vendor/github.com/spf13/cobra/MAINTAINERS
  vendor/github.com/spf13/cobra/Makefile
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completions.md
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_notwin.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Owners: none

update run.md
  docs/reference/run.md
Owners: @thaJeztah

cli/command/container: unnecessary use of fmt.Sprintf (gosimple)
  cli/command/container/formatter_stats.go
Owners: none

linting: ignore some "G101: Potential hardcoded credentials" warnings
  cli/command/service/opts.go
  cli/config/credentials/native_store.go
Owners: none

linting: fix incorrectly formatted errors (revive)
  cli/command/config/formatter_test.go
  cli/command/config/inspect_test.go
  cli/command/container/create.go
  cli/command/container/create_test.go
  cli/command/container/formatter_stats_test.go
  cli/command/formatter/container_test.go
  cli/command/formatter/disk_usage_test.go
  cli/command/formatter/formatter.go
  cli/command/formatter/image_test.go
  cli/command/formatter/volume_test.go
  cli/command/image/build.go
  cli/command/inspect/inspector.go
  cli/command/inspect/inspector_test.go
  cli/command/network/formatter_test.go
  cli/command/node/formatter_test.go
  cli/command/plugin/formatter_test.go
  cli/command/plugin/inspect_test.go
  cli/command/plugin/list_test.go
  cli/command/registry/formatter_search_test.go
  cli/command/secret/formatter_test.go
  cli/command/secret/inspect_test.go
  cli/command/service/formatter_test.go
  cli/command/stack/formatter/formatter_test.go
  cli/command/stack/list_test.go
  cli/command/stack/loader/loader.go
  cli/command/stack/services_test.go
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/version.go
  cli/command/task/formatter_test.go
  cli/command/trust/formatter_test.go
  cli/command/volume/create.go
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/compose/interpolation/interpolation.go
  cli/compose/interpolation/interpolation_test.go
Owners: @silvin-lubecki

lint: update golangci-lint to v1.45.2
  .golangci.yml
  dockerfiles/Dockerfile.lint
Owners: none

Dockerfile: prefer ld for cross-compiling arm64 in bullseye
  Dockerfile
Owners: none

Update to debian bullseye
  .github/workflows/e2e.yml
  Dockerfile
  docker-bake.hcl
Owners: none

staticcheck: ignore SA1019: strings.Title is deprecated
  templates/templates.go
Owners: none

update go to 1.18.0
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

Fix flaky TestContainerList tests
  cli/command/container/testdata/container-list-without-format-no-trunc.golden
  cli/command/container/testdata/container-list-without-format.golden
  internal/test/builders/container.go
Owners: none

Dockerfile: update buildx to v0.8.1
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

docs: commandline/index.md: reformat tables
  docs/reference/commandline/index.md
Owners: @thaJeztah

search: change "the Docker Hub" to just "Docker Hub"
  cli/command/registry/search.go
  docs/reference/commandline/index.md
  docs/reference/commandline/search.md
Owners: @thaJeztah

search: remove client-side default for --limit
  cli/command/registry/search.go
  docs/reference/commandline/search.md
  man/src/search.md
Owners: @thaJeztah

docs: build: fix minor markdown and syntax issues
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: build: add named anchor tags for flags
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: fix (table) formatting, fix some broken links
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/context.md
  docs/reference/commandline/context_ls.md
  docs/reference/commandline/context_use.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/history.md
  docs/reference/commandline/images.md
  docs/reference/commandline/import.md
  docs/reference/commandline/index.md
  docs/reference/commandline/network_connect.md
  docs/reference/commandline/network_create.md
  docs/reference/commandline/network_ls.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_ps.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/search.md
  docs/reference/commandline/secret_ls.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_ls.md
  docs/reference/commandline/service_ps.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/stats.md
  docs/reference/commandline/system_df.md
  docs/reference/commandline/volume_ls.md
Owners: @thaJeztah

use client consts for environment variable names
  cli/command/cli.go
  cli/command/context/list.go
  cli/command/context/use.go
  cli/flags/common.go
  internal/test/environment/testenv.go
Owners: none

context: Endpoint.ClientOpts(): use client.WithVersionFromEnv()
  cli/context/docker/load.go
Owners: none

cli/registry/client: remove unused GetRegistryAuth()
  cli/registry/client/client.go
Owners: none

cli/registry/client: remove unused RegistryClient.GetTags()
  cli/command/manifest/client_test.go
  cli/registry/client/client.go
Owners: none
