Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

[completion/zsh] add volume completion
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

add missing capabilities
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

zsh completion: fixup detection of --cap-{add,drop}=ALL
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

zsh completion: complete capabilities after --cap-{add,drop}
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

zsh completion: review suggestions
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Follow up on changes in 190c64b41581029c44162f724a06e60227cb526f
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

config: print deprecation warning when falling back to ~/.dockercfg
  cli/config/config.go
  cli/config/config_test.go
  cmd/docker/docker_test.go
Owners: none

config: print deprecation warning when falling back to ~/.dockercfg
  cli/config/config.go
  cli/config/config_test.go
  cmd/docker/docker_test.go
Owners: none

docs: improve example for "remove all stopped containers"
  docs/reference/commandline/rm.md
Owners: @thaJeztah

docs: improve example for "remove all stopped containers"
  docs/reference/commandline/rm.md
Owners: @thaJeztah

Fix table formatting in man-pages
  vendor.conf
  vendor/github.com/cpuguy83/go-md2man/v2/go.mod
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
Owners: none

docs: remove trailing spaces to prevent yamldocs using "compact" notation
  docs/reference/commandline/rm.md
  docs/reference/commandline/service_ls.md
Owners: @thaJeztah

docs: remove trailing spaces to prevent yamldocs using "compact" notation
  docs/reference/commandline/rm.md
  docs/reference/commandline/service_ls.md
Owners: @thaJeztah

Test libcontainer changes (removal of Windows code)
  vendor.conf
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/go.mod
  vendor/github.com/opencontainers/runc/libcontainer/README.md
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/cloned_binary.c
  vendor/github.com/opencontainers/runc/libcontainer/user/lookup_windows.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
Owners: none

vendor: github.com/spf13/cobra v1.1.3
  vendor.conf
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/custom_completions.go
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/go.mod
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/zsh_completions.go
Owners: none

Update exec.md
  docs/reference/commandline/exec.md
Owners: @thaJeztah

Update grammar
  docs/reference/commandline/pull.md
Owners: @thaJeztah

config.Load() remove unneeded locks
  cli/config/config.go
Owners: none

clarify how -f affects .dockerignore
  docs/reference/commandline/build.md
Owners: @thaJeztah

vendor: github.com/theupdateframework/notary v0.7.0-21-gbf96a202
  vendor.conf
  vendor/github.com/theupdateframework/notary/go.mod
Owners: none

vendor: github.com/theupdateframework/notary v0.7.0
  vendor.conf
  vendor/github.com/agl/ed25519/LICENSE
  vendor/github.com/agl/ed25519/ed25519.go
  vendor/github.com/agl/ed25519/edwards25519/const.go
  vendor/github.com/agl/ed25519/edwards25519/edwards25519.go
  vendor/github.com/theupdateframework/notary/README.md
  vendor/github.com/theupdateframework/notary/client/changelist/file_changelist.go
  vendor/github.com/theupdateframework/notary/client/changelist/interface.go
  vendor/github.com/theupdateframework/notary/client/client.go
  vendor/github.com/theupdateframework/notary/client/delegations.go
  vendor/github.com/theupdateframework/notary/client/interface.go
  vendor/github.com/theupdateframework/notary/client/reader.go
  vendor/github.com/theupdateframework/notary/client/tufclient.go
  vendor/github.com/theupdateframework/notary/cryptoservice/crypto_service.go
  vendor/github.com/theupdateframework/notary/fips.go
  vendor/github.com/theupdateframework/notary/go.mod
  vendor/github.com/theupdateframework/notary/passphrase/passphrase.go
  vendor/github.com/theupdateframework/notary/storage/filestore.go
  vendor/github.com/theupdateframework/notary/storage/httpstore.go
  vendor/github.com/theupdateframework/notary/storage/interfaces.go
  vendor/github.com/theupdateframework/notary/tuf/builder.go
  vendor/github.com/theupdateframework/notary/tuf/data/keys.go
  vendor/github.com/theupdateframework/notary/tuf/data/roles.go
  vendor/github.com/theupdateframework/notary/tuf/data/snapshot.go
  vendor/github.com/theupdateframework/notary/tuf/data/targets.go
  vendor/github.com/theupdateframework/notary/tuf/data/types.go
  vendor/github.com/theupdateframework/notary/tuf/signed/interface.go
  vendor/github.com/theupdateframework/notary/tuf/signed/sign.go
  vendor/github.com/theupdateframework/notary/tuf/signed/verifiers.go
  vendor/github.com/theupdateframework/notary/tuf/utils/pkcs8.go
  vendor/github.com/theupdateframework/notary/tuf/utils/utils.go
  vendor/github.com/theupdateframework/notary/tuf/utils/x509.go
  vendor/github.com/theupdateframework/notary/vendor.conf
Owners: none

vendor: update notary to 5f1f4a34
  vendor.conf
  vendor/github.com/theupdateframework/notary/go.mod
  vendor/github.com/theupdateframework/notary/trustmanager/yubikey/pkcs11_darwin.go
Owners: none

vendor: github.com/theupdateframework/notary v0.7.0-21-gbf96a202
  vendor.conf
  vendor/github.com/theupdateframework/notary/go.mod
Owners: none

config.Load() remove unneeded locks
  cli/config/config.go
Owners: none

Update stop.md
  docs/reference/commandline/stop.md
Owners: @thaJeztah

Use SOURCE_DATE_EPOCH for build reproducibility
  scripts/build/.variables
Owners: none

dockerfile based binary building
  .dockerignore
  Dockerfile
  docker-bake.hcl
  scripts/build/.variables
  scripts/build/binary
  scripts/build/cross
  scripts/build/dynbinary
  scripts/build/osx
Owners: none

update windows resources generation
  .gitignore
  Dockerfile
  cli/winresources/res_windows.go
  scripts/build/binary
  scripts/build/windows
  scripts/gen/windows-resources
Owners: none

add windows/arm64 target
  Dockerfile
  docker-bake.hcl
Owners: none

update circleci cross target
  .circleci/config.yml
  docker-bake.hcl
Owners: none

set default version from git
  scripts/build/.variables
Owners: none

remove unused targets
  Makefile
  docker.Makefile
Owners: none

update readme with new examples
  README.md
Owners: none

update circleci cross target
  .circleci/config.yml
  docker-bake.hcl
Owners: none

add windows/arm64 target
  Dockerfile
  docker-bake.hcl
Owners: none

dockerfile based binary building
  .dockerignore
  Dockerfile
  docker-bake.hcl
  scripts/build/.variables
  scripts/build/binary
  scripts/build/cross
  scripts/build/dynbinary
  scripts/build/osx
Owners: none

update readme with new examples
  README.md
Owners: none

set default version from git
  scripts/build/.variables
Owners: none

remove unused targets
  Makefile
  docker.Makefile
Owners: none

update windows resources generation
  .gitignore
  Dockerfile
  cli/winresources/res_windows.go
  scripts/build/binary
  scripts/build/windows
  scripts/gen/windows-resources
Owners: none
