Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

vendor: moby/term, Azure/go-ansiterm for golang.org/x/sys/windows compat
  vendor.conf
  vendor/github.com/Azure/go-ansiterm/go.mod
  vendor/github.com/Azure/go-ansiterm/winterm/ansi.go
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/windows/console.go
Owners: none

vendor: github.com/gogo/protobuf v1.3.2
  vendor.conf
  vendor/github.com/gogo/protobuf/Readme.md
  vendor/github.com/gogo/protobuf/go.mod
  vendor/github.com/gogo/protobuf/proto/text_parser.go
  vendor/github.com/gogo/protobuf/types/any.pb.go
  vendor/github.com/gogo/protobuf/types/api.pb.go
  vendor/github.com/gogo/protobuf/types/duration.pb.go
  vendor/github.com/gogo/protobuf/types/empty.pb.go
  vendor/github.com/gogo/protobuf/types/field_mask.pb.go
  vendor/github.com/gogo/protobuf/types/source_context.pb.go
  vendor/github.com/gogo/protobuf/types/struct.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp.pb.go
  vendor/github.com/gogo/protobuf/types/type.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers.pb.go
Owners: none

vendor: github.com/moby/sys mountinfo/v0.4.1
  vendor.conf
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/mount/mounter_freebsd.go
  vendor/github.com/moby/sys/mount/mounter_openbsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_filters.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/github.com/moby/sys/symlink/go.mod
Owners: none

vendor: github.com/modern-go/reflect2 v1.0.1
  vendor.conf
  vendor/github.com/modern-go/reflect2/type_map.go
Owners: none

vendor: golang.org/x/crypto 0c34fe9e7dc2486962ef9867e3edb3503537209f
  vendor.conf
  vendor/golang.org/x/crypto/README.md
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/go.mod
  vendor/golang.org/x/crypto/internal/subtle/aliasing.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing_purego.go
  vendor/golang.org/x/crypto/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/ssh/server.go
Owners: none

vendor: golang.org/x/net e18ecbb051101a46fc263334b127c89bc7bff7ea
  vendor.conf
  vendor/golang.org/x/net/README.md
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/go.mod
  vendor/golang.org/x/net/http2/go111.go
  vendor/golang.org/x/net/http2/not_go111.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/tables10.0.0.go
  vendor/golang.org/x/net/idna/tables12.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/golang.org/x/net/idna/tables9.0.0.go
Owners: none

vendor: golang.org/x/sync 036812b2e83c0ddf193dd5a34e034151da389d09
  vendor.conf
  vendor/golang.org/x/sync/README.md
Owners: none

vendor: golang.org/x/time 3af7569d3a1e776fc2a3c1cec133b43105ea9c2e
  vendor.conf
  vendor/golang.org/x/time/rate/rate.go
Owners: none

vendor.conf: sort alphabetically
  vendor.conf
Owners: none

vendor: github.com/containerd/cgroups v1.0.1
  vendor.conf
  vendor/github.com/containerd/cgroups/go.mod
  vendor/github.com/containerd/cgroups/stats/v1/metrics.pb.go
Owners: none

vendor: github.com/containerd/console v1.0.2
  vendor.conf
  vendor/github.com/containerd/console/README.md
  vendor/github.com/containerd/console/console_unix.go
  vendor/github.com/containerd/console/go.mod
  vendor/github.com/containerd/console/pty_freebsd_cgo.go
  vendor/github.com/containerd/console/pty_freebsd_nocgo.go
  vendor/github.com/containerd/console/pty_unix.go
  vendor/github.com/containerd/console/tc_freebsd_cgo.go
  vendor/github.com/containerd/console/tc_freebsd_nocgo.go
Owners: none

vendor: github.com/containerd/continuity v0.1.0
  vendor.conf
  vendor/github.com/containerd/continuity/README.md
  vendor/github.com/containerd/continuity/go.mod
Owners: none

vendor: github.com/containerd/typeurl v1.0.2
  vendor.conf
  vendor/github.com/containerd/typeurl/README.md
  vendor/github.com/containerd/typeurl/go.mod
  vendor/github.com/containerd/typeurl/types.go
Owners: none

vendor: github.com/json-iterator/go v1.1.10
  vendor.conf
  vendor/github.com/json-iterator/go/README.md
  vendor/github.com/json-iterator/go/adapter.go
  vendor/github.com/json-iterator/go/any_str.go
  vendor/github.com/json-iterator/go/config.go
  vendor/github.com/json-iterator/go/go.mod
  vendor/github.com/json-iterator/go/iter.go
  vendor/github.com/json-iterator/go/iter_array.go
  vendor/github.com/json-iterator/go/iter_object.go
  vendor/github.com/json-iterator/go/iter_skip.go
  vendor/github.com/json-iterator/go/iter_skip_sloppy.go
  vendor/github.com/json-iterator/go/reflect.go
  vendor/github.com/json-iterator/go/reflect_extension.go
  vendor/github.com/json-iterator/go/reflect_map.go
  vendor/github.com/json-iterator/go/reflect_marshaler.go
  vendor/github.com/json-iterator/go/reflect_native.go
  vendor/github.com/json-iterator/go/reflect_optional.go
  vendor/github.com/json-iterator/go/reflect_struct_decoder.go
  vendor/github.com/json-iterator/go/reflect_struct_encoder.go
  vendor/github.com/json-iterator/go/stream.go
  vendor/github.com/json-iterator/go/stream_float.go
Owners: none

vendor: github.com/Microsoft/go-winio v0.4.19
  vendor.conf
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/go.mod
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/pipe.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/privilege.go
  vendor/github.com/Microsoft/go-winio/syscall.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd_windows.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
Owners: none

vendor: github.com/opencontainers/runc v1.0.0-rc95
  vendor.conf
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/go.mod
  vendor/github.com/opencontainers/runc/libcontainer/README.md
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/cloned_binary.c
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/escape.c
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/test/escape.c
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/test/escape.go
  vendor/github.com/opencontainers/runc/libcontainer/user/lookup.go
  vendor/github.com/opencontainers/runc/libcontainer/user/lookup_unix.go
  vendor/github.com/opencontainers/runc/libcontainer/user/lookup_windows.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user_fuzzer.go
Owners: none

vendor: github.com/tonistiigi/fsutil d72af97c0eaf93c1d20360e3cb9c63c223675b83
  vendor.conf
  vendor/github.com/tonistiigi/fsutil/diff_containerd.go
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/github.com/tonistiigi/fsutil/prefix/match.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/github.com/tonistiigi/fsutil/walker.go
Owners: none

vendor: github.com/coreos/etcd v3.3.25
  vendor.conf
  vendor/github.com/coreos/etcd/raft/raftpb/raft.pb.go
Owners: none

vendor: github.com/containerd/containerd v1.5.2
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/api/services/content/v1/content.pb.go
  vendor/github.com/containerd/containerd/api/services/content/v1/content.proto
  vendor/github.com/containerd/containerd/content/adaptor.go
  vendor/github.com/containerd/containerd/content/content.go
  vendor/github.com/containerd/containerd/content/local/locks.go
  vendor/github.com/containerd/containerd/content/local/readerat.go
  vendor/github.com/containerd/containerd/content/local/store.go
  vendor/github.com/containerd/containerd/content/local/store_unix.go
  vendor/github.com/containerd/containerd/content/proxy/content_writer.go
  vendor/github.com/containerd/containerd/defaults/defaults_unix.go
  vendor/github.com/containerd/containerd/defaults/defaults_windows.go
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/log/context.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_linux.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_unsupported.go
  vendor/github.com/containerd/containerd/platforms/compare.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/platforms/defaults.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/platforms/platforms.go
  vendor/github.com/containerd/containerd/remotes/docker/auth/fetch.go
  vendor/github.com/containerd/containerd/remotes/errors/errors.go
  vendor/github.com/containerd/containerd/sys/filesys_windows.go
  vendor/github.com/containerd/containerd/sys/oom_linux.go
  vendor/github.com/containerd/containerd/sys/oom_unix.go
  vendor/github.com/containerd/containerd/sys/oom_unsupported.go
  vendor/github.com/containerd/containerd/sys/stat_openbsd.go
  vendor/github.com/containerd/containerd/sys/userns_deprecated.go
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

vendor: github.com/docker/swarmkit 2dcf70aafdc9ea55af3aaaeca440638cde0ecda6
  vendor.conf
  vendor/github.com/docker/swarmkit/api/ca.pb.go
  vendor/github.com/docker/swarmkit/api/control.pb.go
  vendor/github.com/docker/swarmkit/api/dispatcher.pb.go
  vendor/github.com/docker/swarmkit/api/health.pb.go
  vendor/github.com/docker/swarmkit/api/logbroker.pb.go
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/raft.pb.go
  vendor/github.com/docker/swarmkit/api/resource.pb.go
  vendor/github.com/docker/swarmkit/api/snapshot.pb.go
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/watch.pb.go
  vendor/github.com/docker/swarmkit/protobuf/plugin/plugin.pb.go
  vendor/github.com/docker/swarmkit/vendor.conf
Owners: none

UX: don't reverse progress-bars when rolling back
  cli/command/service/progress/progress.go
Owners: none

vendor: github.com/docker/docker-credential-helpers v0.6.4
  vendor.conf
  vendor/github.com/docker/docker-credential-helpers/credentials/version.go
Owners: none

Add completion for docker-compose plugin
  contrib/completion/bash/docker
Owners: @albers

Update build.md
  docs/reference/commandline/build.md
Owners: @thaJeztah

Document `--validate` daemon option
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/dockerd.md
  man/dockerd.8.md
Owners: @albers, @sdurrheimer, @thaJeztah

WIP: Add cluster volume support
  cli/command/clustervolume/client_test.go
  cli/command/clustervolume/cmd.go
  cli/command/clustervolume/create.go
  cli/command/clustervolume/driver.go
  cli/command/clustervolume/formatter.go
  cli/command/clustervolume/formatter_test.go
  cli/command/clustervolume/inspect.go
  cli/command/clustervolume/ls.go
  cli/command/clustervolume/opts.go
  cli/command/clustervolume/remove.go
  cli/command/clustervolume/update.go
  cli/command/commands/commands.go
  vendor.conf
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/cluster_volume.go
  vendor/github.com/docker/docker/api/types/mount/mount.go
  vendor/github.com/docker/docker/api/types/swarm/node.go
  vendor/github.com/docker/docker/api/types/swarm/swarm.go
  vendor/github.com/docker/docker/api/types/swarm/task.go
  vendor/github.com/docker/docker/api/types/swarm/volume.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/api/types/volume.go
  vendor/github.com/docker/docker/api/types/volume/volume_create.go
  vendor/github.com/docker/docker/client/cluster_volumes.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/fileutils/fileutils.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_windows.go
  vendor/github.com/docker/docker/pkg/signal/signal.go
  vendor/github.com/docker/docker/pkg/system/lcow.go
  vendor/github.com/docker/docker/pkg/system/lcow_unsupported.go
  vendor/github.com/docker/docker/pkg/system/path.go
  vendor/github.com/docker/docker/pkg/system/path_unix.go
  vendor/github.com/docker/docker/pkg/system/path_windows.go
  vendor/github.com/docker/docker/pkg/system/stat_linux.go
  vendor/github.com/docker/docker/pkg/system/syscall_unix.go
  vendor/github.com/docker/docker/pkg/system/syscall_windows.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Write test for cluster volumes
  cli/command/formatter/volume.go
  cli/command/volume/list.go
  cli/command/volume/list_test.go
  cli/command/volume/testdata/volume-cluster-volume-list.golden
Owners: none

Add inspect test, add update command
  cli/command/volume/cmd.go
  cli/command/volume/inspect_test.go
  cli/command/volume/testdata/volume-inspect-cluster.golden
Owners: none

Move cluster volumes CLI to the old CLI
  cli/command/formatter/volume.go
  cli/command/volume/create.go
  cli/command/volume/list.go
  cli/command/volume/update.go
Owners: none

update vendoring, finish update command
  cli/command/commands/commands.go
  cli/command/formatter/volume.go
  cli/command/volume/list_test.go
  cli/command/volume/update.go
  vendor.conf
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/cluster_volume.go
  vendor/github.com/docker/docker/api/types/swarm/node.go
  vendor/github.com/docker/docker/api/types/swarm/task.go
  vendor/github.com/docker/docker/api/types/swarm/volume.go
  vendor/github.com/docker/docker/api/types/volume.go
  vendor/github.com/docker/docker/api/types/volume/volume_update.go
  vendor/github.com/docker/docker/client/cluster_volumes.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/volume_update.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/fileutils/fileutils.go
  vendor/github.com/docker/docker/pkg/signal/signal.go
  vendor/github.com/docker/docker/pkg/system/lcow.go
  vendor/github.com/docker/docker/pkg/system/lcow_unsupported.go
  vendor/github.com/docker/docker/pkg/system/path.go
  vendor/github.com/docker/docker/pkg/system/path_unix.go
  vendor/github.com/docker/docker/pkg/system/path_windows.go
  vendor/github.com/docker/docker/pkg/system/stat_linux.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Remove temp cluster volume subcommand
  cli/command/clustervolume/client_test.go
  cli/command/clustervolume/cmd.go
  cli/command/clustervolume/create.go
  cli/command/clustervolume/driver.go
  cli/command/clustervolume/formatter.go
  cli/command/clustervolume/formatter_test.go
  cli/command/clustervolume/inspect.go
  cli/command/clustervolume/ls.go
  cli/command/clustervolume/opts.go
  cli/command/clustervolume/remove.go
  cli/command/clustervolume/update.go
Owners: none

Cleaned up formatting/typesetting.
  man/src/container/attach.md
Owners: none

Bolded SIGKILL & fixed backslash escaping.
  man/src/container/attach.md
Owners: none

Updated docker attach example.
  man/src/container/attach.md
Owners: none

Fix the (dead) link for docs for Dockerfile syntax reference
  docs/reference/builder.md
Owners: @thaJeztah

Deprecate Kubernetes stack support
  docs/deprecated.md
Owners: @thaJeztah

Deprecate Kubernetes context support
  cli/command/context/create.go
  cli/command/context/export.go
  cli/command/context/update.go
  docs/deprecated.md
Owners: @thaJeztah

Deprecate Kubernetes stack support
  cli/command/stack/cmd.go
  cli/command/stack/kubernetes/cli.go
  cli/command/stack/list.go
  cli/command/system/version.go
  docs/yaml/yaml.go
Owners: @silvin-lubecki, @thaJeztah

Update dockerd.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Continue adding cluster volume code
  cli/command/volume/create.go
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/command/volume/list.go
  cli/command/volume/list_test.go
  cli/command/volume/testdata/volume-inspect-cluster.golden
  cli/command/volume/update.go
Owners: none
