Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

NewAPIClientFromFlags: rename variable to not collide with import
  cli/command/cli.go
Owners: none

Implement WithDefaultContextStoreConfig() DockerCliOption
  cli/command/cli.go
  cli/command/cli_options.go
Owners: none

remove alias for cli/config imports
  cli/cobra.go
  cli/command/cli.go
  cli/command/cli_test.go
  cli/flags/common.go
  cli/flags/common_test.go
  cli/trust/trust.go
Owners: none

use consistent alias for api/types/registry
  cli/command/registry/formatter_search.go
  cli/command/system/info_test.go
Owners: none

remove unneeded "digest" alias for "go-digest"
  cli/command/image/trust.go
  cli/command/manifest/inspect_test.go
  cli/context/store/store.go
  cli/manifest/store/store.go
  cli/registry/client/fetcher.go
  cli/trust/trust.go
  cli/trust/trust_test.go
Owners: none

Remove ClientInfo as it is not practically used.
  cli/command/cli.go
  cli/command/cli_test.go
  cmd/docker/docker.go
  internal/test/cli.go
Owners: none

[20.10] update to go 1.16.15 to address CVE-2022-24921
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

Allow sharing UTS namespace of another container
  cli/command/container/opts_test.go
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
  docs/reference/run.md
  man/docker-run.1.md
Owners: @albers, @thaJeztah

vendor: github.com/Microsoft/go-winio v0.5.1
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/fileinfo.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/image-spec v1.0.2
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

improve cp documentation with some illustration examples
  docs/reference/commandline/cp.md
Owners: @thaJeztah

vendor: github.com/containerd/containerd v1.5.10
  vendor.mod
  vendor.sum
  vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  vendor/google.golang.org/protobuf/internal/encoding/text/encode.go
  vendor/google.golang.org/protobuf/internal/impl/legacy_message.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protoregistry/registry.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/modules.txt
Owners: none

vendor: github.com/coreos/etcd v3.3.27
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/google/go-cmp v0.5.7
  vendor.mod
  vendor.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/value/name.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/sys/signal v0.7.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/signal/signal_windows.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.3.7
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/secure/bidirule/bidirule10.0.0.go
  vendor/golang.org/x/text/secure/bidirule/bidirule9.0.0.go
  vendor/golang.org/x/text/unicode/bidi/bidi.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/bidi/tables10.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables11.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables13.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables9.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables10.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables11.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables9.0.0.go
  vendor/golang.org/x/text/width/tables10.0.0.go
  vendor/golang.org/x/text/width/tables11.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
  vendor/golang.org/x/text/width/tables13.0.0.go
  vendor/golang.org/x/text/width/tables9.0.0.go
  vendor/modules.txt
Owners: none

vendor: github.com/prometheus/common v0.10.0
  vendor.mod
  vendor.sum
  vendor/github.com/prometheus/common/model/time.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/distribution v2.8.1
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.gometalinter.json
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/.travis.yml
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/README.md
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/manifest/manifestlist/manifestlist.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/vendor.conf
  vendor/modules.txt
Owners: none

align wording of push --all-tags parameter description
  cli/command/image/push.go
  contrib/completion/zsh/_docker
  docs/reference/commandline/push.md
  man/src/image/push.md
Owners: @sdurrheimer, @thaJeztah

docs: dockerd: fix broken link in blockquote area
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

use "github.com/WeiZhang555/tabwriter" to support non-Latin rune size
  cli/command/container/top.go
  cli/command/context/create.go
  cli/command/context/update.go
  cli/command/formatter/formatter.go
  cli/command/system/version.go
  vendor.mod
  vendor.sum
  vendor/github.com/WeiZhang555/tabwriter/LICENSE
  vendor/github.com/WeiZhang555/tabwriter/README.md
  vendor/github.com/WeiZhang555/tabwriter/tabwriter.go
  vendor/github.com/mattn/go-runewidth/.travis.yml
  vendor/github.com/mattn/go-runewidth/LICENSE
  vendor/github.com/mattn/go-runewidth/README.mkd
  vendor/github.com/mattn/go-runewidth/runewidth.go
  vendor/github.com/mattn/go-runewidth/runewidth_js.go
  vendor/github.com/mattn/go-runewidth/runewidth_posix.go
  vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  vendor/modules.txt
Owners: none

Handle relative source mounts
  cli/command/container/opts.go
  opts/mount.go
  opts/mount_test.go
Owners: none

docs: remove note about buildkit not supporting git subdirectories
  docs/reference/commandline/build.md
Owners: @thaJeztah

search: do not sort results by stars on client side
  cli/command/registry/search.go
Owners: none

Add specific "json" value to format flag with inspect commands to output json, as empty flag does. Added tests on that new behavior.
  cli/command/inspect/inspector.go
  cli/command/inspect/inspector_test.go
Owners: none

Add "json" as default value to format flag in all inspect commands.
  cli/command/config/inspect.go
  cli/command/container/inspect.go
  cli/command/context/inspect.go
  cli/command/image/inspect.go
  cli/command/network/inspect.go
  cli/command/node/inspect.go
  cli/command/plugin/inspect.go
  cli/command/secret/inspect.go
  cli/command/service/inspect.go
  cli/command/system/inspect.go
  cli/command/volume/inspect.go
  cli/flags/common.go
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/context_inspect.md
  docs/reference/commandline/network_inspect.md
  docs/reference/commandline/node_inspect.md
  docs/reference/commandline/plugin_inspect.md
  docs/reference/commandline/secret_inspect.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/volume_inspect.md
Owners: @thaJeztah

Added "json" as specific value for --format flag in list commands, as an alias to `{{json .}}`
  cli/command/formatter/formatter.go
  cli/command/formatter/formatter_test.go
Owners: none

Update list commands with better format flag description
  cli/command/config/ls.go
  cli/command/container/list.go
  cli/command/container/stats.go
  cli/command/context/list.go
  cli/command/image/history.go
  cli/command/image/list.go
  cli/command/network/list.go
  cli/command/node/list.go
  cli/command/plugin/list.go
  cli/command/secret/ls.go
  cli/command/service/list.go
  cli/command/stack/list.go
  cli/command/stack/ps.go
  cli/command/stack/services.go
  cli/command/system/df.go
  cli/command/volume/list.go
  cli/flags/common.go
Owners: @silvin-lubecki

Update man pages
  man/src/container/ls.md
  man/src/container/stats.md
  man/src/image/ls.md
  man/src/plugin/ls.md
Owners: none

Update reference documentation
  docs/reference/commandline/context_ls.md
  docs/reference/commandline/images.md
  docs/reference/commandline/info.md
  docs/reference/commandline/network_ls.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/secret_ls.md
  docs/reference/commandline/service_ls.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/system_df.md
  docs/reference/commandline/volume_ls.md
Owners: @thaJeztah

Update shell completion scripts
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Output compact JSON by default for --format=json
  cli/command/config/inspect.go
  cli/command/container/inspect.go
  cli/command/context/inspect.go
  cli/command/image/inspect.go
  cli/command/inspect/inspector.go
  cli/command/inspect/inspector_test.go
  cli/command/network/inspect.go
  cli/command/node/inspect.go
  cli/command/plugin/inspect.go
  cli/command/secret/inspect.go
  cli/command/service/inspect.go
  cli/command/system/inspect.go
  cli/command/volume/inspect.go
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/context_inspect.md
  docs/reference/commandline/info.md
  docs/reference/commandline/network_inspect.md
  docs/reference/commandline/node_inspect.md
  docs/reference/commandline/plugin_inspect.md
  docs/reference/commandline/secret_inspect.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/volume_inspect.md
Owners: @thaJeztah

registry: don't call "/info" API endpoint to get default registry
  cli/command/registry.go
  cli/command/registry/login.go
  cli/command/registry/logout.go
  cli/command/registry_test.go
Owners: none

Fix CMD --ignored-param1 example
  docs/reference/builder.md
Owners: @thaJeztah

vendor: github.com/cespare/xxhash v2.1.2
  vendor.mod
  vendor.sum
  vendor/github.com/cespare/xxhash/v2/.travis.yml
  vendor/github.com/cespare/xxhash/v2/README.md
  vendor/github.com/cespare/xxhash/v2/xxhash.go
  vendor/github.com/cespare/xxhash/v2/xxhash_amd64.s
  vendor/github.com/cespare/xxhash/v2/xxhash_unsafe.go
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.15.0
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fuzz.go
  vendor/github.com/klauspost/compress/zstd/fuzz_none.go
  vendor/github.com/klauspost/compress/zstd/history.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/user/lookup_unix.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user_fuzzer.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.0.0-20211216030914-fe4d6282115f
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http/httpguts/httplex.go
  vendor/golang.org/x/net/http2/Dockerfile
  vendor/golang.org/x/net/http2/README
  vendor/golang.org/x/net/http2/ascii.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/go115.go
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/not_go115.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.0.0-20211202192323-5770296d904e
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.0.0-20210615171337-6886f2dfbf5b
  vendor.mod
  vendor.sum
  vendor/golang.org/x/term/README.md
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/go.sum
  vendor/golang.org/x/term/term.go
  vendor/golang.org/x/term/term_solaris.go
  vendor/golang.org/x/term/term_unix.go
  vendor/golang.org/x/term/term_unix_bsd.go
  vendor/golang.org/x/term/term_unix_linux.go
  vendor/golang.org/x/term/term_unix_other.go
  vendor/golang.org/x/term/term_unix_zos.go
  vendor/golang.org/x/term/term_unsupported.go
  vendor/modules.txt
Owners: none
