Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

vendor: github.com/containerd/cgroups 318312a373405e5e91134d8063d04d59768a1bff
  vendor.conf
  vendor/github.com/containerd/cgroups/README.md
  vendor/github.com/containerd/cgroups/go.mod
Owners: none

vendor: github.com/golang/protobuf v1.3.5
  vendor.conf
  vendor/github.com/golang/protobuf/go.mod
  vendor/github.com/golang/protobuf/ptypes/any/any.pb.go
  vendor/github.com/golang/protobuf/ptypes/any/any.proto
  vendor/github.com/golang/protobuf/ptypes/duration/duration.pb.go
  vendor/github.com/golang/protobuf/ptypes/duration/duration.proto
  vendor/github.com/golang/protobuf/ptypes/timestamp/timestamp.pb.go
  vendor/github.com/golang/protobuf/ptypes/timestamp/timestamp.proto
Owners: none

vendor: buildkit 4d1f260e8490ec438ab66e08bb105577aca0ce06
  cli/command/image/build_buildkit.go
  cli/command/image/build_test.go
  vendor.conf
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/session/auth/auth.go
  vendor/github.com/moby/buildkit/session/context.go
  vendor/github.com/moby/buildkit/session/group.go
  vendor/github.com/moby/buildkit/session/secrets/secretsprovider/file.go
  vendor/github.com/moby/buildkit/session/secrets/secretsprovider/store.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/util/progress/progressui/display.go
Owners: none

Service cap-add/cap-drop: add special "RESET" value
  cli/command/service/update.go
  cli/command/service/update_test.go
  contrib/completion/bash/docker
  opts/capabilities.go
Owners: @albers

opts/UlimitOpt: sort lists by name
  opts/ulimit.go
  opts/ulimit_test.go
Owners: none

Add ulimits option to docker service create/update/inspect
  cli/command/service/create.go
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  contrib/completion/bash/docker
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_update.md
Owners: @albers, @thaJeztah

Support ulimits in docker stack deploy
  cli/compose/convert/service.go
  cli/compose/types/types.go
Owners: none

CircleCI: update to docker 19.03.12
  .circleci/config.yml
Owners: none

Improve bash completion for ulimits
  contrib/completion/bash/docker
Owners: @albers

docs/build: add note about git subdirectories with BuildKit
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs/build: add note about git subdirectories with BuildKit
  docs/reference/commandline/build.md
Owners: @thaJeztah

[19.03] vendor: tonistiigi/fsutil v0.0.0-20191018213012-0f039a052ca1
  vendor.conf
  vendor/github.com/tonistiigi/fsutil/diff.go
  vendor/github.com/tonistiigi/fsutil/diff_containerd.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/github.com/tonistiigi/fsutil/types/stat.go
Owners: none

[19.03] vendor: buildkit v0.6.4-32-gdf89d4dc
  vendor.conf
  vendor/github.com/moby/buildkit/frontend/gateway/pb/caps.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.go
  vendor/github.com/moby/buildkit/session/sshforward/sshprovider/agentprovider.go
  vendor/github.com/moby/buildkit/util/progress/progressui/display.go
Owners: none

[19.03] vendor: stop using docker/engine fork for vendoring
  vendor.conf
Owners: none

Subcommand `docker manifest rm`
  cli/command/manifest/cmd.go
  cli/command/manifest/rm.go
  cli/command/manifest/rm_test.go
  contrib/completion/bash/docker
Owners: @albers

docs: sort list of capabilities alphabetically
  docs/reference/run.md
Owners: @thaJeztah

docs: document optional "CAP_" prefix for capabilities
  docs/reference/run.md
Owners: @thaJeztah

docs: document CAP_AUDIT_READ
  docs/reference/run.md
Owners: @thaJeztah

Bash-completion: add CAP_AUDIT_READ
  contrib/completion/bash/docker
Owners: @albers

Complete capabilites with and without "CAP_" prefix.
  contrib/completion/bash/docker
Owners: @albers

docs: resize capabilities table
  docs/reference/run.md
Owners: @thaJeztah

docs: add link to linux kernel source code for capabilities
  docs/reference/run.md
Owners: @thaJeztah

Add docs and bash-completion for new Linux capabilities
  contrib/completion/bash/docker
  docs/reference/run.md
Owners: @albers, @thaJeztah

Fix typo
  contrib/completion/bash/docker
Owners: @albers

docs: sort list of capabilities alphabetically
  docs/reference/run.md
Owners: @thaJeztah

docs: document optional "CAP_" prefix for capabilities
  docs/reference/run.md
Owners: @thaJeztah

docs: document CAP_AUDIT_READ
  docs/reference/run.md
Owners: @thaJeztah

Bash-completion: add CAP_AUDIT_READ
  contrib/completion/bash/docker
Owners: @albers

vendor: docker/docker 7f7e4abb331a2973cfb3223710cc35a3e476b1b3
  vendor.conf
  vendor/github.com/docker/docker/pkg/system/stat_bsd.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: github.com/containerd/containerd v1.4.1
  vendor.conf
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

Fix 2 typos Consecutive occurrences of 'the'
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

Fix buildkit flags not being hidden without buildkit enabled
  cmd/docker/docker.go
Owners: none

Add .IPAddresses as formatting option on docker ps
  cli/command/formatter/container.go
  cli/command/formatter/container_test.go
  docs/reference/commandline/ps.md
Owners: @thaJeztah

WIP Fix test
  cli/command/formatter/container_test.go
Owners: none

build: remove PersistentPreRunE hack for experimental --stream
  cli/command/image/build.go
Owners: none

builder: rephrase ENV section, remove examples for ENV key value without '='
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/import.md
  e2e/image/build_test.go
  man/Dockerfile.5.md
  man/src/container/commit.md
  man/src/image/import.md
Owners: @thaJeztah

builder: add note about alternative syntax
  docs/reference/builder.md
Owners: @thaJeztah

Add test-case for env with, and without =
  cli/command/image/import_test.go
Owners: none

deprecate Dockerfile legacy 'ENV name value' syntax
  docs/deprecated.md
Owners: @thaJeztah

Fix make -f docker.Makefile without buildkit enabled
  Jenkinsfile
  docker.Makefile
Owners: none
