Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

Stack: Support cap_add, cap_drop and privileged on services
  cli/compose/convert/service.go
  cli/compose/types/types.go
Owners: none

Re-vendor moby with caps
  vendor/github.com/docker/docker/oci/caps/utils.go
Owners: none

Cli: Support --cap-add, --cap-drop and --privileged on services
  cli/command/service/create.go
  cli/command/service/opts.go
  cli/command/service/opts_test.go
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

Fixing some links and deleting an older page reference
  docs/reference/builder.md
Owners: @thaJeztah

Create go.yml
  .github/workflows/go.yml
Owners: none

Create azure.yml
  .github/workflows/azure.yml
Owners: none

Maintainers file: remove "docs maintainers" section
  MAINTAINERS
Owners: none

Move Daniel to alumni
  MAINTAINERS
Owners: none

Maintainers: remove Justin and Aaron
  MAINTAINERS
Owners: none

builder/remotecontext: allow ssh:// urls for remote context
  cli/command/image/build/internal/git/gitutils.go
  cli/command/image/build/internal/git/gitutils_test.go
Owners: none

Modify docs to specify working of device flag
  docs/reference/commandline/run.md
Owners: @thaJeztah

Improve service tasks grouping on printing
  cli/command/task/print.go
Owners: none

Improve service tasks grouping on printing
  cli/command/task/print.go
Owners: none

Remove experimental "deploy" from "dab" files
  cli/command/bundlefile/bundlefile.go
  cli/command/bundlefile/bundlefile_test.go
  cli/command/commands/commands.go
  cli/command/stack/cmd.go
  cli/command/stack/deploy.go
  cli/command/stack/loader/loader.go
  cli/command/stack/options/opts.go
  cli/command/stack/swarm/deploy_bundlefile.go
  cli/command/stack/swarm/deploy_bundlefile_test.go
  cli/command/stack/swarm/testdata/bundlefile_with_two_services.dab
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/deploy.md
  docs/reference/commandline/stack_deploy.md
  e2e/stack/testdata/stack-deploy-help-swarm.golden
  experimental/README.md
  experimental/docker-stacks-and-bundles.md
Owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

docker cp: prevent NPE when failing to stat destination
  cli/command/utils.go
Owners: none

docs: document cache-from
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: document build outputs
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: document dockerignore update
  docs/reference/commandline/build.md
Owners: @thaJeztah

docker cp: prevent NPE when failing to stat destination
  cli/command/utils.go
Owners: none

bump github.com/dgrijalva/jwt-go v3.2.0, docker/licencing 7c3de6a4f59e9e70764ea6f6901cf17b88059789
  cli/command/engine/activate_test.go
  cli/command/engine/licenses_test.go
  cli/command/engine/testdata/expired-license-display-only.golden
  internal/licenseutils/client_test.go
  internal/licenseutils/utils.go
  vendor.conf
  vendor/github.com/dgrijalva/jwt-go/README.md
  vendor/github.com/dgrijalva/jwt-go/claims.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa.go
  vendor/github.com/dgrijalva/jwt-go/errors.go
  vendor/github.com/dgrijalva/jwt-go/hmac.go
  vendor/github.com/dgrijalva/jwt-go/map_claims.go
  vendor/github.com/dgrijalva/jwt-go/parser.go
  vendor/github.com/dgrijalva/jwt-go/rsa.go
  vendor/github.com/dgrijalva/jwt-go/rsa_pss.go
  vendor/github.com/dgrijalva/jwt-go/rsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/signing_method.go
  vendor/github.com/dgrijalva/jwt-go/token.go
  vendor/github.com/docker/licensing/README.md
  vendor/github.com/docker/licensing/client.go
  vendor/github.com/docker/licensing/lib/go-auth/jwt/jwt.go
  vendor/github.com/docker/licensing/model/license.go
  vendor/github.com/docker/licensing/model/subscriptions.go
  vendor/github.com/docker/licensing/storage.go
  vendor/github.com/docker/licensing/subscriptions.go
Owners: none

Add docs for proxy configuration in config.json
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Docs: add note about management commands targeting a manager
  docs/reference/commandline/node_demote.md
  docs/reference/commandline/node_inspect.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_promote.md
  docs/reference/commandline/node_ps.md
  docs/reference/commandline/node_rm.md
  docs/reference/commandline/node_update.md
  docs/reference/commandline/secret_create.md
  docs/reference/commandline/secret_inspect.md
  docs/reference/commandline/secret_ls.md
  docs/reference/commandline/secret_rm.md
  docs/reference/commandline/service.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/service_logs.md
  docs/reference/commandline/service_ls.md
  docs/reference/commandline/service_ps.md
  docs/reference/commandline/service_rm.md
  docs/reference/commandline/service_rollback.md
  docs/reference/commandline/service_scale.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/stack_deploy.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stack_rm.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/swarm_ca.md
  docs/reference/commandline/swarm_join_token.md
  docs/reference/commandline/swarm_unlock.md
  docs/reference/commandline/swarm_unlock_key.md
  docs/reference/commandline/swarm_update.md
Owners: @thaJeztah

docs: add redirects for engine reference pages
  docs/reference/commandline/cli.md
Owners: @thaJeztah

bump containerd/continuity f2a389ac0a02ce21c09edd7344677a601970f41c
  vendor.conf
Owners: none

bump hashicorp/golang-lru v0.5.3
  vendor.conf
  vendor/github.com/hashicorp/golang-lru/go.mod
  vendor/github.com/hashicorp/golang-lru/lru.go
  vendor/github.com/hashicorp/golang-lru/simplelru/lru.go
  vendor/github.com/hashicorp/golang-lru/simplelru/lru_interface.go
Owners: none

update runc to v1.0.0-rc8-92-g84373aaa (CVE-2019-16884)
  vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/README.md
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsenter_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_64.go
  vendor/github.com/opencontainers/runc/vendor.conf
Owners: none

bump buildkit f7042823e340d38d1746aa675b83d1aca431cee3
  vendor.conf
  vendor/github.com/moby/buildkit/go.mod
Owners: none

Detect invalid ports when parsing shortcut flag 'p'
  cli/command/container/opts.go
Owners: none

Add tests for parsing shorthand publish flag
  cli/command/container/opts.go
  cli/command/container/opts_test.go
Owners: none

Better name for test
  cli/command/container/opts_test.go
Owners: none

config: preserve ownership and permissions on configfile
  cli/config/configfile/file.go
  cli/config/configfile/file_unix.go
  cli/config/configfile/file_windows.go
Owners: none

command/container: unify list tests in a single file
  cli/command/container/list_test.go
  cli/command/container/ps_test.go
Owners: none

Fix docker ps --format with templating functions
  cli/command/container/list.go
  cli/command/container/list_test.go
  cli/command/formatter/container.go
  cli/command/formatter/container_test.go
  cli/command/formatter/disk_usage.go
Owners: none

Fix docker ps table headers with custom format and "split" or "join"
  cli/command/formatter/container_test.go
  templates/templates.go
Owners: none

docker info: list CLI plugins alphabetically
  cli-plugins/manager/manager.go
  cli-plugins/manager/manager_test.go
Owners: none

Fix "make build" (non-containerized) on macOS
  scripts/build/.variables
Owners: none

Bump Golang 1.12.14
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

docs: document from platform
  docs/reference/builder.md
Owners: @thaJeztah

gometalinter: fix configuration
  gometalinter.json
Owners: none

Gometalinter: raise deadline to 3 minutes
  gometalinter.json
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
