Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

update to go1.20.10
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update to go1.20.9
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update to go1.20.10
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

cli/command: include a new alias for docker volume ls
  cli/command/commands/commands.go
  cli/command/volume/list.go
Owners: none

cli/command: update the existing list_test for the now existing NewVolumesCommand
  cli/command/volume/list_test.go
Owners: none

fix typos
  scripts/docs/generate-md.sh
  scripts/docs/generate-yaml.sh
Owners: none

vendor: github.com/docker/distribution v2.8.3
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/BUILDING.md
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/digestset/set.go
  vendor/github.com/docker/distribution/reference/helpers.go
  vendor/github.com/docker/distribution/reference/normalize.go
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/reference/regexp.go
  vendor/github.com/docker/distribution/registry.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/urls.go
  vendor/github.com/docker/distribution/registry/client/blob_writer.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/storage/cache/memory/memory.go
  vendor/github.com/docker/distribution/vendor.conf
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.13.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/unicode/bidi/tables15.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables15.0.0.go
  vendor/golang.org/x/text/unicode/norm/trie.go
  vendor/golang.org/x/text/width/tables15.0.0.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.13.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/term/term_unix.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.14.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.17.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/Dockerfile
  vendor/golang.org/x/net/http2/Makefile
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_roundrobin.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/golang.org/x/net/idna/tables15.0.0.go
  vendor/golang.org/x/net/idna/trie.go
  vendor/golang.org/x/net/idna/trie12.0.0.go
  vendor/golang.org/x/net/idna/trie13.0.0.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.7.7
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/log/context_deprecated.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_unsupported.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo_other.go
  vendor/github.com/containerd/containerd/platforms/defaults_darwin.go
  vendor/github.com/containerd/containerd/platforms/defaults_freebsd.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/platforms/platforms.go
  vendor/github.com/containerd/containerd/platforms/platforms_other.go
  vendor/github.com/containerd/containerd/platforms/platforms_windows.go
  vendor/github.com/containerd/log/.golangci.yml
  vendor/github.com/containerd/log/LICENSE
  vendor/github.com/containerd/log/README.md
  vendor/github.com/containerd/log/context.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230823155524-12f0c246fed0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/api.pb.txt
  vendor/github.com/moby/swarmkit/v2/api/types.pb.go
  vendor/github.com/moby/swarmkit/v2/api/types.proto
  vendor/modules.txt
Owners: none

docs: add `bind-recursive` mount option
  docs/reference/commandline/service_create.md
  man/docker-run.1.md
Owners: @thaJeztah

vendor: github.com/distribution/reference v0.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/distribution/reference/.gitattributes
  vendor/github.com/distribution/reference/.gitignore
  vendor/github.com/distribution/reference/.golangci.yml
  vendor/github.com/distribution/reference/CONTRIBUTING.md
  vendor/github.com/distribution/reference/GOVERNANCE.md
  vendor/github.com/distribution/reference/Makefile
  vendor/github.com/distribution/reference/README.md
  vendor/github.com/distribution/reference/SECURITY.md
  vendor/github.com/distribution/reference/normalize.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/distribution v2.8.3
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/BUILDING.md
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/reference/helpers.go
  vendor/github.com/docker/distribution/reference/helpers_deprecated.go
  vendor/github.com/docker/distribution/reference/normalize.go
  vendor/github.com/docker/distribution/reference/normalize_deprecated.go
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/reference/reference_deprecated.go
  vendor/github.com/docker/distribution/reference/regexp.go
  vendor/github.com/docker/distribution/reference/regexp_deprecated.go
  vendor/github.com/docker/distribution/reference/sort_deprecated.go
  vendor/github.com/docker/distribution/registry.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/urls.go
  vendor/github.com/docker/distribution/registry/client/blob_writer.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/storage/cache/memory/memory.go
  vendor/github.com/docker/distribution/vendor.conf
  vendor/github.com/opencontainers/go-digest/digestset/set.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sync v0.3.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.9.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.13.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/unicode/bidi/tables15.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables15.0.0.go
  vendor/golang.org/x/text/unicode/norm/trie.go
  vendor/golang.org/x/text/width/tables15.0.0.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.13.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/term/term_unix.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.14.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.17.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/Dockerfile
  vendor/golang.org/x/net/http2/Makefile
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_roundrobin.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/golang.org/x/net/idna/tables15.0.0.go
  vendor/golang.org/x/net/idna/trie.go
  vendor/golang.org/x/net/idna/trie12.0.0.go
  vendor/golang.org/x/net/idna/trie13.0.0.go
  vendor/modules.txt
Owners: none

Add docker ps status descriptions
  docs/reference/commandline/ps.md
Owners: @thaJeztah

cli/compose/loader: use gotest.tools/v3/golden
  cli/compose/loader/full-struct_test.go
  cli/compose/loader/loader_test.go
  cli/compose/loader/testdata/full-example.json.golden
  cli/compose/loader/testdata/full-example.yaml.golden
  cli/compose/loader/types_test.go
Owners: none

cli/compose/loader: remove platform-specific path handling
  cli/compose/loader/full-struct_test.go
Owners: none

vendor: gotest.tools/v3 v3.5.1
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/fs/manifest.go
  vendor/gotest.tools/v3/fs/ops.go
  vendor/gotest.tools/v3/fs/path.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/gotest.tools/v3/internal/assert/result.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/modules.txt
Owners: none

cli/compose: add schema 3.12 (no changes with 3.11 yet)
  cli/compose/loader/full-example.yml
  cli/compose/loader/full-struct_test.go
  cli/compose/loader/loader_test.go
  cli/compose/loader/testdata/full-example.json.golden
  cli/compose/loader/testdata/full-example.yaml.golden
  cli/compose/schema/data/config_schema_v3.12.json
  cli/compose/schema/schema.go
  cli/compose/schema/schema_test.go
Owners: none

stacks: Add support for start interval
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  cli/compose/loader/full-example.yml
  cli/compose/loader/full-struct_test.go
  cli/compose/loader/testdata/full-example.json.golden
  cli/compose/loader/testdata/full-example.yaml.golden
  cli/compose/schema/data/config_schema_v3.12.json
  cli/compose/types/types.go
Owners: none

Add docker ps status descriptions
  docs/reference/commandline/ps.md
Owners: @thaJeztah

swarm: TestSwarmUpdate: remove non-existing "--quiet" flag
  cli/command/swarm/update_test.go
Owners: none

cli/command: remove dot-imports and unhandled errors
  cli/command/config/inspect_test.go
  cli/command/config/ls_test.go
  cli/command/container/list_test.go
  cli/command/idresolver/idresolver_test.go
  cli/command/network/list_test.go
  cli/command/node/demote_test.go
  cli/command/node/inspect_test.go
  cli/command/node/list_test.go
  cli/command/node/promote_test.go
  cli/command/node/ps_test.go
  cli/command/node/update_test.go
  cli/command/registry_test.go
  cli/command/secret/inspect_test.go
  cli/command/secret/ls_test.go
  cli/command/service/client_test.go
  cli/command/service/list_test.go
  cli/command/stack/list_test.go
  cli/command/stack/ps_test.go
  cli/command/stack/services_test.go
  cli/command/swarm/join_token_test.go
  cli/command/swarm/unlock_key_test.go
  cli/command/swarm/update_test.go
  cli/command/task/print_test.go
  cli/command/volume/inspect_test.go
  cli/command/volume/list_test.go
Owners: @silvin-lubecki

cli/command/network: runCreate: inline types.NetworkCreate
  cli/command/network/create.go
Owners: none

Mention checkpoint filesystem limitations
  docs/reference/commandline/checkpoint.md
Owners: @thaJeztah

image/build: use "nolint" comment to work around gosec regression
  cli/command/image/build/context.go
Owners: none

update to golangci-lint v1.55.0
  dockerfiles/Dockerfile.lint
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

vendor: google.golang.org/grpc v1.56.3
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.17.2
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/SECURITY.md
  vendor/github.com/klauspost/compress/fse/bitwriter.go
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/bitwriter.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/frameenc.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.s
  vendor/github.com/klauspost/compress/zstd/matchlen_generic.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/github.com/klauspost/compress/zstd/snappy.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.16.5
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.17.2
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/SECURITY.md
  vendor/github.com/klauspost/compress/fse/bitwriter.go
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/bitwriter.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/frameenc.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.s
  vendor/github.com/klauspost/compress/zstd/matchlen_generic.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/github.com/klauspost/compress/zstd/snappy.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Owners: none
