Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli-bin/windows: Add .exe extension
  Dockerfile
Owners: none

vendor: github.com/docker/docker v26.0.1-dev (60b9add796ae)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Remove dead url reference.
  CONTRIBUTING.md
Owners: none

chore: remove deprecated DualStack field
  cli/registry/client/endpoint.go
  cli/trust/trust.go
Owners: none

plugins/templates: break on newlines when printing hooks
  cli-plugins/hooks/template.go
  cli-plugins/hooks/template_test.go
  cli-plugins/manager/hooks.go
Owners: none

docs: tidy up CDI docs
  docs/reference/commandline/container_run.md
Owners: @thaJeztah

Feature option 'windows-dns-proxy'
  docs/reference/dockerd.md
Owners: @thaJeztah

plugins/hooks: run hooks when exit code != 0
  cmd/docker/docker.go
Owners: none

Fix OTLP env var overriding
  cli/command/telemetry_docker.go
Owners: none

hooks: set expected environment when executing
  cli-plugins/manager/plugin.go
Owners: none

vendor: github.com/docker/docker v26.0.2-dev (7cef0d9c)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

chore: fix function names in comment
  cli/command/image/build_test.go
Owners: none

Warn about deprecation of windows-dns-proxy flag
  docs/reference/dockerd.md
Owners: @thaJeztah

ci: Require changelog description
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/validate-pr.yml
Owners: none

github/ci: Check if backport is opened against the expected branch
  .github/workflows/validate-pr.yml
Owners: none

ci/validate-pr: Use `::error::` command to print errors
  .github/workflows/validate-pr.yml
Owners: none

vendor: github.com/docker/docker v26.1.0-dev (ee8b788538ea)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

hooks: include full configured command
  cli-plugins/manager/hooks.go
  cli-plugins/manager/hooks_test.go
  cmd/docker/docker.go
Owners: none

hooks: pass command execution error to plugins
  cli-plugins/manager/hooks.go
  cli-plugins/manager/plugin.go
  cmd/docker/docker.go
Owners: none

vendor: github.com/docker/docker v26.1.0-dev (c8af8ebe4a89)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: update github.com/docker/docker to v26.1.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

feat: use main func ctx for cobra and use ctx in tests
  cli-plugins/plugin/plugin.go
  cmd/docker/builder_test.go
  cmd/docker/docker.go
  cmd/docker/docker_test.go
  docs/generate/generate.go
  e2e/cli-plugins/plugins/nopersistentprerun/main.go
Owners: @thaJeztah

cli-plugins: PluginRunCommand: use cmd.Environ instead of os.Environ
  cli-plugins/manager/manager.go
Owners: none

feat: wire ctx into plugin hooks
  cli-plugins/manager/hooks.go
  cli-plugins/manager/plugin.go
  cmd/docker/docker.go
Owners: none

[feature:5023] Add '--replace' option into container creation command
  cli/command/container/create.go
Owners: none

"Fixed broken links to style guide and building documentation"
  CONTRIBUTING.md
Owners: none

waitExitOrRemoved: Handle context cancellation
  cli/command/container/utils.go
Owners: none

vendor: github.com/docker/docker ac2de55998d4 (v26.1.1)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cli-plugins: PluginRunCommand: use cmd.Environ instead of os.Environ
  cli-plugins/manager/manager.go
Owners: none

OTEL collector/prometheus/aspire-dashboard stack for testing purposes
  hack/otel/README.md
  hack/otel/compose.yaml
  hack/otel/otelcol.yaml
  hack/otel/prom.yaml
Owners: none

feat: autocompletion installer
  cli/command/commands/commands.go
  cli/command/completion/autocomplete.go
  cli/command/completion/autocomplete_test.go
  cli/command/completion/command.go
  cli/command/completion/testdata/docker.bash
  cli/command/completion/testdata/docker.fish
  cli/command/completion/testdata/docker.zsh
Owners: none

gha: CodeQL: move go.mod/go.sum symlink earlier to help caching
  .github/workflows/codeql.yml
Owners: none

go.mod: use SemVer format for go version to assist CodeQL AutoBuild
  vendor.mod
Owners: none

Adding commas and outer bracket
  cli/command/formatter/formatter.go
  cli/command/formatter/formatter_test.go
Owners: none

issue 923 for docker manpages Signed-off-by: Grace Choi <gracechoi@utexas.edu> Signed-off by: Pranjal Rai <pranjalrai@utexas.edu>
  man/docker-build.1.md
  man/docker-config-json.5.md
  man/docker-run.1.md
Owners: none

Add hostname check in registry URL on login
  cli/command/registry/login.go
Owners: none

formatters(image): prevent image size from displaying scientific notation
  cli/command/formatter/image.go
  cli/command/formatter/image_test.go
Owners: none

docstring: typo: settings -> setting
  contrib/completion/bash/docker
Owners: @albers

Fix hang when container fails to start
  cli/command/container/run.go
  cli/command/container/utils.go
Owners: none

Add e2e tests for run w/ bad entrypoint
  e2e/container/run_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
