Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

vendor: github.com/gogo/protobuf v1.3.2
  vendor.conf
  vendor/github.com/gogo/protobuf/Readme.md
  vendor/github.com/gogo/protobuf/go.mod
  vendor/github.com/gogo/protobuf/proto/text_parser.go
  vendor/github.com/gogo/protobuf/types/any.pb.go
  vendor/github.com/gogo/protobuf/types/api.pb.go
  vendor/github.com/gogo/protobuf/types/duration.pb.go
  vendor/github.com/gogo/protobuf/types/empty.pb.go
  vendor/github.com/gogo/protobuf/types/field_mask.pb.go
  vendor/github.com/gogo/protobuf/types/source_context.pb.go
  vendor/github.com/gogo/protobuf/types/struct.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp.pb.go
  vendor/github.com/gogo/protobuf/types/type.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers.pb.go
Owners: none

vendor.conf: sort alphabetically
  vendor.conf
Owners: none

vendor: moby/term, Azure/go-ansiterm for golang.org/x/sys/windows compat
  vendor.conf
  vendor/github.com/Azure/go-ansiterm/go.mod
  vendor/github.com/Azure/go-ansiterm/winterm/ansi.go
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/windows/console.go
Owners: none

Fix minor wording
  docs/reference/commandline/run.md
Owners: @thaJeztah

vendor: github.com/containerd/containerd v1.5.2
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/api/services/content/v1/content.pb.go
  vendor/github.com/containerd/containerd/api/services/content/v1/content.proto
  vendor/github.com/containerd/containerd/content/adaptor.go
  vendor/github.com/containerd/containerd/content/content.go
  vendor/github.com/containerd/containerd/content/local/locks.go
  vendor/github.com/containerd/containerd/content/local/readerat.go
  vendor/github.com/containerd/containerd/content/local/store.go
  vendor/github.com/containerd/containerd/content/local/store_unix.go
  vendor/github.com/containerd/containerd/content/proxy/content_writer.go
  vendor/github.com/containerd/containerd/defaults/defaults_unix.go
  vendor/github.com/containerd/containerd/defaults/defaults_windows.go
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/log/context.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_linux.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_unsupported.go
  vendor/github.com/containerd/containerd/platforms/compare.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/platforms/defaults.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/platforms/platforms.go
  vendor/github.com/containerd/containerd/remotes/docker/auth/fetch.go
  vendor/github.com/containerd/containerd/remotes/errors/errors.go
  vendor/github.com/containerd/containerd/sys/filesys_windows.go
  vendor/github.com/containerd/containerd/sys/oom_linux.go
  vendor/github.com/containerd/containerd/sys/oom_unix.go
  vendor/github.com/containerd/containerd/sys/oom_unsupported.go
  vendor/github.com/containerd/containerd/sys/stat_openbsd.go
  vendor/github.com/containerd/containerd/sys/userns_deprecated.go
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

Updated docker attach example.
  man/src/container/attach.md
Owners: none

Cleaned up formatting/typesetting.
  man/src/container/attach.md
Owners: none

Deprecate Kubernetes stack support
  docs/deprecated.md
Owners: @thaJeztah

vendor: github.com/coreos/etcd v3.3.25
  vendor.conf
  vendor/github.com/coreos/etcd/raft/raftpb/raft.pb.go
Owners: none

Deprecate Kubernetes context support
  cli/command/context/create.go
  cli/command/context/export.go
  cli/command/context/update.go
  docs/deprecated.md
Owners: @thaJeztah

1. Made changes to prune.go to post dry-run parameter to POST
  cli/command/builder/prune.go
  cli/command/container/prune.go
  vendor/github.com/docker/docker/client/container_prune.go
  vendor/github.com/docker/docker/client/interface.go
Owners: none

Bolded SIGKILL & fixed backslash escaping.
  man/src/container/attach.md
Owners: none

docker info: skip API connection if possible
  cli/command/system/info.go
  cli/command/system/info_test.go
Owners: none

UX: don't reverse progress-bars when rolling back
  cli/command/service/progress/progress.go
Owners: none

vendor: github.com/docker/swarmkit 2dcf70aafdc9ea55af3aaaeca440638cde0ecda6
  vendor.conf
  vendor/github.com/docker/swarmkit/api/ca.pb.go
  vendor/github.com/docker/swarmkit/api/control.pb.go
  vendor/github.com/docker/swarmkit/api/dispatcher.pb.go
  vendor/github.com/docker/swarmkit/api/health.pb.go
  vendor/github.com/docker/swarmkit/api/logbroker.pb.go
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/raft.pb.go
  vendor/github.com/docker/swarmkit/api/resource.pb.go
  vendor/github.com/docker/swarmkit/api/snapshot.pb.go
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/watch.pb.go
  vendor/github.com/docker/swarmkit/protobuf/plugin/plugin.pb.go
  vendor/github.com/docker/swarmkit/vendor.conf
Owners: none

Document `--validate` daemon option
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/dockerd.md
  man/dockerd.8.md
Owners: @albers, @sdurrheimer, @thaJeztah

info: print errors to stderr
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-badsec-stderr.golden
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-errors-stderr.golden
  cli/command/system/testdata/docker-info-errors.golden
Owners: none

Deprecate Kubernetes stack support
  cli/command/stack/cmd.go
  cli/command/stack/kubernetes/cli.go
  cli/command/stack/list.go
  cli/command/system/version.go
  docs/yaml/yaml.go
Owners: @silvin-lubecki, @thaJeztah

1. Added command for containers dry run prune 2. Added command at system level to enable dry run prune only for containers 3. Added comments
  cli/command/container/prune.go
  cli/command/system/prune.go
  vendor/github.com/docker/docker/client/container_prune.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/utils.go
Owners: none

registry: ensure default auth config has address
  cli/command/registry.go
  cli/command/registry/login.go
  cli/command/registry_test.go
Owners: none

yamldocs: various improvements
  docs/yaml/generate.go
  docs/yaml/markdown.go
  docs/yaml/markdown_test.go
  docs/yaml/yaml.go
  scripts/docs/generate-yaml.sh
Owners: @thaJeztah

docs/yaml: add TODO for conditionally skipping root command
  docs/yaml/yaml.go
Owners: @thaJeztah

info: skip client-side warning about seccomp profile on API >= 1.42
  cli/command/system/info.go
Owners: none

GitHub Actions for lint
  .circleci/config.yml
  .github/workflows/validate.yml
  Makefile
  docker-bake.hcl
  docker.Makefile
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.shellcheck
  scripts/validate/shellcheck
Owners: none

Update Go to 1.16.7
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update Go to 1.16.7
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

replace docker/pkg/signal with github.com/moby/sys/signal
  cli/command/container/attach.go
  cli/command/container/opts.go
  cli/command/container/run.go
  cli/command/container/signals.go
  cli/command/container/signals_test.go
  cli/command/container/start.go
  cli/command/container/tty.go
  vendor.conf
  vendor/github.com/docker/docker/pkg/signal/README.md
  vendor/github.com/docker/docker/pkg/signal/trap.go
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/signal/go.mod
  vendor/github.com/moby/sys/signal/signal.go
  vendor/github.com/moby/sys/signal/signal_darwin.go
  vendor/github.com/moby/sys/signal/signal_freebsd.go
  vendor/github.com/moby/sys/signal/signal_linux.go
  vendor/github.com/moby/sys/signal/signal_linux_mipsx.go
  vendor/github.com/moby/sys/signal/signal_unix.go
  vendor/github.com/moby/sys/signal/signal_unsupported.go
  vendor/github.com/moby/sys/signal/signal_windows.go
Owners: none

vendor: github.com/sirupsen/logrus v1.8.1
  vendor.conf
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/json_formatter.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/terminal_check_unix.go
  vendor/github.com/sirupsen/logrus/text_formatter.go
Owners: none

vendor: github.com/opencontainers/runc v1.0.1
  vendor.conf
  vendor/github.com/opencontainers/runc/go.mod
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/test/escape.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
Owners: none

vendor: github.com/containerd/containerd v1.5.5
  vendor.conf
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/version/version.go
Owners: none

build: fix AddDockerfileToBuildContext not de-referencing tar header template
  cli/command/image/build/context.go
Owners: none

vendor: github.com/docker/swarmkit 3629f50980f6c0dd5ccd7dbfa0956b57ea0cd78d
  vendor.conf
  vendor/github.com/docker/swarmkit/vendor.conf
Owners: none

vendor: update docker to current master (API v1.42)
  cli/command/system/df.go
  vendor.conf
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/github.com/docker/docker/client/disk_usage.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/system/image_os.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Fix typo
  docs/reference/commandline/events.md
Owners: @thaJeztah

cli/compose: use go1.16 native embed functionality for schemas
  Makefile
  cli/compose/schema/bindata.go
  cli/compose/schema/schema.go
  docker.Makefile
  dockerfiles/Dockerfile.dev
Owners: none

Add top-level --completion flag, and integrate completion for plugins
  cli/cobra.go
  cmd/docker/docker.go
  contrib/completion/bash/docker
  contrib/completion/completion.go
  docs/reference/commandline/cli.md
  man/docker.1.md
Owners: @albers, @thaJeztah

cli.SetupRootCommand(): minor cleanup
  cli/cobra.go
Owners: none

update go to 1.17
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

clarify --pull option
  docs/reference/commandline/build.md
Owners: @thaJeztah

Enable ssh forwarding when building a remote target
  cli/command/image/build_buildkit.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
