Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Fix panic when failing to get DefaultAuthConfig
  cli/command/registry.go
  cli/command/registry/login.go
Owners: none

Logic for CLI backend loading + test
  backends/manager.go
  backends/manager_test.go
  backends/manager_unix.go
  backends/manager_windows.go
  backends/types.go
  cli/command/context/create.go
  cli/command/registry/login.go
  cmd/docker/docker.go
Owners: none

Display backend name and version when `docker version`. Only allow compose-cli backend and listed supported context types for now
  backends/manager.go
  backends/manager_test.go
  backends/shellout.go
  backends/types.go
  cli/command/system/version.go
Owners: none

docs: fix typo in deprecated.md
  docs/deprecated.md
Owners: @thaJeztah

Provide error information in debug when something goes wrong
  backends/manager.go
  backends/manager_test.go
Owners: none

Add compose delegation regardless of context type
  cli/command/commands/commands.go
  cli/command/compose/compose.go
Owners: none

Adding serve command, delegating to compose-cli backend to serve API
  cli/command/commands/commands.go
  cli/command/serve/serve.go
Owners: none

fish completion: suggest paused containers where appropriate
  contrib/completion/fish/docker.fish
Owners: none

Find backend binary in hardcoded path, add explicit context create subcommands
  cli/command/context/create.go
  cli/context/types.go
Owners: none

Added `docker login azure` subcommand
  cli/command/registry/login.go
Owners: none

Logic for CLI backend loading + test
  backends/manager.go
  backends/manager_test.go
  backends/manager_unix.go
  backends/manager_windows.go
  backends/types.go
  cli/command/context/create.go
  cli/command/registry/login.go
  cmd/docker/docker.go
Owners: none

Display backend name and version when `docker version`. Only allow compose-cli backend and listed supported context types for now
  backends/manager.go
  backends/manager_test.go
  backends/shellout.go
  backends/types.go
  cli/command/system/version.go
Owners: none

Provide error information in debug when something goes wrong
  backends/manager.go
  backends/manager_test.go
Owners: none

vendor: github.com/theupdateframework/notary v0.7.0
  vendor.conf
  vendor/github.com/agl/ed25519/LICENSE
  vendor/github.com/agl/ed25519/ed25519.go
  vendor/github.com/agl/ed25519/edwards25519/const.go
  vendor/github.com/agl/ed25519/edwards25519/edwards25519.go
  vendor/github.com/theupdateframework/notary/README.md
  vendor/github.com/theupdateframework/notary/client/changelist/file_changelist.go
  vendor/github.com/theupdateframework/notary/client/changelist/interface.go
  vendor/github.com/theupdateframework/notary/client/client.go
  vendor/github.com/theupdateframework/notary/client/delegations.go
  vendor/github.com/theupdateframework/notary/client/interface.go
  vendor/github.com/theupdateframework/notary/client/reader.go
  vendor/github.com/theupdateframework/notary/client/tufclient.go
  vendor/github.com/theupdateframework/notary/cryptoservice/crypto_service.go
  vendor/github.com/theupdateframework/notary/fips.go
  vendor/github.com/theupdateframework/notary/go.mod
  vendor/github.com/theupdateframework/notary/passphrase/passphrase.go
  vendor/github.com/theupdateframework/notary/storage/filestore.go
  vendor/github.com/theupdateframework/notary/storage/httpstore.go
  vendor/github.com/theupdateframework/notary/storage/interfaces.go
  vendor/github.com/theupdateframework/notary/tuf/builder.go
  vendor/github.com/theupdateframework/notary/tuf/data/keys.go
  vendor/github.com/theupdateframework/notary/tuf/data/roles.go
  vendor/github.com/theupdateframework/notary/tuf/data/snapshot.go
  vendor/github.com/theupdateframework/notary/tuf/data/targets.go
  vendor/github.com/theupdateframework/notary/tuf/data/types.go
  vendor/github.com/theupdateframework/notary/tuf/signed/interface.go
  vendor/github.com/theupdateframework/notary/tuf/signed/sign.go
  vendor/github.com/theupdateframework/notary/tuf/signed/verifiers.go
  vendor/github.com/theupdateframework/notary/tuf/utils/pkcs8.go
  vendor/github.com/theupdateframework/notary/tuf/utils/utils.go
  vendor/github.com/theupdateframework/notary/tuf/utils/x509.go
  vendor/github.com/theupdateframework/notary/vendor.conf
Owners: none

Enable type into the reading of the contexts
  cli/command/context.go
  cli/command/context/create_test.go
  cli/command/context/list.go
  cli/command/context/testdata/list.golden
  cli/command/context_test.go
  cli/command/defaultcontextstore.go
  cli/command/formatter/context.go
  cli/command/formatter/custom.go
  docs/reference/commandline/context_inspect.md
  docs/reference/commandline/context_ls.md
  e2e/context/testdata/context-ls.golden
Owners: @thaJeztah

Ignore SIGURG on Linux.
  cli/command/container/attach.go
  cli/command/container/client_test.go
  cli/command/container/run.go
  cli/command/container/signals.go
  cli/command/container/signals_linux.go
  cli/command/container/signals_linux_test.go
  cli/command/container/signals_notlinux.go
  cli/command/container/signals_test.go
  cli/command/container/start.go
  cli/command/container/tty.go
Owners: none

Improves description for VOLUME instruction
  docs/reference/builder.md
Owners: @thaJeztah

update port with mapping details and docker port mapping
  docs/reference/commandline/port.md
Owners: @thaJeztah

fix --update-order and --rollback-order flags
  cli/command/service/opts.go
  cli/command/service/opts_test.go
Owners: none

cli/config: prevent warning if HOME is not set
  cli/config/config.go
  cli/config/config_test.go
Owners: none

docker service rollback: fix non-zero exit code in some cases
  cli/command/service/progress/progress.go
Owners: none

service rollback: always verify state
  cli/command/service/progress/progress.go
Owners: none

docs: add redirect for old reference URL
  docs/reference/run.md
Owners: @thaJeztah

add commands of how to run the test
  README.md
Owners: none

docs: Fix wrong variable name
  docs/reference/run.md
Owners: @thaJeztah

Modify a 'docker build' command with no context specified to infer a context of '.'. Also update documentation to match. Signed-off-by: Marshall Conover <marzhall.o@gmail.com>
  cli/command/image/build.go
  docs/reference/commandline/build.md
Owners: @thaJeztah

fix docker-run man page table formatting
  man/docker-run.1.md
Owners: none

Use golang.org/x/sys/execabs
  cli/command/image/build/internal/git/gitutils.go
Owners: none

clarify doc. Signed-off-by: Marshall Conover <marzhall.o@gmail.com>
  cli/command/image/build.go
  docs/reference/commandline/build.md
Owners: @thaJeztah

Add info output to the CLI when inferring the current context.
  Dockerfile
Owners: none

Run gofmt on the previous commit.
  cli/command/image/build.go
Owners: none

Use golang.org/x/sys/execabs
  cli-plugins/manager/candidate.go
  cli-plugins/manager/manager.go
  cli/command/image/build/context.go
  cli/config/credentials/default_store.go
  cli/connhelper/commandconn/commandconn.go
Owners: none

keep the option --link and --alias backward compatible
  cli/command/container/opts.go
  cli/command/container/opts_test.go
Owners: none

Add docs and completion for docker node ls --filter node.label
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/node_ls.md
Owners: @albers, @sdurrheimer, @thaJeztah

context: Add tarball e2e tests
  e2e/context/context_test.go
  e2e/context/testdata/context-ls-notls.golden
  e2e/context/testdata/context-ls-tls.golden
  e2e/context/testdata/test-dockerconfig-tls.tar
  e2e/context/testdata/test-dockerconfig.tar
Owners: none

Use golang.org/x/sys/execabs
  cli-plugins/manager/candidate.go
  cli-plugins/manager/manager.go
  cli/command/image/build/context.go
  cli/config/credentials/default_store.go
  cli/connhelper/commandconn/commandconn.go
Owners: none

context: Ensure import paths are valid
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/storeconfig_test.go
Owners: none

context: Ensure context name is valid on import
  cli/command/context/cmd.go
  cli/command/context/create.go
  cli/command/context/export.go
  cli/command/context/update.go
  cli/command/context/use.go
  cli/context/store/store.go
  cli/context/store/storeconfig_test.go
Owners: none

context: Ensure import paths are valid
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/storeconfig_test.go
Owners: none

context: Add tarball e2e tests
  e2e/context/context_test.go
  e2e/context/testdata/context-ls-notls.golden
  e2e/context/testdata/context-ls-tls.golden
  e2e/context/testdata/test-dockerconfig-tls.tar
  e2e/context/testdata/test-dockerconfig.tar
Owners: none
