Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

bump mattn/go-shellwords v1.0.6
  vendor.conf
  vendor/github.com/mattn/go-shellwords/README.md
  vendor/github.com/mattn/go-shellwords/shellwords.go
  vendor/github.com/mattn/go-shellwords/util_go15.go
  vendor/github.com/mattn/go-shellwords/util_posix.go
  vendor/github.com/mattn/go-shellwords/util_windows.go
Owners: none

bump logrus v1.4.2
  vendor.conf
  vendor/github.com/sirupsen/logrus/go.mod
  vendor/github.com/sirupsen/logrus/terminal_check_no_terminal.go
  vendor/github.com/sirupsen/logrus/terminal_check_notappengine.go
  vendor/github.com/sirupsen/logrus/terminal_check_solaris.go
  vendor/github.com/sirupsen/logrus/terminal_check_windows.go
  vendor/github.com/sirupsen/logrus/terminal_notwindows.go
  vendor/github.com/sirupsen/logrus/terminal_windows.go
  vendor/github.com/sirupsen/logrus/text_formatter.go
Owners: none

bump imdario/mergo v0.3.8
  vendor.conf
  vendor/github.com/imdario/mergo/merge.go
Owners: none

bump gofrs/flock v0.7.1
  vendor.conf
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/flock.go
Owners: none

Bump Microsoft/hcsshim to v0.7.3, Microsoft/go-winio to v0.4.11
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/internal/guid/guid.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/watcher.go
  vendor/github.com/Microsoft/hcsshim/internal/interop/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/safefile/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/timeout/timeout.go
Owners: none

bump hashicorp/go-version v1.2.0
  vendor.conf
  vendor/github.com/hashicorp/go-version/go.mod
  vendor/github.com/hashicorp/go-version/version.go
Owners: none

Fixes #1923 Update stack command docs --orchestrator
  contrib/completion/bash/docker
  docs/reference/commandline/stack.md
  docs/reference/commandline/stack_deploy.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stack_rm.md
  docs/reference/commandline/stack_services.md
  e2e/stack/testdata/stack-deploy-help-kubernetes.golden
Owners: @albers, @thaJeztah

build static binaries with -tags osusergo
  Makefile
  scripts/build/binary
  scripts/build/plugins
  scripts/docs/generate-man.sh
  scripts/docs/generate-yaml.sh
Owners: none

gometalinter: fix configuration
  gometalinter.json
Owners: none

update Jenkins Build Status urls for README
  README.md
Owners: none

Fixes #1923 Remove option all from stack cmd
  cli/command/stack/cmd.go
Owners: @silvin-lubecki

Fixes #1923 Remove option from swarm test data
  e2e/stack/testdata/stack-deploy-help-swarm.golden
Owners: none

CircleCI: add some info steps, and re-group jobs
  circle.yml
Owners: none

bump Microsoft/hcsshim 2226e083fc390003ae5aa8325c3c92789afa0e7a
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/osversion/osversion_windows.go
Owners: none

bump docker/docker to a09e6e323e55e1a9b21df9c2c555f5668df3ac9b
  vendor.conf
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/api/types/swarm/service.go
  vendor/github.com/docker/docker/client/container_list.go
  vendor/github.com/docker/docker/client/events.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/image_list.go
  vendor/github.com/docker/docker/client/network_list.go
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/client/plugin_list.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/service_list.go
  vendor/github.com/docker/docker/client/volume_list.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  vendor/github.com/docker/docker/pkg/jsonmessage/jsonmessage.go
  vendor/github.com/docker/docker/pkg/mount/mountinfo_linux.go
  vendor/github.com/docker/docker/pkg/pools/pools.go
  vendor/github.com/docker/docker/pkg/system/init_windows.go
  vendor/github.com/docker/docker/pkg/system/syscall_windows.go
  vendor/github.com/docker/docker/registry/auth.go
  vendor/github.com/docker/docker/registry/endpoint_v1.go
  vendor/github.com/docker/docker/registry/resumable/resumablerequestreader.go
  vendor/github.com/docker/docker/registry/session.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

man/docker-build.1: fix --memory-swap and --network
  man/docker-build.1.md
Owners: none

Gometalinter: raise deadline to 3 minutes
  gometalinter.json
Owners: none

Update flag doc
  cli/command/network/create.go
Owners: none

cli/command/service: Using a reference for the variable on range scope `entry` (scopelint)
  cli/command/service/update.go
Owners: none

cli/command/container: Using a reference for the variable on range scope `n` (scopelint)
  cli/command/container/opts.go
Owners: none

compose/loader: fix TestIsAbs not testing all combinations
  cli/compose/loader/windows_path_test.go
Owners: none

add rudimentary fish completions for docker network
  contrib/completion/fish/docker.fish
Owners: none

Make service completion faster
  contrib/completion/bash/docker
Owners: @albers

Fix substitution of comma to space character, suggested by @albers
  contrib/completion/bash/docker
Owners: @albers

Move filtering to __docker_complete_services, as suggested by @albers
  contrib/completion/bash/docker
Owners: @albers

Fix erroneous space indentation of shell script
  contrib/completion/bash/docker
Owners: @albers

Add bash completion for `builder build`
  contrib/completion/bash/docker
Owners: @albers

Add bash completion for `builder build` options
  contrib/completion/bash/docker
Owners: @albers

Do not disable sig-proxy when using a TTY
  cli/command/container/run.go
Owners: none

Add test for --sig-proxy with a TTY
  e2e/container/proxy_signal_test.go
  vendor.conf
  vendor/github.com/kr/pty/License
  vendor/github.com/kr/pty/README.md
  vendor/github.com/kr/pty/doc.go
  vendor/github.com/kr/pty/go.mod
  vendor/github.com/kr/pty/ioctl.go
  vendor/github.com/kr/pty/ioctl_bsd.go
  vendor/github.com/kr/pty/pty_darwin.go
  vendor/github.com/kr/pty/pty_dragonfly.go
  vendor/github.com/kr/pty/pty_freebsd.go
  vendor/github.com/kr/pty/pty_linux.go
  vendor/github.com/kr/pty/pty_openbsd.go
  vendor/github.com/kr/pty/pty_unsupported.go
  vendor/github.com/kr/pty/run.go
  vendor/github.com/kr/pty/util.go
  vendor/github.com/kr/pty/ztypes_386.go
  vendor/github.com/kr/pty/ztypes_amd64.go
  vendor/github.com/kr/pty/ztypes_arm.go
  vendor/github.com/kr/pty/ztypes_arm64.go
  vendor/github.com/kr/pty/ztypes_dragonfly_amd64.go
  vendor/github.com/kr/pty/ztypes_freebsd_386.go
  vendor/github.com/kr/pty/ztypes_freebsd_amd64.go
  vendor/github.com/kr/pty/ztypes_freebsd_arm.go
  vendor/github.com/kr/pty/ztypes_mipsx.go
  vendor/github.com/kr/pty/ztypes_openbsd_386.go
  vendor/github.com/kr/pty/ztypes_openbsd_amd64.go
  vendor/github.com/kr/pty/ztypes_ppc64.go
  vendor/github.com/kr/pty/ztypes_ppc64le.go
  vendor/github.com/kr/pty/ztypes_s390x.go
Owners: none

TestSigProxyWithTTY: fix
  e2e/container/proxy_signal_test.go
Owners: none

Explain -s flag on docker ps
  docs/reference/commandline/ps.md
Owners: @thaJeztah

builder.md: Correct copy/paste error
  docs/reference/builder.md
Owners: @thaJeztah

Fix phrasing when referring to the freezer cgroup
  docs/reference/commandline/pause.md
  docs/reference/commandline/unpause.md
  man/src/container/pause.md
  man/src/container/unpause.md
Owners: @thaJeztah

Updating deprecated command example in search.md
  docs/reference/commandline/search.md
Owners: @thaJeztah

Minor formatting changes and a typo fix.
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Adjusting glossary reference and clarrifying the start of a Dockerfile
  docs/reference/builder.md
Owners: @thaJeztah

update Jenkins Build Status urls for README
  README.md
Owners: none

internal/builders: add GlobalService, ServiceStatus, NodeList()
  cli/command/service/client_test.go
  internal/test/builders/service.go
Owners: none

TestStackServicesErrors: use sub-tests, and return tasks
  cli/command/stack/services_test.go
Owners: @silvin-lubecki
