Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

stack: Change unexpected environment variable error
  cli/command/stack/loader/loader.go
Owners: @silvin-lubecki

stack/loader: Ignore cmd.exe special env variables
  cli/command/stack/loader/loader.go
  cli/command/stack/loader/loader_test.go
Owners: @silvin-lubecki

stack: Change unexpected environment variable error
  cli/command/stack/loader/loader.go
Owners: @silvin-lubecki

update to go1.19.7
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

update to go1.19.7
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

Dockerfile: update buildx to v0.10.4
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: update buildx to v0.10.4
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

Add bash completion for docker-buildx plugin
  contrib/completion/bash/docker
Owners: @albers

Create pipelinescript1
  dockerfiles/pipelinescript1
Owners: none

vendor: github.com/docker/docker v23.0.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.19
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230309194213-a745a8755ce3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sys v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/unix/gccgo_c.c
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_386.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/timestruct.go
  vendor/golang.org/x/sys/unix/xattr_bsd.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.7.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/time v0.3.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.5.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.7.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/trace/histogram.go
  vendor/modules.txt
Owners: none

vendor: google.golang.org/grpc v1.50.1
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/conn_state_evaluator.go
  vendor/google.golang.org/grpc/balancer/roundrobin/roundrobin.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/internal/binarylog/binarylog.go
  vendor/google.golang.org/grpc/internal/binarylog/env_config.go
  vendor/google.golang.org/grpc/internal/binarylog/method_logger.go
  vendor/google.golang.org/grpc/internal/envconfig/observability.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcrand/grpcrand.go
  vendor/google.golang.org/grpc/internal/grpcutil/method.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/resolver/unix/unix.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/metadata/metadata.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.11.4
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerignore/dockerignore.go
  vendor/modules.txt
Owners: none

Add bash completion for available plugins
  contrib/completion/bash/docker
Owners: @albers

Add bash completion for available plugins
  contrib/completion/bash/docker
Owners: @albers

Add bash completion for available plugins
  contrib/completion/bash/docker
Owners: @albers

cli/command/volume: suppress err output in tests
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/command/volume/list_test.go
  cli/command/volume/prune_test.go
  cli/command/volume/remove_test.go
Owners: none

RegistryAuthenticationPrivilegedFunc: inline GetAuthConfigKey
  cli/command/registry.go
Owners: none

cli/command: ElectAuthServer: fix deprecation comment
  cli/command/registry.go
Owners: none

cli/command: fix imports formatting
  cli/command/registry_test.go
Owners: none

cli/command: fix imports formatting
  cli/command/registry_test.go
Owners: none

cli/command: ElectAuthServer: fix deprecation comment
  cli/command/registry.go
Owners: none

Don't automatically request size if `--size` was explicitly set to `false`
  cli/command/container/list.go
  cli/command/container/list_test.go
Owners: none

Correct config ls filter example
  docs/reference/commandline/config_ls.md
Owners: @thaJeztah

Correct config ls filter values docs examples
  docs/reference/commandline/config_ls.md
Owners: @thaJeztah

cli/command: remove deprecated ElectAuthServer()
  cli/command/registry.go
Owners: none

Remove registry Service use
  cli/command/image/trust.go
  cli/command/plugin/install.go
  cli/trust/trust.go
Owners: none

make runBuild public for use by docker compose
  cli/command/image/build.go
  cli/command/image/build_test.go
Owners: none

Add support for `x-` fields in `build` field in docker-compose.yaml
  cli/compose/schema/data/config_schema_v3.9.json
Owners: none

cli/trust: remove special handling for "plugin" Class
  cli/command/container/create.go
  cli/command/image/build.go
  cli/command/image/pull.go
  cli/command/image/trust.go
  cli/command/plugin/install.go
  cli/command/plugin/push.go
  cli/command/trust/common.go
  cli/command/trust/revoke.go
  cli/command/trust/sign.go
  cli/command/trust/signer_add.go
  cli/command/trust/signer_remove.go
  cli/trust/trust.go
Owners: none

Enable ssh forwarding when building a remote target
  cli/command/image/build_buildkit.go
Owners: none

Dockerfile: align go version
  docker-bake.hcl
  dockerfiles/Dockerfile.vendor
Owners: none

Dockerfile: build binary if no target specified
  Dockerfile
Owners: none

improve plugins discovery performance
  cli-plugins/manager/manager.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Owners: none
