Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

builder: make git config isolation opt-in
  cli/command/image/build/internal/git/gitutils.go
  cli/command/image/build/internal/git/gitutils_test.go
Owners: none

Remove "experimental" gates around "--platform" in bash completion
  contrib/completion/bash/docker
Owners: @albers

vendor: docker v20.10.3-0.20221006185438-87d9d96ab0b6 (v22.06-dev)
  cli/command/image/build/context.go
  cli/command/image/build/context_test.go
  cli/command/image/build/dockerignore.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/client/events.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/changes.go
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/archive/diff.go
  vendor/github.com/docker/docker/pkg/fileutils/fileutils_darwin.go
  vendor/github.com/docker/docker/pkg/fileutils/fileutils_unix.go
  vendor/github.com/docker/docker/pkg/fileutils/fileutils_windows.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/idtools/usergroupadd_linux.go
  vendor/github.com/docker/docker/pkg/system/meminfo_linux.go
  vendor/github.com/docker/docker/pkg/system/path.go
  vendor/github.com/moby/patternmatcher/LICENSE
  vendor/github.com/moby/patternmatcher/NOTICE
  vendor/github.com/moby/patternmatcher/patternmatcher.go
  vendor/modules.txt
Owners: none

vendor: docker v20.10.3-0.20221021122114-f9cb47a052b (22.06 branch)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/github.com/docker/docker/registry/service_v2.go
  vendor/modules.txt
Owners: none

builder/remotecontext/git: allow building on go1.18
  cli/command/image/build/internal/git/gitutils.go
Owners: none

vendor: docker 5aac513617f072b15322b147052cbda0d451d389 / v22.06-dev
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/modules.txt
Owners: none

un-skip history test and fix golden mismatches
  cli/command/image/history_test.go
  cli/command/image/testdata/history-command-success.non-human.golden
  cli/command/image/testdata/history-command-success.simple.golden
Owners: none

docs: fix links to BuildKit backend
  docs/reference/commandline/build.md
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: fix links to BuildKit backend
  docs/reference/commandline/build.md
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Fix the max-concurrent-downloads and max-concurrent-uploads configs documentation
  contrib/completion/zsh/_docker
  docs/reference/commandline/dockerd.md
  man/dockerd.8.md
Owners: @sdurrheimer, @thaJeztah

docs: improved docker run cli reference
  docs/reference/commandline/run.md
Owners: @thaJeztah

docs: update link to docker cp
  docs/reference/commandline/run.md
Owners: @thaJeztah

Add compose support for cluster volumes
  cli/compose/convert/volume.go
  cli/compose/convert/volume_test.go
  cli/compose/loader/full-example.yml
  cli/compose/loader/full-struct_test.go
  cli/compose/loader/types_test.go
  cli/compose/schema/data/config_schema_v3.10.json
  cli/compose/types/types.go
Owners: none

go.mod: github.com/spf13/cobra v1.6.1
  vendor.mod
  vendor.sum
  vendor/github.com/inconshreveable/mousetrap/LICENSE
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/Makefile
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_notwin.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.go
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Owners: none

3826 Issue Fix: Missing system subcommand completion for fish shell
  contrib/completion/fish/docker.fish
Owners: none

Fix bug where incorrect response is returned
  cmd/docker/docker.go
Owners: none

cleanup leftovers for --stream build flag
  cli/command/image/build.go
Owners: none

build: keep "buildx install" behavior
  cmd/docker/builder.go
  cmd/docker/builder_test.go
Owners: none

build: set default context builder if not specified
  cmd/docker/aliases.go
  cmd/docker/builder.go
  cmd/docker/builder_test.go
  cmd/docker/builder_windows_test.go
  cmd/docker/docker.go
Owners: none

Update to Go 1.19.3 to address CVE-2022-41716
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

[20.10] update to Go 1.18.8 to address CVE-2022-41716
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

vendor: github.com/google/go-cmp v0.5.9 to remove golang.org/x/xerrors
  vendor.mod
  vendor.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Owners: none

vendor: gotest.tools/v3 v3.4.0
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/fs/file.go
  vendor/gotest.tools/v3/fs/manifest.go
  vendor/gotest.tools/v3/fs/ops.go
  vendor/gotest.tools/v3/fs/path.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/cleanup/cleanup.go
  vendor/gotest.tools/v3/internal/format/diff.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/skip/skip.go
  vendor/modules.txt
Owners: none

builder/remotecontext/gitutils: switch back to os/exec
  cli/command/image/build/internal/git/gitutils.go
Owners: none

docs: update engine links after restructure
  docs/reference/commandline/cli.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/export.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/run.md
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

vendor: golang.org/x/time v0.1.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/time/AUTHORS
  vendor/golang.org/x/time/CONTRIBUTORS
  vendor/golang.org/x/time/rate/rate.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.1.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/term/AUTHORS
  vendor/golang.org/x/term/CONTRIBUTORS
  vendor/golang.org/x/term/term.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.4.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/width/tables10.0.0.go
  vendor/golang.org/x/text/width/tables11.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
  vendor/golang.org/x/text/width/tables13.0.0.go
  vendor/golang.org/x/text/width/tables9.0.0.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.1.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/trace/trace.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.1.0 (fix OpenSSL > 9.3 compatibility)
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/AUTHORS
  vendor/golang.org/x/crypto/CONTRIBUTORS
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.6
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20221102165002-6341884e5fc9
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: docker cd8873dd3d21b1fc1b957c98dcd0f5c7a507fb70 / v22.06-dev
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

added harness in codecoverage
  codecov.yml
Owners: none

vendor: github.com/sirupsen/logrus v1.9.0
  vendor.mod
  vendor.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sys v0.2.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/modules.txt
Owners: none

vendor: docker d15be0c54de92a4d868ebd66dbb1065e264554f2 / v22.06-dev
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/pkg/archive/diff.go
  vendor/github.com/docker/docker/pkg/archive/diff_unix.go
  vendor/github.com/docker/docker/pkg/archive/diff_windows.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/system/exitcode.go
  vendor/github.com/docker/docker/pkg/system/stat_windows.go
  vendor/github.com/docker/docker/pkg/system/umask.go
  vendor/github.com/docker/docker/pkg/system/umask_windows.go
  vendor/modules.txt
Owners: none

cli/compose/loader: TestMarshallConfig: fix duplicate version
  cli/compose/loader/types_test.go
Owners: none

cli/compose/types: UlimitsConfig.MarshalYAML() fix recursion
  cli/compose/types/types.go
Owners: none

cli/compose/loader: fix error messages, and various tests
  cli/compose/loader/full-struct_test.go
  cli/compose/loader/loader.go
  cli/compose/loader/loader_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
