Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

docs: docker inspect --size
  docs/reference/commandline/inspect.md
Owners: @thaJeztah

docs: docker inspect: reformat with prettier
  docs/reference/commandline/inspect.md
Owners: @thaJeztah

Remove deprecated note
  docs/reference/commandline/logs.md
Owners: @thaJeztah

cli/flags: remove outdated TODO
  cli/flags/options.go
Owners: none

vendor: github.com/moby/buildkit v0.8.4-0.20221020190723-eeb7b65ab7d6
  vendor.conf
  vendor/github.com/moby/buildkit/go.mod
Owners: none

vendor: github.com/docker/docker v20.10.21
  vendor.conf
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/github.com/docker/docker/registry/service_v2.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Added missing backslash to documentation sites cli snippet
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

cmd/docker: fix typo in deprecation warning
  cmd/docker/builder.go
  cmd/docker/builder_test.go
  e2e/image/build_test.go
Owners: none

Added missing backslash to documentation sites cli snippet
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

vendor: github.com/docker/docker v20.10.22
  vendor.conf
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Fix the max-concurrent-downloads and max-concurrent-uploads configs documentation
  contrib/completion/zsh/_docker
  docs/reference/commandline/dockerd.md
  man/dockerd.8.md
Owners: @sdurrheimer, @thaJeztah

export ParseSecurityOpts so this can be used by docker/compose
  cli/command/container/opts.go
Owners: none

builder/remotecontext/git: use strings.Cut()
  cli/command/image/build/internal/git/gitutils.go
Owners: none

vendor: github.com/containerd/containerd v1.6.14
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.15.12
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_generic.go
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.s
  vendor/github.com/klauspost/compress/zstd/history.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/prometheus/client_golang v1.14.0
  vendor.mod
  vendor.sum
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/doc.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/almost_equal.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/difflib.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/registry.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/github.com/prometheus/client_golang/prometheus/timer.go
  vendor/github.com/prometheus/client_model/go/metrics.pb.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sys v0.3.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/unicode/bidi/trieval.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.3.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.4.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/static_table.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.2.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20221215132206-0da442b2780f
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v23.0.0-beta.1.0.20221221173850-cba986b34090
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/errdefs/http_helpers.go
  vendor/modules.txt
Owners: none

@teruxs90 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
  .vscode/settings.json
Owners: none

vendor: github.com/inconshreveable/mousetrap v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/inconshreveable/mousetrap/trap_others.go
  vendor/github.com/inconshreveable/mousetrap/trap_windows.go
  vendor/github.com/inconshreveable/mousetrap/trap_windows_1.4.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v23.0.0-rc.1 (use tag)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cli/command/container: remove unused NetworkDisabled field
  cli/command/container/opts.go
Owners: none

Missing exec_die event
  docs/reference/commandline/system_events.md
Owners: @thaJeztah

docs/run: Fix url to blog "Docker can now run within Docker"
  docs/reference/run.md
Owners: @thaJeztah

docs/run: Fix url to blog "Docker can now run within Docker"
  docs/reference/run.md
Owners: @thaJeztah

Missing exec_die event
  docs/reference/commandline/system_events.md
Owners: @thaJeztah

docs/run: Fix url to blog "Docker can now run within Docker"
  docs/reference/run.md
Owners: @thaJeztah

opts: rename logOptsValidator, fix unhandled errors in tests
  opts/opts_test.go
Owners: none

remove redundant conversions and braces
  cli/command/container/opts.go
  opts/opts.go
  opts/throttledevice.go
  opts/weightdevice.go
Owners: none

opts: use strings.Cut for handling key/value pairs
  cli/command/container/opts_test.go
  opts/config.go
  opts/env.go
  opts/file.go
  opts/gpus.go
  opts/hosts.go
  opts/mount.go
  opts/network.go
  opts/opts.go
  opts/opts_test.go
  opts/parse.go
  opts/port.go
  opts/secret.go
  opts/throttledevice.go
  opts/weightdevice.go
Owners: none

cli/command/container: use strings.Cut
  cli/command/container/cp.go
  cli/command/container/opts.go
Owners: none

cli/command/service: use strings.Cut
  cli/command/service/opts.go
  cli/command/service/scale.go
  cli/command/service/update.go
Owners: none

cli/command/swarm: use strings.Cut
  cli/command/swarm/opts.go
Owners: none

cli/command/volume: use strings.Cut
  cli/command/volume/create.go
Owners: none
