Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

un-wrap some code
  cli/command/stack/swarm/deploy_composefile.go
Owners: @silvin-lubecki

TestServiceUpdateResolveImageChanged: use subtests
  cli/command/stack/swarm/deploy_test.go
Owners: @silvin-lubecki

Optional stream suppression for "container logs" command.
  cli/command/container/logs.go
  man/src/container/logs.md
Owners: none

vendor: golang.org/x/crypto 2aa609cf4a9d7d1126360de73b55b6002f9e052a
  vendor.conf
  vendor/golang.org/x/crypto/blowfish/block.go
  vendor/golang.org/x/crypto/blowfish/cipher.go
  vendor/golang.org/x/crypto/blowfish/const.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/poly1305/sum_vmsl_s390x.s
  vendor/golang.org/x/crypto/ssh/internal/bcrypt_pbkdf/bcrypt_pbkdf.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
Owners: none

scripts/make.ps1: actually define the CommitSuffix parameter
  scripts/make.ps1
Owners: none

Move circle.yml to .circleci/config.yml
  .circleci/config.yml
Owners: none

CircleCI: update docker versions used in CI
  circle.yml
Owners: none

Move circle.yml to .circleci/config.yml
  .circleci/config.yml
Owners: none

Add CodeQL Analysis workflow
  .github/workflows/codeql.yml
Owners: none

config: preserve ownership and permissions on configfile
  cli/config/configfile/file.go
  cli/config/configfile/file_unix.go
  cli/config/configfile/file_windows.go
Owners: none

Handle errors on close in config file write.
  cli/config/configfile/file.go
Owners: none

cli/command/formatter: remove deprecated compareMultipleValues() utility
  cli/command/formatter/container_test.go
  cli/command/formatter/custom_test.go
  cli/command/formatter/image_test.go
  cli/command/formatter/volume_test.go
Owners: none

cli/formatter: reformat TestImageContext test cases
  cli/command/formatter/image_test.go
Owners: none

Fix ConfigFile.Save() replacing symlink with file
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Owners: none

Bump Golang 1.13.13
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump Golang 1.13.13
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump Golang 1.13.14
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump Golang 1.13.14
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

added 'docker build --taget' to zsh completion
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Replace mattn/go-shellwords with google/shlex
  cli/compose/loader/loader.go
  vendor.conf
  vendor/github.com/mattn/go-shellwords/LICENSE
  vendor/github.com/mattn/go-shellwords/README.md
  vendor/github.com/mattn/go-shellwords/go.mod
  vendor/github.com/mattn/go-shellwords/shellwords.go
  vendor/github.com/mattn/go-shellwords/util_go15.go
  vendor/github.com/mattn/go-shellwords/util_posix.go
  vendor/github.com/mattn/go-shellwords/util_windows.go
Owners: none

Revert "Add CodeQL Analysis workflow"
  .github/workflows/codeql.yml
Owners: none

vendor: docker/docker 78e6ffd279b627ebba046b9675ff4849091d9cc3
  vendor.conf
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/client_unix.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/proc.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_32.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_64.go
  vendor/github.com/opencontainers/runc/libcontainer/system/sysconfig.go
  vendor/github.com/opencontainers/runc/libcontainer/system/sysconfig_notcgo.go
  vendor/github.com/opencontainers/runc/libcontainer/system/unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/system/xattrs_linux.go
Owners: none

Add DefaultAddressPools to docker info output #40388
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
  cli/command/system/testdata/docker-info-with-swarm.golden
  cli/command/system/testdata/docker-info-with-swarm.json.golden
Owners: none

Add shorthand for --tail option
  cli/command/container/logs.go
Owners: none

Partial fix for #2648 on Windows only.
  cli/command/image/build/context.go
Owners: none

Create FUNDING.yml
  .github/FUNDING.yml
Owners: none

deprecate `docker run --kernel-memory`
  docs/deprecated.md
  docs/reference/commandline/update.md
  man/src/container/update.md
Owners: @thaJeztah

docs: remove docs for —-from=index
  docs/reference/builder.md
Owners: @thaJeztah

vendor: update tonistiigi/fsutil ae3a8d753069d0f76fbee396457e8b6cfd7cb8c3
  vendor.conf
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/github.com/tonistiigi/fsutil/stat_unix.go
  vendor/github.com/tonistiigi/fsutil/walker.go
Owners: none

vendor: update containerd/continuity efbc4488d8fe1bdc16bde3b2d2990d9b3a899165
  vendor.conf
  vendor/github.com/containerd/continuity/fs/path.go
  vendor/github.com/containerd/continuity/go.mod
  vendor/github.com/containerd/continuity/syscallx/syscall_unix.go
  vendor/github.com/containerd/continuity/syscallx/syscall_windows.go
  vendor/github.com/containerd/continuity/sysx/file_posix.go
  vendor/github.com/containerd/continuity/sysx/xattr.go
  vendor/github.com/containerd/continuity/sysx/xattr_unsupported.go
Owners: none

vendor: update docker/docker 0f41a77c6993ade605a639fb25994cfe5e1b3fe8
  vendor.conf
  vendor/github.com/docker/docker/api/types/container/host_config.go
  vendor/github.com/docker/docker/api/types/swarm/container.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/service_create.go
  vendor/github.com/docker/docker/client/service_update.go
  vendor/github.com/docker/docker/vendor.conf
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
Owners: none

docker service inspect fails when TaskTemplate.Resources is nil
  cli/command/service/formatter.go
Owners: none

stack: Support cap_add and cap_drop on services
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  cli/compose/types/types.go
Owners: none

service: Add --cap-add & --cap-drop to service cmds
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
Owners: none

support emulated version detection
  cli/command/image/build_buildkit.go
  cli/command/system/version.go
  vendor.conf
  vendor/github.com/tonistiigi/go-rosetta/LICENSE
  vendor/github.com/tonistiigi/go-rosetta/go.mod
  vendor/github.com/tonistiigi/go-rosetta/rosetta.go
  vendor/github.com/tonistiigi/go-rosetta/rosetta_unsupported.go
Owners: none

Bump version of docker/docker to 47b7c888ee5c006918f6b533aef48d667484cd07
  vendor.conf
  vendor/github.com/docker/docker/api/types/events/events.go
  vendor/github.com/docker/docker/api/types/swarm/container.go
  vendor/github.com/docker/docker/vendor.conf
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
Owners: none

Support ulimits in docker stack deploy
  cli/compose/convert/service.go
  cli/compose/types/types.go
Owners: none

Add ulimits option to docker service create/update/inspect
  cli/command/service/create.go
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/command/service/update.go
Owners: none

document deprecation of legacy `~/.dockercfg` config-file
  docs/deprecated.md
Owners: @thaJeztah

docs: remove docs for —-from=index
  docs/reference/builder.md
Owners: @thaJeztah
