Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Dockerfile: align go version
  docker-bake.hcl
  dockerfiles/Dockerfile.vendor
Owners: none

cli/command/completion: NoComplete(): remove unused argument (revive)
  cli/command/completion/functions.go
Owners: none

Fix grammar in docs by adding omitted word
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

vendor: google.golang.org/grpc v1.50.1
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/conn_state_evaluator.go
  vendor/google.golang.org/grpc/balancer/roundrobin/roundrobin.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/internal/binarylog/binarylog.go
  vendor/google.golang.org/grpc/internal/binarylog/env_config.go
  vendor/google.golang.org/grpc/internal/binarylog/method_logger.go
  vendor/google.golang.org/grpc/internal/envconfig/observability.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcrand/grpcrand.go
  vendor/google.golang.org/grpc/internal/grpcutil/method.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/resolver/unix/unix.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/metadata/metadata.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Owners: none

e2e: increase tests certificates duration (10 years)
  e2e/testdata/Dockerfile.gencerts
Owners: none

cli/command/context: remove redundant if ...; err != nil check (revive)
  cli/command/context/create.go
Owners: none

load plugin command stubs when required
  cli-plugins/manager/cobra.go
  cli/cobra.go
  cmd/docker/docker.go
  e2e/cli-plugins/run_test.go
Owners: none

improve plugins discovery performance
  cli-plugins/manager/manager.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Owners: none

cli/command: remove deprecated ElectAuthServer()
  cli/command/registry.go
Owners: none

cli/command/container: fix redefinition of the built-in function close (revive)
  cli/command/container/run.go
Owners: none

ci: enhanced build workflow
  .github/workflows/build.yml
Owners: none

cli/command: ElectAuthServer: fix deprecation comment
  cli/command/registry.go
Owners: none

vendor: golang.org/x/net v0.7.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/trace/histogram.go
  vendor/modules.txt
Owners: none

bake target to generate certs for e2e tets
  docker-bake.hcl
  e2e/testdata/Dockerfile.gencerts
  e2e/testdata/gen-certs.sh
Owners: none

internal/test/notary: remove name for unused arg (revive)
  internal/test/notary/client.go
Owners: none

cli/command/image: fakeClient: remove name for unused arg (revive)
  cli/command/image/client_test.go
Owners: none

cli/command/volume: remove name for unused arg (revive)
  cli/command/volume/prune_test.go
Owners: none

cli/command/task: fakeClient: remove name for unused arg (revive)
  cli/command/task/client_test.go
Owners: none

cli/command: RunPrune(): remove name for unused "all" parameter (revive)
  cli/command/container/prune.go
  cli/command/network/prune.go
  cli/command/volume/prune.go
Owners: none

cli/command/stack: fakeClient: remove name for unused arg (revive)
  cli/command/stack/client_test.go
  cli/command/stack/swarm/client_test.go
Owners: @silvin-lubecki

cli/command/swarm: fakeClient: remove name for unused arg (revive)
  cli/command/swarm/client_test.go
  cli/command/swarm/ipnet_slice_test.go
Owners: none

cli/command/secret: fakeClient: include context in fake client (revive)
  cli/command/secret/client_test.go
  cli/command/secret/create_test.go
  cli/command/secret/inspect_test.go
  cli/command/secret/ls_test.go
  cli/command/secret/remove_test.go
Owners: none

cli/compose/convert: fakeClient: remove name for unused arg (revive)
  cli/compose/convert/service_test.go
Owners: none

internal/test: FakeCli: remove name for unused arg (revive)
  internal/test/cli.go
Owners: none

cli/command/config: fakeClient: include context in fake client (revive)
  cli/command/config/client_test.go
  cli/command/config/create_test.go
  cli/command/config/inspect_test.go
  cli/command/config/ls_test.go
Owners: none

cli/command/checkpoint: fakeClient: remove name for unused arg (revive)
  cli/command/checkpoint/client_test.go
Owners: none

internal/test/network: FakeClient: embed interface to remove boilerplating
  internal/test/network/client.go
Owners: none

cli/config/configfile: mockNativeStore: remove name for unused arg (revive)
  cli/config/configfile/file_test.go
Owners: none

opts: NormalizeCapability(): fix redefinition of the built-in function (revive)
  opts/capabilities.go
Owners: none

cli/registry/client: AuthorizeRequest(): remove name for unused arg (revive)
  cli/registry/client/endpoint.go
Owners: none

cli/command/trust: fakeClient: remove name for unused arg (revive)
  cli/command/trust/inspect_pretty_test.go
Owners: none

cli/command/service/progress: remove name for unused parameter (revive)
  cli/command/service/progress/progress.go
Owners: none

cli/connhelper/commandconn: remove name for unused arg (revive)
  cli/connhelper/commandconn/commandconn.go
Owners: none

cli/trust: remove name for unused args (revive)
  cli/trust/trust.go
Owners: none

cli/command/plugin: fakeClient: remove name for unused arg (revive)
  cli/command/plugin/client_test.go
Owners: none

cli/command/registry: fakeClient: remove name for unused arg (revive)
  cli/command/registry/login_test.go
Owners: none

cli/command/node: fakeClient: remove name for unused arg (revive)
  cli/command/node/client_test.go
Owners: none

update golangci-lint to v1.52.2
  dockerfiles/Dockerfile.lint
Owners: none

cli/command/image/build: remove name for unused arg (revive)
  cli/command/image/build/context_test.go
Owners: none

cli/compose/schema: remove name for unused arg (revive)
  cli/compose/schema/schema.go
Owners: none
