Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

Removing CLI plugins API documentation from official documentation as it is now deprecated. Adding depreciation notice.
  cli-plugins/manager/metadata.go
  docs/deprecated.md
  docs/extend/cli_plugins.md
Owners: @thaJeztah

Partially revert cf663b526a34f3e7911e6e60138138c2023aa844 as it breaks the version negotiation with an older docker engine.
  cli/command/cli.go
Owners: none

Add a new Makefile variable to override DockerInDocker engine version we use to run e2e tests
  docker.Makefile
Owners: none

Partially revert cf663b526a34f3e7911e6e60138138c2023aa844 as it breaks the version negotiation with an older docker engine.
  cli/command/cli.go
Owners: none

Add a new Makefile variable to override DockerInDocker engine version we use to run e2e tests
  docker.Makefile
Owners: none

Partially revert cf663b526a34f3e7911e6e60138138c2023aa844 as it breaks the version negotiation with an older docker engine.
  cli/command/cli.go
Owners: none

Add a new Makefile variable to override DockerInDocker engine version we use to run e2e tests
  docker.Makefile
Owners: none

Pass empty kubeconfig path when loading default Kubernetes configuration
  cli/command/context/options.go
  cli/context/kubernetes/load.go
  cli/context/kubernetes/save.go
Owners: none

Fix some build issues.
  cli/command/context/options.go
Owners: none

use the default loading rules unless kubeconfig is specified
  cli/context/kubernetes/save.go
Owners: none

Fix bug with panic when DOCKER_CLI_EXPERIMENTAL environment variable is incorrect
  cli/command/cli.go
Owners: none

docs: fix broken link in dockerd.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: fix broken link in dockerd.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Added `CreatedSince`, corrected `RunningFor` psFormat placeholders
  cli/command/formatter/container.go
  docs/reference/commandline/ps.md
Owners: @thaJeztah

Bump docker/docker vendor
  vendor.conf
  vendor/github.com/docker/docker/api/types/configs.go
  vendor/github.com/docker/docker/api/types/container/container_top.go
  vendor/github.com/docker/docker/api/types/volume.go
  vendor/github.com/docker/docker/api/types/volume/volume_create.go
  vendor/github.com/docker/docker/api/types/volume/volume_list.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/github.com/docker/docker/client/errors.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/pkg/archive/archive_linux.go
  vendor/github.com/docker/docker/pkg/idtools/idtools.go
  vendor/github.com/docker/docker/pkg/system/syscall_windows.go
  vendor/github.com/docker/docker/registry/config_unix.go
  vendor/github.com/docker/docker/registry/config_windows.go
  vendor/github.com/docker/docker/registry/registry.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Set platform on container create API.
  cli/command/container/client_test.go
  cli/command/container/create.go
  cli/command/container/create_test.go
  cli/command/container/run_test.go
Owners: none

Explicit Z on timestamp examples
  cli/command/container/logs.go
  cli/command/service/logs.go
  docs/reference/commandline/logs.md
Owners: @thaJeztah

Explicit Z on logs timestamp examples
  cli/command/container/logs.go
  cli/command/service/logs.go
  docs/reference/commandline/logs.md
Owners: @thaJeztah

docs/extend: fix broken link and some markdown touch-ups
  docs/extend/config.md
  docs/extend/plugins_network.md
Owners: @thaJeztah

docs/extend: fix broken link and some markdown touch-ups
  docs/extend/config.md
  docs/extend/plugins_network.md
Owners: @thaJeztah

Fix bug with panic when DOCKER_CLI_EXPERIMENTAL environment variable is incorrect
  cli/command/cli.go
Owners: none

ssh: avoid setting flags through hostname
  cli/connhelper/connhelper.go
  cli/connhelper/ssh/ssh.go
  cli/connhelper/ssh/ssh_test.go
Owners: none

ssh: avoid setting flags through hostname
  cli/connhelper/connhelper.go
  cli/connhelper/ssh/ssh.go
  cli/connhelper/ssh/ssh_test.go
Owners: none

Deprecate classic Swarm and overlay networks using external k/v stores
  docs/deprecated.md
Owners: @thaJeztah

Bump Golang 1.13.12
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

CircleCI: update docker versions used in CI
  circle.yml
Owners: none

remove duplicate container fish completion
  contrib/completion/fish/docker.fish
Owners: none

Add support for docker push --quiet
  cli/command/image/push.go
  cli/command/image/push_test.go
  contrib/completion/bash/docker
  docs/reference/commandline/push.md
Owners: @albers, @thaJeztah

vendor: gorilla/mux v1.7.4
  vendor.conf
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/context.go
  vendor/github.com/gorilla/mux/go.mod
  vendor/github.com/gorilla/mux/middleware.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
  vendor/github.com/gorilla/mux/route.go
  vendor/github.com/gorilla/mux/test_helpers.go
Owners: none

Use consistent name for errors
  cli/command/container/run.go
Owners: none

Use consistent name for errors
  cli/command/container/run.go
Owners: none

list state `ready` for filtering in stack_ps.md
  docs/reference/commandline/stack_ps.md
Owners: @thaJeztah

Don't loose additional metadata fields
  cli/command/context.go
  cli/command/context_test.go
Owners: none

Split up environment variable documentation between cli and dockerd
  docs/reference/commandline/cli.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Add MOBY_DISABLE_PIGZ to dockerd environment variable docs
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Bump Golang 1.13.12
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

new security-opt: privileged-without-host-devices (pwohd)
  cli/command/container/opts.go
Owners: none

Added support for setting OS version in docker manifest annotate. Signed-off-by: Saswat Bhattacharya <sas.saswat@gmail.com>
  cli/command/manifest/annotate.go
  cli/command/manifest/annotate_test.go
  cli/command/manifest/testdata/inspect-annotate.golden
  docs/reference/commandline/manifest.md
Owners: @thaJeztah

config: fix error message using incorrect filename
  cli/config/config.go
Owners: none

config: remove redundant os.Stat()
  cli/config/config.go
  cli/config/config_test.go
Owners: none
