Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/command/trust: SA1006: printf-style with no further arguments (staticcheck)
  cli/command/trust/key_generate.go
Owners: none

cli/command/image: SA1006: printf-style with no further arguments (staticcheck)
  cli/command/image/build.go
Owners: none

cli/command/utils: SA1006: printf-style with no further arguments (staticcheck)
  cli/command/utils.go
Owners: none

cli/command/formatter: Error return value of `ImageWrite` is not checked (errcheck)
  cli/command/formatter/image_test.go
Owners: none

cli/context/store: SA5001: should check returned error before deferring f.Close() (staticcheck)
  cli/context/store/store_test.go
Owners: none

cli/command: Error return value of `cli.Apply` is not checked (errcheck)
  cli/command/cli_test.go
Owners: none

cli/command/formatter: Error return value of `ContainerWrite` is not checked (errcheck)
  cli/command/formatter/container_test.go
Owners: none

cli/config: Using the variable on range scope `tc` in function literal (scopelint)
  cli/config/config_test.go
Owners: none

templates: Using the variable on range scope `testCase` in function literal (scopelint)
  templates/templates_test.go
Owners: none

service/logs: Using the variable on range scope `testcase` in function literal (scopelint)
  service/logs/parse_logs_test.go
Owners: none

e2e/cli-plugins: Using the variable on range scope `args` in function literal (scopelint)
  e2e/cli-plugins/flags_test.go
Owners: none

cli/compose/loader: Using a reference for the variable on range scope `overrideService` (scopelint)
  cli/compose/loader/loader_test.go
  cli/compose/loader/merge.go
Owners: none

cli/command/trust: Using the variable on range scope `keyBytes` in function literal (scopelint)
  cli/command/trust/key_load_test.go
Owners: none

cli/command/context: Using the variable on range scope `c` in function literal (scopelint)
  cli/command/context/create_test.go
Owners: none

cli/command: Using the variable on range scope `testcase` in function literal (scopelint)
  cli/command/cli_test.go
Owners: none

cli: remove unnecessary newlines (whitespace)
  cli/command/image/build/context.go
  cli/compose/interpolation/interpolation.go
  cli/compose/schema/schema_test.go
  cli/config/config_test.go
  cli/context/store/tlsstore_test.go
  cli/registry/client/fetcher.go
Owners: none

internal: remove unnecessary newlines (whitespace)
  internal/containerizedengine/progress.go
  internal/licenseutils/client_test.go
  internal/versions/versions.go
Owners: none

e2e: remove unnecessary trailing newline (whitespace)
  e2e/trust/sign_test.go
Owners: none

cli/command/container: suppress dogsled warnings
  cli/command/container/opts_test.go
Owners: none

cli/compose/template: Using the variable on range scope `tc` in function literal (scopelint)
  cli/compose/template/template_test.go
Owners: none

cli/manifest: Using the variable on range scope `testcase` in function literal (scopelint)
  cli/manifest/store/store_test.go
Owners: none

cli/command/stack/kubernetes: Using a reference for the variable on range scope `obj` (scopelint)
  cli/command/stack/kubernetes/watcher_test.go
Owners: @silvin-lubecki

opts: Using the variable on range scope `tc` in function literal (scopelint)
  opts/network_test.go
  opts/opts_test.go
Owners: none

cli/command/container: Using the variable on range scope `c` in function literal (scopelint)
  cli/command/container/create_test.go
Owners: none

cli/command/stack/kubernetes: Using the variable on range scope `c` in function literal (scopelint)
  cli/command/stack/kubernetes/convert_test.go
Owners: @silvin-lubecki

service: remove unused opts from newService() (unparam)
  cli/command/service/client_test.go
Owners: none

Remove now obsolete gometalinter and use golangci-lint instead
  .golangci.yml
  dockerfiles/Dockerfile.lint
  gometalinter.json
Owners: none

Add interpolation type cast for max_replicas_per_node
  cli/compose/loader/interpolate.go
  cli/compose/loader/loader_test.go
Owners: none

Add interpolation type cast for max_replicas_per_node
  cli/compose/loader/interpolate.go
  cli/compose/loader/loader_test.go
Owners: none

TestParseRemoteURL: use subtests
  cli/command/image/build/internal/git/gitutils_test.go
Owners: none

builder/remotecontext: use net/url instead of urlutil
  cli/command/image/build/internal/git/gitutils.go
  cli/command/image/build/internal/git/gitutils_test.go
Owners: none

Adding example of != in command list
  docs/reference/commandline/image_prune.md
Owners: @thaJeztah

Bump compose-on-kubernetes from v0.4.25-alpha1 to v0.5.0-alpha1
  vendor.conf
Owners: none

app-214 Load Client info in getter function
  cli/command/cli.go
Owners: none

Update image_prune.md
  docs/reference/commandline/image_prune.md
Owners: @thaJeztah

cp: allow trailing slash in non-existant destination
  cli/command/utils.go
  cli/command/utils_test.go
Owners: none

cp: allow trailing slash in non-existant destination
  cli/command/utils.go
  cli/command/utils_test.go
Owners: none

Add support for docker push --quiet
  cli/command/image/push.go
  cli/command/image/push_test.go
  contrib/completion/bash/docker
  docs/reference/commandline/push.md
Owners: @albers, @thaJeztah

e2e: add new test package "global" with TestTLSVerify
  e2e/global/cli_test.go
  e2e/global/main_test.go
Owners: none

Typo in documentation of volume create
  man/src/volume/create.md
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
