Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

docs/deprecated: remove minor versions
  docs/deprecated.md
Owners: @thaJeztah

Add documentation for stack config command
  docs/reference/commandline/index.md
  docs/reference/commandline/stack_config.md
  docs/reference/commandline/stack_deploy.md
Owners: @thaJeztah

Add stack config command
  cli/command/stack/cmd.go
  cli/command/stack/config.go
  cli/command/stack/config_test.go
  cli/command/stack/loader/loader.go
  cli/command/stack/loader/loader_test.go
  cli/command/stack/options/opts.go
  e2e/stack/config_test.go
Owners: @silvin-lubecki

Add merge to ShellCommand properties in config
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
Owners: none

Change merge strategy for service volumes
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
Owners: none

Format man pages for docker and dockerd
  man/docker.1.md
  man/dockerd.8.md
Owners: none

docs: fix broken links in build reference
  docs/reference/commandline/build.md
Owners: @thaJeztah

docs: fix broken links in build reference
  docs/reference/commandline/build.md
Owners: @thaJeztah

Remove alias
  cli/command/stack/config.go
Owners: @silvin-lubecki

Use the configured cli output
  cli/command/stack/config.go
Owners: @silvin-lubecki

Don't export outputConfig
  cli/command/stack/config.go
  cli/command/stack/config_test.go
Owners: @silvin-lubecki

Merged the two tests by using table driven test pattern
  cli/command/stack/config_test.go
Owners: @silvin-lubecki

Return err directly when outputting to the configured cli output
  cli/command/stack/config.go
Owners: @silvin-lubecki

feat: allow ssh flag arguments
  cli/connhelper/connhelper.go
Owners: none

Fixes #2753 - Add case-insensitive auth
  cli/command/image/push.go
  cli/command/image/trust.go
  cli/command/registry/login.go
  cli/command/registry/logout.go
Owners: none

Reflect the new github URL for completion/zsh/_docker
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Wait on waitgroup instead of using time.Sleep
  cli/command/container/stats.go
Owners: none

Update version to 20.10-dev
  VERSION
Owners: none

docs: update 20.03 -> 20.10 in deprecated.md
  docs/deprecated.md
Owners: @thaJeztah

docs: update 20.03 -> 20.10 in docker update docs
  docs/reference/commandline/update.md
  man/src/container/update.md
Owners: @thaJeztah

add docker cp completion for container ids
  contrib/completion/fish/docker.fish
Owners: none

Bump vndr v0.1.2
  dockerfiles/Dockerfile.dev
Owners: none

docs: update 20.03 -> 20.10 in deprecated.md
  docs/deprecated.md
Owners: @thaJeztah

Clarify interaction of USER with ENTRYPOINT
  docs/reference/builder.md
Owners: @thaJeztah

Deprecate Linux containers on Windows (LCOW) (experimental)
  docs/deprecated.md
Owners: @thaJeztah

Update man-page source MarkDown to work with go-md2man v2
  man/Dockerfile.5.md
  man/docker-build.1.md
  man/docker-config-json.5.md
  man/docker-run.1.md
  man/docker.1.md
  man/dockerd.8.md
Owners: none

vendor: github.com/spf13/cobra v1.1.1
  vendor.conf
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/custom_completions.go
  vendor/github.com/spf13/cobra/doc/README.md
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/doc/md_docs.go
  vendor/github.com/spf13/cobra/doc/util.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/go.mod
  vendor/github.com/spf13/cobra/shell_completions.go
  vendor/github.com/spf13/cobra/zsh_completions.go
Owners: none

man-pages: fix missing manual title in heading
  man/generate.go
Owners: none

vendor: docker/docker 73dc6a680cdd48f2f993f1a1b91aac1dd23d47c8
  vendor.conf
  vendor/github.com/docker/docker/api/types/seccomp.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/pkg/system/rm_unix.go
  vendor/github.com/docker/docker/pkg/system/rm_windows.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: github.com/gofrs/flock v0.7.3
  vendor.conf
  vendor/github.com/gofrs/flock/LICENSE
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_windows.go
Owners: none

vendor: opencontainers/go-digest v1.0.0
  vendor.conf
  vendor/github.com/opencontainers/go-digest/LICENSE
  vendor/github.com/opencontainers/go-digest/README.md
  vendor/github.com/opencontainers/go-digest/algorithm.go
  vendor/github.com/opencontainers/go-digest/digest.go
  vendor/github.com/opencontainers/go-digest/digester.go
  vendor/github.com/opencontainers/go-digest/doc.go
  vendor/github.com/opencontainers/go-digest/go.mod
  vendor/github.com/opencontainers/go-digest/verifiers.go
Owners: none

vendor: cloud.google.com/go v0.44.3
  vendor.conf
  vendor/cloud.google.com/go/README.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/go.mod
Owners: none

handle sigterm on running a plugin
  cmd/docker/docker.go
Owners: none

Update run.md
  docs/reference/run.md
Owners: @thaJeztah

Replace wrong Docker image name references with repository
  docs/reference/commandline/images.md
Owners: @thaJeztah

Replace deprecated instruction
  docs/reference/commandline/pull.md
  man/src/image/pull.md
Owners: @thaJeztah

Replace deprecated instruction
  docs/reference/commandline/pull.md
  man/src/image/pull.md
Owners: @thaJeztah

opts: fix potential integer overflow CWE-190, CWE-681
  opts/weightdevice.go
Owners: none

builder: print deprecation warning instead of failing for --stream
  cli/command/image/build.go
Owners: none

Deprecation: add experimental docker build --stream option
  docs/deprecated.md
Owners: @thaJeztah
