Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

Deprecate Kubernetes stack support
  docs/deprecated.md
Owners: @thaJeztah

Deprecate Kubernetes stack support
  cli/command/stack/cmd.go
  cli/command/stack/kubernetes/cli.go
  cli/command/stack/list.go
  cli/command/system/version.go
  docs/yaml/yaml.go
Owners: @silvin-lubecki, @thaJeztah

Deprecate Kubernetes context support
  cli/command/context/create.go
  cli/command/context/export.go
  cli/command/context/update.go
  docs/deprecated.md
Owners: @thaJeztah

docs: Fix wrong bridge driver option
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

Fix minor wording
  docs/reference/commandline/run.md
Owners: @thaJeztah

Jenkinsfile: update labels to prevent running on cgroups v2
  Jenkinsfile
Owners: none

Jenkinsfile: update old engine version to 19.03
  Jenkinsfile
Owners: none

circleCI: update docker engine to 20.10.6
  .circleci/config.yml
Owners: none

docker info: skip API connection if possible
  cli/command/system/info.go
  cli/command/system/info_test.go
Owners: none

Remove ClientInfo as it is not practically used.
  cli/command/cli.go
  cli/command/cli_test.go
  cmd/docker/docker.go
  internal/test/cli.go
Owners: none

WIP: update docker vendoring
  vendor.conf
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Add "platform" column to docker ps
  cli/command/formatter/container.go
  cli/command/formatter/custom.go
  docs/reference/commandline/ps.md
  man/src/container/ls.md
Owners: @thaJeztah

yamldocs: various improvements
  docs/yaml/generate.go
  docs/yaml/markdown.go
  docs/yaml/markdown_test.go
  docs/yaml/yaml.go
  scripts/docs/generate-yaml.sh
Owners: @thaJeztah

docs/yaml: add TODO for conditionally skipping root command
  docs/yaml/yaml.go
Owners: @thaJeztah

Detect compose plugin
  contrib/completion/bash/docker
Owners: @albers

Add completion for docker-compose plugin
  contrib/completion/bash/docker
Owners: @albers

info: print errors to stderr
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-badsec-stderr.golden
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-errors-stderr.golden
  cli/command/system/testdata/docker-info-errors.golden
Owners: none

Update system_prune.md
  docs/reference/commandline/system_prune.md
Owners: @thaJeztah

Update builder.md
  docs/reference/builder.md
Owners: @thaJeztah

Update network_create.md
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

Fix typo in documentation - build.md
  docs/reference/commandline/build.md
Owners: @thaJeztah

WIP: update docker vendoring
  vendor.conf
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

Add "platform" column to docker ps
  cli/command/formatter/container.go
  cli/command/formatter/custom.go
  docs/reference/commandline/ps.md
  man/src/container/ls.md
Owners: @thaJeztah

Dockerfile: remove custom go build for windows/arm64
  Dockerfile
Owners: none

Remove note about Git context not supporting subdir
  docs/reference/commandline/build.md
Owners: @thaJeztah

Dockerfile: remove custom go build for windows/arm64
  Dockerfile
Owners: none

Detect compose plugin
  contrib/completion/bash/docker
Owners: @albers

add cluster volume opts to creeate
  cli/command/volume/create.go
  cli/command/volume/create_test.go
Owners: none

Add support for ALL_PROXY
  cli/command/container/create_test.go
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
  docs/reference/builder.md
  docs/reference/commandline/cli.md
  man/Dockerfile.5.md
Owners: @thaJeztah

vendor: github.com/russross/blackfriday/v2 v2.1.0
  vendor.conf
  vendor/github.com/russross/blackfriday/v2/README.md
  vendor/github.com/russross/blackfriday/v2/block.go
  vendor/github.com/russross/blackfriday/v2/doc.go
  vendor/github.com/russross/blackfriday/v2/entities.go
  vendor/github.com/russross/blackfriday/v2/esc.go
  vendor/github.com/russross/blackfriday/v2/html.go
  vendor/github.com/russross/blackfriday/v2/inline.go
  vendor/github.com/russross/blackfriday/v2/node.go
  vendor/github.com/shurcooL/sanitized_anchor_name/LICENSE
  vendor/github.com/shurcooL/sanitized_anchor_name/README.md
  vendor/github.com/shurcooL/sanitized_anchor_name/go.mod
  vendor/github.com/shurcooL/sanitized_anchor_name/main.go
Owners: none

vendor: cpuguy83/go-md2man/v2 v2.0.1
  vendor.conf
  vendor/github.com/cpuguy83/go-md2man/v2/go.mod
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
Owners: none

vendor: github.com/russross/blackfriday/v2 v2.1.0
  vendor.conf
  vendor/github.com/russross/blackfriday/v2/README.md
  vendor/github.com/russross/blackfriday/v2/block.go
  vendor/github.com/russross/blackfriday/v2/doc.go
  vendor/github.com/russross/blackfriday/v2/entities.go
  vendor/github.com/russross/blackfriday/v2/esc.go
  vendor/github.com/russross/blackfriday/v2/html.go
  vendor/github.com/russross/blackfriday/v2/inline.go
  vendor/github.com/russross/blackfriday/v2/node.go
  vendor/github.com/shurcooL/sanitized_anchor_name/LICENSE
  vendor/github.com/shurcooL/sanitized_anchor_name/README.md
  vendor/github.com/shurcooL/sanitized_anchor_name/go.mod
  vendor/github.com/shurcooL/sanitized_anchor_name/main.go
Owners: none

vendor: cpuguy83/go-md2man/v2 v2.0.1
  vendor.conf
  vendor/github.com/cpuguy83/go-md2man/v2/go.mod
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
Owners: none

Add requisite and preferred topology flags
  cli/command/volume/create.go
  cli/command/volume/create_test.go
Owners: none

Update Dockerfiles to latest syntax, remove "experimental"
  Dockerfile
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

Update Dockerfiles to latest syntax, remove "experimental"
  Dockerfile
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

circleci: update engine to 20.10.7
  .circleci/config.yml
Owners: none

Add doc for BUILDKIT_PROGRESS env var
  docs/reference/commandline/cli.md
Owners: @thaJeztah

CircleCI: update BUILDX_VERSION to v0.6.0
  .circleci/config.yml
Owners: none

cli/context: ignore linting warnings about RFC 1423 encryption
  cli/context/docker/load.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
