Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/command/idresolver: fakeClient: remove name for unused arg (revive)
  cli/command/idresolver/client_test.go
Owners: none

cli/command/container: fakeClient: remove name for unused arg (revive)
  cli/command/container/client_test.go
Owners: none

cli/command/network: fakeClient: remove name for unused arg (revive)
  cli/command/network/client_test.go
Owners: none

cli/command/service: fakeClient: remove name for unused arg (revive)
  cli/command/service/update_test.go
Owners: none

vendor: github.com/klauspost/compress v1.16.3
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/fse/decompress.go
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decodeheader.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/README.md
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_amd64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_arm64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_asm.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_other.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Owners: none

update to go1.20.2
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

cp: do not emit progress if stderr is not a term
  cli/command/container/cp.go
Owners: none

vendor: github.com/opencontainers/runc v1.1.5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cp: reduce branching in progress printer
  cli/command/container/cp.go
Owners: none

cp: Improve tty flashing on progress updates
  cli/command/container/cp.go
Owners: none

replace uses of deprecated api/types.AuthConfig
  cli/command/cli.go
  cli/command/image/build.go
  cli/command/image/trust.go
  cli/command/registry.go
  cli/command/registry/login.go
  cli/command/registry/login_test.go
  cli/command/registry_test.go
  cli/registry/client/client.go
  cli/registry/client/endpoint.go
  cli/trust/trust.go
Owners: none

vendor: github.com/imdario/mergo v0.3.13
  vendor.mod
  vendor.sum
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230315203717-e28e8ba9bc83
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.11.5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cli/flags: remove deprecated CommonOptions, NewCommonOptions
  cli/flags/options_deprecated.go
Owners: none

fix docker version --format=json not outputting json format
  cli/command/system/testdata/docker-client-version.json.golden
  cli/command/system/version.go
  cli/command/system/version_test.go
  docs/reference/commandline/version.md
Owners: @thaJeztah

vendor: github.com/containerd/containerd v1.6.20
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cp: Reduce number of progress updates
  cli/command/container/cp.go
Owners: none

Fix plugin completion parsing for plugins using `ShellCompDirectiveFilterFileExt`
  contrib/completion/bash/docker
Owners: @albers

improve plugins listing performance
  cli-plugins/manager/candidate_test.go
  cli-plugins/manager/manager.go
  cli-plugins/manager/plugin.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Owners: none

scripts/docs/generate-md.sh: fix location of generate code
  scripts/docs/generate-md.sh
Owners: none

cp: Do not block transfer on writing to terminal
  cli/command/container/cp.go
Owners: none

docs: regenerate markdown docs
  docs/reference/commandline/container_rm.md
  docs/reference/commandline/rm.md
Owners: @thaJeztah

cli/command/formatter: remove deprecated KubernetesEndpoint
  cli/command/formatter/context.go
Owners: none

cli/command/formatter: export JSONFormat const
  cli/command/formatter/formatter.go
Owners: none

cli/command/system: make default version template a const
  cli/command/system/version.go
Owners: none

cli/context/store: remove deprecated error-utilities
  cli/context/store/store.go
Owners: none

cli/config/configfile: remove deprecated StackOrchestrator field
  cli/config/configfile/file.go
Owners: none

docs: update engine versions in some examples
  docs/reference/commandline/build.md
  docs/reference/commandline/info.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/version.md
  man/src/system/info.md
  man/src/version.md
Owners: @thaJeztah

fix docker info --format=json not outputting json format
  cli/command/system/info.go
  cli/command/system/info_test.go
  docs/reference/commandline/info.md
  docs/reference/commandline/system_info.md
Owners: @thaJeztah

cli/command/container: rename vars that collided
  cli/command/container/create.go
  cli/command/container/opts_test.go
  cli/command/container/run.go
Owners: none

cli/streams: minor refactoring and docs touch-ups
  cli/streams/in.go
  cli/streams/out.go
  cli/streams/stream.go
Owners: none

revert "improve plugins discovery performance"
  cli-plugins/manager/manager.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Owners: none

Update version to v24.0.0-dev
  VERSION
Owners: none

cli/context/docker: remove deprecated Endpoint.TLSPassword
  cli/context/docker/load.go
Owners: none

vendor: github.com/opencontainers/image-spec v1.1.0-rc2.0.20221005185240-3a7f492d3f1b
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/artifact.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/config.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

cli/command: fix deprecation comments for Stream types
  cli/command/streams.go
Owners: none

cli/command: embed "Streams" interface in "Cli"
  cli/command/cli.go
Owners: none

vendor: github.com/docker/docker 7c93e4a09be1 (v24.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cp: Make gocyclo happy
  cli/command/container/cp.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
