Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/command: don't use pflags.XXXVarP for flags without shorthand
  cli/command/checkpoint/create.go
  cli/command/checkpoint/list.go
  cli/command/checkpoint/remove.go
  cli/command/config/ls.go
  cli/command/container/exec.go
  cli/command/container/list.go
  cli/command/registry/login.go
  cli/command/secret/ls.go
  cli/command/swarm/ipnet_slice_test.go
Owners: none

tests: add plugin-socket-compatibility tests
  cli-plugins/socket/socket_test.go
  e2e/cli-plugins/plugins/presocket/main.go
  e2e/cli-plugins/socket_test.go
Owners: none

Remove dummy circleci config
  .circleci/config.yml
Owners: none

Add Linode docker volume plugin
  docs/extend/legacy_plugins.md
Owners: @thaJeztah

vendor: github.com/opencontainers/runc v1.1.11
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.8
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/client/container_wait.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/ioutils/readers.go
  vendor/github.com/docker/docker/pkg/ioutils/writers.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.12
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v25.0.1
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/builder/remotecontext/urlutil/urlutil.go
  vendor/github.com/docker/docker/pkg/system/xattrs.go
  vendor/github.com/docker/docker/pkg/system/xattrs_linux.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v25.0.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

initial devcontainer config + updated docs for usage info
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  CONTRIBUTING.md
  README.md
Owners: none

vendor: github.com/docker/docker v24.0.9
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cli/command/images: runImages: inline intermediate var
  cli/command/image/list.go
Owners: none

cli/command/images: runImages: use proper camel-case for dockerCLI
  cli/command/image/list.go
Owners: none

images: print hint when invoking "docker images" with ambiguous argument
  cli/command/image/list.go
  cli/command/image/list_test.go
  cli/command/image/testdata/list-command-ambiguous.golden
Owners: none

Upgrade to buildx 0.12.2
  Dockerfile
Owners: none

Uniform volume prune output msg with other prune commands
  cli/command/volume/prune.go
  cli/command/volume/prune_test.go
  cli/command/volume/testdata/volume-prune-no.golden
Owners: none

vendor: github.com/docker/docker v25.0.3-dev
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/network/endpoint.go
  vendor/github.com/docker/docker/api/types/network/ipam.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/ioutils/readers.go
  vendor/github.com/docker/docker/pkg/ioutils/writers.go
  vendor/modules.txt
Owners: none

tests: add tests for `cli-plugins/socket`
  cli-plugins/socket/socket_test.go
Owners: none

tests: add plugin-socket-compatibility tests
  cli-plugins/socket/socket_test.go
  e2e/cli-plugins/plugins/presocket/main.go
  e2e/cli-plugins/socket_test.go
Owners: none

scripts: don't hardcode architecture in e2e script
  scripts/test/e2e/run
Owners: none

vendor: github.com/docker/docker v25.0.3
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/network/endpoint.go
  vendor/github.com/docker/docker/api/types/network/ipam.go
  vendor/github.com/docker/docker/pkg/ioutils/readers.go
  vendor/github.com/docker/docker/pkg/ioutils/writers.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20240125134710-dcda100a8261
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/genericresource/validate.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker 9e075f3808a5 (master, v26.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/network/endpoint.go
  vendor/github.com/docker/docker/api/types/network/ipam.go
  vendor/github.com/docker/docker/api/types/versions/README.md
  vendor/github.com/docker/docker/pkg/ioutils/readers.go
  vendor/github.com/docker/docker/pkg/ioutils/writers.go
  vendor/modules.txt
Owners: none

docker stack: allow '=' separator in extra_hosts
  cli/compose/loader/loader.go
  cli/compose/loader/loader_test.go
Owners: none

Avoid keeping @docker_cli_[UUID] files
  cli-plugins/socket/socket_openbsd.go
Owners: none

Minor test fixes necessary for eventually upgrading ci runners and engine version
  e2e/container/run_test.go
  e2e/image/build_test.go
Owners: none

vendor: github.com/docker/docker 86b86412a1b7 (v26.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/types/container/config.go
  vendor/github.com/moby/docker-image-spec/LICENSE
  vendor/github.com/moby/docker-image-spec/specs-go/v1/image.go
  vendor/modules.txt
Owners: none

cli/connhelper/commandconn: inline variables
  cli/connhelper/commandconn/commandconn_unix_test.go
Owners: none

testenv: Add DaemonAPIVersion helper
  internal/test/environment/testenv.go
Owners: none

mount: Add `volume-subpath` option
  e2e/container/run_test.go
  opts/mount.go
Owners: none

Update gha runners and engines used in e2e tests
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
  e2e/image/testdata/pull-with-content-trust.golden
  e2e/plugin/trust_test.go
Owners: none

Cleanup of dockerfiles, compose files and env vars
  .github/workflows/e2e.yml
  docker.Makefile
  e2e/compose-env.connhelper-ssh.yaml
  e2e/compose-env.yaml
  e2e/testdata/Dockerfile.connhelper-ssh
  e2e/testdata/Dockerfile.evil-notary-server
  e2e/testdata/Dockerfile.notary-server
Owners: none

cli-plugins/socket: remove use of deprecated distribution uuid package
  cli-plugins/socket/socket.go
Owners: none

man/docker-build.1: typo in parameter variable: CID => IID
  man/docker-build.1.md
Owners: none

fix: concurrency safe `net.UnixConn`
  cli-plugins/socket/socket.go
  cli-plugins/socket/socket_darwin.go
  cli-plugins/socket/socket_nodarwin.go
  cli-plugins/socket/socket_test.go
  cmd/docker/docker.go
Owners: none

Fixed typo in bash completion functions
  contrib/completion/bash/docker
Owners: @albers

update to go1.21.7
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

deps: update cli-docs-tool version (v0.7.0)
  scripts/docs/generate-yaml.sh
Owners: none

Add 4 test to improve test coverage (#8)
  cli/compose/convert/volume_test.go
  cli/compose/template/template_test.go
Owners: none

Improve cluster test coverage in volume.go (#14)
  cli/compose/convert/volume_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
