Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

fix --update-order and --rollback-order flags
  cli/command/service/opts.go
  cli/command/service/opts_test.go
Owners: none

Added zsh completion for docker context subcommands
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Add docs and completion for docker node ls --filter node.label
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/node_ls.md
Owners: @albers, @sdurrheimer, @thaJeztah

Use golang.org/x/sys/execabs
  cli-plugins/manager/candidate.go
  cli-plugins/manager/manager.go
  cli/command/image/build/context.go
  cli/config/credentials/default_store.go
  cli/connhelper/commandconn/commandconn.go
Owners: none

Add bash completion for `docker run|create --pull`
  contrib/completion/bash/docker
Owners: @albers

Add bash completion for `dockerd --ip6tables`
  contrib/completion/bash/docker
Owners: @albers

fix docker-run man page table formatting
  man/docker-run.1.md
Owners: none

context: Ensure import paths are valid
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/storeconfig_test.go
Owners: none

vendor: github.com/docker/docker v20.10.1
  vendor.conf
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: github.com/theupdateframework/notary v0.7.0
  vendor.conf
  vendor/github.com/agl/ed25519/LICENSE
  vendor/github.com/agl/ed25519/ed25519.go
  vendor/github.com/agl/ed25519/edwards25519/const.go
  vendor/github.com/agl/ed25519/edwards25519/edwards25519.go
  vendor/github.com/theupdateframework/notary/README.md
  vendor/github.com/theupdateframework/notary/client/changelist/file_changelist.go
  vendor/github.com/theupdateframework/notary/client/changelist/interface.go
  vendor/github.com/theupdateframework/notary/client/client.go
  vendor/github.com/theupdateframework/notary/client/delegations.go
  vendor/github.com/theupdateframework/notary/client/interface.go
  vendor/github.com/theupdateframework/notary/client/reader.go
  vendor/github.com/theupdateframework/notary/client/tufclient.go
  vendor/github.com/theupdateframework/notary/cryptoservice/crypto_service.go
  vendor/github.com/theupdateframework/notary/fips.go
  vendor/github.com/theupdateframework/notary/go.mod
  vendor/github.com/theupdateframework/notary/passphrase/passphrase.go
  vendor/github.com/theupdateframework/notary/storage/filestore.go
  vendor/github.com/theupdateframework/notary/storage/httpstore.go
  vendor/github.com/theupdateframework/notary/storage/interfaces.go
  vendor/github.com/theupdateframework/notary/tuf/builder.go
  vendor/github.com/theupdateframework/notary/tuf/data/keys.go
  vendor/github.com/theupdateframework/notary/tuf/data/roles.go
  vendor/github.com/theupdateframework/notary/tuf/data/snapshot.go
  vendor/github.com/theupdateframework/notary/tuf/data/targets.go
  vendor/github.com/theupdateframework/notary/tuf/data/types.go
  vendor/github.com/theupdateframework/notary/tuf/signed/interface.go
  vendor/github.com/theupdateframework/notary/tuf/signed/sign.go
  vendor/github.com/theupdateframework/notary/tuf/signed/verifiers.go
  vendor/github.com/theupdateframework/notary/tuf/utils/pkcs8.go
  vendor/github.com/theupdateframework/notary/tuf/utils/utils.go
  vendor/github.com/theupdateframework/notary/tuf/utils/x509.go
  vendor/github.com/theupdateframework/notary/vendor.conf
Owners: none

context: Ensure context name is valid on import
  cli/command/context/cmd.go
  cli/command/context/create.go
  cli/command/context/export.go
  cli/command/context/update.go
  cli/command/context/use.go
  cli/context/store/store.go
  cli/context/store/storeconfig_test.go
Owners: none

Removed format flag for inspect
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

cli/config: prevent warning if HOME is not set
  cli/config/config.go
  cli/config/config_test.go
Owners: none

docs: Fix wrong variable name
  docs/reference/run.md
Owners: @thaJeztah

vendor: update notary to 5f1f4a34
  vendor.conf
  vendor/github.com/theupdateframework/notary/go.mod
  vendor/github.com/theupdateframework/notary/trustmanager/yubikey/pkcs11_darwin.go
Owners: none

docs: add redirect for old reference URL
  docs/reference/run.md
Owners: @thaJeztah

context: Add tarball e2e tests
  e2e/context/context_test.go
  e2e/context/testdata/context-ls-notls.golden
  e2e/context/testdata/context-ls-tls.golden
  e2e/context/testdata/test-dockerconfig-tls.tar
  e2e/context/testdata/test-dockerconfig.tar
Owners: none

Fix panic when failing to get DefaultAuthConfig
  cli/command/registry.go
  cli/command/registry/login.go
Owners: none

docs: fix typo in deprecated.md
  docs/deprecated.md
Owners: @thaJeztah

Ignore SIGURG on Darwin too
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/container/signals_windows.go
Owners: none

config: print deprecation warning when falling back to ~/.dockercfg
  cli/config/config.go
  cli/config/config_test.go
  cmd/docker/docker_test.go
Owners: none

docs: update some examples for proxy configuration
  docs/reference/builder.md
  docs/reference/commandline/cli.md
  man/Dockerfile.5.md
Owners: @thaJeztah

Update stop.md
  docs/reference/commandline/stop.md
Owners: @thaJeztah

docs: improve example for "remove all stopped containers"
  docs/reference/commandline/rm.md
Owners: @thaJeztah

config.Load() remove unneeded locks
  cli/config/config.go
Owners: none

docs: add reference for "docker config" commands
  docs/reference/commandline/config.md
  docs/reference/commandline/config_create.md
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/config_rm.md
Owners: @thaJeztah

Swap "LABEL maintainer" for the OCI pre-defined "org.opencontainers.image.authors"
  docs/reference/builder.md
  docs/reference/commandline/pull.md
  man/src/image/pull.md
Owners: @thaJeztah

printServerWarningsLegacy: silence "No kernel memory limit support"
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-warnings.golden
Owners: none

cli/config/configfile: various test cleanups
  cli/config/configfile/file_test.go
Owners: none

Fix `docker start` blocking on signal handling
  cli/command/container/start.go
Owners: none

Use designated test domains (RFC2606) in tests
  cli/command/cli_test.go
  cli/command/container/create_test.go
  cli/command/context/create_test.go
  cli/command/context/list_test.go
  cli/command/context/testdata/inspect.golden
  cli/command/context/testdata/list.golden
  cli/command/context/testdata/test-kubeconfig
  cli/command/image/trust_test.go
  cli/command/registry_test.go
  cli/command/swarm/ca_test.go
  cli/config/configfile/file_test.go
  cli/config/credentials/file_store_test.go
  cli/connhelper/connhelper.go
Owners: none

printServerWarningsLegacy: silence "No oom kill disable support" on cgroup v2
  cli/command/system/info.go
Owners: none

scripts: fix VERSION_QUAD corner case in windows resource
  scripts/build/binary
Owners: none

dockerfile based binary building
  .dockerignore
  Dockerfile
  docker-bake.hcl
  scripts/build/.variables
  scripts/build/binary
  scripts/build/cross
  scripts/build/dynbinary
  scripts/build/osx
Owners: none

Add progress bar to copy into and from container
  cli/command/container/cp.go
  cli/command/container/cp_test.go
Owners: none

ForwardAllSignals: check if channel is closed, and remove warning
  cli/command/container/signals.go
Owners: none

docs/reference/builder: update example output, and some rephrasing
  docs/reference/builder.md
Owners: @thaJeztah

docs: Fix broken jump link
  docs/reference/run.md
Owners: @thaJeztah

docs: cleanup / refactor cli doc
  docs/reference/commandline/cli.md
Owners: @thaJeztah

scripts: use WINDRES env var if set
  scripts/build/binary
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
