Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

context: Ensure context name is valid on import
  cli/command/context/cmd.go
  cli/command/context/create.go
  cli/command/context/export.go
  cli/command/context/update.go
  cli/command/context/use.go
  cli/context/store/store.go
  cli/context/store/storeconfig_test.go
Owners: none

context: Ensure import paths are valid
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/storeconfig_test.go
Owners: none

context: Ensure context name is valid on import
  cli/command/context/cmd.go
  cli/command/context/create.go
  cli/command/context/export.go
  cli/command/context/update.go
  cli/command/context/use.go
  cli/context/store/store.go
  cli/context/store/storeconfig_test.go
Owners: none

context: Add tarball e2e tests
  e2e/context/context_test.go
  e2e/context/testdata/context-ls-notls.golden
  e2e/context/testdata/context-ls-tls.golden
  e2e/context/testdata/test-dockerconfig-tls.tar
  e2e/context/testdata/test-dockerconfig.tar
Owners: none

Explain setting defaults for automatic platform ARGs
  docs/reference/builder.md
Owners: @thaJeztah

Add bash completion for jobs
  contrib/completion/bash/docker
Owners: @albers

Remove duplicate word in push.md
  docs/reference/commandline/push.md
Owners: @thaJeztah

Add bash completion for `docker run|create --pull`
  contrib/completion/bash/docker
Owners: @albers

Add bash completion for `dockerd --ip6tables`
  contrib/completion/bash/docker
Owners: @albers

Update bash completion for fluentd --log-options
  contrib/completion/bash/docker
Owners: @albers

deprecate blkio-weight options with cgroups v1
  docs/deprecated.md
Owners: @thaJeztah

docs: fix typo in deprecated.md
  docs/deprecated.md
Owners: @thaJeztah

docs: add redirect for old reference URL
  docs/reference/run.md
Owners: @thaJeztah

Added zsh completion for docker context subcommands
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Removed format flag for inspect
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

docs: Fix wrong variable name
  docs/reference/run.md
Owners: @thaJeztah

fix docker-run man page table formatting
  man/docker-run.1.md
Owners: none

Add docs and completion for docker node ls --filter node.label
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/node_ls.md
Owners: @albers, @sdurrheimer, @thaJeztah

cli/config: prevent warning if HOME is not set
  cli/config/config.go
  cli/config/config_test.go
Owners: none

Fix panic when failing to get DefaultAuthConfig
  cli/command/registry.go
  cli/command/registry/login.go
Owners: none

Ignore SIGURG on Linux.
  cli/command/container/attach.go
  cli/command/container/client_test.go
  cli/command/container/run.go
  cli/command/container/signals.go
  cli/command/container/signals_linux.go
  cli/command/container/signals_linux_test.go
  cli/command/container/signals_notlinux.go
  cli/command/container/signals_test.go
  cli/command/container/start.go
  cli/command/container/tty.go
Owners: none

Fix reading context and dockerfile from stdin with BuildKit
  cli/command/image/build_buildkit.go
Owners: none

Rename bin/md2man to bin/go-md2man
  man/md2man-all.sh
  scripts/docs/generate-man.sh
Owners: none

fix --update-order and --rollback-order flags
  cli/command/service/opts.go
  cli/command/service/opts_test.go
Owners: none

docker service rollback: fix non-zero exit code in some cases
  cli/command/service/progress/progress.go
Owners: none

service rollback: always verify state
  cli/command/service/progress/progress.go
Owners: none

Update the list of log drivers
  docs/reference/run.md
Owners: @thaJeztah

Fix mistake with env var example in docker run docs
  docs/reference/commandline/run.md
Owners: @thaJeztah

{WIP}Add support for * for device name in --device
  cli/command/container/opts.go
Owners: none

update command to remove stopped containers, for Windows
  docs/reference/commandline/rm.md
Owners: @thaJeztah

update command to remove stopped containers, for Windows
  docs/reference/commandline/rm.md
Owners: @thaJeztah

provide commands to remove all containers in Windows
  docs/reference/commandline/rm.md
Owners: @thaJeztah

ForwardAllSignals: check if channel is closed, and remove warning
  cli/command/container/signals.go
Owners: none

[20.10] Revert "Ignore SIGURG on Linux."
  cli/command/container/attach.go
  cli/command/container/client_test.go
  cli/command/container/run.go
  cli/command/container/signals.go
  cli/command/container/signals_linux.go
  cli/command/container/signals_linux_test.go
  cli/command/container/signals_notlinux.go
  cli/command/container/signals_test.go
  cli/command/container/start.go
  cli/command/container/tty.go
Owners: none

Attach: do not disable sig-proxy when using a TTY
  cli/command/container/attach.go
Owners: none

Fix `docker start` blocking on signal handling
  cli/command/container/start.go
Owners: none

docs: Fix wrong bridge driver option
  docs/reference/commandline/network_create.md
Owners: @thaJeztah

NewAPIClientFromFlags: rename variable to not collide with import
  cli/command/cli.go
Owners: none

Implement WithDefaultContextStoreConfig() DockerCliOption
  cli/command/cli.go
  cli/command/cli_options.go
Owners: none

vendor: update notary to 5f1f4a34
  vendor.conf
  vendor/github.com/theupdateframework/notary/go.mod
  vendor/github.com/theupdateframework/notary/trustmanager/yubikey/pkcs11_darwin.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
