Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

update to go1.20.7
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update to go1.19.12
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

login: Add message about using PATs
  cli/command/registry.go
  cli/hints/hints.go
Owners: none

Create SECURITY.md
  SECURITY.md
Owners: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: none

metrics-addr is not experimental since 20.10
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

vendor: github.com/opencontainers/image-spec v1.1.0-rc4
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230713153928-bc71908479e5
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/api.pb.txt
  vendor/github.com/moby/swarmkit/v2/api/types.pb.go
  vendor/github.com/moby/swarmkit/v2/api/types.proto
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker 4b19b2f4babd (25.0-dev)
  cli/command/registry/formatter_search.go
  cli/command/registry/formatter_search_test.go
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
  cli/command/system/testdata/docker-info-with-swarm.json.golden
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/github.com/docker/docker/api/types/system/info.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/container_stats.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/options.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/transport.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/github.com/docker/docker/registry/search.go
  vendor/modules.txt
Owners: none

cli/command/registry: cleanup login tests
  cli/command/registry/login_test.go
Owners: none

cli/command/registry: cleanup search tests
  cli/command/registry/formatter_search_test.go
Owners: none

cli/command: ResolveAuthConfig, GetDefaultAuthConfig: take ConfigFile as arg
  cli/command/cli.go
  cli/command/container/create.go
  cli/command/image/push.go
  cli/command/image/trust.go
  cli/command/plugin/install.go
  cli/command/plugin/push.go
  cli/command/registry.go
  cli/command/registry/login.go
  cli/command/registry/search.go
  cli/command/registry_test.go
  cli/command/service/create.go
  cli/command/service/trust.go
  cli/command/service/update.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/trust/sign.go
Owners: @silvin-lubecki

docs: document special host-gateway value for add-host
  docs/reference/commandline/build.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

added headings on some functions
  cli/command/builder/prune.go
  cli/command/checkpoint/client_test.go
  cli/command/checkpoint/create.go
  cli/command/checkpoint/create_test.go
  cli/command/checkpoint/formatter.go
  cli/command/checkpoint/formatter_test.go
  cli/command/checkpoint/list.go
  cli/command/checkpoint/list_test.go
  cli/command/checkpoint/remove.go
  cli/command/checkpoint/remove_test.go
Owners: none

docs: document special host-gateway value for add-host
  docs/reference/commandline/build.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/run.md
Owners: @thaJeztah

search: deprecate "is-automated" filter and "IsAutomated" field
  cli/command/registry/formatter_search.go
  cli/command/registry/formatter_search_test.go
  cli/command/registry/search.go
  cli/command/registry/testdata/search-context-write-stars-table.golden
  cli/command/registry/testdata/search-context-write-table.golden
  docs/deprecated.md
  docs/reference/commandline/search.md
  man/src/search.md
Owners: @thaJeztah

fix: make options case-sensitive
  cli/command/swarm/opts.go
  opts/config.go
  opts/mount.go
  opts/network.go
  opts/opts.go
  opts/port.go
  opts/secret.go
Owners: none

Update docs/command output for volume pruning
  cli/command/system/prune.go
  cli/command/volume/prune.go
  docs/reference/commandline/index.md
  docs/reference/commandline/system_prune.md
  docs/reference/commandline/volume.md
  docs/reference/commandline/volume_prune.md
Owners: @thaJeztah

login: Add message about using PATs
  cli/command/registry.go
  cli/hints/hints.go
Owners: none

Update container_start.md
  docs/reference/commandline/container_start.md
Owners: @thaJeztah

Update start.md Signed-off-by: Navaneeth Manikyala <navaneethnanda00@gmail.com>
  docs/reference/commandline/start.md
Owners: @thaJeztah

Update start.md Signed-off-by: Navaneeth Manikyala <navaneethnanda00@gmail.com>
  docs/reference/commandline/start.md
Owners: @thaJeztah

cmd/docker: areFlagsSupported: don't Ping if not needed
  cmd/docker/docker.go
Owners: none

cmd/docker: areFlagsSupported: don't Ping if not needed
  cmd/docker/docker.go
Owners: none

cmd/docker: areFlagsSupported: don't Ping if not needed
  cmd/docker/docker.go
Owners: none

info: add CDI spec directories to output
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
  cli/command/system/testdata/docker-info-with-labels-empty.golden
  cli/command/system/testdata/docker-info-with-labels-nil.golden
  cli/command/system/testdata/docker-info-with-swarm.golden
  cli/command/system/testdata/docker-info-with-swarm.json.golden
  docs/reference/commandline/info.md
Owners: @thaJeztah

cli/registry/client: set actions when authn with token
  cli/registry/client/client.go
  cli/registry/client/endpoint.go
Owners: none

cli/registry/client: set actions when authn with token
  cli/registry/client/client.go
  cli/registry/client/endpoint.go
Owners: none

cli/registry/client: set actions when authn with token
  cli/registry/client/client.go
  cli/registry/client/endpoint.go
Owners: none

Create go.yml
  .github/workflows/go.yml
Owners: none

WIP: make printing output easier (approach 1)
  cli/command/context/list.go
  cli/command/context/list_test.go
  cmd/docker/docker.go
Owners: none

update flag-description for --cgroup-parent
  cli/command/image/build.go
  docs/reference/commandline/build.md
  docs/reference/commandline/builder_build.md
  docs/reference/commandline/image_build.md
Owners: @thaJeztah

vendor: github.com/moby/patternmatcher v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

replace dockerfile/dockerignore with patternmatcher/ignorefile
  cli/command/image/build/dockerignore.go
  vendor/github.com/moby/patternmatcher/ignorefile/ignorefile.go
  vendor/modules.txt
Owners: none

Stop slowing bash init by caching plugins path slowly
  contrib/completion/bash/docker
Owners: @albers

vendor: github.com/moby/patternmatcher v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

replace dockerfile/dockerignore with patternmatcher/ignorefile
  cli/command/image/build/dockerignore.go
  vendor/github.com/moby/patternmatcher/ignorefile/ignorefile.go
  vendor/modules.txt
Owners: none

Stop slowing bash init by caching plugins path slowly
  contrib/completion/bash/docker
Owners: @albers

Stop slowing bash init by caching plugins path slowly
  contrib/completion/bash/docker
Owners: @albers

Stop slowing bash init by caching plugins path slowly
  contrib/completion/bash/docker
Owners: @albers

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
