Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

cli/command/system: printSwarmInfo(): accept io.Writer
  cli/command/system/info.go
Owners: none

cli/command/system: prettyPrintClientInfo: accept Streams
  cli/command/system/info.go
Owners: none

cli/command/system: prettyPrintServerInfo: accept Streams
  cli/command/system/info.go
Owners: none

cli/command/system: prettyInfo: accept Streams
  cli/command/system/info.go
Owners: none

cli/command/system: add utilities for printing
  cli/command/system/info.go
  cli/command/system/info_test.go
Owners: none

docs: update link to configuring http proxy for dockerd
  docs/reference/commandline/cli.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

cli/command/container: hijackedIOStreamer: explicitly ignore err
  cli/command/container/hijack.go
Owners: none

cli/command/image/build: GetContextFromReader: rename var that collided
  cli/command/image/build/context.go
Owners: none

update go to go1.20.4
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

[23.0] update go to go1.19.9
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

[20.10] update go to go1.19.9
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

cli/context/docker: rename receiver for Endpoint
  cli/context/docker/load.go
Owners: none

vendor: github.com/mattn/go-runewidth v0.0.14
  vendor.mod
  vendor.sum
  vendor/github.com/mattn/go-runewidth/.travis.yml
  vendor/github.com/mattn/go-runewidth/README.md
  vendor/github.com/mattn/go-runewidth/go.test.sh
  vendor/github.com/mattn/go-runewidth/runewidth.go
  vendor/github.com/mattn/go-runewidth/runewidth_appengine.go
  vendor/github.com/mattn/go-runewidth/runewidth_js.go
  vendor/github.com/mattn/go-runewidth/runewidth_posix.go
  vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  vendor/modules.txt
Owners: none

remove pre-go1.17 build-tags
  cli-plugins/manager/manager_unix.go
  cli-plugins/manager/suffix_unix.go
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/image/build/context_unix.go
  cli/config/configfile/file_unix.go
  cli/config/credentials/default_store_unsupported.go
  cli/connhelper/commandconn/commandconn_unix_test.go
  cli/connhelper/commandconn/pdeathsig_nolinux.go
  cli/connhelper/commandconn/session_unix.go
  cmd/docker/docker_windows_386.go
  cmd/docker/docker_windows_amd64.go
  cmd/docker/docker_windows_arm.go
  cmd/docker/docker_windows_arm64.go
  opts/hosts_unix.go
Owners: none

cli/config/credentials: skip unneeded exec.LookPath()
  cli/config/credentials/default_store.go
Owners: none

vendor: github.com/opencontainers/runc v1.1.7
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.21
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.0-rc.1.0.20230505222407-8d9a40a82034
  cli/command/container/formatter_diff.go
  cli/command/container/formatter_diff_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/change_response_deprecated.go
  vendor/github.com/docker/docker/api/types/container/change_type.go
  vendor/github.com/docker/docker/api/types/container/change_types.go
  vendor/github.com/docker/docker/api/types/container/container_changes.go
  vendor/github.com/docker/docker/api/types/container/filesystem_change.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/client_unix.go
  vendor/github.com/docker/docker/client/client_windows.go
  vendor/github.com/docker/docker/client/container_diff.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/pkg/jsonmessage/jsonmessage.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.0-rc.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.0-rc.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

docs: update description for docker -H flag
  cli/flags/options.go
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Update version to v25.0.0-dev
  VERSION
Owners: none

vendor: update docker/docker to v25.0.0-dev, API v1.44
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
Owners: none

use compose-go to interpolate compose variables
  cli/compose/interpolation/interpolation.go
  cli/compose/interpolation/interpolation_test.go
  cli/compose/loader/loader.go
  cli/compose/template/template.go
  cli/compose/template/template_test.go
  vendor.mod
  vendor.sum
Owners: none

vendor: github.com/compose-spec/compose-go v1.13.4
  vendor/github.com/compose-spec/compose-go/LICENSE
  vendor/github.com/compose-spec/compose-go/NOTICE
  vendor/github.com/compose-spec/compose-go/template/template.go
  vendor/github.com/imdario/mergo/CONTRIBUTING.md
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/SECURITY.md
  vendor/github.com/imdario/mergo/map.go
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
  vendor/github.com/mitchellh/mapstructure/.travis.yml
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/modules.txt
Owners: none

docs: update description for docker -H flag
  cli/flags/options.go
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: update description for docker -H flag
  cli/flags/options.go
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Update tag docs to clarify name
  docs/reference/commandline/tag.md
Owners: @thaJeztah

Update tag docs to clarify name
  docs/reference/commandline/tag.md
Owners: @thaJeztah

Update tag docs to clarify name
  docs/reference/commandline/tag.md
Owners: @thaJeztah

cli-plugins/manager: fix deprecation comment of Metadata.Experimental
  cli-plugins/manager/metadata.go
Owners: none

cli-plugins/manager: fix deprecation comment of Metadata.Experimental
  cli-plugins/manager/metadata.go
Owners: none

cli-plugins/manager: fix deprecation comment of Metadata.Experimental
  cli-plugins/manager/metadata.go
Owners: none

cli/command/stack: remove deprecated RunDeploy, RunPS, RunRemove, GetServices
  cli/command/stack/deploy.go
  cli/command/stack/ps.go
  cli/command/stack/remove.go
  cli/command/stack/services.go
Owners: @silvin-lubecki

cli/command: remove deprecated EncodeAuthToBase64
  cli/command/registry.go
Owners: none

cli/config: Load: remove outdated FIXME
  cli/config/config.go
Owners: none

cli/config: remove warning for deprecated ~/.dockercfg file
  cli/config/config.go
  cli/config/config_test.go
  docs/deprecated.md
Owners: @thaJeztah

docs: removed now-duplicate sections
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: remove unused index.md file
  docs/reference/commandline/index.md
Owners: @thaJeztah

docs: rename cli.dm 👉 docker.md
  docs/extend/index.md
  docs/reference/commandline/attach.md
  docs/reference/commandline/docker.md
  docs/reference/commandline/dockerd.md
  docs/reference/run.md
  scripts/docs/generate-md.sh
Owners: @thaJeztah
