Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

docker kill: don't set default signal on the client side
  cli/command/container/kill.go
  docs/reference/commandline/kill.md
  man/src/container/kill.md
Owners: @thaJeztah

vendor: github.com/docker/docker f1dd6bf84e28930e1ccd903361f9284fb22d3b8a
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/mount/mount.go
  vendor/github.com/docker/docker/api/types/swarm/node.go
  vendor/github.com/docker/docker/api/types/swarm/task.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/api/types/volume/cluster_volume.go
  vendor/github.com/docker/docker/api/types/volume/create_options.go
  vendor/github.com/docker/docker/api/types/volume/options.go
  vendor/github.com/docker/docker/api/types/volume/volume.go
  vendor/github.com/docker/docker/api/types/volume/volume_update.go
  vendor/github.com/docker/docker/client/container_attach.go
  vendor/github.com/docker/docker/client/container_exec.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/volume_update.go
  vendor/modules.txt
Owners: none

Add cluster volume support
  cli/command/formatter/volume.go
  cli/command/formatter/volume_test.go
  cli/command/volume/cmd.go
  cli/command/volume/create.go
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/command/volume/list.go
  cli/command/volume/list_test.go
  cli/command/volume/testdata/volume-cluster-volume-list.golden
  cli/command/volume/testdata/volume-inspect-cluster.golden
  cli/command/volume/update.go
Owners: none

volume: annotate cluster-volumes flags for API version and swarm
  cli/command/volume/create.go
  cli/command/volume/list.go
  cli/command/volume/update.go
Owners: none

lint: update some nolint comments:
  cli/command/container/hijack.go
  cli/command/image/trust.go
  cli/command/manifest/push.go
  cli/command/trust/signer_remove.go
Owners: none

cli/command/container: add BenchmarkStatsFormat()
  cli/command/container/formatter_stats_test.go
Owners: none

cli/command/container: some small performance optimizations for formatting stats
  cli/command/container/formatter_stats.go
Owners: none

cli/command/container: use RWMutex for stats to allow concurrent reads
  cli/command/container/formatter_stats.go
  cli/command/container/stats.go
  cli/command/container/stats_helpers.go
Owners: none

add <object> events subcommands
  cli/command/builder/cmd.go
  cli/command/builder/events.go
  cli/command/config/cmd.go
  cli/command/config/events.go
  cli/command/container/cmd.go
  cli/command/container/events.go
  cli/command/image/cmd.go
  cli/command/image/events.go
  cli/command/network/cmd.go
  cli/command/network/events.go
  cli/command/node/cmd.go
  cli/command/node/events.go
  cli/command/plugin/cmd.go
  cli/command/plugin/events.go
  cli/command/secret/cmd.go
  cli/command/secret/events.go
  cli/command/service/cmd.go
  cli/command/service/events.go
  cli/command/system/events.go
  cli/command/volume/cmd.go
  cli/command/volume/events.go
  cli/events/events.go
Owners: none

remove unused poule.yml
  poule.yml
Owners: none

man: use "console" hints in markdown
  man/src/container/create-example.md
  man/src/container/diff.md
  man/src/container/logs.md
  man/src/container/update.md
  man/src/image/history.md
  man/src/network/connect.md
  man/src/network/create.md
  man/src/network/disconnect.md
  man/src/network/inspect.md
  man/src/network/ls.md
  man/src/network/rm.md
Owners: none

docs: remove documentation about deprecated cluster-store
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/network_create.md
  man/dockerd.8.md
  man/src/network/create.md
Owners: @thaJeztah

info: remove cluster store from docker info output
  cli/command/system/info.go
  cli/command/system/info_test.go
Owners: none

completion: remove options related to deprecated cluster-store
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Owners: @albers, @sdurrheimer

add --signal option to stop and restart
  cli/command/container/restart.go
  cli/command/container/stop.go
  docs/reference/commandline/restart.md
  docs/reference/commandline/stop.md
Owners: @thaJeztah

docs/deprecated: update version to 22.06
  docs/deprecated.md
Owners: @thaJeztah

Update version to 22.06.0-dev
  VERSION
Owners: none

Added Swarm Job support to Stack Deploy
  cli/compose/convert/service.go
Owners: none

cli/container: Move filling ConsoleSize to create
  cli/command/container/create.go
  cli/command/container/run.go
Owners: none

vendor: github.com/docker/docker c9d04033d443e359e73e5da58a6b46ec1b8f2373
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/host_config.go
  vendor/github.com/docker/docker/api/types/swarm/common.go
  vendor/github.com/docker/docker/client/config_update.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/github.com/docker/docker/client/node_update.go
  vendor/github.com/docker/docker/client/secret_update.go
  vendor/github.com/docker/docker/client/service_update.go
  vendor/github.com/docker/docker/client/swarm_update.go
  vendor/github.com/docker/docker/client/volume_update.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker d633169483bbe22b92b8310c47e827451b594364
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/mount/mount.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker 8abb84c7342a19009d777ef3d871c0b2a5c032a5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Update run.md
  docs/reference/run.md
Owners: @thaJeztah

vendor: github.com/docker/docker cb01202de88e20d5699c76efe948dfb065da873f
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/image_summary.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/modules.txt
Owners: none

feat(cli): add --http-header option
  cli/command/cli.go
  cli/flags/common.go
Owners: none

refactor: use strings.SplitN
  cli/command/cli.go
Owners: none

fix: use Var instead of VarP
  cli/flags/common.go
Owners: none

vendor: github.com/docker/docker 3e32104e0e39af9019a3ea9aa7093bb7c97fcf05
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/wait_response.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/modules.txt
Owners: none

info: update plugin section to show installed path
  cli/command/system/info.go
  cli/command/system/testdata/docker-info-plugins.golden
Owners: none

update golang to 1.18.3
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

[20.10] update golang to 1.17.11
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

fix: remove asterisk from docker command suggestions
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

docs: reference: version: improve description
  docs/reference/commandline/version.md
Owners: @thaJeztah

docs: reference: version: add info about API version negotiation
  docs/reference/commandline/version.md
Owners: @thaJeztah

Deflake TestVolumeCreateClusterOpts
  cli/command/volume/create.go
  cli/command/volume/create_test.go
Owners: none

update AUTHORS and mailmap
  .mailmap
  AUTHORS
Owners: none

vendor: github.com/docker/docker cf4595265e7703e1e9745a30f1dd265acbc075d3
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker 38633e797195643580ce5c4af7c5422aad3eb7de
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

docs: add missing --no-trunc in example
  docs/reference/commandline/ps.md
Owners: @thaJeztah

info: fix output including "Labels:" if no labels were set
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-with-labels-empty.golden
  cli/command/system/testdata/docker-info-with-labels-nil.golden
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
