Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

docs/yaml: remove deprecated io/ioutil and use t.TempDir()
  docs/yaml/generate.go
Owners: @thaJeztah

internal/test: remove deprecated io/ioutil
  internal/test/cli.go
Owners: none

cli/command: remove deprecated io/ioutil and use t.TempDir()
  cli/command/cli.go
  cli/command/cli_test.go
  cli/command/defaultcontextstore_test.go
  cli/command/orchestrator_test.go
  cli/command/utils_test.go
Owners: none

cli: remove deprecated io/ioutil
  cli/required_test.go
Owners: none

e2e: remove deprecated io/ioutil and use t.TempDir()
  e2e/context/context_test.go
  e2e/image/build_test.go
Owners: none

cli/context: remove deprecated io/ioutil and use t.TempDir()
  cli/context/kubernetes/endpoint_test.go
  cli/context/kubernetes/save.go
  cli/context/store/io_utils_test.go
  cli/context/store/metadata_test.go
  cli/context/store/metadatastore.go
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/tlsstore.go
  cli/context/store/tlsstore_test.go
  cli/context/tlsdata.go
Owners: none

opts: remove deprecated io/ioutil and use t.Cleanup()
  opts/envfile_test.go
Owners: none

cli/trust: remove deprecated io/ioutil and use t.TempDir()
  cli/trust/trust_test.go
Owners: none

cli-plugins/manager: remove uses of deprecated io/ioutil
  cli-plugins/manager/manager.go
Owners: none

cmd/docker: remove deprecated io/ioutil
  cmd/docker/docker_test.go
Owners: none

cli/manifest: remove deprecated io/ioutil and use t.TempDir()
  cli/manifest/store/store.go
  cli/manifest/store/store_test.go
Owners: none

cli/config: remove deprecated io/ioutil and use t.TempDir()
  cli/config/config_test.go
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
  cli/config/credentials/native_store_test.go
Owners: none

linting: use consts from stdlib (usestdlibvars)
  cli/command/image/build/context.go
  cli/trust/trust.go
Owners: none

linting: remove unused nolint comments (nolintlint)
  cli-plugins/manager/plugin.go
  cli/command/image/formatter_history_test.go
  cli/command/service/list.go
  cli/command/stack/swarm/deploy_composefile.go
Owners: @silvin-lubecki

linting: ST1017: don't use Yoda conditions (stylecheck)
  opts/envfile_test.go
Owners: none

linting: os.Setenv() can be replaced by `t.Setenv()` (tenv)
  cli/command/cli_options_test.go
Owners: none

linting: ST1019: package is being imported more than once (stylecheck)
  cli/command/manifest/inspect_test.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/trust/inspect_pretty_test.go
Owners: @silvin-lubecki

Remove `size` option by default when using `ps --format=...`
  cli/command/container/list.go
  cli/command/container/list_test.go
Owners: none

Always validate template when using `--format`
  cli/command/container/list.go
  cli/command/container/list_test.go
Owners: none

test/cli: Use empty array as empty output of images/json
  cli/command/image/client_test.go
  cli/command/image/list_test.go
Owners: none

test/cli: Use empty array as empty output of images/json
  cli/command/image/client_test.go
  cli/command/image/list_test.go
Owners: none

context: avoid corrupt file writes
  cli/context/store/metadatastore.go
  cli/context/store/store_test.go
  cli/context/store/tlsstore.go
Owners: none

linting: exclude ST1005: error strings should not be capitalized (stylecheck)
  .golangci.yml
Owners: none

linting: assigned to src, but reassigned without using the value (wastedassign)
  cli/command/container/opts.go
Owners: none

golangci-lint: update to v1.49.0 for compatibilty with go1.19
  .golangci.yml
  dockerfiles/Dockerfile.lint
Owners: none

linting: G112: Potential Slowloris Attack
  e2e/plugin/basic/basic.go
Owners: none

formatter: Consider empty RepoTags and RepoDigests as dangling
  cli/command/formatter/image.go
Owners: none

formatter: Consider empty RepoTags and RepoDigests as dangling
  cli/command/formatter/image.go
Owners: none

Update ps.md
  docs/reference/commandline/ps.md
Owners: @thaJeztah

docker ps --format json does not work, it prints "json" for every line of the output of docker ps docker ps --format "{{json .}}" does the described behaviour
  docs/reference/commandline/ps.md
Owners: @thaJeztah

docker ps --format json does not work, it overrides every line of the output with the string "json" docker ps --format "{{json .}}" does the described behaviour
  docs/reference/commandline/ps.md
Owners: @thaJeztah

docs: Deprecate buildkit's build information
  docs/deprecated.md
Owners: @thaJeztah

Don't automatically request size if `--size` was explicitly set to `false`
  cli/command/container/list.go
  cli/command/container/list_test.go
Owners: none

Add support for devices in swarm
  cli/command/service/create.go
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/compose/convert/service.go
  cli/compose/types/types.go
  docs/reference/commandline/service_create.md
Owners: @thaJeztah

docs: Deprecate buildkit's build information
  docs/deprecated.md
Owners: @thaJeztah

Dockerfile: update buildx to v0.10.3 release notes: https://github.com/docker/buildx/releases/tag/v0.10.3
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

connhelper: Allow socket path when using SSH
  cli/connhelper/connhelper.go
  cli/connhelper/ssh/ssh.go
  cli/connhelper/ssh/ssh_test.go
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Document default volume prune behavior
  cli/command/system/prune.go
  cli/command/volume/prune.go
  docs/reference/commandline/volume_prune.md
Owners: @thaJeztah

volume/prune.go: Indicate if rm'ing named volumes
  cli/command/volume/prune.go
  cli/command/volume/prune_test.go
  cli/command/volume/testdata/volume-prune-all-no.golden
  cli/command/volume/testdata/volume-prune-no.golden
  cli/command/volume/testdata/volume-prune-yes.golden
Owners: none

stack/loader: Ignore cmd.exe special env variables
  cli/command/stack/loader/loader.go
  cli/command/stack/loader/loader_test.go
Owners: @silvin-lubecki

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
