Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

vendor: github.com/docker/docker v24.0.6
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/pkg/archive/diff.go
  vendor/modules.txt
Owners: none

vendor: github.com/go-logr/logr v1.2.4
  vendor.mod
  vendor.sum
  vendor/github.com/go-logr/logr/.golangci.yaml
  vendor/github.com/go-logr/logr/discard.go
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/image-spec v1.1.0-rc5
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/layout.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230911190601-f082dd7a0cee
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker fc4d035e7a4e (v25.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/moby/sys/user/LICENSE
  vendor/github.com/moby/sys/user/lookup_unix.go
  vendor/github.com/moby/sys/user/user.go
  vendor/github.com/moby/sys/user/user_fuzzer.go
  vendor/github.com/opencontainers/runc/NOTICE
  vendor/go.opentelemetry.io/otel/semconv/internal/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.7.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.7.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.7.0/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.7.0/resource.go
  vendor/go.opentelemetry.io/otel/semconv/v1.7.0/schema.go
  vendor/go.opentelemetry.io/otel/semconv/v1.7.0/trace.go
  vendor/modules.txt
Owners: none

Update CodeQL workflow
  .github/workflows/codeql.yml
Owners: none

vendor: golang.org/x/mod v0.11.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/tools v0.10.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/event/tag/tag.go
  vendor/golang.org/x/tools/internal/gcimporter/bexport.go
  vendor/golang.org/x/tools/internal/gcimporter/bimport.go
  vendor/golang.org/x/tools/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader_yes.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/gocommand/version.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.7.8
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker ed1a61dcb789 (v25.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/container_wait.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_linux.go
  vendor/modules.txt
Owners: none

Update container-device-interface to v0.6.2
  cli/command/container/opts.go
  vendor.mod
  vendor.sum
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/LICENSE
  vendor/tags.cncf.io/container-device-interface/pkg/parser/parser.go
Owners: none

docs: add default-network-opt daemon option
  docs/reference/commandline/dockerd.md
  man/dockerd.8.md
Owners: @thaJeztah

docs: add default-network-opt daemon option
  docs/reference/commandline/dockerd.md
  man/dockerd.8.md
Owners: @thaJeztah

vendor: github.com/spf13/cobra v1.8.0
  vendor.mod
  vendor.sum
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/active_help.md
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completions.md
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/fish_completions.md
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/powershell_completions.md
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.md
  vendor/modules.txt
Owners: none

docs: update redirect metadata for hugo
  docs/extend/legacy_plugins.md
  docs/extend/plugins_authorization.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/dockerd.md
  docs/reference/run.md
Owners: @thaJeztah

--env-file about comments doc updated Signed-off-by: Saurabh Kumar <saurabhkumar0184@gmail.com>
  docs/reference/commandline/run.md
Owners: @thaJeztah

vendor: github.com/docker/docker c14694a424ab (v25.0.0-dev)
  cli/command/container/opts.go
  cli/command/container/opts_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/config.go
  vendor/github.com/docker/docker/api/types/network/endpoint.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/modules.txt
Owners: none

cli/command/container: updates for per-network MacAddress field
  cli/command/container/opts_test.go
Owners: none

cli/command/container: mustParse: return network.NetworkingConfig
  cli/command/container/opts_test.go
Owners: none

TestParseWithMacAddress: check endpoint-specific MacAddress field
  cli/command/container/opts_test.go
Owners: none

make runAttach public and allow passing context
  cli/command/container/attach.go
  cli/command/container/exec.go
  cli/command/container/exec_test.go
Owners: none

make `container` an explicit, required parameter
  cli/command/container/attach.go
  cli/command/container/exec.go
  cli/command/container/exec_test.go
Owners: none

cli/command/container: ForwardAllSignals: rewrite to use ContainerAPIClient
  cli/command/container/attach.go
  cli/command/container/run.go
  cli/command/container/signals.go
  cli/command/container/signals_test.go
  cli/command/container/signals_unix_test.go
  cli/command/container/start.go
Owners: none

update to go1.21.4
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

Revert "update to go1.21.4" due to regressions / breaking changes.
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

vendor: update go-connections for TLS 1.3 support
  vendor.mod
  vendor.sum
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/sort.go
  vendor/github.com/docker/go-connections/sockets/proxy.go
  vendor/github.com/docker/go-connections/sockets/sockets.go
  vendor/github.com/docker/go-connections/sockets/sockets_unix.go
  vendor/github.com/docker/go-connections/sockets/sockets_windows.go
  vendor/github.com/docker/go-connections/sockets/unix_socket.go
  vendor/github.com/docker/go-connections/tlsconfig/config.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_go113.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_other.go
  vendor/golang.org/x/net/internal/socks/client.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/golang.org/x/net/proxy/dial.go
  vendor/golang.org/x/net/proxy/direct.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/proxy/proxy.go
  vendor/golang.org/x/net/proxy/socks5.go
  vendor/modules.txt
Owners: none

not actually a maintainer
  MAINTAINERS
Owners: none

vendor: github.com/docker/go-connections fa09c952e3ea (v0.5.0-dev)
  cli/command/container/opts_test.go
  opts/port_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/parse.go
  vendor/github.com/docker/go-connections/sockets/sockets_unix.go
  vendor/github.com/docker/go-connections/sockets/unix_socket.go
  vendor/github.com/docker/go-connections/tlsconfig/certpool.go
  vendor/github.com/docker/go-connections/tlsconfig/certpool_other.go
  vendor/github.com/docker/go-connections/tlsconfig/config.go
  vendor/github.com/docker/go-connections/tlsconfig/config_client_ciphers.go
  vendor/github.com/docker/go-connections/tlsconfig/config_legacy_client_ciphers.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_go113.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_other.go
  vendor/modules.txt
Owners: none

Fix setting ServerAddress property in NativeStore
  cli/config/credentials/native_store.go
  cli/config/credentials/native_store_test.go
Owners: none

opts: ValidateIPAddress: improve error, godoc, and tests
  cli/command/service/update_test.go
  opts/opts.go
  opts/opts_test.go
Owners: none

opts: remove unused IPOpt option
  opts/ip.go
  opts/ip_test.go
Owners: none

vendor: github.com/docker/docker 34e923e3e31b (v25.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/README.md
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
Owners: none

update authors and mailmap
  .mailmap
  AUTHORS
Owners: none

docs: add `bind-recursive` mount option
  docs/reference/commandline/service_create.md
  man/docker-run.1.md
Owners: @thaJeztah

dockerfiles: update golangci-lint to v1.55.2
  dockerfiles/Dockerfile.lint
Owners: none

cli/command: remove unused EndpointDefaultResolver interface
  cli/command/cli.go
  cli/command/defaultcontextstore.go
  cli/command/defaultcontextstore_test.go
Owners: none

cli/context/store: remove unused Store.ForeachEndpointType()
  cli/context/store/storeconfig.go
Owners: none

cli/command: use client.CurrentVersion()
  cli/command/stack/swarm/deploy.go
Owners: @silvin-lubecki

linting: cli/command/trust: unusedwrite: unused write to field Hashes (govet)
  cli/command/trust/sign_test.go
Owners: none

linting: address assorted issues found by gocritic
  cli/command/container/formatter_stats.go
  cli/command/container/stats_helpers.go
  cli/command/context/inspect_test.go
  cli/command/image/formatter_history.go
  cli/command/plugin/formatter.go
  cli/command/registry/formatter_search.go
  cli/command/service/list_test.go
  cli/command/service/progress/progress.go
  cli/compose/convert/service.go
  cli/config/configfile/file_test.go
  cli/manifest/store/store.go
  e2e/image/push_test.go
  internal/test/builders/config.go
  internal/test/builders/secret.go
  internal/test/builders/service.go
  opts/hosts_test.go
  opts/opts_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
