Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

contrib/completion: bash `nounset` mode fixes
  contrib/completion/bash/docker
Owners: @albers

docs: fix duplicated format anchor in plugin_ls
  docs/reference/commandline/plugin_ls.md
Owners: @thaJeztah

docs: fix duplicated format anchor in plugin_ls
  docs/reference/commandline/plugin_ls.md
Owners: @thaJeztah

README: fix badges
  README.md
Owners: none

cli: pass dockerCLI's in/out/err to cobra cmds
  cli-plugins/plugin/plugin.go
  cmd/docker/docker.go
Owners: none

cli/command: embed "Streams" interface in "Cli"
  cli/command/cli.go
Owners: none

cli: additionalHelp() don't decorate output if it's piped
  cli/cobra.go
Owners: none

Add extra newline after additionalHelp output
  cli/cobra.go
Owners: none

Fix RFC3339 typo in docs
  docs/reference/commandline/system_prune.md
  man/src/container/logs.md
Owners: @thaJeztah

note `--user` args usage restriction
  docs/reference/run.md
Owners: @thaJeztah

cli: additionalHelp() don't decorate output if it's piped
  cli/cobra.go
Owners: none

Add extra newline after additionalHelp output
  cli/cobra.go
Owners: none

Fix section docker ps --size
  docs/reference/commandline/ps.md
Owners: @thaJeztah

Fix section docker ps --size
  docs/reference/commandline/ps.md
Owners: @thaJeztah

run plugin with context so they can be canceled by SIGTERM
  cli-plugins/manager/manager.go
Owners: none

vendor: golang.org/x/text v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.4.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v23.0.0-rc.3
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/pkg/homedir/homedir_others.go
  vendor/github.com/docker/docker/pkg/ioutils/bytespipe.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230119195359-904c221ac281
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/storeobject.go
  vendor/modules.txt
Owners: none

Fix typo in reference doc for docker Signed-off-by: Craig Osterhou <craig.osterhout@docker.com>
  docs/reference/commandline/exec.md
Owners: @thaJeztah

feat(zsh): support for gain-privileges (automatic sudo)
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

manifest: add support for oci image types
  cli/command/manifest/push.go
  cli/manifest/types/types.go
  cli/registry/client/fetcher.go
  vendor/github.com/docker/distribution/manifest/ocischema/builder.go
  vendor/github.com/docker/distribution/manifest/ocischema/manifest.go
  vendor/modules.txt
Owners: none

manifest: explicitly error if whitespace reconstruction has failed
  cli/command/manifest/push.go
Owners: none

manifest: save raw manifest content on download
  cli/command/manifest/push.go
  cli/command/manifest/testdata/inspect-annotate.golden
  cli/command/manifest/util.go
  cli/manifest/types/types.go
Owners: none

docs: add note about MKE CA rotation, which is potentially dangerous
  docs/reference/commandline/swarm_ca.md
Owners: @thaJeztah

rm: allow `docker container remove` as an alias
  cli/command/container/rm.go
Owners: none

Additional typo corrections
  docs/reference/commandline/container_prune.md
  docs/reference/commandline/events.md
  docs/reference/commandline/image_prune.md
  docs/reference/commandline/logs.md
  docs/reference/commandline/network_prune.md
  docs/reference/commandline/service_logs.md
  docs/reference/commandline/system_events.md
  man/src/system/events.md
Owners: @thaJeztah

docs: move doc generation scripts to subdir
  docs/generate/generate.go
  docs/generate/go.mod
  docs/generate/tools.go
  scripts/docs/generate-yaml.sh
Owners: @thaJeztah

manifest: merge manifest lists
  cli/command/manifest/annotate.go
  cli/command/manifest/create_list.go
  cli/command/manifest/inspect.go
  cli/command/manifest/util.go
  cli/manifest/store/store.go
  cli/manifest/store/store_test.go
Owners: none

manifest: rework error handling
  cli/command/manifest/annotate.go
  cli/command/manifest/create_list.go
  cli/command/manifest/create_test.go
  cli/command/manifest/inspect_test.go
  cli/command/manifest/rm_test.go
  cli/command/manifest/util.go
  cli/manifest/store/store.go
  cli/manifest/store/store_test.go
  cli/manifest/types/types.go
  cli/registry/client/fetcher.go
Owners: none

Fix issue where one bad credential helper causes none to be returned
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Owners: none

docs: update release notes link from deprecated.md
  docs/deprecated.md
Owners: @thaJeztah

Fix bad ThrottleDevice path
  opts/throttledevice.go
Owners: none

cli/command/container: exit 126 on EISDIR error
  cli/command/container/run.go
Owners: none

vendor: github.com/containerd/containerd v1.6.16
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v23.0.0
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/container_wait.go
  vendor/modules.txt
Owners: none

Fix bad ThrottleDevice path
  opts/throttledevice.go
Owners: none

vendor: github.com/containerd/containerd v1.6.16
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v23.0.0
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/container_wait.go
  vendor/modules.txt
Owners: none
