Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

Replace 'numeric' with object in -q description
  cli/command/container/list.go
  cli/command/image/history.go
  cli/command/image/list.go
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/history.md
  docs/reference/commandline/images.md
Owners: @sdurrheimer, @thaJeztah

Update Windows ico
  scripts/winresources/docker.ico
  scripts/winresources/docker.png
Owners: none

vendor: update grpc to v1.23.0
  vendor.conf
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/balancer.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/base/balancer.go
  vendor/google.golang.org/grpc/balancer_conn_wrappers.go
  vendor/google.golang.org/grpc/balancer_v1_wrapper.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/codes/codes.go
  vendor/google.golang.org/grpc/credentials/credentials.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/go.mod
  vendor/google.golang.org/grpc/health/client.go
  vendor/google.golang.org/grpc/internal/channelz/funcs.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/naming/naming.go
  vendor/google.golang.org/grpc/picker_wrapper.go
  vendor/google.golang.org/grpc/pickfirst.go
  vendor/google.golang.org/grpc/preloader.go
  vendor/google.golang.org/grpc/resolver/dns/dns_resolver.go
  vendor/google.golang.org/grpc/resolver/resolver.go
  vendor/google.golang.org/grpc/resolver_conn_wrapper.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/serviceconfig/serviceconfig.go
  vendor/google.golang.org/grpc/status/status.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
Owners: none

vendor: bump google.golang.org/grpc v1.23.1
  vendor.conf
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
Owners: none

update shellcheck v0.7.0
  dockerfiles/Dockerfile.shellcheck
Owners: none

Fix naming of reference docs files
  docs/reference/commandline/swarm_join-token.md
  docs/reference/commandline/swarm_unlock-key.md
Owners: @thaJeztah

Fix yamldocs generator to accomodate nested subcommands
  docs/yaml/generate.go
Owners: @thaJeztah

Fix whitespace that caused short-format in generated YAML
  docs/reference/commandline/build.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/events.md
  docs/reference/commandline/exec.md
  docs/reference/commandline/info.md
  docs/reference/commandline/login.md
  docs/reference/commandline/manifest.md
  docs/reference/commandline/network_ls.md
  docs/reference/commandline/node_inspect.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/push.md
  docs/reference/commandline/search.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/swarm_init.md
  docs/reference/commandline/trust_inspect.md
  docs/reference/commandline/trust_key_generate.md
  docs/reference/commandline/trust_key_load.md
  docs/reference/commandline/trust_revoke.md
  docs/reference/commandline/trust_sign.md
  docs/reference/commandline/trust_signer_add.md
  docs/reference/commandline/trust_signer_remove.md
Owners: @thaJeztah

docs: update code-hints for compatibility with "rouge"
  docs/extend/EBS_volume.md
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/pull.md
Owners: @thaJeztah

docs: update code-hints for compatibility with "rouge"
  docs/extend/EBS_volume.md
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/pull.md
Owners: @thaJeztah

Fix naming of reference docs files
  docs/reference/commandline/swarm_join-token.md
  docs/reference/commandline/swarm_unlock-key.md
Owners: @thaJeztah

Fix yamldocs generator to accomodate nested subcommands
  docs/yaml/generate.go
Owners: @thaJeztah

Fix whitespace that caused short-format in generated YAML
  docs/reference/commandline/build.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/events.md
  docs/reference/commandline/exec.md
  docs/reference/commandline/info.md
  docs/reference/commandline/login.md
  docs/reference/commandline/manifest.md
  docs/reference/commandline/network_ls.md
  docs/reference/commandline/node_inspect.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/push.md
  docs/reference/commandline/search.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/swarm_init.md
  docs/reference/commandline/trust_inspect.md
  docs/reference/commandline/trust_key_generate.md
  docs/reference/commandline/trust_key_load.md
  docs/reference/commandline/trust_revoke.md
  docs/reference/commandline/trust_sign.md
  docs/reference/commandline/trust_signer_add.md
  docs/reference/commandline/trust_signer_remove.md
Owners: @thaJeztah

Fix broken link in CONTRIBUTING
  CONTRIBUTING.md
Owners: none

Include deprecation policy on deprecated features page
  docs/deprecated.md
Owners: @thaJeztah

Include deprecation policy on deprecated features page
  docs/deprecated.md
Owners: @thaJeztah

Update deprecation policy to 1 stable release
  docs/deprecated.md
Owners: @thaJeztah

Update deprecation policy to 1 stable release
  docs/deprecated.md
Owners: @thaJeztah

Add `volume` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `config` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `network` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `node` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `secret` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `system` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `image` subcommand support to fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `container` subcommand support for fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `plugin` subcommand support for fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `swarm` subcommand support for fish completions
  contrib/completion/fish/docker.fish
Owners: none

Add `service` subcommand support for fish completions
  contrib/completion/fish/docker.fish
Owners: none

Drop -A flag in fish completions
  contrib/completion/fish/docker.fish
Owners: none

Enable `ls` and `rm` aliases in fish completions
  contrib/completion/fish/docker.fish
Owners: none

Prevent mixing subsubcommands with subcommands in fish completions
  contrib/completion/fish/docker.fish
Owners: none

try http for docker manifest --insecure
  cli/registry/client/client.go
Owners: none

Add third-party logging plugins to plugins list
  docs/extend/legacy_plugins.md
Owners: @thaJeztah

Allow publishing same port as UDP and TCP using docker stack deploy
  cli/compose/loader/merge.go
Owners: none

Adding missing title in builder.md
  docs/reference/builder.md
Owners: @thaJeztah

Bump Golang 1.13.9
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump Golang 1.13.9
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

TestHistoryContext_CreatedSince: skip on non-UTC environments
  cli/command/image/formatter_history_test.go
Owners: none

test: make sure environment vars are reset after tests
  cli/command/image/trust_test.go
  cli/config/config_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
