Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

Remove the go.mod stub file after vendors have been updated, validated or outdated vendors listed.
  scripts/vendor
Owners: none

Cleanup go.mod only if option -c is passed
  Makefile
  dockerfiles/Dockerfile.vendor
  scripts/docs/generate-man.sh
  scripts/docs/generate-yaml.sh
  scripts/vendor
Owners: none

introduce `context show` command
  cli/command/context/cmd.go
  cli/command/context/inspect.go
  cli/command/context/show.go
  cli/command/context/show_test.go
  cli/command/context/testdata/show.golden
  docs/reference/commandline/context_show.md
  docs/reference/commandline/version.md
Owners: @thaJeztah

use our own version of text/tabwriter
  cli/command/container/top.go
  cli/command/context/create.go
  cli/command/context/update.go
  cli/command/formatter/formatter.go
  cli/command/formatter/tabwriter/tabwriter.go
  cli/command/formatter/tabwriter/tabwriter_test.go
  cli/command/system/version.go
  vendor.mod
  vendor.sum
  vendor/github.com/mattn/go-runewidth/.travis.yml
  vendor/github.com/mattn/go-runewidth/LICENSE
  vendor/github.com/mattn/go-runewidth/README.md
  vendor/github.com/mattn/go-runewidth/go.test.sh
  vendor/github.com/mattn/go-runewidth/runewidth.go
  vendor/github.com/mattn/go-runewidth/runewidth_appengine.go
  vendor/github.com/mattn/go-runewidth/runewidth_js.go
  vendor/github.com/mattn/go-runewidth/runewidth_posix.go
  vendor/github.com/mattn/go-runewidth/runewidth_table.go
  vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  vendor/github.com/rivo/uniseg/LICENSE.txt
  vendor/github.com/rivo/uniseg/README.md
  vendor/github.com/rivo/uniseg/doc.go
  vendor/github.com/rivo/uniseg/grapheme.go
  vendor/github.com/rivo/uniseg/properties.go
  vendor/modules.txt
Owners: none

Always set the console size
  cli/command/container/run.go
Owners: none

introduce docker stack config
  cli/command/stack/cmd.go
  cli/command/stack/config.go
Owners: @silvin-lubecki

cli/command/image: remove use of docker/docker/pkg/urlutil
  cli/command/image/import.go
Owners: none

Add --force option to network rm subcommand
  cli/command/network/client_test.go
  cli/command/network/remove.go
  cli/command/network/remove_test.go
  contrib/completion/bash/docker
  docs/reference/commandline/network_rm.md
Owners: @albers, @thaJeztah

Add bash completion for `docker stack config`
  contrib/completion/bash/docker
Owners: @albers

Remove bash completion for deprecated orchestrator flags
  contrib/completion/bash/docker
Owners: @albers

Remove unsupported alias from `docker stack config` help output
  docs/reference/commandline/stack_config.md
Owners: @thaJeztah

vendor: github.com/opencontainers/image-spec v1.0.3-0.20220303224323-02efb9a75ee1
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/config.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/miekg/pkcs11 v1.1.1
  vendor.mod
  vendor.sum
  vendor/github.com/miekg/pkcs11/.travis.yml
  vendor/github.com/miekg/pkcs11/README.md
  vendor/github.com/miekg/pkcs11/pkcs11.go
  vendor/github.com/miekg/pkcs11/release.go
  vendor/github.com/miekg/pkcs11/types.go
  vendor/github.com/miekg/pkcs11/zconst.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/Microsoft/go-winio v0.5.2
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/go-winio/file.go
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid_nonwindows.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.15.1
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/autogen.go
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_generic.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fuzz.go
  vendor/github.com/klauspost/compress/zstd/fuzz_none.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/zip.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.2
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/CONTRIBUTING.md
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/credentials/insecure/insecure.go
  vendor/google.golang.org/grpc/interceptor.go
  vendor/google.golang.org/grpc/internal/channelz/funcs.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/regenerate.sh
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Owners: none

Add example get API version
  docs/reference/commandline/version.md
Owners: @thaJeztah

Introduce kill --all flag
  cli/command/container/kill.go
  cli/command/container/kill_test.go
  cli/required.go
Owners: none

contrib/completion: remove unused options variable
  contrib/completion/bash/docker
Owners: @albers

contrib/completion: remove orchestrator flags from zsh completion
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

remove some swarm annotations from flags
  cli/command/service/opts.go
  cli/command/stack/deploy.go
Owners: @silvin-lubecki

Retry initializing TTY size a bit more
  cli/command/container/tty.go
  cli/command/container/tty_test.go
Owners: none

cli: initializeFromClient(): detect swarm status from ping (if available)
  cli/command/cli.go
  cli/command/cli_test.go
Owners: none

hide swarm-related commands based on the current swarm status and role
  cli/command/config/cmd.go
  cli/command/node/cmd.go
  cli/command/secret/cmd.go
  cli/command/service/cmd.go
  cli/command/stack/cmd.go
  cli/command/swarm/ca.go
  cli/command/swarm/cmd.go
  cli/command/swarm/init.go
  cli/command/swarm/join.go
  cli/command/swarm/join_token.go
  cli/command/swarm/leave.go
  cli/command/swarm/unlock.go
  cli/command/swarm/unlock_key.go
  cli/command/swarm/update.go
  cmd/docker/docker.go
Owners: @silvin-lubecki

Sleep for 1.5 seconds before looking at the resize error
  cli/command/container/tty_test.go
Owners: none

TestSaveFileToDirs: use filepath.Join()
  cli/config/config_test.go
Owners: none

Loads .env file if existing at the very beginning
  cli/command/stack/loader/loader.go
  cli/command/utils.go
  cmd/docker/docker.go
  opts/envfile.go
Owners: @silvin-lubecki

Fix dead external link
  docs/extend/legacy_plugins.md
Owners: @thaJeztah

info: improve handling of empty Info
  cli/command/system/info.go
Owners: none

info: don't print server info if we failed to connect
  cli/command/system/info.go
Owners: none

Fixing stats race condition
  cli/command/container/stats.go
Owners: none

use local ConvertToHostname() implementation
  cli/command/registry.go
  cli/command/registry/logout.go
  cli/registry/client/client.go
  cli/registry/client/endpoint.go
  cli/registry/client/fetcher.go
Owners: none

update golang to 1.18.2
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Owners: none

vendor: golang.org/x/sys v0.0.0-20220412211240-33da011f77ad
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/unix/asm_linux_loong64.s
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/modules.txt
Owners: none

[20.10] update golang to 1.17.10
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

vendor: github.com/containerd/containerd v1.6.4
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker 7c69b6dc08c7
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/system/process_unix.go
  vendor/github.com/docker/docker/registry/config_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

completion v2: some small follow-ups
  cli/command/checkpoint/create.go
  cli/command/config/create.go
  cli/command/container/attach.go
  cli/command/container/exec.go
  cli/command/context/create.go
  cli/command/image/pull.go
  cli/command/image/save.go
  cli/command/image/tag.go
  cli/command/network/create.go
  cli/command/plugin/create.go
  cli/command/registry/login.go
  cli/command/registry/logout.go
  cli/command/service/create.go
  cli/command/volume/create.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
