Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

docs(plugins): add Kathará engine network plugin
  docs/extend/legacy_plugins.md
Owners: @thaJeztah

docs(plugins): remove inline CSS markup
  docs/extend/legacy_plugins.md
Owners: @thaJeztah

docs(plugins): remove Weave engine network plugin
  docs/extend/legacy_plugins.md
Owners: @thaJeztah

vendor: github.com/docker/docker 7bc56c53657d (v25.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/network/endpoint.go
  vendor/modules.txt
Owners: none

docs: deprecate short cid in Aliases field
  docs/deprecated.md
Owners: @thaJeztah

deprecated: fix anchor and add missing version
  docs/deprecated.md
Owners: @thaJeztah

docs/deprecated: update "oom-score-adjust" status for daemon
  docs/deprecated.md
Owners: @thaJeztah

fix tcp half-closed connection unreliability in WSL
  cli/command/container/hijack.go
Owners: none

Add networking reference link
  docs/reference/commandline/build.md
Owners: @thaJeztah

Fix wrong docker run command
  docs/reference/commandline/run.md
Owners: @thaJeztah

id and name filter in service ls is the prefix not a part
  docs/reference/commandline/service_ls.md
Owners: @thaJeztah

update authors and mailmap
  .mailmap
  AUTHORS
Owners: none

vendor: github.com/docker/docker v25.0.0-beta.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.17.4
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/bytereader.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/modules.txt
Owners: none

vendor: github.com/mattn/go-runewidth v0.0.15
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/mitchellh/mapstructure v1.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/mitchellh/mapstructure/.travis.yml
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/modules.txt
Owners: none

vendor: migrate to github.com/go-viper/mapstructure/v2 v2.0.0-alpha.1
  cli/compose/loader/loader.go
  vendor.mod
  vendor.sum
  vendor/github.com/go-viper/mapstructure/v2/.envrc
  vendor/github.com/go-viper/mapstructure/v2/.gitignore
  vendor/github.com/go-viper/mapstructure/v2/.golangci.yaml
  vendor/github.com/go-viper/mapstructure/v2/CHANGELOG.md
  vendor/github.com/go-viper/mapstructure/v2/LICENSE
  vendor/github.com/go-viper/mapstructure/v2/README.md
  vendor/github.com/go-viper/mapstructure/v2/decode_hooks.go
  vendor/github.com/go-viper/mapstructure/v2/error.go
  vendor/github.com/go-viper/mapstructure/v2/flake.lock
  vendor/github.com/go-viper/mapstructure/v2/flake.nix
  vendor/github.com/go-viper/mapstructure/v2/mapstructure.go
  vendor/github.com/go-viper/mapstructure/v2/reflect_go1_19.go
  vendor/github.com/go-viper/mapstructure/v2/reflect_go1_20.go
  vendor/modules.txt
Owners: none

change back nolint -> nosec
  cli/command/image/build/context.go
Owners: none

docs: add links to volume ls, network ls, stack ps formatting examples
  docs/reference/commandline/cli.md
Owners: @thaJeztah

docs: add links to volume ls, network ls, stack ps formatting examples
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Docker build command docs refresh
  docs/reference/commandline/build.md
Owners: @thaJeztah

cli/command/container: parseSecurityOpts: fix --security-opt seccomp=builtin
  cli/command/container/opts.go
  docs/reference/commandline/run.md
Owners: @thaJeztah

vendor: github.com/docker/docker v25.0.0-rc.1
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/types.go
  vendor/modules.txt
Owners: none

docs: fix incorrect heading levels in docker run reference
  docs/reference/commandline/run.md
Owners: @thaJeztah

vendor: github.com/docker/go-connections v0.5.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

check fmt
  cli/command/manifest/list.go
Owners: none

bash completion for `docker manifest ls`
  contrib/completion/bash/docker
Owners: @albers

fixed string replace
  cli/manifest/store/store.go
Owners: none

feature: subcommand `docker manifest ls`
  cli/command/manifest/cmd.go
  cli/command/manifest/formatter.go
  cli/command/manifest/list.go
  cli/config/configfile/file.go
  cli/manifest/store/store.go
Owners: none

check lint
  cli/command/manifest/list.go
Owners: none

test cases for `docker manifest ls`
  cli/command/manifest/list_test.go
  cli/command/manifest/testdata/manifest-list-with-quiet-option.golden
  cli/command/manifest/testdata/manifest-list.golden
Owners: none

show platforms for `docker manifest ls`
  cli/command/manifest/formatter.go
  cli/command/manifest/list.go
  cli/command/manifest/list_test.go
  cli/command/manifest/testdata/manifest-list.golden
Owners: none

some additions for bash completion
  contrib/completion/bash/docker
Owners: @albers

docs generate for `docker manifest ls`
  docs/reference/commandline/manifest.md
  docs/reference/commandline/manifest_ls.md
Owners: @thaJeztah

vendor: github.com/creack/pty v1.1.21
  vendor.mod
  vendor.sum
  vendor/github.com/creack/pty/.golangci.yml
  vendor/github.com/creack/pty/Dockerfile.golang
  vendor/github.com/creack/pty/Dockerfile.riscv
  vendor/github.com/creack/pty/ioctl.go
  vendor/github.com/creack/pty/ioctl_inner.go
  vendor/github.com/creack/pty/ioctl_legacy.go
  vendor/github.com/creack/pty/ioctl_solaris.go
  vendor/github.com/creack/pty/ioctl_unsupported.go
  vendor/github.com/creack/pty/pty_darwin.go
  vendor/github.com/creack/pty/pty_dragonfly.go
  vendor/github.com/creack/pty/pty_freebsd.go
  vendor/github.com/creack/pty/pty_linux.go
  vendor/github.com/creack/pty/pty_netbsd.go
  vendor/github.com/creack/pty/pty_openbsd.go
  vendor/github.com/creack/pty/pty_solaris.go
  vendor/github.com/creack/pty/test_crosscompile.sh
  vendor/github.com/creack/pty/winsize.go
  vendor/github.com/creack/pty/winsize_unix.go
  vendor/github.com/creack/pty/ztypes_freebsd_riscv64.go
  vendor/github.com/creack/pty/ztypes_ppc.go
  vendor/github.com/creack/pty/ztypes_sparcx.go
  vendor/modules.txt
Owners: none

vendor: github.com/google/go-cmp v0.6.0
  vendor.mod
  vendor.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sync v0.6.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.19.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/databuffer.go
  vendor/golang.org/x/net/http2/go111.go
  vendor/golang.org/x/net/http2/go115.go
  vendor/golang.org/x/net/http2/go118.go
  vendor/golang.org/x/net/http2/not_go111.go
  vendor/golang.org/x/net/http2/not_go115.go
  vendor/golang.org/x/net/http2/not_go118.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/tables10.0.0.go
  vendor/golang.org/x/net/idna/tables11.0.0.go
  vendor/golang.org/x/net/idna/tables12.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/golang.org/x/net/idna/tables15.0.0.go
  vendor/golang.org/x/net/idna/tables9.0.0.go
  vendor/golang.org/x/net/idna/trie12.0.0.go
  vendor/golang.org/x/net/idna/trie13.0.0.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/tools v0.16.0, golang.org/x/mod v0.14.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/mod/semver/semver.go
  vendor/golang.org/x/sys/execabs/execabs.go
  vendor/golang.org/x/sys/execabs/execabs_go118.go
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/tools/cmd/stringer/stringer.go
  vendor/golang.org/x/tools/go/internal/packagesdriver/sizes.go
  vendor/golang.org/x/tools/go/packages/doc.go
  vendor/golang.org/x/tools/go/packages/external.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/golist_overlay.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/event/tag/tag.go
  vendor/golang.org/x/tools/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/coretype.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  vendor/golang.org/x/tools/internal/typeparams/typeterm.go
  vendor/golang.org/x/tools/internal/versions/gover.go
  vendor/golang.org/x/tools/internal/versions/types.go
  vendor/golang.org/x/tools/internal/versions/types_go121.go
  vendor/golang.org/x/tools/internal/versions/types_go122.go
  vendor/golang.org/x/tools/internal/versions/versions_go121.go
  vendor/golang.org/x/tools/internal/versions/versions_go122.go
  vendor/modules.txt
Owners: none

cli/compose/loader: use golden.Assert() for readability
  cli/compose/loader/types_test.go
Owners: none
