Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli-plugins/manager: TestPluginError: don't use yaml.Marshal
  cli-plugins/manager/error_test.go
Owners: none

cli/command/stack: TestConfigMergeInterpolation: various fixes
  cli/command/stack/config_test.go
Owners: @silvin-lubecki

docs: docker inspect: reformat with prettier
  docs/reference/commandline/inspect.md
Owners: @thaJeztah

docs: docker inspect --size
  docs/reference/commandline/inspect.md
Owners: @thaJeztah

update gotestsum to v1.8.2
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

Remove deprecated note
  docs/reference/commandline/logs.md
Owners: @thaJeztah

vendor: github.com/moby/term v0.0.0-20221120202655-abb19827d345
  vendor.mod
  vendor.sum
  vendor/github.com/moby/term/tc.go
  vendor/github.com/moby/term/term.go
  vendor/github.com/moby/term/term_windows.go
  vendor/github.com/moby/term/termios.go
  vendor/github.com/moby/term/termios_bsd.go
  vendor/github.com/moby/term/termios_nonbsd.go
  vendor/github.com/moby/term/windows/ansi_reader.go
  vendor/github.com/moby/term/windows/ansi_writer.go
  vendor/github.com/moby/term/windows/console.go
  vendor/github.com/moby/term/winsize.go
  vendor/modules.txt
Owners: none

vendor: docker 394f6c14add7c1a5a80257c9111f43b7edc78d0b / v22.06-dev
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Update codecov.yml
  codecov.yml
Owners: none

cli/context/store: make sure we handle wrapped errors
  cli/context/store/metadatastore.go
Owners: none

cli/flags: merge CommonOptions into ClientOptions
  cli/cobra.go
  cli/command/cli.go
  cli/command/cli_test.go
  cli/command/defaultcontextstore.go
  cli/command/defaultcontextstore_test.go
  cli/flags/client.go
  cli/flags/options.go
  cli/flags/options_deprecated.go
  cli/flags/options_test.go
  cmd/docker/builder_test.go
Owners: none

cli/command: move default context description to context itself
  cli/command/context.go
  cli/command/context/list.go
Owners: none

cli/command: use more descriptive const in test
  cli/command/context_test.go
Owners: none

cli/command/context: minor cleanup in runList()
  cli/command/context/list.go
Owners: none

cli/command: resolveContextName() don't validate if context exists
  cli/command/cli.go
Owners: none

cli/command: resolveContextName() move conflicting options check
  cli/command/cli.go
Owners: none

cli/command: DockerCli.CurrentContext: improve GoDoc
  cli/command/cli.go
Owners: none

cli/command: TestInitializeFromClientHangs fix unhandled error
  cli/command/cli_test.go
Owners: none

cli/command: DockerCli: keep reference to options for later use
  cli/command/cli.go
Owners: none

cli/command: add Cli.CurrentVersion() function
  cli/command/cli.go
  cli/command/container/run.go
  cli/command/system/version.go
  cmd/docker/docker.go
  internal/test/cli.go
Owners: none

cli/command/context: allow context show to print context, even on error
  cli/command/context/show.go
Owners: none

cli/command/context: context ls: always show current context
  cli/command/context/list.go
  cli/command/context/list_test.go
  cli/command/context/testdata/list-with-error.golden
  cli/command/context/testdata/list.golden
Owners: none

cli/command/context: context ls: add ERROR column, and don't fail early
  cli/command/context/list.go
  cli/command/formatter/context.go
  cli/command/formatter/custom.go
  cli/command/task/formatter.go
  e2e/context/testdata/context-ls-notls.golden
  e2e/context/testdata/context-ls-tls.golden
  e2e/context/testdata/context-ls.golden
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20221123162438-b17f02f0a054
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: docker/docker v20.10.3-0.20221124164242-a913b5ad7ef1 (v23.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Update version to v23.0.0-dev
  VERSION
Owners: none

docs: update version to v23.0.0-dev
  docs/deprecated.md
Owners: @thaJeztah

Add Sam Thibault (sam-thibault) as curator
  MAINTAINERS
Owners: none

vendor: golang_protobuf_extensions v1.0.4 - prevent incompatible versions
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: update github.com/moby/term to fix interrupt handling
  vendor.mod
  vendor.sum
  vendor/github.com/moby/term/term.go
  vendor/modules.txt
Owners: none

cli/command: DockerCli: CurrentContext(): resolve dynamically
  cli/command/cli.go
Owners: none

cli/command: add Cli.CurrentVersion() function
  cli/command/cli.go
  cli/command/container/run.go
  cli/command/system/version.go
  cmd/docker/docker.go
  internal/test/cli.go
Owners: none

cli/command/context: "docker context show": don't validate context
  cli/command/context/show.go
  cli/command/context/show_test.go
Owners: none

cli: NewTopLevelCommand: don't use unnamed assignments
  cli/cobra.go
Owners: none

cli/command: remove DockerCli.loadConfigFile()
  cli/command/cli.go
Owners: none

cli/command: DockerCli: keep reference to options for later use
  cli/command/cli.go
Owners: none

cli/command/formatter: define const for error column-headers
  cli/command/formatter/custom.go
  cli/command/task/formatter.go
Owners: none

cli/command/formatter: NewClientContextFormat(): unconvert
  cli/command/formatter/context.go
Owners: none

cli/command/task: taskContext.Error(): use ellipsis utility
  cli/command/task/formatter.go
Owners: none

cli/command: DockerCli.ServerInfo() load info lazily
  cli/command/cli.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
