Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

[docs] Updated docker cp documentation
  docs/reference/commandline/cp.md
  man/src/container/cp.md
Owners: @thaJeztah

Add option remove `env_file` entry after merged
  cli/compose/loader/loader.go
  cli/compose/loader/loader_test.go
Owners: none

bump LK4D4/vndr v0.0.3 and revendor
  dockerfiles/Dockerfile.dev
  vendor/github.com/gogo/googleapis/go.mod
  vendor/github.com/gogo/protobuf/go.mod
  vendor/github.com/google/uuid/go.mod
  vendor/github.com/gorilla/mux/go.mod
  vendor/github.com/jaguilar/vt100/go.mod
  vendor/github.com/konsorten/go-windows-terminal-sequences/go.mod
  vendor/github.com/mattn/go-shellwords/go.mod
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/sirupsen/logrus/go.mod
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/golang.org/x/crypto/go.mod
  vendor/golang.org/x/net/go.mod
  vendor/golang.org/x/sync/go.mod
  vendor/golang.org/x/sys/go.mod
  vendor/google.golang.org/grpc/go.mod
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gotest.tools/go.mod
Owners: none

cli/config: use os.UserHomeDir instead of github.com/docker/docker/pkg/homedir
  cli/config/config.go
  cli/config/config_test.go
Owners: none

vendor: update buildkit to 10cef0c and fsutil 7f9f923
  cli/command/image/build_buildkit.go
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/client/llb/meta.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/session/auth/auth.go
  vendor/github.com/moby/buildkit/session/content/caller.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/session/secrets/secrets.go
  vendor/github.com/moby/buildkit/session/sshforward/copy.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.go
  vendor/github.com/moby/buildkit/session/sshforward/sshprovider/agentprovider.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/github.com/tonistiigi/fsutil/stat.go
Owners: none

vendor: update buildkit to docker-19.03
  cli/command/image/build_buildkit.go
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/client/llb/meta.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/session/auth/auth.go
  vendor/github.com/moby/buildkit/session/content/caller.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/session/secrets/secrets.go
  vendor/github.com/moby/buildkit/session/sshforward/copy.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.go
  vendor/github.com/moby/buildkit/session/sshforward/sshprovider/agentprovider.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/tonistiigi/fsutil/stat.go
Owners: none

[18.09] bump docker/engine
  vendor.conf
  vendor/github.com/docker/docker/api/types/stats.go
  vendor/github.com/docker/docker/client/README.md
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/client_deprecated.go
  vendor/github.com/docker/docker/client/options.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/idtools/idtools.go
  vendor/github.com/docker/docker/pkg/mount/mount.go
  vendor/github.com/docker/docker/pkg/mount/mounter_freebsd.go
  vendor/github.com/docker/docker/pkg/mount/mounter_linux.go
  vendor/github.com/docker/docker/pkg/mount/mounter_unsupported.go
  vendor/github.com/docker/docker/pkg/mount/unmount_unix.go
  vendor/github.com/docker/docker/pkg/mount/unmount_unsupported.go
  vendor/github.com/docker/docker/pkg/stringid/stringid.go
  vendor/github.com/docker/docker/pkg/system/path_unix.go
  vendor/github.com/docker/docker/pkg/system/path_windows.go
  vendor/github.com/docker/docker/registry/service_v2.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: bump swarmkit
  vendor.conf
  vendor/github.com/docker/swarmkit/api/genericresource/resource_management.go
  vendor/github.com/docker/swarmkit/api/genericresource/validate.go
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
  vendor/github.com/docker/swarmkit/manager/raftselector/raftselector.go
  vendor/github.com/docker/swarmkit/vendor.conf
Owners: none

Adding experimental feature info
  docs/reference/commandline/cli.md
Owners: @thaJeztah

config: keep configDir empty when homedir errors
  cli/config/config.go
Owners: none

fix formatting issue of encoded urlSigned-off-by: Sam <samashah@microsoft.com>
  cli/command/image/build/context.go
Owners: none

bump miekg/pkcs11 v1.0.2
  vendor.conf
  vendor/github.com/miekg/pkcs11/go.mod
  vendor/github.com/miekg/pkcs11/params.go
  vendor/github.com/miekg/pkcs11/pkcs11.go
  vendor/github.com/miekg/pkcs11/release.go
Owners: none

bump golang 1.12.10 (CVE-2019-16276)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

bump golang 1.12.10 (CVE-2019-16276)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump golang to 1.12.1
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump Golang 1.12.2
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump Golang 1.12.3
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump Golang 1.12.4
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump golang 1.12.5
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump golang 1.12.6
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump golang 1.12.7
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Dockerfile: use GO_VERSION build-arg for overriding Go version
  docker.Makefile
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

Bump golang 1.12.8 (CVE-2019-9512, CVE-2019-9514)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Bump golang 1.12.9
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

bump golang 1.12.10 (CVE-2019-16276)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update dockerd.8.md
  man/dockerd.8.md
Owners: none

Add bash completion for `builder build`
  contrib/completion/bash/docker
Owners: @albers

vendor: Bump gopkg.in/yaml.v2
  vendor.conf
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
Owners: none

vendor: Bump gopkg.in/yaml.v2
  vendor.conf
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
Owners: none

vendor: Bump gopkg.in/yaml.v2
  vendor.conf
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
Owners: none

Clarifying docker config rules
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Adding experimental feature info
  docs/reference/commandline/cli.md
Owners: @thaJeztah

build: remove --stream
  cli/command/image/build.go
  cli/command/image/build_session.go
  contrib/completion/bash/docker
Owners: @albers

vendor: update go-winio to v0.4.14
  vendor.conf
  vendor/github.com/Microsoft/go-winio/file.go
  vendor/github.com/Microsoft/go-winio/go.mod
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/syscall.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
Owners: none

vendor: update grpc to v1.23.0
  vendor.conf
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/balancer.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/base/balancer.go
  vendor/google.golang.org/grpc/balancer_conn_wrappers.go
  vendor/google.golang.org/grpc/balancer_v1_wrapper.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/codes/codes.go
  vendor/google.golang.org/grpc/credentials/credentials.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/go.mod
  vendor/google.golang.org/grpc/health/client.go
  vendor/google.golang.org/grpc/internal/channelz/funcs.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/naming/naming.go
  vendor/google.golang.org/grpc/picker_wrapper.go
  vendor/google.golang.org/grpc/pickfirst.go
  vendor/google.golang.org/grpc/preloader.go
  vendor/google.golang.org/grpc/resolver/dns/dns_resolver.go
  vendor/google.golang.org/grpc/resolver/resolver.go
  vendor/google.golang.org/grpc/resolver_conn_wrapper.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/serviceconfig/serviceconfig.go
  vendor/google.golang.org/grpc/status/status.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
Owners: none

Allow username/password in config file
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Owners: none

fix rw / ro flag issue
  cli/command/container/opts.go
Owners: none

Annotate flags that are not supported by Buildkit
  cli/command/image/build.go
Owners: none

Add option remove `env_file` entry after merged
  cli/compose/loader/loader.go
  cli/compose/loader/loader_test.go
Owners: none

Add bash completion for `builder build` options
  contrib/completion/bash/docker
Owners: @albers
