Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

docs: deprecation: OOM-score adjust for the daemon
  docs/deprecated.md
Owners: @thaJeztah

docs/reference: reformat env-vars table, and simplify
  docs/reference/commandline/cli.md
Owners: @thaJeztah

Update tag docs to clarify name
  docs/reference/commandline/tag.md
Owners: @thaJeztah

docs/reference: remove mention of DOCKER_NOWARN_KERNEL_VERSION
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

man/dockerd.8: assorted formatting fixes
  man/dockerd.8.md
Owners: none

docker info: don't print "registry" (IndexServerAddress)
  cli/command/system/info.go
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-with-labels-empty.golden
  cli/command/system/testdata/docker-info-with-labels-nil.golden
  cli/command/system/testdata/docker-info-with-swarm.golden
  docs/reference/commandline/info.md
  man/src/system/info.md
Owners: @thaJeztah

vendor: golang.org/x/term v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.0-beta.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/client_deprecated.go
  vendor/modules.txt
Owners: none

cli/command: remove deprecated Stream types
  cli/command/streams.go
Owners: none

cli/command/volume: suppress err output in tests
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/command/volume/list_test.go
  cli/command/volume/prune_test.go
  cli/command/volume/remove_test.go
Owners: none

volumes: prune: add --all / -a option
  cli/command/volume/prune.go
  cli/command/volume/prune_test.go
  cli/command/volume/testdata/volume-prune-success.all-forced.golden
  cli/command/volume/testdata/volume-prune-success.all.golden
  cli/command/volume/testdata/volume-prune-success.label-filter.golden
  cli/command/volume/testdata/volume-prune-yes.golden
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/volume_prune.md
Owners: @albers, @sdurrheimer, @thaJeztah

cli/command/formatter: export JSONFormat const
  cli/command/formatter/formatter.go
Owners: none

fix docker info --format=json not outputting json format
  cli/command/system/info.go
  cli/command/system/info_test.go
  docs/reference/commandline/info.md
  docs/reference/commandline/system_info.md
Owners: @thaJeztah

cli/command/system: make default version template a const
  cli/command/system/version.go
Owners: none

fix docker version --format=json not outputting json format
  cli/command/system/testdata/docker-client-version.json.golden
  cli/command/system/version.go
  cli/command/system/version_test.go
  docs/reference/commandline/version.md
Owners: @thaJeztah

ci: remove fetch depth 0 for validate jobs
  .github/workflows/validate.yml
Owners: none

ci: add validation for generated markdown
  .github/workflows/validate.yml
Owners: none

docs: update deprecation status of "overlay" and "AuFS"
  docs/deprecated.md
Owners: @thaJeztah

Docs freshness updates
  docs/reference/commandline/run.md
Owners: @thaJeztah

Docs freshness updates
  docs/reference/commandline/run.md
Owners: @thaJeztah

[23.0] vendor: github.com/docker/docker v23.0.4
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

[23.0] vendor: github.com/opencontainers/runc v1.1.5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

[23.0] vendor: github.com/moby/swarmkit/v2 v2.0.0-20230315203717-e28e8ba9bc83
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

[23.0] vendor: github.com/docker/docker v23.0.5
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/client_deprecated.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.11.6
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230406225228-75e92ce14ff7
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

e2e: Skip tests with platform-specific digests on other platforms
  e2e/container/run_test.go
  e2e/image/pull_test.go
  e2e/image/push_test.go
  e2e/trust/sign_test.go
  internal/test/environment/testenv.go
Owners: none

test/e2e: Use "frozen" tag to reference test images
  cli/command/image/build_test.go
  e2e/image/build_test.go
  e2e/image/pull_test.go
  e2e/internal/fixtures/fixtures.go
  e2e/stack/testdata/full-stack.yml
  e2e/stack/testdata/stack-with-named-resources.yml
  scripts/test/e2e/load-image
Owners: none

e2e: Match notary server version with the main Dockerfile
  e2e/testdata/Dockerfile.evil-notary-server
  e2e/testdata/Dockerfile.notary-server
Owners: none

e2e: Update alpine to 3.17.2
  e2e/container/testdata/run-attached-from-remote-and-remove.golden
  e2e/image/push_test.go
  e2e/image/testdata/pull-with-content-trust-err.golden
  e2e/image/testdata/pull-with-content-trust.golden
  e2e/internal/fixtures/fixtures.go
  scripts/test/e2e/load-image
Owners: none

Update wording in ps.md of --filter name
  docs/reference/commandline/ps.md
Owners: @thaJeztah

Rename CONTRIBUTING.md to uscurrency.gov
  uscurrency.gov
Owners: none

remove uses of deprecated VirtualSize field
  cli/command/formatter/disk_usage.go
  cli/command/formatter/image.go
  cli/command/formatter/image_test.go
Owners: none

Add support for --detach flag in stack deploy
  cli/command/service/create.go
  cli/command/service/helpers.go
  cli/command/service/progress/progress.go
  cli/command/service/rollback.go
  cli/command/service/scale.go
  cli/command/service/update.go
  cli/command/stack/deploy.go
  cli/command/stack/options/opts.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/stack/swarm/deploy_test.go
Owners: @silvin-lubecki

vendor: github.com/docker/docker v24.0.0-rc.1
  cli/command/image/testdata/inspect-command-success.simple-many.golden
  cli/command/image/testdata/inspect-command-success.simple.golden
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/image_summary.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/term v0.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/term/doc.go
  vendor/github.com/moby/term/tc.go
  vendor/github.com/moby/term/term.go
  vendor/github.com/moby/term/term_unix.go
  vendor/github.com/moby/term/term_windows.go
  vendor/github.com/moby/term/termios_unix.go
  vendor/github.com/moby/term/termios_windows.go
  vendor/github.com/moby/term/windows/ansi_reader.go
  vendor/github.com/moby/term/windows/console.go
  vendor/github.com/moby/term/winsize.go
  vendor/modules.txt
Owners: none

github.com/docker/cli/cli/command/system: add BenchmarkPrettyPrintInfo
  cli/command/system/info_test.go
Owners: none

cli/command/system: prettyPrintServerInfo: rename var that collided with import
  cli/command/system/info.go
Owners: none

cli/command/system: prettyPrintServerInfo: refactor printing "runtimes"
  cli/command/system/info.go
Owners: none

cli/command/system: use io.Writer for printing warnings
  cli/command/system/info.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
