Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

MOUNT syntax for Windows containers added.
  docs/reference/builder.md
Owners: @thaJeztah

Added the smokserwis/zookeeper-volume plugin
  docs/extend/legacy_plugins.md
Owners: @thaJeztah

docs: dockerd: fix broken link and markdown touch-ups
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: dockerd: fix broken link and markdown touch-ups
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: Fix broken jump link
  docs/reference/run.md
Owners: @thaJeztah

docs: Fix broken jump link
  docs/reference/run.md
Owners: @thaJeztah

printServerWarningsLegacy: silence "No kernel memory limit support"
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-warnings.golden
Owners: none

printServerWarningsLegacy: silence "No oom kill disable support" on cgroup v2
  cli/command/system/info.go
Owners: none

docs: Fix broken jump link
  docs/reference/run.md
Owners: @thaJeztah

Swap "LABEL maintainer" for the OCI pre-defined "org.opencontainers.image.authors"
  docs/reference/builder.md
  docs/reference/commandline/pull.md
  man/src/image/pull.md
Owners: @thaJeztah

Deprecation: config: remove support for old ~/.dockercfg
  cli/config/config.go
  cli/config/config_test.go
  cli/config/configfile/file.go
  docs/deprecated.md
Owners: @thaJeztah

Change IO order in description
  docs/reference/commandline/stats.md
Owners: @thaJeztah

Change IO order in description
  docs/reference/commandline/stats.md
Owners: @thaJeztah

Ignore SIGURG on Darwin too
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/container/signals_windows.go
Owners: none

Revert "[20.10] Revert "Ignore SIGURG on Linux.""
  cli/command/container/attach.go
  cli/command/container/client_test.go
  cli/command/container/run.go
  cli/command/container/signals.go
  cli/command/container/signals_linux.go
  cli/command/container/signals_linux_test.go
  cli/command/container/signals_notlinux.go
  cli/command/container/signals_test.go
  cli/command/container/start.go
  cli/command/container/tty.go
Owners: none

Fix `docker start` blocking on signal handling
  cli/command/container/start.go
Owners: none

ForwardAllSignals: check if channel is closed, and remove warning
  cli/command/container/signals.go
Owners: none

Ignore SIGURG on Darwin too
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/container/signals_windows.go
Owners: none

docs: fix link to command-line reference
  docs/extend/index.md
Owners: @thaJeztah

docs: fix link to command-line reference
  docs/extend/index.md
Owners: @thaJeztah

Slight cleanup/refactor of attachContainer
  cli/command/container/run.go
Owners: none

Implement support for the command-line option --security-opt seccomp=without-user-namespaces
  cli/command/container/opts.go
Owners: none

Fix minor wording
  docs/reference/commandline/run.md
Owners: @thaJeztah

vendor: github.com/docker/docker v20.10.7
  vendor.conf
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/copy_linux.go
  vendor/github.com/containerd/continuity/fs/copy_unix.go
  vendor/github.com/containerd/continuity/fs/copy_windows.go
  vendor/github.com/containerd/continuity/fs/diff.go
  vendor/github.com/containerd/continuity/fs/diff_unix.go
  vendor/github.com/containerd/continuity/fs/diff_windows.go
  vendor/github.com/containerd/continuity/fs/dtype_linux.go
  vendor/github.com/containerd/continuity/fs/du.go
  vendor/github.com/containerd/continuity/fs/du_unix.go
  vendor/github.com/containerd/continuity/fs/du_windows.go
  vendor/github.com/containerd/continuity/fs/hardlink.go
  vendor/github.com/containerd/continuity/fs/hardlink_unix.go
  vendor/github.com/containerd/continuity/fs/hardlink_windows.go
  vendor/github.com/containerd/continuity/fs/path.go
  vendor/github.com/containerd/continuity/fs/stat_darwinfreebsd.go
  vendor/github.com/containerd/continuity/fs/stat_linuxopenbsd.go
  vendor/github.com/containerd/continuity/fs/time.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_linux.go
  vendor/github.com/docker/docker/pkg/archive/archive_other.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/idtools/idtools.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/signal/signal.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

[20.10] vendor: github.com/docker/docker v20.10.7
  vendor.conf
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/copy_linux.go
  vendor/github.com/containerd/continuity/fs/copy_unix.go
  vendor/github.com/containerd/continuity/fs/copy_windows.go
  vendor/github.com/containerd/continuity/fs/diff.go
  vendor/github.com/containerd/continuity/fs/diff_unix.go
  vendor/github.com/containerd/continuity/fs/diff_windows.go
  vendor/github.com/containerd/continuity/fs/dtype_linux.go
  vendor/github.com/containerd/continuity/fs/du.go
  vendor/github.com/containerd/continuity/fs/du_unix.go
  vendor/github.com/containerd/continuity/fs/du_windows.go
  vendor/github.com/containerd/continuity/fs/hardlink.go
  vendor/github.com/containerd/continuity/fs/hardlink_unix.go
  vendor/github.com/containerd/continuity/fs/hardlink_windows.go
  vendor/github.com/containerd/continuity/fs/path.go
  vendor/github.com/containerd/continuity/fs/stat_darwinfreebsd.go
  vendor/github.com/containerd/continuity/fs/stat_linuxopenbsd.go
  vendor/github.com/containerd/continuity/fs/time.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_linux.go
  vendor/github.com/docker/docker/pkg/archive/archive_other.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/signal/signal.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: github.com/docker/docker-credential-helpers v0.6.4
  vendor.conf
  vendor/github.com/docker/docker-credential-helpers/credentials/version.go
Owners: none

docs: remove note about buildkit not supporting git subdirectories
  docs/reference/commandline/build.md
Owners: @thaJeztah

e2e: make sure that os.environ is preserved
  e2e/internal/fixtures/fixtures.go
Owners: none

feat(docker): add context argument completion
  contrib/completion/zsh/_docker
Owners: @sdurrheimer

Jenkinsfile: update labels to prevent running on cgroups v2
  Jenkinsfile
Owners: none

Jenkinsfile: update old engine version to 19.03
  Jenkinsfile
Owners: none

circleCI: update docker engine to 20.10.6
  .circleci/config.yml
Owners: none

e2e: use docker:dind image as default, as docker:stable-dind is EOL
  e2e/compose-env.yaml
  e2e/image/testdata/pull-with-content-trust.golden
Owners: none

e2e: update docker-compose to 1.29.2
  dockerfiles/Dockerfile.e2e
Owners: none

Makefile: allow overriding go command by environment
  Makefile
  scripts/build/.variables
  scripts/build/binary
  scripts/build/plugins
  scripts/docs/generate-man.sh
  scripts/docs/generate-yaml.sh
Owners: none

e2e: update docker-compose to 1.29.2
  dockerfiles/Dockerfile.e2e
Owners: none

Update WORKDIR command information
  docs/reference/builder.md
Owners: @thaJeztah

Update build.md
  docs/reference/commandline/build.md
Owners: @thaJeztah

`--until` example should use negative interval
  docs/reference/commandline/logs.md
Owners: @thaJeztah

vendor: moby/term, Azure/go-ansiterm for golang.org/x/sys/windows compat
  vendor.conf
  vendor/github.com/Azure/go-ansiterm/go.mod
  vendor/github.com/Azure/go-ansiterm/winterm/ansi.go
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/windows/console.go
Owners: none
