Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

vendor: golang.org/x/text v0.9.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.10.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230627115642-ad0f3ae162fa
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.4
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/configs.go
  vendor/github.com/docker/docker/api/types/image/opts.go
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/image-spec v1.1.0-rc2.0.20221005185240-3a7f492d3f1b
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/artifact.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/config.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.20
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/term v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.8.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.8.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.6
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.7
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.21
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v23.0.6
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Dockerfile: update to xx 1.2.1
  Dockerfile
Owners: none

Bump container-device-interface dependency to v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

cli/container: Don't ignore error when parsing volume spec
  cli/command/container/opts.go
  cli/compose/loader/volume_test.go
  e2e/container/create_test.go
Owners: none

docker stack config environment variable merge is not as expected
  cli/compose/loader/merge.go
Owners: none

cli/container: Don't ignore error when parsing volume spec
  cli/command/container/opts.go
  cli/compose/loader/volume_test.go
  e2e/container/create_test.go
Owners: none

Dockerfile: update to xx 1.2.1
  Dockerfile
Owners: none

docs: rephrase section on credential stores for docker login
  docs/reference/commandline/cli.md
  docs/reference/commandline/login.md
Owners: @thaJeztah

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230707182847-6f78b8199b05
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker dab9ffb252186f4c47416addb136d579f9314c6a (25.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/system/info.go
  vendor/github.com/docker/docker/api/types/system/runtime.go
  vendor/github.com/docker/docker/api/types/system/security_opts.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/api/types/types_deprecated.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/container_attach.go
  vendor/github.com/docker/docker/client/container_exec.go
  vendor/github.com/docker/docker/client/distribution_inspect.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/image_build.go
  vendor/github.com/docker/docker/client/image_create.go
  vendor/github.com/docker/docker/client/image_load.go
  vendor/github.com/docker/docker/client/image_push.go
  vendor/github.com/docker/docker/client/image_search.go
  vendor/github.com/docker/docker/client/info.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/plugin_install.go
  vendor/github.com/docker/docker/client/plugin_push.go
  vendor/github.com/docker/docker/client/plugin_upgrade.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/service_create.go
  vendor/github.com/docker/docker/client/service_update.go
  vendor/github.com/docker/docker/registry/config.go
  vendor/github.com/docker/docker/registry/session.go
  vendor/modules.txt
Owners: none

replace uses of deprecated api/types that moved to api/types/system
  cli/command/container/client_test.go
  cli/command/container/create_test.go
  cli/command/image/client_test.go
  cli/command/node/client_test.go
  cli/command/node/formatter.go
  cli/command/node/formatter_test.go
  cli/command/node/inspect_test.go
  cli/command/node/list.go
  cli/command/node/list_test.go
  cli/command/node/ps_test.go
  cli/command/plugin/client_test.go
  cli/command/registry/login_test.go
  cli/command/registry_test.go
  cli/command/service/client_test.go
  cli/command/service/ps_test.go
  cli/command/swarm/client_test.go
  cli/command/swarm/join_test.go
  cli/command/swarm/join_token_test.go
  cli/command/swarm/unlock_test.go
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/trust/inspect_pretty_test.go
Owners: none

vendor: github.com/docker/docker v24.0.5-0.20230714235725-36e9e796c6fc
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/request.go
  vendor/modules.txt
Owners: none

cli/context/docker: Endpoint.ClientOpts, withHTTPClient: inline variables
  cli/context/docker/load.go
Owners: none

update go to go1.20.6
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update go to go1.20.6
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

Dockerfile: update buildx to v0.11.1
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: update buildx to v0.11.1
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: update gotestsum to v1.10.0
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: update buildx to v0.11.0
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

Dockerfile: update buildx to v0.11.1
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

cli/command/container: fix redefinition of the built-in function close (revive)
  cli/command/container/run.go
Owners: none

cli/command/context: remove redundant if ...; err != nil check (revive)
  cli/command/context/create.go
Owners: none

cli/command/stack: deprecate now obsolete wrappers
  cli/command/stack/deploy.go
  cli/command/stack/list.go
  cli/command/stack/ps.go
  cli/command/stack/remove.go
  cli/command/stack/services.go
Owners: @silvin-lubecki

cli/command/completion: NoComplete(): remove unused argument (revive)
  cli/command/completion/functions.go
Owners: none

cli/command: RunPrune(): remove name for unused "all" parameter (revive)
  cli/command/container/prune.go
  cli/command/network/prune.go
  cli/command/volume/prune.go
Owners: none

cli/command/service/progress: remove name for unused parameter (revive)
  cli/command/service/progress/progress.go
Owners: none

cli/registry/client: AuthorizeRequest(): remove name for unused arg (revive)
  cli/registry/client/endpoint.go
Owners: none

opts: NormalizeCapability(): fix redefinition of the built-in function (revive)
  opts/capabilities.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
