Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

load plugin command stubs when required
  cli-plugins/manager/cobra.go
  cli/cobra.go
  cmd/docker/docker.go
  e2e/cli-plugins/run_test.go
Owners: none

vendor: github.com/moby/buildkit v0.11.4
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerignore/dockerignore.go
  vendor/modules.txt
Owners: none

vendor: github.com/docker/docker v24.0.0-beta.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

switch to go module
  .dockerignore
  .gitattributes
  .gitignore
  dockerfiles/Dockerfile.vendor
  go.mod
  go.sum
  scripts/docs/generate-man.sh
  scripts/docs/generate-md.sh
  scripts/docs/generate-yaml.sh
  scripts/vendor
Owners: none

GOPATH handling not necessary anymore
  .github/workflows/test.yml
Owners: none

improve plugins listing performance
  cli-plugins/manager/candidate_test.go
  cli-plugins/manager/manager.go
  cli-plugins/manager/plugin.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Owners: none

improve plugins listing performance
  cli-plugins/manager/candidate_test.go
  cli-plugins/manager/manager.go
  cli-plugins/manager/plugin.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Owners: none

cli/command: fix deprecation comments for Stream types
  cli/command/streams.go
Owners: none

cli/command/formatter: remove deprecated KubernetesEndpoint
  cli/command/formatter/context.go
Owners: none

cli/context/docker: remove deprecated Endpoint.TLSPassword
  cli/context/docker/load.go
Owners: none

cli/config/configfile: remove deprecated StackOrchestrator field
  cli/config/configfile/file.go
Owners: none

cli/context/store: remove deprecated error-utilities
  cli/context/store/store.go
Owners: none

cli/flags: remove deprecated CommonOptions, NewCommonOptions
  cli/flags/options_deprecated.go
Owners: none

cli/command: fix deprecation comments for Stream types
  cli/command/streams.go
Owners: none

cli/streams: minor refactoring and docs touch-ups
  cli/streams/in.go
  cli/streams/out.go
  cli/streams/stream.go
Owners: none

Fix plugin completion parsing for plugins using `ShellCompDirectiveFilterFileExt`
  contrib/completion/bash/docker
Owners: @albers

cp: do not emit progress if stderr is not a term
  cli/command/container/cp.go
Owners: none

cp: Improve tty flashing on progress updates
  cli/command/container/cp.go
Owners: none

cp: reduce branching in progress printer
  cli/command/container/cp.go
Owners: none

cp: Reduce number of progress updates
  cli/command/container/cp.go
Owners: none

cp: Make gocyclo happy
  cli/command/container/cp.go
Owners: none

cp: Do not block transfer on writing to terminal
  cli/command/container/cp.go
Owners: none

update go to go1.20.3
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

update go to go1.19.8
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Owners: none

[20.10] update go to go1.19.8
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

scripts/docs/generate-md.sh: fix location of generate code
  scripts/docs/generate-md.sh
Owners: none

docs: regenerate markdown docs
  docs/reference/commandline/container_rm.md
  docs/reference/commandline/rm.md
Owners: @thaJeztah

Update version to v24.0.0-dev
  VERSION
Owners: none

scripts/docs/generate-md.sh: fix location of generate code
  scripts/docs/generate-md.sh
Owners: none

docs: regenerate markdown docs
  docs/reference/commandline/container_rm.md
  docs/reference/commandline/rm.md
Owners: @thaJeztah

vendor: github.com/spf13/cobra v1.7.0
  vendor.mod
  vendor.sum
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/Makefile
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_notwin.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.go
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Owners: none

ci: enhanced build workflow
  .github/workflows/build.yml
Owners: none

Fix grammar in docs by adding omitted word
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Fix plugin completion parsing for plugins using `ShellCompDirectiveFilterFileExt`
  contrib/completion/bash/docker
Owners: @albers

vendor: github.com/docker/docker v23.0.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.19
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230309194213-a745a8755ce3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sys v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/unix/gccgo_c.c
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_386.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/timestruct.go
  vendor/golang.org/x/sys/unix/xattr_bsd.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.7.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/time v0.3.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/modules.txt
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
