Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

remove cobra v2 completion for plugins
  cmd/docker/docker.go
  e2e/cli-plugins/run_test.go
Owners: none

bake target to generate certs for e2e tets
  docker-bake.hcl
  e2e/testdata/Dockerfile.gencerts
  e2e/testdata/gen-certs.sh
Owners: none

e2e: update notary certificates
  e2e/testdata/notary-evil/notary-server.cert
  e2e/testdata/notary-evil/notary-server.key
  e2e/testdata/notary-evil/root-ca.cert
  e2e/testdata/notary/notary-server.cert
  e2e/testdata/notary/notary-server.key
  e2e/testdata/notary/root-ca.cert
Owners: none

e2e: increase tests certificates duration (10 years)
  e2e/testdata/Dockerfile.gencerts
Owners: none

don't use null values in the bake definition
  docker-bake.hcl
Owners: none

bake target to generate certs for e2e tets
  docker-bake.hcl
  e2e/testdata/Dockerfile.gencerts
  e2e/testdata/gen-certs.sh
Owners: none

e2e: increase tests certificates duration (10 years)
  e2e/testdata/Dockerfile.gencerts
Owners: none

e2e: update notary certificates
  e2e/testdata/notary-evil/notary-server.cert
  e2e/testdata/notary-evil/notary-server.key
  e2e/testdata/notary-evil/root-ca.cert
  e2e/testdata/notary/notary-server.cert
  e2e/testdata/notary/notary-server.key
  e2e/testdata/notary/root-ca.cert
Owners: none

e2e: update notary certificates
  e2e/testdata/notary-evil/notary-server.cert
  e2e/testdata/notary-evil/notary-server.key
  e2e/testdata/notary-evil/root-ca.cert
  e2e/testdata/notary/notary-server.cert
  e2e/testdata/notary/notary-server.key
  e2e/testdata/notary/root-ca.cert
Owners: none

Dockerfile: align go version
  docker-bake.hcl
  dockerfiles/Dockerfile.vendor
Owners: none

don't use null values in the bake definition
  docker-bake.hcl
Owners: none

ci: enhanced build workflow
  .github/workflows/build.yml
Owners: none

improve plugins discovery performance
  cli-plugins/manager/manager.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Owners: none

load plugin command stubs when required
  cli-plugins/manager/cobra.go
  cli/cobra.go
  cmd/docker/docker.go
  e2e/cli-plugins/run_test.go
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

solved broken link in contribution.md
  CONTRIBUTING.md
Owners: none

vendor: github.com/docker/docker v23.0.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/modules.txt
Owners: none

update to golang 1.19
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update to go 1.19.1 to address CVE-2022-27664, CVE-2022-32190
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update to go 1.19.2 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

update to go1.19.4
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

update to go1.19.5
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

Update to Go 1.19.3 to address CVE-2022-41716
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

update to go1.19.6
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

update to go1.19.7
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Owners: none

cp: do not emit progress if stderr is not a term
  cli/command/container/cp.go
Owners: none

cp: Improve tty flashing on progress updates
  cli/command/container/cp.go
Owners: none

Fix grammar in docs by adding omitted word
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

gha: align stray go 1.19.4 version
  .github/workflows/test.yml
Owners: none

cp: reduce branching in progress printer
  cli/command/container/cp.go
Owners: none

cp: Reduce number of progress updates
  cli/command/container/cp.go
Owners: none

cp: Make gocyclo happy
  cli/command/container/cp.go
Owners: none

gha: align stray go 1.19.4 version
  .github/workflows/test.yml
Owners: none

cli/command/context: remove redundant if ...; err != nil check (revive)
  cli/command/context/create.go
Owners: none

cli/command/container: fix redefinition of the built-in function close (revive)
  cli/command/container/run.go
Owners: none

cli/command/stack: deprecate now obsolete wrappers
  cli/command/stack/deploy.go
  cli/command/stack/list.go
  cli/command/stack/ps.go
  cli/command/stack/remove.go
  cli/command/stack/services.go
Owners: @silvin-lubecki

cli/command/completion: NoComplete(): remove unused argument (revive)
  cli/command/completion/functions.go
Owners: none

cli/command: RunPrune(): remove name for unused "all" parameter (revive)
  cli/command/container/prune.go
  cli/command/network/prune.go
  cli/command/volume/prune.go
Owners: none

cli/command/service/progress: remove name for unused parameter (revive)
  cli/command/service/progress/progress.go
Owners: none

cli/registry/client: AuthorizeRequest(): remove name for unused arg (revive)
  cli/registry/client/endpoint.go
Owners: none
