Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

cli/command/container: exit 126 on EISDIR error
  cli/command/container/run.go
Owners: none

MAINTAINERS: add myself as curator
  MAINTAINERS
Owners: none

ci: fix branch filter pattern
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Owners: none

ci: fix branch filter pattern
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Owners: none

Fix styling of arguments
  man/dockerd.8.md
Owners: none

changed the container name in docker stats page
  docs/reference/commandline/stats.md
Owners: @thaJeztah

ci: fix branch filter pattern
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Owners: none

changed the container name in docker stats page
  docs/reference/commandline/stats.md
Owners: @thaJeztah

changed the container name in docker stats page
  docs/reference/commandline/stats.md
Owners: @thaJeztah

changed the container name in docker stats page
  docs/reference/commandline/stats.md
Owners: @thaJeztah

Fix #4036
  CONTRIBUTING.md
Owners: none

update to go1.19.6
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

update to go1.19.6
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Owners: none

cli: do not apply configfile's psFormat when --quiet is passed
  cli/command/container/list.go
Owners: none

context: avoid corrupt file writes
  cli/context/store/metadatastore.go
  cli/context/store/store_test.go
  cli/context/store/tlsstore.go
Owners: none

Dockerfile: update buildx to v0.10.3 release notes: https://github.com/docker/buildx/releases/tag/v0.10.3
  Dockerfile
  dockerfiles/Dockerfile.dev
Owners: none

docs: drop dated comments about graphdrivers
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

docs: drop dated comments about graphdrivers
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

fix broken contribution guide link
  CONTRIBUTING.md
Owners: none

test/cli: Use empty array as empty output of images/json
  cli/command/image/client_test.go
  cli/command/image/list_test.go
Owners: none

formatter: Consider empty RepoTags and RepoDigests as dangling
  cli/command/formatter/image.go
Owners: none

cli/command/checkpoint: remove deprecated io/ioutil
  cli/command/checkpoint/create_test.go
  cli/command/checkpoint/list_test.go
  cli/command/checkpoint/remove_test.go
Owners: none

cli/command/config: remove deprecated io/ioutil
  cli/command/config/create.go
  cli/command/config/create_test.go
  cli/command/config/inspect_test.go
  cli/command/config/ls_test.go
  cli/command/config/remove_test.go
Owners: none

cli/command/image: remove deprecated io/ioutil and use t.TempDir()
  cli/command/image/build.go
  cli/command/image/build/context.go
  cli/command/image/build/context_test.go
  cli/command/image/build_buildkit.go
  cli/command/image/build_session.go
  cli/command/image/build_test.go
  cli/command/image/client_test.go
  cli/command/image/history_test.go
  cli/command/image/import_test.go
  cli/command/image/inspect_test.go
  cli/command/image/list_test.go
  cli/command/image/load_test.go
  cli/command/image/prune_test.go
  cli/command/image/pull_test.go
  cli/command/image/push.go
  cli/command/image/push_test.go
  cli/command/image/remove_test.go
  cli/command/image/save_test.go
  cli/command/image/tag_test.go
  cli/command/image/trust.go
  cli/command/image/trust_test.go
Owners: none

cli/command/context: remove deprecated io/ioutil and use t.TempDir()
  cli/command/context/create_test.go
  cli/command/context/export-import_test.go
  cli/command/context/inspect_test.go
  cli/command/context/list_test.go
  cli/command/context/remove_test.go
  cli/command/context/update_test.go
  cli/command/context/use_test.go
Owners: none

cli/command/container: remove deprecated io/ioutil
  cli/command/container/attach_test.go
  cli/command/container/cp_test.go
  cli/command/container/create_test.go
  cli/command/container/exec_test.go
  cli/command/container/export_test.go
  cli/command/container/list.go
  cli/command/container/list_test.go
  cli/command/container/logs_test.go
  cli/command/container/opts.go
  cli/command/container/opts_test.go
  cli/command/container/rm_test.go
  cli/command/container/run_test.go
Owners: none

cli/command/registry: remove deprecated io/ioutil
  cli/command/registry/login.go
Owners: none

cli/command/node: remove deprecated io/ioutil
  cli/command/node/demote_test.go
  cli/command/node/inspect_test.go
  cli/command/node/list_test.go
  cli/command/node/promote_test.go
  cli/command/node/ps_test.go
  cli/command/node/remove_test.go
  cli/command/node/update_test.go
Owners: none

cli/command/system: remove deprecated io/ioutil
  cli/command/system/events.go
Owners: none

cli/command/context: remove deprecated io/ioutil
  cli/command/network/connect_test.go
  cli/command/network/create_test.go
  cli/command/network/disconnect_test.go
  cli/command/network/list_test.go
Owners: none

cli/command/manifest: remove deprecated io/ioutil and use t.TempDir()
  cli/command/manifest/annotate_test.go
  cli/command/manifest/create_test.go
  cli/command/manifest/inspect_test.go
  cli/command/manifest/push_test.go
  cli/command/manifest/rm_test.go
Owners: none

cli/command/secret: remove deprecated io/ioutil
  cli/command/secret/create.go
  cli/command/secret/create_test.go
  cli/command/secret/inspect_test.go
  cli/command/secret/ls_test.go
  cli/command/secret/remove_test.go
Owners: none

cli/command/stack: remove deprecated io/ioutil
  cli/command/stack/deploy_test.go
  cli/command/stack/kubernetes/convert.go
  cli/command/stack/kubernetes/convert_test.go
  cli/command/stack/kubernetes/list.go
  cli/command/stack/kubernetes/stack.go
  cli/command/stack/kubernetes/stackclient_test.go
  cli/command/stack/list_test.go
  cli/command/stack/loader/loader.go
  cli/command/stack/ps_test.go
  cli/command/stack/remove_test.go
  cli/command/stack/services_test.go
Owners: @silvin-lubecki

cli/command/service: remove deprecated io/ioutil
  cli/command/service/helpers.go
  cli/command/service/rollback_test.go
Owners: none

cli/command/swarm: remove deprecated io/ioutil and use t.TempDir()
  cli/command/swarm/ca.go
  cli/command/swarm/ca_test.go
  cli/command/swarm/init_test.go
  cli/command/swarm/join_test.go
  cli/command/swarm/join_token_test.go
  cli/command/swarm/leave_test.go
  cli/command/swarm/opts.go
  cli/command/swarm/unlock_key_test.go
  cli/command/swarm/unlock_test.go
  cli/command/swarm/update_test.go
Owners: none

cli/command/plugin: remove deprecated io/ioutil
  cli/command/plugin/create_test.go
  cli/command/plugin/disable_test.go
  cli/command/plugin/enable_test.go
  cli/command/plugin/inspect_test.go
  cli/command/plugin/install_test.go
  cli/command/plugin/list_test.go
  cli/command/plugin/remove_test.go
Owners: none

cli/command/trust: remove deprecated io/ioutil and use t.TempDir()
  cli/command/trust/helpers_test.go
  cli/command/trust/inspect_pretty_test.go
  cli/command/trust/inspect_test.go
  cli/command/trust/key_generate.go
  cli/command/trust/key_generate_test.go
  cli/command/trust/key_load.go
  cli/command/trust/key_load_test.go
  cli/command/trust/revoke_test.go
  cli/command/trust/sign_test.go
  cli/command/trust/signer_add.go
  cli/command/trust/signer_add_test.go
  cli/command/trust/signer_remove_test.go
Owners: none

cli/command/volume: remove deprecated io/ioutil
  cli/command/volume/create_test.go
  cli/command/volume/inspect_test.go
  cli/command/volume/list_test.go
  cli/command/volume/prune_test.go
  cli/command/volume/remove_test.go
Owners: none

cli/compose: remove deprecated io/ioutil
  cli/compose/convert/compose.go
  cli/compose/loader/loader_test.go
Owners: none

man: remove deprecated io/ioutil and use t.TempDir()
  man/generate.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah
