Repository docker/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @silvin-lubecki, @albers, @sdurrheimer, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://github.com/ekkarat.w@gmail
com/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki
contrib/completion/bash/**  @albers
contrib/completion/zsh/**   @sdurrheimer
docs/**                     @thaJeztah

vendor: docker/docker aaf470eca7b588aa19e6681bff8bf08d17be1bf2
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  vendor.conf
  vendor/github.com/docker/docker/api/types/network/network.go
  vendor/github.com/docker/docker/api/types/swarm/container.go
  vendor/github.com/docker/docker/api/types/swarm/task.go
  vendor/github.com/docker/docker/pkg/idtools/idtools.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/vendor.conf
Owners: none

vendor: containerd c80284d4b5291a351bb471bcdabb5c1d95e7a583
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/content/local/store.go
  vendor/github.com/containerd/containerd/content/local/writer.go
  vendor/github.com/containerd/containerd/errdefs/errors.go
  vendor/github.com/containerd/containerd/sys/filesys.go
  vendor/github.com/containerd/containerd/sys/filesys_windows.go
  vendor/github.com/containerd/containerd/sys/mount_linux.go
  vendor/github.com/containerd/containerd/sys/oom_unix.go
  vendor/github.com/containerd/containerd/sys/proc.go
  vendor/github.com/containerd/containerd/sys/reaper.go
  vendor/github.com/containerd/containerd/sys/reaper_linux.go
  vendor/github.com/containerd/containerd/sys/userns_linux.go
  vendor/github.com/containerd/containerd/sys/userns_unsupported.go
  vendor/github.com/containerd/containerd/vendor.conf
Owners: none

Don't filter out registries to logout from with config file contents
  cli/command/registry/logout.go
Owners: none

Remove 'images' alias from 'image ls' command
  cli/command/image/list.go
  cli/command/image/list_test.go
Owners: none

Fix broken link
  docs/reference/builder.md
Owners: @thaJeztah

Don't loose additional metadata fields
  cli/command/context.go
  cli/command/context_test.go
Owners: none

Defer error from referencing a non-exisiting context from the config file to 1st API call
  cli/command/cli.go
Owners: none

Added validating test
  cli/command/cli_test.go
Owners: none

vendor: golang.org/x/text v0.3.3
  vendor.conf
  vendor/golang.org/x/text/go.mod
  vendor/golang.org/x/text/transform/transform.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
Owners: none

vendor: golang.org/x/text v0.3.2
  vendor.conf
  vendor/golang.org/x/text/README.md
  vendor/golang.org/x/text/go.mod
  vendor/golang.org/x/text/transform/transform.go
  vendor/golang.org/x/text/unicode/bidi/bidi.go
  vendor/golang.org/x/text/unicode/bidi/bracket.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/bidi/tables11.0.0.go
  vendor/golang.org/x/text/unicode/norm/composition.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/iter.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/readwriter.go
  vendor/golang.org/x/text/unicode/norm/tables11.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables9.0.0.go
  vendor/golang.org/x/text/unicode/norm/transform.go
  vendor/golang.org/x/text/width/kind_string.go
  vendor/golang.org/x/text/width/tables11.0.0.go
  vendor/golang.org/x/text/width/width.go
Owners: none

vendor: golang.org/x/text v0.3.3
  vendor.conf
  vendor/golang.org/x/text/go.mod
  vendor/golang.org/x/text/transform/transform.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
Owners: none

Fix broken link
  docs/reference/builder.md
Owners: @thaJeztah

Split up environment variable documentation between cli and dockerd
  docs/reference/commandline/cli.md
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Add MOBY_DISABLE_PIGZ to dockerd environment variable docs
  docs/reference/commandline/dockerd.md
Owners: @thaJeztah

Don't filter out registries to logout from with config file contents
  cli/command/registry/logout.go
Owners: none

use container name as completion
  contrib/completion/fish/docker.fish
Owners: none

docs: fix example output for docker plugin ls
  docs/reference/commandline/plugin_create.md
  docs/reference/commandline/plugin_disable.md
  docs/reference/commandline/plugin_enable.md
  docs/reference/commandline/plugin_install.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/plugin_push.md
Owners: @thaJeztah

Add support for --limit-pids on service create / update (swarm)
  cli/command/service/formatter.go
  cli/command/service/inspect_test.go
  cli/command/service/opts.go
  cli/command/service/opts_test.go
  cli/command/service/testdata/service-inspect-pretty.golden
  cli/command/service/update.go
  cli/command/service/update_test.go
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_update.md
Owners: @albers, @sdurrheimer, @thaJeztah

Add support for pids limit in stacks (swarm)
  cli/command/stack/kubernetes/convert.go
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  cli/compose/loader/full-example.yml
  cli/compose/loader/full-struct_test.go
  cli/compose/loader/types_test.go
  cli/compose/schema/bindata.go
  cli/compose/schema/data/config_schema_v3.9.json
  cli/compose/types/types.go
Owners: @silvin-lubecki

Readd support for `device_cgroup_rules` in compose files
  cli/compose/schema/bindata.go
  cli/compose/schema/data/config_schema_v3.9.json
Owners: none

Add `device_cgroup_rules` to list of unsupported fields
  cli/compose/types/types.go
Owners: none

Handle errors on close in config file write.
  cli/config/configfile/file.go
Owners: none

config: ignore empty config file instead of printing warning
  cli/config/config_test.go
  cli/config/configfile/file.go
Owners: none

docs: update for cgroup v2 and rootless
  docs/reference/commandline/dockerd.md
  man/docker-run.1.md
  man/dockerd.8.md
Owners: @thaJeztah

command/container: skip some tests on macOS
  cli/command/container/opts_test.go
Owners: none

ReadKVEnvStrings/ReadKVStrings return nil if empty, and add tests
  opts/parse.go
  opts/parse_test.go
Owners: none

Added env-file flag to docker exec
  cli/command/container/exec.go
  cli/command/container/exec_test.go
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/exec.md
Owners: @albers, @sdurrheimer, @thaJeztah

vendor: beorn7/perks v1.0.1
  vendor.conf
  vendor/github.com/beorn7/perks/go.mod
Owners: none

vendor: mitchellh/mapstructure v1.0.0
  vendor.conf
  vendor/github.com/mitchellh/mapstructure/go.mod
Owners: none

vendor konsorten/go-windows-terminal-sequences v1.0.3
  vendor.conf
  vendor/github.com/konsorten/go-windows-terminal-sequences/README.md
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences.go
Owners: none

list state `ready` for filtering in stack_ps.md
  docs/reference/commandline/stack_ps.md
Owners: @thaJeztah

docs: fix example output for docker plugin ls
  docs/reference/commandline/plugin_create.md
  docs/reference/commandline/plugin_disable.md
  docs/reference/commandline/plugin_enable.md
  docs/reference/commandline/plugin_install.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/plugin_push.md
Owners: @thaJeztah

vendor: mitchellh/mapstructure v1.3.2
  vendor.conf
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/go.mod
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
Owners: none

vendor: xeipuuv/gojsonschema v1.2.0
  vendor.conf
  vendor/github.com/xeipuuv/gojsonschema/README.md
  vendor/github.com/xeipuuv/gojsonschema/draft.go
  vendor/github.com/xeipuuv/gojsonschema/errors.go
  vendor/github.com/xeipuuv/gojsonschema/format_checkers.go
  vendor/github.com/xeipuuv/gojsonschema/go.mod
  vendor/github.com/xeipuuv/gojsonschema/jsonContext.go
  vendor/github.com/xeipuuv/gojsonschema/jsonLoader.go
  vendor/github.com/xeipuuv/gojsonschema/locales.go
  vendor/github.com/xeipuuv/gojsonschema/result.go
  vendor/github.com/xeipuuv/gojsonschema/schema.go
  vendor/github.com/xeipuuv/gojsonschema/schemaLoader.go
  vendor/github.com/xeipuuv/gojsonschema/schemaPool.go
  vendor/github.com/xeipuuv/gojsonschema/subSchema.go
  vendor/github.com/xeipuuv/gojsonschema/types.go
  vendor/github.com/xeipuuv/gojsonschema/utils.go
  vendor/github.com/xeipuuv/gojsonschema/validation.go
Owners: none

Fix experimental README instructions
  experimental/README.md
Owners: none

refactor opts tests
  cli/command/container/opts_test.go
Owners: none

docs/builder: add note about handling of leading whitespace
  docs/reference/builder.md
Owners: @thaJeztah

Add checks for dependencies that are not vendored. `make vendor` fails if any dependency is not vendored.
  .dockerignore
  .gitignore
  Makefile
  scripts/validate/check-all-packages-vendored
Owners: none

docs/builder: add note about handling of leading whitespace
  docs/reference/builder.md
Owners: @thaJeztah

clean-up "resolve image" option logic
  cli/command/stack/swarm/deploy.go
  cli/command/stack/swarm/deploy_composefile.go
Owners: @silvin-lubecki
