Repository docker/cli, pull requests merged in 2019-02, with the labels that each got.

#1639 Use gotest.tools/gotestsum for unit and e2e tests
  Makefile
  circle.yml
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  scripts/test/e2e/run
  scripts/test/unit
  scripts/test/unit-with-coverage
Labels: status/0-triage

#1653 Fix storing test results on circle ci.
  circle.yml
Labels: status/0-triage

#1606 Add --device support for Windows
  cli/command/container/create.go
  cli/command/container/opts.go
  cli/command/container/opts_test.go
  cli/command/container/run.go
Labels: docs/revisit, impact/changelog, platform/windows, status/2-code-review

#1658 Update authors
  .mailmap
  AUTHORS
Labels: status/3-docs-review

#1657 compose file: disallow additional properties in credential_spec
  cli/compose/loader/loader_test.go
  cli/compose/schema/bindata.go
  cli/compose/schema/data/config_schema_v3.3.json
  cli/compose/schema/data/config_schema_v3.4.json
  cli/compose/schema/data/config_schema_v3.5.json
  cli/compose/schema/data/config_schema_v3.6.json
  cli/compose/schema/data/config_schema_v3.7.json
  cli/compose/schema/schema_test.go
Labels: area/stack, impact/compose-file, platform/windows, status/2-code-review

#1515 Prevent overwriting irregular files (cp, save, export commands)
  cli/command/container/cp.go
  cli/command/container/cp_test.go
  cli/command/container/export.go
  cli/command/container/export_test.go
  cli/command/image/save.go
  cli/command/image/save_test.go
  cli/command/utils.go
Labels: impact/changelog, status/2-code-review

#1662 Fix typos
  docs/reference/commandline/build.md
Labels: kind/docs, status/3-docs-review

#1648 Hide "builder" and "network" commands on old API versions
  cli/command/builder/cmd.go
  cli/command/network/cmd.go
Labels: status/2-code-review

#1625 Complete paused containers on `docker stop`
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#1602 Hide legacy top-level "deploy" command with DOCKER_HIDE_LEGACY_COMMANDS=1
  cli/command/commands/commands.go
Labels: status/2-code-review

#1646 Fix small typo
  docs/reference/commandline/stats.md
Labels: kind/docs, status/3-docs-review

#1588 Add quiet flag to bash completion for docker pull
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#1650 prevent bash process substitution error in cygwin
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#1529 fixes 1492: tty initial size error
  cli/command/container/client_test.go
  cli/command/container/tty.go
  cli/command/container/tty_test.go
Labels: impact/changelog, status/2-code-review

#1670 Corrected max-file option - was incorrectly spelt as max-files
  docs/reference/commandline/dockerd.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#1410 Add maximum replicas per node support to stack version 3.8
  cli/compose/convert/service.go
  cli/compose/loader/full-example.yml
  cli/compose/loader/full-struct_test.go
  cli/compose/schema/bindata.go
  cli/compose/schema/data/config_schema_v3.8.json
  cli/compose/types/types.go
Labels: impact/changelog, impact/compose-file, impact/documentation, status/2-code-review

#1654 cli-plugins: use system dial-stdio to contact the engine.
  cli-plugins/manager/manager.go
  cli-plugins/plugin/plugin.go
  cli/command/cli.go
  cli/command/cli_test.go
  cli/connhelper/connhelper.go
  docs/extend/cli_plugins.md
  e2e/cli-plugins/dial_test.go
Labels: area/plugins, status/2-code-review

#1511 Make it possible to override the volume mounts and shell for the dev container
  docker.Makefile
Labels: status/0-triage

#1612 Add support for maximum replicas per node without stack
  cli/command/service/formatter.go
  cli/command/service/list.go
  cli/command/service/opts.go
  cli/command/service/opts_test.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  docs/reference/commandline/service_create.md
Labels: impact/changelog, status/2-code-review

#1686 Bash completion: add '--replicas-max-per-node'
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#1675 Reformat plugin's vendor position and add version on --help
  cli-plugins/manager/cobra.go
  cli/cobra.go
  cli/cobra_test.go
  e2e/cli-plugins/help_test.go
Labels: area/plugins, status/2-code-review

#1652 Add a field to the config file for plugin use.
  cli-plugins/examples/helloworld/main.go
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
  cli/config/configfile/testdata/plugin-config-2.golden
  cli/config/configfile/testdata/plugin-config.golden
  docs/extend/cli_plugins.md
  docs/reference/commandline/cli.md
  e2e/cli-plugins/config_test.go
  e2e/cli-plugins/help_test.go
  e2e/cli-plugins/run_test.go
  e2e/cli-plugins/testdata/docker-help-helloworld.golden
  e2e/cli-plugins/util_test.go
Labels: area/plugins, status/2-code-review

#1684 Show plugins as Management commands
  cli/cobra.go
  e2e/cli-plugins/help_test.go
Labels: area/plugins, status/2-code-review

#1689 Reformat the output of CLI plugins in `docker system info`
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
Labels: area/plugins, status/2-code-review

#1691 Update PKCS11 library
  vendor.conf
  vendor/github.com/miekg/pkcs11/README.md
  vendor/github.com/miekg/pkcs11/const.go
  vendor/github.com/miekg/pkcs11/params.go
  vendor/github.com/miekg/pkcs11/pkcs11.go
  vendor/github.com/miekg/pkcs11/pkcs11go.h
  vendor/github.com/miekg/pkcs11/pkcs11t.h
  vendor/github.com/miekg/pkcs11/types.go
  vendor/github.com/miekg/pkcs11/vendor.go
Labels: status/2-code-review

#1665 Note caveat with detaching using key sequence
  docs/reference/commandline/attach.md
Labels: kind/docs, status/3-docs-review

#1694 [18.09 backport] Update PKCS11 library
  vendor.conf
  vendor/github.com/miekg/pkcs11/README.md
  vendor/github.com/miekg/pkcs11/const.go
  vendor/github.com/miekg/pkcs11/params.go
  vendor/github.com/miekg/pkcs11/pkcs11.go
  vendor/github.com/miekg/pkcs11/pkcs11go.h
  vendor/github.com/miekg/pkcs11/pkcs11t.h
  vendor/github.com/miekg/pkcs11/types.go
  vendor/github.com/miekg/pkcs11/vendor.go
Labels: status/2-code-review
