Repository docker/cli, pull requests merged in 2019-10, with the labels that each got.

#2117 vendor: Bump gopkg.in/yaml.v2
  vendor.conf
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
Labels: process/cherry-pick, status/2-code-review

#2094 Adding experimental feature info
  docs/reference/commandline/cli.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#2105 build: remove --stream (was experimental)
  cli/command/image/build.go
  cli/command/image/build_session.go
  contrib/completion/bash/docker
Labels: status/0-triage

#2120 [19.03 backport] backport docs changes
  docs/reference/commandline/cli.md
Labels: kind/docs, status/3-docs-review

#2119 [19.03 backport] vendor: Bump gopkg.in/yaml.v2
  vendor.conf
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
Labels: impact/changelog, status/2-code-review

#2118 [18.09 backport] vendor: Bump gopkg.in/yaml.v2
  vendor.conf
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
Labels: impact/changelog, status/2-code-review

#2116 Add bash completion for `builder build`
  contrib/completion/bash/docker
Labels: status/0-triage

#2128 Minor formatting changes and a typo fix.
  docs/reference/commandline/cli.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#1827 bump github.com/xeipuuv/gojsonschema v1.1.0
  cli/compose/schema/schema.go
  vendor.conf
  vendor/github.com/xeipuuv/gojsonpointer/README.md
  vendor/github.com/xeipuuv/gojsonpointer/pointer.go
  vendor/github.com/xeipuuv/gojsonschema/README.md
  vendor/github.com/xeipuuv/gojsonschema/draft.go
  vendor/github.com/xeipuuv/gojsonschema/errors.go
  vendor/github.com/xeipuuv/gojsonschema/format_checkers.go
  vendor/github.com/xeipuuv/gojsonschema/jsonContext.go
  vendor/github.com/xeipuuv/gojsonschema/jsonLoader.go
  vendor/github.com/xeipuuv/gojsonschema/locales.go
  vendor/github.com/xeipuuv/gojsonschema/result.go
  vendor/github.com/xeipuuv/gojsonschema/schema.go
  vendor/github.com/xeipuuv/gojsonschema/schemaLoader.go
  vendor/github.com/xeipuuv/gojsonschema/schemaPool.go
  vendor/github.com/xeipuuv/gojsonschema/schemaReferencePool.go
  vendor/github.com/xeipuuv/gojsonschema/schemaType.go
  vendor/github.com/xeipuuv/gojsonschema/subSchema.go
  vendor/github.com/xeipuuv/gojsonschema/utils.go
  vendor/github.com/xeipuuv/gojsonschema/validation.go
Labels: impact/compose-file, status/2-code-review

#2123 Annotate flags that are not supported by Buildkit
  cli/command/image/build.go
Labels: area/builder, impact/changelog, process/cherry-pick, status/2-code-review

#2111 config: revert to using pkg/homedir
  cli/config/config.go
Labels: status/2-code-review

#2133 Adjusting glossary reference and clarrifying the start of a Dockerfile
  docs/reference/builder.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#2137 update docs based on PR 39949
  docs/reference/commandline/dockerd.md
  man/dockerd.8.md
Labels: kind/docs, status/3-docs-review

#2122 Allow username/password in config file
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Labels: status/0-triage

#2142 TestFormatInfo: add extra test-case
  cli/command/system/info_test.go
Labels: area/testing, status/2-code-review

#2146 Update Golang 1.12.12 (CVE-2019-17596)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, process/cherry-picked, status/2-code-review

#2150 [19.03 backport] Update Golang 1.12.12 (CVE-2019-17596)
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#2124 [19.03 backport] Add option to remove `env_file` entry once it's merged in the `environment` section
  cli/compose/loader/loader.go
  cli/compose/loader/loader_test.go
Labels: status/2-code-review

#1440 [18.09 backport] bump dependencies
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/internal/guid/guid.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/watcher.go
  vendor/github.com/Microsoft/hcsshim/internal/interop/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/safefile/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/timeout/timeout.go
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/copy_linux.go
  vendor/github.com/containerd/continuity/fs/du.go
  vendor/github.com/containerd/continuity/fs/du_unix.go
  vendor/github.com/containerd/continuity/fs/du_windows.go
  vendor/github.com/containerd/continuity/syscallx/syscall_unix.go
  vendor/github.com/containerd/continuity/syscallx/syscall_windows.go
  vendor/github.com/containerd/continuity/sysx/README.md
  vendor/github.com/containerd/continuity/sysx/asm.s
  vendor/github.com/containerd/continuity/sysx/chmod_darwin.go
  vendor/github.com/containerd/continuity/sysx/chmod_darwin_386.go
  vendor/github.com/containerd/continuity/sysx/chmod_darwin_amd64.go
  vendor/github.com/containerd/continuity/sysx/chmod_freebsd.go
  vendor/github.com/containerd/continuity/sysx/chmod_freebsd_amd64.go
  vendor/github.com/containerd/continuity/sysx/chmod_linux.go
  vendor/github.com/containerd/continuity/sysx/chmod_solaris.go
  vendor/github.com/containerd/continuity/sysx/file_posix.go
  vendor/github.com/containerd/continuity/sysx/sys.go
  vendor/github.com/containerd/continuity/sysx/xattr.go
  vendor/github.com/containerd/continuity/sysx/xattr_darwin.go
  vendor/github.com/containerd/continuity/sysx/xattr_darwin_386.go
  vendor/github.com/containerd/continuity/sysx/xattr_darwin_amd64.go
  vendor/github.com/containerd/continuity/sysx/xattr_freebsd.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_386.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_amd64.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_arm.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_arm64.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_ppc64.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_ppc64le.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_s390x.go
  vendor/github.com/containerd/continuity/sysx/xattr_openbsd.go
  vendor/github.com/containerd/continuity/sysx/xattr_solaris.go
  vendor/github.com/containerd/continuity/sysx/xattr_unsupported.go
  vendor/github.com/containerd/continuity/vendor.conf
  vendor/github.com/json-iterator/go/adapter.go
  vendor/github.com/json-iterator/go/config.go
  vendor/github.com/json-iterator/go/iter_object.go
  vendor/github.com/json-iterator/go/reflect.go
  vendor/github.com/json-iterator/go/reflect_extension.go
  vendor/github.com/json-iterator/go/reflect_map.go
Labels: status/2-code-review

#2160 CircleCI: add some info steps, and re-group jobs
  circle.yml
Labels: area/testing, kind/enhancement, process/cherry-pick, status/2-code-review

#2163 Fix-up (gometalinter) linting config
  gometalinter.json
Labels: area/testing, process/cherry-pick, status/2-code-review

#2158 bump docker/docker to a09e6e323e55e1a9b21df9c2c555f5668df3ac9b
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/osversion/osversion_windows.go
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/api/types/swarm/service.go
  vendor/github.com/docker/docker/client/container_list.go
  vendor/github.com/docker/docker/client/events.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/image_list.go
  vendor/github.com/docker/docker/client/network_list.go
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/client/plugin_list.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/client/service_list.go
  vendor/github.com/docker/docker/client/volume_list.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  vendor/github.com/docker/docker/pkg/jsonmessage/jsonmessage.go
  vendor/github.com/docker/docker/pkg/mount/mountinfo_linux.go
  vendor/github.com/docker/docker/pkg/pools/pools.go
  vendor/github.com/docker/docker/pkg/system/init_windows.go
  vendor/github.com/docker/docker/pkg/system/syscall_windows.go
  vendor/github.com/docker/docker/registry/auth.go
  vendor/github.com/docker/docker/registry/endpoint_v1.go
  vendor/github.com/docker/docker/registry/resumable/resumablerequestreader.go
  vendor/github.com/docker/docker/registry/session.go
  vendor/github.com/docker/docker/vendor.conf
Labels: area/api, area/runtime, area/stack, area/swarm, impact/changelog, status/2-code-review

#2125 Add bash completion for `builder build` options
  contrib/completion/bash/docker
Labels: area/completion, process/cherry-pick, status/2-code-review

#2087 fix formatting issue of encoded url
  cli/command/image/build/context.go
Labels: area/builder, process/cherry-pick, status/2-code-review

#2078 Contrib: Make bash completion faster for services
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#2172 Gometalinter: raise deadline to 3 minutes
  gometalinter.json
Labels: area/testing, status/2-code-review

#2157 Services: use ServiceStatus on API v1.41 and up
  cli/command/service/client_test.go
  cli/command/service/formatter.go
  cli/command/service/formatter_test.go
  cli/command/service/list.go
  cli/command/service/list_test.go
  cli/command/service/testdata/service-context-write-raw.golden
  cli/command/stack/kubernetes/conversion.go
  cli/command/stack/kubernetes/conversion_test.go
  cli/command/stack/kubernetes/services.go
  cli/command/stack/services_test.go
  cli/command/stack/swarm/services.go
  internal/test/builders/service.go
Labels: area/api, area/swarm, impact/changelog, status/2-code-review

#2174 compose/loader: fix TestIsAbs not testing all combinations
  cli/compose/loader/windows_path_test.go
Labels: area/stack, area/testing, process/cherry-pick, status/2-code-review

#2176 [19.03 backport] completion script updates and fixes
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
Labels: area/completion, status/2-code-review

#2178 [19.03 backport] docs updates
  README.md
  docs/reference/builder.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/pause.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/search.md
  docs/reference/commandline/unpause.md
  man/src/container/pause.md
  man/src/container/unpause.md
Labels: impact/documentation, kind/docs, status/3-docs-review

#2167 Refactor the `stack services` command to be uniform [carry 2131]
  cli/command/stack/kubernetes/services.go
  cli/command/stack/services.go
  cli/command/stack/swarm/services.go
Labels: area/kubernetes, area/stack, status/2-code-review

#2180 kubernetes/conversion_test: use test-builders package
  cli/command/stack/kubernetes/conversion_test.go
  internal/test/builders/service.go
Labels: area/kubernetes, area/testing, status/2-code-review
