Repository docker/cli, pull requests merged in 2019-05, with the labels that each got.

#1498 Adds flag modifying pull behavior for running and creating containers
  cli/command/container/create.go
  cli/command/container/create_test.go
  cli/command/container/run.go
Labels: status/2-code-review

#1863 buildx backports: BUILDKIT_PROGRESS env + build --platform local
  cli/command/image/build_buildkit.go
Labels: area/builder, docs/revisit, status/2-code-review

#1866 vendor buildkit to 646fc0a (v0.5.1)
  vendor.conf
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/session/auth/authprovider/authprovider.go
Labels: area/builder, status/2-code-review

#1860 bash completion: add node type filter
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#1869 Add bash completion for `events --filter node`
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#1868 Add bash completion for `context create --from`
  contrib/completion/bash/docker
Labels: area/completion, area/context, status/2-code-review

#1861 CircleCI: store junit.xml as artifact
  circle.yml
Labels: area/testing, status/2-code-review

#1870 Bump version to 19.09.0-dev
  VERSION
Labels: status/2-code-review

#1864 Bump golang 1.12.5
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: status/2-code-review

#1850 Include plugins in `docker --badopt` help output
  cmd/docker/docker.go
  e2e/cli-plugins/help_test.go
Labels: area/plugins, status/2-code-review

#1853 cli-plugins: fix when plugin does not use PersistentPreRun* hooks
  cli-plugins/plugin/plugin.go
  e2e/cli-plugins/plugins/nopersistentprerun/main.go
  e2e/cli-plugins/run_test.go
Labels: area/plugins, status/2-code-review

#1877 [19.03 backport] update authors and upload junit.xml
  .mailmap
  AUTHORS
  circle.yml
Labels: area/testing, status/2-code-review

#1879 [19.03 backport] backport BuildKit fixes
  cli/command/image/build_buildkit.go
  vendor.conf
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/session/auth/authprovider/authprovider.go
Labels: area/builder, status/2-code-review

#1876 [19.03 backport] backport bash completion scripts
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#1875 [19.03 backport] Bump golang 1.12.5
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: status/2-code-review

#1878 [19.03 backport] plugin fixes
  cli-plugins/plugin/plugin.go
  cmd/docker/docker.go
  e2e/cli-plugins/help_test.go
  e2e/cli-plugins/plugins/nopersistentprerun/main.go
  e2e/cli-plugins/run_test.go
Labels: area/plugins, status/2-code-review

#1874 context: produce consistent output on `context create`.
  cli/command/context/create.go
  cli/command/context/create_test.go
  internal/test/cli.go
Labels: area/context, process/cherry-pick, status/2-code-review

#1872 add a 10s timeout to the client object.
  cli/context/docker/load.go
Labels: area/plugins, process/cherry-pick, status/2-code-review

#1881 Fix PowerShell codehint for rouge
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/run.md
  docs/reference/run.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#1882 [19.03 backport] Fix PowerShell codehint for rouge
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/run.md
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review

#1883 vendor buildkit to f238f1e
  cli/command/image/build_buildkit.go
  vendor.conf
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/session/auth/authprovider/authprovider.go
  vendor/github.com/moby/buildkit/session/grpchijack/dial.go
  vendor/github.com/moby/buildkit/session/manager.go
Labels: area/builder, status/2-code-review

#1845 Apiversion negotiation
  cli/context/docker/load.go
Labels: status/2-code-review

#1857 Support GOARM and windows .exe in binary target
  docker.Makefile
  scripts/build/.variables
Labels: status/2-code-review

#1888 bump LK4D4/vndr v0.0.3 and revendor
  dockerfiles/Dockerfile.dev
  vendor/github.com/gogo/googleapis/go.mod
  vendor/github.com/gogo/protobuf/go.mod
  vendor/github.com/google/uuid/go.mod
  vendor/github.com/gorilla/mux/go.mod
  vendor/github.com/jaguilar/vt100/go.mod
  vendor/github.com/konsorten/go-windows-terminal-sequences/go.mod
  vendor/github.com/mattn/go-shellwords/go.mod
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/sirupsen/logrus/go.mod
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/golang.org/x/crypto/go.mod
  vendor/golang.org/x/net/go.mod
  vendor/golang.org/x/sync/go.mod
  vendor/golang.org/x/sys/go.mod
  vendor/google.golang.org/grpc/go.mod
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gotest.tools/go.mod
Labels: status/2-code-review

#1893 Revert "add a 10s timeout to the client object."
  cli/context/docker/load.go
Labels: process/cherry-pick, status/2-code-review

#1887 Allow vendorers of docker/cli to avoid transitively pulling in a big chunk if k8s too
  cli/command/cli.go
  cli/command/system/version.go
  cli/context/kubernetes/load.go
  kubernetes/config.go
Labels: area/kubernetes, process/cherry-pick, status/4-merge

#1898 cli-plugins: add concept of experimental plugin, only enabled in experimental mode
  cli-plugins/examples/helloworld/main.go
  cli-plugins/manager/candidate_test.go
  cli-plugins/manager/manager.go
  cli-plugins/manager/metadata.go
  cli-plugins/manager/plugin.go
Labels: area/plugins, kind/experimental, status/2-code-review

#1905 [19.03 backport] cli-plugins: add concept of experimental plugin, only enabled in experimental mode
  cli-plugins/examples/helloworld/main.go
  cli-plugins/manager/candidate_test.go
  cli-plugins/manager/manager.go
  cli-plugins/manager/metadata.go
  cli-plugins/manager/plugin.go
Labels: area/plugins, impact/changelog, kind/experimental, status/2-code-review

#1894 [19.03 backport] Allow vendorers of docker/cli to avoid transitively pulling in a big chunk if k8s too
  cli/command/cli.go
  cli/command/system/version.go
  cli/context/kubernetes/load.go
  kubernetes/config.go
Labels: area/plugins, status/2-code-review

#1890 Dynamically register kubernetes context store endpoint type.
  cli/command/cli.go
  cli/command/cli_options.go
  cli/command/defaultcontextstore.go
  cli/command/defaultcontextstore_test.go
  cli/context/kubernetes/load.go
  cli/context/kubernetes/load_test.go
  cli/context/kubernetes/testdata/test-kubeconfig
  cli/context/store/storeconfig.go
  e2e/context/context_test.go
  e2e/context/main_test.go
  e2e/context/testdata/context-ls.golden
  e2e/context/testdata/test-dockerconfig/config.json
  e2e/context/testdata/test-dockerconfig/contexts/meta/b71199ebd070b36beab7317920c2c2f1d777df8d05e5527d8458fda57cb17a7a/meta.json
  e2e/context/testdata/test-kubeconfig
Labels: area/context, area/kubernetes, area/swarm, status/2-code-review

#1907 [19.03 backport] Dynamically register kubernetes context store endpoint type.
  cli/command/cli.go
  cli/command/cli_options.go
  cli/command/defaultcontextstore.go
  cli/command/defaultcontextstore_test.go
  cli/context/kubernetes/load.go
  cli/context/kubernetes/load_test.go
  cli/context/kubernetes/testdata/test-kubeconfig
  cli/context/store/storeconfig.go
  e2e/context/context_test.go
  e2e/context/main_test.go
  e2e/context/testdata/context-ls.golden
  e2e/context/testdata/test-dockerconfig/config.json
  e2e/context/testdata/test-dockerconfig/contexts/meta/b71199ebd070b36beab7317920c2c2f1d777df8d05e5527d8458fda57cb17a7a/meta.json
  e2e/context/testdata/test-kubeconfig
Labels: area/context, area/kubernetes, area/swarm, status/2-code-review

#1911 [19.03 backport] bump docker/docker to tip of 19.03 branch
  vendor.conf
  vendor/github.com/docker/docker/api/types/container/container_changes.go
  vendor/github.com/docker/docker/api/types/container/container_create.go
  vendor/github.com/docker/docker/api/types/container/container_top.go
  vendor/github.com/docker/docker/api/types/container/container_update.go
  vendor/github.com/docker/docker/api/types/container/container_wait.go
  vendor/github.com/docker/docker/api/types/container/host_config.go
  vendor/github.com/docker/docker/api/types/image/image_history.go
  vendor/github.com/docker/docker/api/types/volume/volume_create.go
  vendor/github.com/docker/docker/api/types/volume/volume_list.go
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/vendor.conf
Labels: status/2-code-review

#1895 Add .zip file support for docker context import
  cli/command/context/import.go
  cli/context/store/io_utils.go
  cli/context/store/io_utils_test.go
  cli/context/store/store.go
  cli/context/store/store_test.go
Labels: area/context, process/cherry-pick, status/2-code-review

#1912 [19.03 backport] Introduce .zip import for docker context
  cli/command/context/import.go
  cli/context/store/io_utils.go
  cli/context/store/io_utils_test.go
  cli/context/store/store.go
  cli/context/store/store_test.go
Labels: area/context, status/2-code-review
