Repository docker/cli, pull requests merged in 2020-09, with the labels that each got.

#2699 formatter: reduce minimum width for columns in table-view
  cli/command/config/formatter_test.go
  cli/command/config/testdata/config-list-sort.golden
  cli/command/config/testdata/config-list-with-filter.golden
  cli/command/container/formatter_diff_test.go
  cli/command/container/formatter_stats_test.go
  cli/command/container/testdata/container-list-without-format-no-trunc.golden
  cli/command/container/testdata/container-list-without-format.golden
  cli/command/context/testdata/list.golden
  cli/command/formatter/container_test.go
  cli/command/formatter/disk_usage_test.go
  cli/command/formatter/formatter.go
  cli/command/formatter/image_test.go
  cli/command/formatter/testdata/container-context-write-special-headers.golden
  cli/command/formatter/testdata/disk-usage-context-write-custom.golden
  cli/command/formatter/volume_test.go
  cli/command/image/formatter_history_test.go
  cli/command/image/testdata/list-command-success.filters.golden
  cli/command/image/testdata/list-command-success.match-name.golden
  cli/command/image/testdata/list-command-success.simple.golden
  cli/command/network/formatter_test.go
  cli/command/network/testdata/network-list.golden
  cli/command/node/formatter_test.go
  cli/command/node/testdata/node-list-sort.golden
  cli/command/node/testdata/node-ps.simple.golden
  cli/command/node/testdata/node-ps.with-errors.golden
  cli/command/plugin/formatter_test.go
  cli/command/plugin/testdata/plugin-list-without-format.golden
  cli/command/registry/formatter_search_test.go
  cli/command/registry/testdata/search-context-write-table.golden
  cli/command/secret/formatter_test.go
  cli/command/secret/testdata/secret-list-sort.golden
  cli/command/secret/testdata/secret-list-with-filter.golden
  cli/command/service/formatter_test.go
  cli/command/stack/formatter/formatter_test.go
  cli/command/stack/testdata/stack-list-sort-natural.golden
  cli/command/stack/testdata/stack-list-sort.golden
  cli/command/stack/testdata/stack-list-without-format.golden
  cli/command/stack/testdata/stack-ps-without-format.golden
  cli/command/stack/testdata/stack-services-without-format.golden
  cli/command/task/formatter_test.go
  cli/command/task/testdata/task-context-write-table-custom.golden
  cli/command/task/testdata/task-print-sorted.golden
  cli/command/task/testdata/task-print-with-indentation.golden
  cli/command/trust/formatter_test.go
  cli/command/trust/inspect_pretty_test.go
  cli/command/trust/testdata/trust-inspect-pretty-full-repo-no-signers.golden
  cli/command/trust/testdata/trust-inspect-pretty-full-repo-with-signers.golden
  cli/command/trust/testdata/trust-inspect-pretty-one-tag-no-signers.golden
  cli/command/trust/testdata/trust-inspect-pretty-unsigned-tag-with-signers.golden
  cli/command/volume/testdata/volume-list-without-format.golden
  e2e/context/testdata/context-ls.golden
Labels: impact/changelog, status/2-code-review

#2696 Refactor / cleanup Dockerfile.dev
  docker.Makefile
  dockerfiles/Dockerfile.dev
Labels: area/testing, status/2-code-review

#2706 Complete capabilites with and without "CAP_" prefix.
  contrib/completion/bash/docker
Labels: area/completion

#2687 [carry 2663] Add capabilities support to stack/service commands
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  cli/compose/convert/service.go
  cli/compose/convert/service_test.go
  cli/compose/types/types.go
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_update.md
  opts/capabilities.go
  opts/capabilities_test.go
Labels: area/stack, area/swarm, docs/revisit, impact/changelog, impact/compose-file, impact/documentation, status/2-code-review

#2703 man/docker-build.1:fix --memory-swamp & --network, removing = b/w opts & values
  man/docker-build.1.md
Labels: kind/docs, status/3-docs-review

#2709 Service cap-add/cap-drop: add special "RESET" value
  cli/command/service/update.go
  cli/command/service/update_test.go
  contrib/completion/bash/docker
  opts/capabilities.go
Labels: area/swarm, impact/changelog, status/1-design-review

#2712 Add ulimits support to docker service and docker stack deploy (carry 2660)
  cli/command/service/create.go
  cli/command/service/formatter.go
  cli/command/service/opts.go
  cli/command/service/update.go
  cli/command/service/update_test.go
  cli/compose/convert/service.go
  cli/compose/types/types.go
  contrib/completion/bash/docker
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_update.md
  opts/ulimit.go
  opts/ulimit_test.go
Labels: area/swarm, impact/changelog, impact/documentation, status/2-code-review

#2656 vendor: buildkit 4d1f260e8490ec438ab66e08bb105577aca0ce06
  cli/command/image/build_buildkit.go
  cli/command/image/build_test.go
  vendor.conf
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/session/auth/auth.go
  vendor/github.com/moby/buildkit/session/context.go
  vendor/github.com/moby/buildkit/session/group.go
  vendor/github.com/moby/buildkit/session/secrets/secretsprovider/file.go
  vendor/github.com/moby/buildkit/session/secrets/secretsprovider/store.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/util/progress/progressui/display.go
Labels: area/builder, docs/revisit, impact/changelog, status/2-code-review

#2713 CircleCI: update to docker 19.03.12
  .circleci/config.yml
Labels: area/testing, status/2-code-review

#2716 docs/build: add note about git subdirectories with BuildKit
  docs/reference/commandline/build.md
Labels: area/builder, kind/docs, process/cherry-picked, status/3-docs-review

#2714 Improve bash completion for ulimits
  contrib/completion/bash/docker
Labels: area/completion

#2717 [19.03 backport] docs/build: add note about git subdirectories with BuildKit
  docs/reference/commandline/build.md
Labels: area/builder, kind/docs, status/3-docs-review

#2667 [19.03 backport] documentation updates
  docs/reference/builder.md
Labels: area/builder, impact/documentation, kind/docs, status/3-docs-review

#2719 [19.03] vendor: buildkit v0.6.4-32-gdf89d4dc
  vendor.conf
  vendor/github.com/moby/buildkit/frontend/gateway/pb/caps.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.go
  vendor/github.com/moby/buildkit/session/sshforward/sshprovider/agentprovider.go
  vendor/github.com/moby/buildkit/util/progress/progressui/display.go
  vendor/github.com/tonistiigi/fsutil/diff.go
  vendor/github.com/tonistiigi/fsutil/diff_containerd.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/go.mod
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/github.com/tonistiigi/fsutil/types/stat.go
Labels: area/builder, status/2-code-review

#2720 [19.03] vendor: stop using docker/engine fork for vendoring
  vendor.conf
Labels: status/2-code-review

#2674 [19.03 backport] Bump Golang 1.13.15
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#2723 Update documentation on capabilities, and add missing CAP_AUDIT_READ
  contrib/completion/bash/docker
  docs/reference/run.md
Labels: area/completion, kind/docs, process/cherry-pick, status/3-docs-review

#2726 Add docs and bash-completion for new Linux capabilities
  contrib/completion/bash/docker
  docs/reference/run.md
Labels: area/completion, kind/docs, status/3-docs-review

#2449 `docker manifest rm` command to remove manifest list draft from local storage
  cli/command/manifest/cmd.go
  cli/command/manifest/rm.go
  cli/command/manifest/rm_test.go
  contrib/completion/bash/docker
Labels: impact/changelog, kind/experimental, kind/feature, status/2-code-review

#2724 [19.03 backport] Complete capabilites with and without "CAP_" prefix.
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#2728 Fix bash completion typo `docker manifest rm`
  contrib/completion/bash/docker
Labels: area/completion

#2725 [19.03 backport] Update documentation on capabilities, and add missing CAP_AUDIT_READ
  contrib/completion/bash/docker
  docs/reference/run.md
Labels: area/completion, kind/docs, status/3-docs-review

#2729 Updater docker/docker to latest master, containerd v1.4.1
  vendor.conf
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/docker/docker/pkg/system/stat_bsd.go
  vendor/github.com/docker/docker/vendor.conf
Labels: status/2-code-review

#2741 builder: rephrase ENV section, remove examples for ENV key value without '='
  cli/command/image/import_test.go
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/import.md
  e2e/image/build_test.go
  man/Dockerfile.5.md
  man/src/container/commit.md
  man/src/image/import.md
Labels: area/builder, kind/docs, process/cherry-pick, status/3-docs-review

#2743 deprecate Dockerfile legacy 'ENV name value' syntax
  docs/deprecated.md
Labels: area/builder, impact/changelog, impact/deprecation

#2744 Fix make -f docker.Makefile without buildkit enabled
  Jenkinsfile
  docker.Makefile
Labels: status/2-code-review

#2750 [19.03 backport] builder: rephrase ENV section, remove examples for ENV key value without '='
  cli/command/image/import_test.go
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/import.md
  e2e/image/build_test.go
  man/Dockerfile.5.md
  man/src/container/commit.md
  man/src/image/import.md
Labels: area/builder, kind/docs, status/3-docs-review

#2748 docs: fix "docker logs" example missing container name
  docs/reference/commandline/logs.md
  man/src/container/logs.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#2749 [19.03 backport] docs: fix "docker logs" example missing container name
  docs/reference/commandline/logs.md
  man/src/container/logs.md
Labels: kind/docs, status/3-docs-review

#2759 docs: fix generated YAML due to trailing whitespace
  docs/reference/commandline/context_create.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#2760 [19.03 backport] docs: fix generated YAML due to trailing whitespace
  docs/reference/commandline/context_create.md
Labels: kind/docs, status/3-docs-review

#2757 docs: update URL for security landing page
  docs/reference/commandline/login.md
  man/src/login.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#2758 [19.03 backport] docs: update URL for security landing page
  docs/reference/commandline/login.md
  man/src/login.md
Labels: kind/docs, status/3-docs-review

#2763 vendor: sirupsen/logrus v1.7.0
  vendor.conf
  vendor/github.com/konsorten/go-windows-terminal-sequences/LICENSE
  vendor/github.com/konsorten/go-windows-terminal-sequences/README.md
  vendor/github.com/konsorten/go-windows-terminal-sequences/go.mod
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences.go
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences_dummy.go
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/exported.go
  vendor/github.com/sirupsen/logrus/go.mod
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/terminal_check_windows.go
Labels: status/2-code-review

#2756 Fix initializing client modifying custom HTTPHeaders
  cli/command/cli.go
  cli/command/cli_test.go
Labels: status/2-code-review
