Repository docker/cli, pull requests merged in 2020-03, with the labels that each got.

#2366 Remove 'numeric' from --quiet flag description
  cli/command/container/list.go
  cli/command/image/history.go
  cli/command/image/list.go
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/history.md
  docs/reference/commandline/images.md
Labels: status/3-docs-review

#2367 Update Windows ico
  scripts/winresources/docker.ico
  scripts/winresources/docker.png
Labels: platform/windows, status/2-code-review

#2362 Add an exe extension to windows binary during cross build.
  scripts/build/windows
Labels: status/2-code-review

#2387 update shellcheck v0.7.0
  dockerfiles/Dockerfile.shellcheck
Labels: area/testing, status/2-code-review

#2364 [19.03 backport] Update Golang 1.13.8
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#2390 Fix yamldocs generator to accomodate nested subcommands
  docs/reference/commandline/build.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/events.md
  docs/reference/commandline/exec.md
  docs/reference/commandline/info.md
  docs/reference/commandline/login.md
  docs/reference/commandline/manifest.md
  docs/reference/commandline/network_ls.md
  docs/reference/commandline/node_inspect.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/push.md
  docs/reference/commandline/search.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/swarm_init.md
  docs/reference/commandline/swarm_join-token.md
  docs/reference/commandline/swarm_unlock-key.md
  docs/reference/commandline/trust_inspect.md
  docs/reference/commandline/trust_key_generate.md
  docs/reference/commandline/trust_key_load.md
  docs/reference/commandline/trust_revoke.md
  docs/reference/commandline/trust_sign.md
  docs/reference/commandline/trust_signer_add.md
  docs/reference/commandline/trust_signer_remove.md
  docs/yaml/generate.go
Labels: kind/docs, process/cherry-picked, status/2-code-review

#2391 [19.03 backport] Fix yamldocs generator to accomodate nested subcommands
  docs/reference/commandline/build.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/events.md
  docs/reference/commandline/exec.md
  docs/reference/commandline/info.md
  docs/reference/commandline/login.md
  docs/reference/commandline/manifest.md
  docs/reference/commandline/network_ls.md
  docs/reference/commandline/node_inspect.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/ps.md
  docs/reference/commandline/push.md
  docs/reference/commandline/search.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/swarm_init.md
  docs/reference/commandline/swarm_join-token.md
  docs/reference/commandline/swarm_unlock-key.md
  docs/reference/commandline/trust_inspect.md
  docs/reference/commandline/trust_key_generate.md
  docs/reference/commandline/trust_key_load.md
  docs/reference/commandline/trust_revoke.md
  docs/reference/commandline/trust_sign.md
  docs/reference/commandline/trust_signer_add.md
  docs/reference/commandline/trust_signer_remove.md
  docs/yaml/generate.go
Labels: kind/docs, status/2-code-review

#2392 docs: update code-hints for compatibility with "rouge"
  docs/extend/EBS_volume.md
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/pull.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#2393 [19.03 backport] docs: update code-hints for compatibility with "rouge"
  docs/extend/EBS_volume.md
  docs/reference/builder.md
  docs/reference/commandline/build.md
  docs/reference/commandline/pull.md
Labels: kind/docs, status/3-docs-review

#2397 Fix broken link in CONTRIBUTING
  CONTRIBUTING.md
Labels: kind/docs, status/3-docs-review

#2400 Include deprecation policy on deprecated features page
  docs/deprecated.md
Labels: impact/documentation, kind/docs, process/cherry-picked, status/3-docs-review

#2401 [19.03 backport] Include deprecation policy on deprecated features page
  docs/deprecated.md
Labels: impact/documentation, kind/docs, status/3-docs-review

#2402 Update deprecation policy to 1 stable release
  docs/deprecated.md
Labels: impact/deprecation, impact/documentation, kind/docs, status/3-docs-review

#2403 [19.03 backport] Update deprecation policy to 1 stable release
  docs/deprecated.md
Labels: impact/deprecation, impact/documentation, kind/docs, status/3-docs-review

#2410 Adding missing title in builder.md
  docs/reference/builder.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review
