Repository docker/cli, pull requests merged in 2020-12, with the labels that each got.

#2848 Long format for flag -w --workdir
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review

#2846 added ip6tables to daemon CLI and config file documentation
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review

#2862 Remove k8s.io/kubernetes dependency
  cli/command/stack/kubernetes/watcher.go
  vendor.conf
  vendor/k8s.io/apiextensions-apiserver/LICENSE
  vendor/k8s.io/apiextensions-apiserver/README.md
  vendor/k8s.io/apiextensions-apiserver/go.mod
  vendor/k8s.io/apiextensions-apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/README.md
  vendor/k8s.io/apiserver/go.mod
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/util/feature/feature_gate.go
  vendor/k8s.io/component-base/LICENSE
  vendor/k8s.io/component-base/README.md
  vendor/k8s.io/component-base/featuregate/feature_gate.go
  vendor/k8s.io/component-base/go.mod
  vendor/k8s.io/kubernetes/LICENSE
  vendor/k8s.io/kubernetes/README.md
  vendor/k8s.io/kubernetes/build/README.md
  vendor/k8s.io/kubernetes/build/pause/orphan.c
  vendor/k8s.io/kubernetes/build/pause/pause.c
  vendor/k8s.io/kubernetes/go.mod
  vendor/k8s.io/kubernetes/pkg/api/v1/pod/util.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/third_party/protobuf/google/protobuf/compiler/plugin.proto
  vendor/k8s.io/kubernetes/third_party/protobuf/google/protobuf/descriptor.proto
Labels: status/2-code-review

#2871 vendor: docker cf31b9622ae9de4b5fb7a1c9456460980ab80281, buildkit v0.8.0
  vendor.conf
  vendor/github.com/docker/docker/errdefs/helpers.go
  vendor/github.com/docker/docker/vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/solver/errdefs/context.go
Labels: impact/changelog, status/2-code-review

#2869 docs: un-wrap line to prevent YAML docs from using "compact" formatting
  docs/reference/commandline/build.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#2872 Add deprecation note for non-compliant registries
  docs/deprecated.md
Labels: area/distribution, impact/changelog, impact/deprecation, status/3-docs-review

#2870 [19.03 backport] docs: un-wrap line to prevent YAML docs from using "compact" formatting
  docs/reference/commandline/build.md
Labels: kind/docs, status/3-docs-review

#2874 Deprecation: add pulling from non-compliant registries to table
  docs/deprecated.md
Labels: impact/deprecation, kind/docs, status/3-docs-review

#2877 generate-man.sh: Only build md2man if it's not installed
  scripts/docs/generate-man.sh
Labels: status/2-code-review

#2883 Fix container creation time in test/builders
  internal/test/builders/container.go
Labels: area/testing, status/2-code-review

#2896 Fix link to docker build with squash experiment
  experimental/README.md
Labels: kind/docs, status/3-docs-review

#2886 vendor: BuildKit v0.8.1, Engine v20.10.1
  vendor.conf
  vendor/github.com/docker/docker/vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/client/llb/fileop.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/util/flightcontrol/flightcontrol.go
  vendor/github.com/moby/buildkit/util/sshutil/transport_validation.go
Labels: area/builder, status/2-code-review
