Repository docker/cli, pull requests merged in 2020-02, with the labels that each got.

#2296 Builder docs update [carry 1889]
  docs/reference/commandline/build.md
Labels: area/builder, kind/docs, process/cherry-pick, status/3-docs-review

#2308 Add support for Kubernetes username/password auth
  cli/context/kubernetes/endpoint_test.go
  cli/context/kubernetes/load.go
  cli/context/kubernetes/save.go
  cli/context/kubernetes/testdata/k3s-kubeconfig
Labels: area/context, area/kubernetes, impact/changelog, kind/enhancement, status/2-code-review

#2310 Syntax corrected
  docs/reference/commandline/search.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#2311 [19.03 backport] documentation updates
  docs/reference/commandline/build.md
  docs/reference/commandline/run.md
  docs/reference/commandline/search.md
Labels: kind/docs, status/3-docs-review

#2309 Fix a typo and enhance a script in an example
  docs/reference/commandline/run.md
Labels: kind/docs, process/cherry-pick, status/2-code-review

#2312 Add examples for configs (carry 855)
  docs/reference/commandline/service_create.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#2315 [19.03 backport] Add examples for configs
  docs/reference/commandline/run.md
  docs/reference/commandline/service_create.md
Labels: kind/docs, status/3-docs-review

#2316 Give an example for --reserve-memory (carry 325)
  docs/reference/commandline/service_create.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#2318 docs: service create: document os/arch constraints and more examples
  docs/reference/commandline/service_create.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#2319 docs: updated "deprecated features" page
  docs/deprecated.md
Labels: impact/deprecation, impact/documentation, kind/docs, process/cherry-pick, status/3-docs-review

#2320 [19.03 backport] assorted documentation updates
  docs/deprecated.md
  docs/reference/commandline/service_create.md
Labels: kind/docs, status/3-docs-review

#2321 docs: update deprecation status of "engine *" commands, and dab files
  docs/deprecated.md
Labels: impact/deprecation, kind/docs, status/3-docs-review

#2322 docs: update deprecated status for --disable-legacy-registry
  docs/deprecated.md
Labels: impact/deprecation, kind/docs, process/cherry-pick, status/3-docs-review

#2024 docker run: specify cgroup namespace mode with --cgroupns
  cli/command/container/opts.go
  cli/command/system/info_test.go
  cli/compose/schema/bindata.go
  cli/compose/schema/data/config_schema_v3.9.json
  cli/compose/types/types.go
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/create.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/run.md
  e2e/container/run_test.go
  internal/test/environment/testenv.go
  man/docker-run.1.md
  man/dockerd.8.md
Labels: impact/changelog, impact/documentation, status/4-merge

#2323 docs: update deprecation status of "filter" option
  docs/deprecated.md
Labels: area/api, impact/deprecation, kind/docs, status/3-docs-review

#2328 update vndr v0.1.1
  dockerfiles/Dockerfile.dev
Labels: area/testing, process/cherry-pick, status/2-code-review

#2329 vendor: add missing containerd/cgroups dependency
  vendor.conf
  vendor/github.com/containerd/cgroups/LICENSE
  vendor/github.com/containerd/cgroups/README.md
  vendor/github.com/containerd/cgroups/go.mod
  vendor/github.com/containerd/cgroups/stats/v1/doc.go
  vendor/github.com/containerd/cgroups/stats/v1/metrics.pb.go
  vendor/github.com/containerd/cgroups/stats/v1/metrics.proto
Labels: status/2-code-review

#2333 Update docker/docker and dependencies
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
  cli/command/system/testdata/docker-info-with-swarm.json.golden
  vendor.conf
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/copy_linux.go
  vendor/github.com/containerd/continuity/fs/copy_unix.go
  vendor/github.com/containerd/continuity/fs/stat_darwinfreebsd.go
  vendor/github.com/containerd/continuity/fs/stat_linuxopenbsd.go
  vendor/github.com/containerd/continuity/go.mod
  vendor/github.com/containerd/continuity/sysx/nodata_unix.go
  vendor/github.com/containerd/continuity/vendor.conf
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/swarm/service.go
  vendor/github.com/docker/docker/api/types/swarm/task.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/registry/registry.go
  vendor/github.com/docker/docker/vendor.conf
  vendor/github.com/docker/swarmkit/api/ca.pb.go
  vendor/github.com/docker/swarmkit/api/control.pb.go
  vendor/github.com/docker/swarmkit/api/control.proto
  vendor/github.com/docker/swarmkit/api/dispatcher.pb.go
  vendor/github.com/docker/swarmkit/api/health.pb.go
  vendor/github.com/docker/swarmkit/api/logbroker.pb.go
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/objects.proto
  vendor/github.com/docker/swarmkit/api/raft.pb.go
  vendor/github.com/docker/swarmkit/api/resource.pb.go
  vendor/github.com/docker/swarmkit/api/snapshot.pb.go
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
  vendor/github.com/docker/swarmkit/api/watch.pb.go
  vendor/github.com/docker/swarmkit/protobuf/plugin/plugin.pb.go
  vendor/github.com/docker/swarmkit/vendor.conf
  vendor/github.com/google/shlex/go.mod
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/vendor.conf
  vendor/github.com/tonistiigi/fsutil/diff.go
  vendor/github.com/tonistiigi/fsutil/diff_containerd.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/github.com/tonistiigi/fsutil/types/stat.go
Labels: status/2-code-review

#2326 deprecated: use of reserved namespaces for engine labels
  docs/deprecated.md
Labels: impact/changelog, impact/deprecation, kind/docs, status/3-docs-review

#2303 revert "connhelper: use ssh multiplexing"
  cli/connhelper/connhelper.go
  docs/reference/commandline/cli.md
Labels: status/2-code-review

#2338 Remove deprecated docker search --automated and --stars flags
  cli/command/registry/formatter_search.go
  cli/command/registry/formatter_search_test.go
  cli/command/registry/search.go
  docs/deprecated.md
Labels: impact/changelog, impact/deprecation, status/0-triage, status/2-code-review

#2341 Improve service tasks grouping on printing
  cli/command/task/print.go
  cli/command/task/print_test.go
  cli/command/task/testdata/task-print-sorted.golden
Labels: impact/changelog, kind/enhancement, status/2-code-review

#2340 Update Golang 1.12.17
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, process/cherry-picked, status/2-code-review

#2342 [19.03 backport] Update Golang 1.12.17
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#2348 vendor: golang.org/x/crypto 1d94cc7ab1c630336ab82ccb9c9cda72a875c382
  vendor.conf
  vendor/golang.org/x/crypto/blowfish/block.go
  vendor/golang.org/x/crypto/blowfish/cipher.go
  vendor/golang.org/x/crypto/blowfish/const.go
  vendor/golang.org/x/crypto/ssh/internal/bcrypt_pbkdf/bcrypt_pbkdf.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
Labels: status/2-code-review

#2354 vendor: bump golang.org/x/crypto bac4c82f6975 (CVE-2020-9283)
  vendor.conf
  vendor/golang.org/x/crypto/ssh/keys.go
Labels: impact/changelog, process/cherry-pick, status/2-code-review

#2355 fix panic on single-character volumes
  cli/compose/loader/volume.go
  cli/compose/loader/volume_test.go
Labels: process/cherry-pick, status/2-code-review

#2353 Bump version to 20.03.0-dev
  VERSION
Labels: status/2-code-review

#2351 docs: add redirect for old location of daemon reference
  docs/reference/commandline/dockerd.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#2335 Dockerfile.e2e: don't show progress, force TLS, and follow redirects
  dockerfiles/Dockerfile.e2e
Labels: area/testing, status/2-code-review

#2357 gofmt compose loader test
  cli/compose/loader/merge_test.go
Labels: area/testing, status/2-code-review

#2360 Update Golang 1.13.8
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.cross
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#2343 Fix builder prune -a/--all flag description
  cli/command/builder/prune.go
Labels: area/builder, impact/documentation, process/cherry-picked, status/2-code-review

#2344 [19.03 backport] fix builder prune flag descriptions
  cli/command/builder/prune.go
Labels: area/builder, impact/documentation, status/2-code-review

#2352 [19.03 backport] docs: add redirect for old location of daemon reference
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review

#2337 Skip IPAddr validation for "host-gateway" string
  opts/hosts.go
Labels: docs/revisit, impact/changelog, kind/docs, status/2-code-review
