Repository docker/cli, pull requests merged in 2021-12, with the labels that each got.

#3379 Update Go to 1.16.11
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#3380 [20.10 backport] Update Go to 1.16.11
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#3365 ci: github actions test workflow
  .circleci/config.yml
  .dockerignore
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  appveyor.yml
  cli/command/cli_test.go
  cli/command/image/build/context_test.go
  docker-bake.hcl
  docker.Makefile
  scripts/make.ps1
Labels: status/2-code-review, area/testing

#3382 Update Ubuntu version number references in push.md
  docs/reference/commandline/pull.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3282 format create.md table
  docs/reference/commandline/create.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3276 Fixing typo (his --> its)
  docs/reference/commandline/run.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3256 cli.SetupRootCommand(): minor cleanup
  cli/cobra.go
Labels: status/2-code-review, kind/refactor

#3164 Fix the (dead) link for docs for Dockerfile syntax reference
  docs/reference/builder.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3142 Add information on WORKDIR
  docs/reference/builder.md
Labels: kind/docs, status/3-docs-review, area/builder, process/cherry-pick

#2976 Fix mistake with env var example in docker run docs
  docs/reference/commandline/run.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3105 Change IO order in description
  docs/reference/commandline/stats.md
Labels: kind/docs, status/3-docs-review

#3372 docker exec cli docs: show 2 env vars, not just 1
  docs/reference/commandline/exec.md
Labels: dco/no, kind/docs, status/3-docs-review

#3384 ci: add glibc to build matrix
  .github/workflows/build.yml
Labels: status/2-code-review, area/testing

#3388 ensure version quad for goversioninfo
  scripts/build/mkversioninfo
Labels: status/2-code-review, kind/bugfix

#3390 [20.10] Update Go to 1.16.12
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#3378 Update stats.md add example json output
  docs/reference/commandline/stats.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3340 Fix typo
  docs/reference/commandline/run.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3391 Fix Typos
  cli/command/container/exec_test.go
  cli/command/service/update_test.go
  cli/command/stack/kubernetes/watcher.go
Labels: status/2-code-review
