Repository docker/cli, pull requests merged in 2021-05, with the labels that each got.

#3072 docs: various changes, and touch-up main CLI page
  docs/reference/builder.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/config.md
  docs/reference/commandline/config_create.md
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/config_rm.md
  man/Dockerfile.5.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#3078 [20.10 backport] docs: various changes, and touch-up main CLI page
  docs/reference/builder.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/config.md
  docs/reference/commandline/config_create.md
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/config_rm.md
  man/Dockerfile.5.md
Labels: kind/docs, status/3-docs-review

#3052 docs: document log-opts for "dual logging" cache
  docs/reference/commandline/dockerd.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#3079 [20.10 backport] docs updates
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/stop.md
Labels: kind/docs, status/3-docs-review

#2990 Fix `docker start` blocking on signal handling
  cli/command/container/start.go
Labels: status/2-code-review

#3095 docs: Fix broken jump link
  docs/reference/run.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#3082 Swap "LABEL maintainer" for the OCI pre-defined "org.opencontainers.image.authors"
  docs/reference/builder.md
  docs/reference/commandline/pull.md
  man/src/image/pull.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#3077 printServerWarningsLegacy: silence "No kernel memory limit support"; silence "No oom kill disable support" on cgroup v2
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-warnings.golden
Labels: process/cherry-pick, status/2-code-review

#3100 [20.10 backport] documentation fixes
  docs/reference/builder.md
  docs/reference/commandline/pull.md
  docs/reference/run.md
  man/src/image/pull.md
Labels: kind/docs, status/3-docs-review

#3099 [20.10 backport] printServerWarningsLegacy: silence "No kernel memory limit support"; silence "No oom kill disable support" on cgroup v2
  cli/command/system/info.go
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-warnings.golden
Labels: impact/changelog, status/2-code-review

#3093 [20.10 backport] docs: dockerd: fix broken link and markdown touch-ups
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review

#3092 docs: dockerd: fix broken link and markdown touch-ups
  docs/reference/commandline/dockerd.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#2986 ForwardAllSignals: check if channel is closed, and remove warning
  cli/command/container/signals.go
Labels: process/cherry-pick, status/2-code-review

#3103 Ignore SIGURG on Unix (including Darwin)
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/container/signals_windows.go
Labels: process/cherry-pick, status/2-code-review

#2972 Use net.JoinHostPort() to fix formatting with IPv6 addresses
  cli/command/container/port.go
  cli/command/container/port_test.go
  cli/command/container/testdata/container-port-ipv4.golden
  cli/command/container/testdata/container-port-ipv6-and-ipv4.golden
  cli/command/container/testdata/container-port-ipv6.golden
  opts/port.go
  opts/port_test.go
Labels: impact/changelog, status/2-code-review

#3111 [20.10 backport] docs: fix link to command-line reference
  docs/extend/index.md
Labels: kind/docs, status/3-docs-review

#3110 docs: fix link to command-line reference
  docs/extend/index.md
Labels: kind/docs, process/cherry-picked, status/3-docs-review

#3107 [20.10 backport] Ignore SIGURG on Unix (including Darwin)
  cli/command/container/attach.go
  cli/command/container/client_test.go
  cli/command/container/run.go
  cli/command/container/signals.go
  cli/command/container/signals_test.go
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/container/signals_windows.go
  cli/command/container/start.go
  cli/command/container/tty.go
Labels: status/2-code-review

#2984 docs: Fix wrong bridge driver option
  docs/reference/commandline/network_create.md
Labels: kind/docs, process/cherry-pick, status/3-docs-review

#2975 Slight cleanup/refactor of attachContainer
  cli/command/container/run.go
Labels: status/2-code-review
