Repository docker/cli, pull requests merged in 2021-09, with the labels that each got.

#3267 docs: move checkpoint/restore doc from experimental into reference
  docs/reference/commandline/checkpoint.md
  experimental/README.md
Labels: kind/docs, kind/experimental, status/3-docs-review, process/cherry-pick

#3291 experimental: fix broken link to "checkpoint and restore" page
  experimental/README.md
Labels: kind/docs, kind/experimental, status/3-docs-review, process/cherry-pick, kind/bugfix

#3297 docs: fix some broken anchors
  docs/deprecated.md
  docs/extend/plugins_authorization.md
  docs/reference/builder.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3299 Update Go to 1.16.8
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review, process/cherry-pick

#3266 docs: add missing redirect, and remove /go/experimental redirect
  docs/reference/commandline/cli.md
Labels: kind/docs, status/3-docs-review, process/cherry-picked

#3298 Dockerfile: update tonistiigi/xx to 1.0.0-rc.2, add XX_VERSION arg
  Dockerfile
Labels: status/2-code-review, process/cherry-pick

#3295 Use private network address for default-address-pools setting in daem…
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3306 docs: fix description of restart-delay to mention max (1 minute)
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3318 Update deprecated.md
  docs/deprecated.md
Labels: kind/docs, status/3-docs-review
