Repository docker/cli, pull requests merged in 2021-01, with the labels that each got.

#2887 Add bash completion for jobs
  contrib/completion/bash/docker
Labels: area/completion, status/2-code-review

#2885 Fix reading context and dockerfile from stdin with BuildKit
  cli/command/image/build_buildkit.go
Labels: area/builder, status/2-code-review

#2915 Remove duplicate word in push.md
  docs/reference/commandline/push.md
Labels: dco/no, kind/docs, status/3-docs-review

#2912 Add bash completion for `docker run|create --pull`
  contrib/completion/bash/docker
Labels: area/completion

#2914 Add bash completion for `dockerd --ip6tables`
  contrib/completion/bash/docker
Labels: area/completion

#2913 Update bash completion for fluentd --log-options
  contrib/completion/bash/docker
Labels: area/completion

#2908 deprecate blkio-weight options with cgroups v1
  docs/deprecated.md
Labels: impact/changelog, impact/deprecation, kind/docs, status/3-docs-review

#2918 Fix panic when failing to get DefaultAuthConfig
  cli/command/registry.go
  cli/command/registry/login.go
Labels: status/2-code-review

#2888 Rename bin/md2man to bin/go-md2man
  man/md2man-all.sh
  scripts/docs/generate-man.sh
Labels: status/2-code-review

#2921 docs: fix typo in deprecated.md
  docs/deprecated.md
Labels: kind/docs, status/3-docs-review

#2906 Added docker context to zsh completion
  contrib/completion/zsh/_docker
Labels: area/completion, status/2-code-review

#2931 vendor: github.com/theupdateframework/notary v0.7.0
  vendor.conf
  vendor/github.com/agl/ed25519/LICENSE
  vendor/github.com/agl/ed25519/ed25519.go
  vendor/github.com/agl/ed25519/edwards25519/const.go
  vendor/github.com/agl/ed25519/edwards25519/edwards25519.go
  vendor/github.com/theupdateframework/notary/README.md
  vendor/github.com/theupdateframework/notary/client/changelist/file_changelist.go
  vendor/github.com/theupdateframework/notary/client/changelist/interface.go
  vendor/github.com/theupdateframework/notary/client/client.go
  vendor/github.com/theupdateframework/notary/client/delegations.go
  vendor/github.com/theupdateframework/notary/client/interface.go
  vendor/github.com/theupdateframework/notary/client/reader.go
  vendor/github.com/theupdateframework/notary/client/tufclient.go
  vendor/github.com/theupdateframework/notary/cryptoservice/crypto_service.go
  vendor/github.com/theupdateframework/notary/fips.go
  vendor/github.com/theupdateframework/notary/go.mod
  vendor/github.com/theupdateframework/notary/passphrase/passphrase.go
  vendor/github.com/theupdateframework/notary/storage/filestore.go
  vendor/github.com/theupdateframework/notary/storage/httpstore.go
  vendor/github.com/theupdateframework/notary/storage/interfaces.go
  vendor/github.com/theupdateframework/notary/tuf/builder.go
  vendor/github.com/theupdateframework/notary/tuf/data/keys.go
  vendor/github.com/theupdateframework/notary/tuf/data/roles.go
  vendor/github.com/theupdateframework/notary/tuf/data/snapshot.go
  vendor/github.com/theupdateframework/notary/tuf/data/targets.go
  vendor/github.com/theupdateframework/notary/tuf/data/types.go
  vendor/github.com/theupdateframework/notary/tuf/signed/interface.go
  vendor/github.com/theupdateframework/notary/tuf/signed/sign.go
  vendor/github.com/theupdateframework/notary/tuf/signed/verifiers.go
  vendor/github.com/theupdateframework/notary/tuf/utils/pkcs8.go
  vendor/github.com/theupdateframework/notary/tuf/utils/utils.go
  vendor/github.com/theupdateframework/notary/tuf/utils/x509.go
  vendor/github.com/theupdateframework/notary/vendor.conf
Labels: area/trust, status/2-code-review

#2927 fix --update-order and --rollback-order flags
  cli/command/service/opts.go
  cli/command/service/opts_test.go
Labels: area/swarm, status/2-code-review

#2934 cli/config: prevent warning if HOME is not set
  cli/config/config.go
  cli/config/config_test.go
Labels: impact/changelog, status/2-code-review

#2942 docs: add redirect for old reference URL
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review

#2944 docs: Fix wrong variable name
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review

#2949 fix docker-run man page table formatting
  man/docker-run.1.md
Labels: kind/docs, status/3-docs-review
