Repository docker/cli, pull requests merged in 2022-02, with the labels that each got.

#3225 Update dockerd.md - simple typo
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3428 [20.10] Update Go to 1.16.14
  Dockerfile
  appveyor.yml
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review

#3410 [20.10 backport] fix innocuous data-race when config.Load called in parallel
  cli/config/config.go
Labels: status/2-code-review, kind/bugfix

#3430 [20.10 backport] assorted documentation fixes
  docs/reference/builder.md
  docs/reference/commandline/create.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/pull.md
  docs/reference/commandline/run.md
  docs/reference/commandline/stats.md
Labels: kind/docs, status/3-docs-review

#3437 introduce plugin.RunningStandalone utility func
  cli-plugins/plugin/plugin.go
Labels: kind/enhancement, status/2-code-review, area/plugins

#3440 update docs, and remove some unused code related to "compose on kubernetes" deprecation
  cli/command/context/export.go
  cli/command/defaultcontextstore_test.go
  cli/command/formatter/context.go
  cli/command/stack/swarm/common.go
  cli/command/system/version.go
  cli/config/configfile/file.go
  docs/deprecated.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/context_create.md
  docs/reference/commandline/context_export.md
  docs/reference/commandline/context_inspect.md
  docs/reference/commandline/context_update.md
  docs/reference/commandline/stack.md
  docs/reference/commandline/stack_deploy.md
  docs/reference/commandline/stack_ls.md
  docs/reference/commandline/stack_ps.md
  docs/reference/commandline/stack_rm.md
  docs/reference/commandline/stack_services.md
  docs/reference/commandline/version.md
Labels: impact/deprecation, kind/docs, status/2-code-review, impact/documentation, area/stack, area/kubernetes, area/context

#3435 bring back and expose BuildKitEnabled func
  cli/command/cli.go
  cmd/docker/builder.go
  internal/test/cli.go
Labels: status/2-code-review, area/builder, area/builder/classic-builder, area/builder/buildkit

#3442 update/remove various tests and options related to kubernetes support
  cli/command/context/create.go
  cli/command/context/create_test.go
  cli/command/context/export-import_test.go
  cli/command/context/inspect_test.go
  cli/command/context/list_test.go
  cli/command/context/remove_test.go
  cli/command/context/testdata/test-kubeconfig
  cli/command/context/update.go
  cli/command/context/update_test.go
  cli/context/store/doc.go
  e2e/context/context_test.go
  e2e/context/testdata/test-kubeconfig
  internal/test/environment/testenv.go
  scripts/test/e2e/run
Labels: impact/deprecation, status/2-code-review, area/kubernetes, area/context

#3436 publish RunExec for use by docker/compose
  cli/command/container/exec.go
  cli/command/container/exec_test.go
  cli/command/container/start.go
Labels: status/2-code-review, kind/refactor

#3434 Fix incorrect pointer inputs to `json.Unmarshal`
  cli/config/configfile/file.go
Labels: status/2-code-review, process/cherry-pick, kind/bugfix

#3257 cli/compose: add schema 3.10, with optional version field (default to "latest")
  cli/compose/loader/loader_test.go
  cli/compose/schema/data/config_schema_v3.10.json
  cli/compose/schema/schema.go
  cli/compose/schema/schema_test.go
Labels: impact/changelog, status/2-code-review, area/stack, docs/revisit, impact/compose-file

#3444 dummy circleci config
  .circleci/config.yml
Labels: status/2-code-review, area/testing, kind/bugfix
