Repository docker/cli, pull requests merged in 2022-10, with the labels that each got.

#3799 Update to go 1.19.2 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
Labels: impact/changelog, status/2-code-review, area/packaging

#3800 [20.10] Update go 1.18.7 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review, area/packaging

#3805 docs: use correct separator in --security-opt
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3808 docs/reference: run.md update confusing example name
  docs/reference/commandline/run.md
Labels: kind/docs, status/3-docs-review, process/cherry-picked

#3809 [20.10 backport] docs/reference: run.md update confusing example name
  docs/reference/commandline/run.md
Labels: kind/docs, status/3-docs-review

#3806 docs: update deprecation status for "overlay2.override_kernel_check"
  docs/deprecated.md
  docs/reference/commandline/dockerd.md
Labels: impact/deprecation, kind/docs, status/3-docs-review, process/cherry-picked

#3130 feat(zsh): add context argument completion
  contrib/completion/zsh/_docker
Labels: status/2-code-review, process/cherry-pick, area/completion

#3814 [20.10 backport] feat(docker): add context argument completion
  contrib/completion/zsh/_docker
Labels: status/2-code-review, area/completion

#3817 Fixed the debugging plugin command `docker-runc`
  docs/extend/index.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3821 Remove "experimental" gates around "--platform" in bash completion
  contrib/completion/bash/docker
Labels: status/2-code-review, area/completion

#3820 [20.10 backport] fixed the plugin command docker-runc
  docs/extend/index.md
Labels: kind/docs, status/3-docs-review

#3823 vendor: docker v20.10.3-0.20221021122114-f9cb47a052b (22.06 branch)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/github.com/docker/docker/registry/service_v2.go
  vendor/modules.txt
Labels: status/2-code-review

#3824 [20.10 backport] Remove "experimental" gates around "--platform" in bash completion
  contrib/completion/bash/docker
Labels: status/2-code-review, area/completion

#3827 vendor: docker 5aac513617f072b15322b147052cbda0d451d389 / v22.06-dev
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go
  vendor/modules.txt
Labels: status/2-code-review
