Repository docker/cli, pull requests merged in 2023-12, with the labels that each got.

#4690 vendor: github.com/gorilla/mux v1.8.1
  vendor.mod
  vendor.sum
  vendor/github.com/gorilla/mux/.gitignore
  vendor/github.com/gorilla/mux/AUTHORS
  vendor/github.com/gorilla/mux/LICENSE
  vendor/github.com/gorilla/mux/Makefile
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/doc.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
  vendor/github.com/gorilla/mux/route.go
  vendor/modules.txt
Labels: status/2-code-review

#4686 vendor: github.com/docker/docker 029519a1498b (v25.0.0-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/types/container/hostconfig.go
  vendor/github.com/docker/docker/api/types/container/hostconfig_unix.go
  vendor/github.com/docker/docker/api/types/container/hostconfig_windows.go
  vendor/github.com/docker/docker/api/types/network/network.go
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#4687 Fix typo in dockerd reference documentation
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#4684 prune: fix build cache prune warning
  cli/command/system/prune.go
  cli/command/system/prune_test.go
  docs/reference/commandline/system_prune.md
Labels: kind/enhancement, status/3-docs-review, area/builder, area/builder/buildkit

#4694 update to go1.21.5
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Labels: impact/changelog, status/2-code-review, area/packaging

#4695 [24.0] update to go1.20.12
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Labels: impact/changelog, status/2-code-review, area/packaging

#4696 [23.0] update to go1.20.12
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Labels: impact/changelog, status/2-code-review, area/packaging

#4703 docs/deprecated.md: add missing versions for "-g / --graph" and devicemapper removal to table
  docs/deprecated.md
Labels: impact/deprecation, kind/docs, status/3-docs-review

#4663 Permit '=' separator and '[ipv6]' in --add-host
  docs/reference/commandline/build.md
  docs/reference/commandline/run.md
  man/docker-build.1.md
  man/docker-run.1.md
  opts/hosts.go
  opts/hosts_test.go
Labels: impact/changelog, kind/enhancement, status/2-code-review, area/ux

#4707 docs: fix typo in "network create" docs
  docs/reference/commandline/network_create.md
  man/src/network/create.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#4599 cli-plugins: terminate plugin when CLI exits
  cli-plugins/plugin/plugin.go
  cmd/docker/docker.go
  cmd/docker/internal/appcontext/appcontext.go
  cmd/docker/internal/appcontext/appcontext_unix.go
  cmd/docker/internal/appcontext/appcontext_windows.go
  cmd/docker/internal/signals/signals_unix.go
  cmd/docker/internal/signals/signals_windows.go
Labels: status/2-code-review, area/plugins

#4387 cli/command: merge DockerCliOption and InitializeOpt types
  cli-plugins/plugin/plugin.go
  cli/cobra.go
  cli/command/cli.go
  cli/command/cli_options.go
Labels: status/2-code-review, kind/refactor

#4709 docs/deprecated: mark logentries log-driver for removal
  docs/deprecated.md
Labels: impact/deprecation, status/3-docs-review, process/cherry-pick

#4710 [24.0 backport] docs/deprecated: add missing versions for "-g / --graph", and mark logentries log-driver for removal
  docs/deprecated.md
Labels: impact/deprecation, kind/docs, status/3-docs-review

#4711 remove deprecated "logentries" logging driver from docs, completion, and tests
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
  cli/command/system/testdata/docker-info-with-labels-empty.golden
  cli/command/system/testdata/docker-info-with-labels-nil.golden
  cli/command/system/testdata/docker-info-with-swarm.golden
  cli/command/system/testdata/docker-info-with-swarm.json.golden
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
  docs/deprecated.md
  docs/reference/commandline/info.md
  man/src/system/info.md
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
Labels: impact/changelog, impact/deprecation, status/2-code-review, area/completion

#4713 docs: run-reference: use table for health options
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review

#4719 add //go:build directives to prevent downgrading to go1.16 language
  cli-plugins/manager/error.go
  cli/command/cli.go
  cli/command/config/inspect.go
  cli/command/container/inspect.go
  cli/command/context.go
  cli/command/context/create.go
  cli/command/context/create_test.go
  cli/command/context/inspect.go
  cli/command/context_test.go
  cli/command/defaultcontextstore.go
  cli/command/defaultcontextstore_test.go
  cli/command/formatter/container.go
  cli/command/formatter/container_test.go
  cli/command/formatter/custom.go
  cli/command/formatter/formatter.go
  cli/command/formatter/formatter_test.go
  cli/command/formatter/reflect.go
  cli/command/formatter/reflect_test.go
  cli/command/formatter/volume_test.go
  cli/command/idresolver/idresolver.go
  cli/command/image/inspect.go
  cli/command/inspect/inspector.go
  cli/command/network/formatter_test.go
  cli/command/network/inspect.go
  cli/command/node/formatter_test.go
  cli/command/node/inspect.go
  cli/command/plugin/formatter_test.go
  cli/command/plugin/inspect.go
  cli/command/secret/inspect.go
  cli/command/service/formatter_test.go
  cli/command/service/inspect.go
  cli/command/service/inspect_test.go
  cli/command/service/opts.go
  cli/command/stack/loader/loader.go
  cli/command/system/info.go
  cli/command/system/inspect.go
  cli/command/trust/inspect.go
  cli/command/utils.go
  cli/command/volume/inspect.go
  cli/compose/interpolation/interpolation.go
  cli/compose/interpolation/interpolation_test.go
  cli/compose/loader/full-struct_test.go
  cli/compose/loader/interpolate.go
  cli/compose/loader/loader.go
  cli/compose/loader/loader_test.go
  cli/compose/loader/merge.go
  cli/compose/loader/merge_test.go
  cli/compose/schema/schema.go
  cli/compose/schema/schema_test.go
  cli/compose/template/template.go
  cli/compose/template/template_test.go
  cli/compose/types/types.go
  cli/context/store/metadata_test.go
  cli/context/store/metadatastore.go
  cli/context/store/store.go
  cli/context/store/store_test.go
  cli/context/store/storeconfig.go
  cli/context/store/storeconfig_test.go
  cmd/docker/builder_test.go
  templates/templates.go
Labels: status/2-code-review, kind/bugfix

#4727 vendor: golang.org/x/crypto v0.17.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review

#4712 docs: editorial improvements, typo fixes
  docs/reference/commandline/attach.md
  docs/reference/commandline/build.md
  docs/reference/commandline/checkpoint.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/commit.md
  docs/reference/commandline/config_create.md
  docs/reference/commandline/config_inspect.md
  docs/reference/commandline/config_ls.md
  docs/reference/commandline/config_rm.md
  docs/reference/commandline/container_prune.md
  docs/reference/commandline/context_create.md
  docs/reference/commandline/context_use.md
  docs/reference/commandline/cp.md
  docs/reference/commandline/create.md
  docs/reference/commandline/dockerd.md
  docs/reference/commandline/events.md
  docs/reference/commandline/exec.md
  docs/reference/commandline/export.md
  docs/reference/commandline/history.md
  docs/reference/commandline/run.md
  docs/reference/commandline/swarm_init.md
  docs/reference/commandline/system_df.md
  docs/reference/commandline/system_events.md
  docs/reference/commandline/system_prune.md
  docs/reference/commandline/tag.md
  docs/reference/commandline/trust_key_generate.md
  docs/reference/commandline/trust_key_load.md
  docs/reference/commandline/trust_revoke.md
  docs/reference/commandline/trust_sign.md
  docs/reference/commandline/trust_signer_add.md
  docs/reference/commandline/trust_signer_remove.md
  docs/reference/commandline/volume_create.md
  docs/reference/commandline/volume_ls.md
  docs/reference/commandline/volume_prune.md
  docs/reference/commandline/volume_rm.md
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review

#4728 vendor: github.com/docker/docker 388216fc45ab (v25.0.0-dev)
  cli/command/system/info_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/system/info.go
  vendor/github.com/docker/docker/api/types/system/runtime.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#4729 cli/command/container: runStats(): refactor and (linting) fixes
  cli/command/container/stats.go
Labels: status/2-code-review, kind/refactor

#4730 prevent "docker stats" from hanging if the initial API call fails
  cli/command/container/stats.go
Labels: status/2-code-review, kind/bugfix

#4734 vendor: github.com/docker/docker 7bc56c53657d (v25.0.0-dev)
  docs/deprecated.md
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/network/endpoint.go
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#4735 deprecated: fix anchor and add missing version
  docs/deprecated.md
Labels: kind/docs, status/3-docs-review

#4737 docs/deprecated: update "oom-score-adjust" status for daemon
  docs/deprecated.md
Labels: impact/deprecation, kind/docs, status/3-docs-review

#4685 export RunStat, StatsOptions, and add Filters option
  cli/command/container/stats.go
Labels: status/2-code-review, kind/refactor

#4166 Add networking reference link
  docs/reference/commandline/build.md
Labels: kind/docs, status/3-docs-review, area/builder, process/cherry-pick

#3558 Fix wrong docker run command
  docs/reference/commandline/run.md
Labels: kind/docs, status/3-docs-review

#1450 fixes id and name filter in service ls is the prefix not a part
  docs/reference/commandline/service_ls.md
Labels: kind/docs, status/3-docs-review, area/swarm

#4733 docs: add kathara network plugin
  docs/extend/legacy_plugins.md
  docs/extend/plugins_network.md
Labels: kind/docs, status/3-docs-review

#4738 update authors and mailmap
  .mailmap
  AUTHORS
Labels: status/2-code-review

#4741 vendor: github.com/klauspost/compress v1.17.4
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/bytereader.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/modules.txt
Labels: status/2-code-review

#4742 vendor: github.com/mattn/go-runewidth v0.0.15
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review

#4743 vendor: github.com/mitchellh/mapstructure v1.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/mitchellh/mapstructure/.travis.yml
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/modules.txt
Labels: status/2-code-review
