Repository docker/cli, pull requests merged in 2023-01, with the labels that each got.

#3943 cli/rm_test: Fix TestRemoveForce race condition
  cli/command/container/rm_test.go
Labels: status/2-code-review, process/cherry-picked, area/testing, kind/bugfix

#3944 [20.10 backport] cli/rm_test: Fix TestRemoveForce race condition
  cli/command/container/rm_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#3948 docs: fix anchor links
  docs/deprecated.md
  docs/reference/commandline/build.md
  docs/reference/commandline/cli.md
  docs/reference/commandline/cp.md
  docs/reference/commandline/export.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/stats.md
Labels: kind/docs, status/3-docs-review, kind/bugfix

#3949 docs: fix some more anchors
  docs/reference/commandline/images.md
  docs/reference/commandline/node_ls.md
  docs/reference/commandline/node_ps.md
  docs/reference/commandline/plugin_ls.md
  docs/reference/commandline/service_create.md
  docs/reference/commandline/service_inspect.md
  docs/reference/commandline/service_update.md
  docs/reference/commandline/volume_ls.md
Labels: kind/docs, status/3-docs-review, kind/bugfix

#3950 [20.10 backport] Cleaned up formatting/typesetting
  man/src/container/attach.md
Labels: kind/docs, status/3-docs-review

#3951 [20.10 backport] docker exec cli docs: show 2 env vars, not just 1
  docs/reference/commandline/exec.md
Labels: kind/docs, status/3-docs-review

#3952 docs: inspect: remove trailing whitespace from example
  docs/reference/commandline/inspect.md
Labels: kind/docs, status/3-docs-review, process/cherry-picked

#3953 [20.10 backport] docs: inspect: remove trailing whitespace from example
  docs/reference/commandline/inspect.md
Labels: kind/docs, status/3-docs-review

#3954 deprecation: mark btrfs driver as deprecated for CentOS 7 and RHEL7
  docs/deprecated.md
Labels: impact/changelog, impact/deprecation, kind/docs, status/3-docs-review

#3956 deprecated: update deprecation for btrfs on CentOS/RHEL 7
  docs/deprecated.md
Labels: impact/changelog, impact/deprecation, kind/docs, status/3-docs-review

#3957 [20.10] deprecation: mark btrfs driver as deprecated for CentOS 7 and RHEL7
  docs/deprecated.md
Labels: impact/changelog, impact/deprecation, kind/docs, status/3-docs-review

#3958 update to go1.19.5
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review, area/packaging

#3959 [20.10] update to go1.18.10
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review, area/packaging

#3963 vendor: github.com/docker/docker v23.0.0-rc.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_linux.go
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#2998 [completion/zsh] add volume completion
  contrib/completion/zsh/_docker
Labels: kind/enhancement, status/1-design-review, area/completion

#3966 docs: fix duplicated format anchor in plugin_ls
  docs/reference/commandline/plugin_ls.md
Labels: kind/docs, status/3-docs-review

#3968 README: fix badges
  README.md
Labels: kind/docs, status/3-docs-review

#3973 cli: additionalHelp() don't decorate output if it's piped, and add extra newline
  cli/cobra.go
Labels: kind/enhancement, status/2-code-review, process/cherry-pick, area/ux

#3971 cli: pass dockerCLI's in/out/err to cobra cmds
  cli-plugins/plugin/plugin.go
  cmd/docker/docker.go
Labels: status/2-code-review, kind/refactor

#1900 note `--user` args usage restriction
  docs/reference/run.md
Labels: kind/docs, status/3-docs-review

#3976 [20.10 backport] cli: additionalHelp() don't decorate output if it's piped, and add extra newline
  cli/cobra.go
Labels: kind/enhancement, status/2-code-review, area/ux

#3977 Fix section docker ps --size
  docs/reference/commandline/ps.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3979 [20.10 backport Fix section docker ps --size
  docs/reference/commandline/ps.md
Labels: kind/docs, status/3-docs-review

#3987 Fix typo in reference doc for docker exec
  docs/reference/commandline/exec.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#3992 docs: add note about MKE CA rotation, which is potentially dangerous
  docs/reference/commandline/swarm_ca.md
Labels: kind/docs, status/3-docs-review, area/swarm, process/cherry-pick

#3986 rm: allow `docker container remove` as an alias
  cli/command/container/rm.go
Labels: impact/changelog, status/2-code-review, impact/documentation, area/ux

#3990 Add OCI support to manifest subcommand
  cli/command/manifest/push.go
  cli/command/manifest/testdata/inspect-annotate.golden
  cli/command/manifest/util.go
  cli/manifest/types/types.go
  cli/registry/client/fetcher.go
  vendor/github.com/docker/distribution/manifest/ocischema/builder.go
  vendor/github.com/docker/distribution/manifest/ocischema/manifest.go
  vendor/modules.txt
Labels: impact/changelog, status/2-code-review, kind/bugfix

#3991 docs: move doc generation scripts to subdir
  docs/generate/generate.go
  docs/generate/go.mod
  docs/generate/tools.go
  scripts/docs/generate-yaml.sh
Labels: kind/docs, status/2-code-review, impact/documentation, kind/refactor

#3996 Fix issue where one bad credential helper causes no credentials to be returned
  cli/config/configfile/file.go
  cli/config/configfile/file_test.go
Labels: status/2-code-review, kind/bugfix
