Repository docker/cli, pull requests merged in 2023-05, with the labels that each got.

#4236 vendor: github.com/docker/docker v24.0.0-rc.1
  cli/command/image/testdata/inspect-command-success.simple-many.golden
  cli/command/image/testdata/inspect-command-success.simple.golden
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/image_summary.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#4248 vendor: github.com/moby/term v0.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/term/doc.go
  vendor/github.com/moby/term/tc.go
  vendor/github.com/moby/term/term.go
  vendor/github.com/moby/term/term_unix.go
  vendor/github.com/moby/term/term_windows.go
  vendor/github.com/moby/term/termios_unix.go
  vendor/github.com/moby/term/termios_windows.go
  vendor/github.com/moby/term/windows/ansi_reader.go
  vendor/github.com/moby/term/windows/console.go
  vendor/github.com/moby/term/winsize.go
  vendor/modules.txt
Labels: status/2-code-review

#4181 cli/command/system: add utilities for printing, don't pass CLI if not needed
  cli/command/system/info.go
  cli/command/system/info_test.go
Labels: status/2-code-review, kind/refactor

#4253 update go to go1.20.4
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Labels: impact/changelog, status/2-code-review, area/packaging

#4254 [23.0] update go to go1.19.9
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.lint
  dockerfiles/Dockerfile.vendor
  e2e/testdata/Dockerfile.gencerts
Labels: impact/changelog, status/2-code-review, area/packaging

#4255 [20.10] update go to go1.19.9
  Dockerfile
  appveyor.yml
  docker-bake.hcl
  dockerfiles/Dockerfile.binary-native
  dockerfiles/Dockerfile.dev
  dockerfiles/Dockerfile.e2e
  dockerfiles/Dockerfile.lint
Labels: impact/changelog, status/2-code-review, area/packaging

#4251 vendor: github.com/mattn/go-runewidth v0.0.14
  vendor.mod
  vendor.sum
  vendor/github.com/mattn/go-runewidth/.travis.yml
  vendor/github.com/mattn/go-runewidth/README.md
  vendor/github.com/mattn/go-runewidth/go.test.sh
  vendor/github.com/mattn/go-runewidth/runewidth.go
  vendor/github.com/mattn/go-runewidth/runewidth_appengine.go
  vendor/github.com/mattn/go-runewidth/runewidth_js.go
  vendor/github.com/mattn/go-runewidth/runewidth_posix.go
  vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  vendor/modules.txt
Labels: status/2-code-review, kind/refactor

#4156 cli/command/container: implement `docker run --annotation`
  cli/command/container/opts.go
  contrib/completion/bash/docker
  contrib/completion/fish/docker.fish
  contrib/completion/zsh/_docker
  docs/reference/commandline/container_create.md
  docs/reference/commandline/container_run.md
  docs/reference/commandline/create.md
  docs/reference/commandline/run.md
  man/docker-run.1.md
Labels: impact/changelog, kind/enhancement, status/2-code-review, docs/revisit, area/ux

#4073 connhelper: Allow socket path when using SSH
  cli/connhelper/connhelper.go
  cli/connhelper/ssh/ssh.go
  cli/connhelper/ssh/ssh_test.go
  docs/reference/commandline/dockerd.md
Labels: impact/changelog, kind/enhancement, status/1-design-review, impact/documentation

#4244 vendor: github.com/docker/docker github.com/docker/docker v24.0.0-rc.1.0.20230505222407-8d9a40a82034 (v24.0.0-rc.2)
  cli/command/container/formatter_diff.go
  cli/command/container/formatter_diff_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/change_response_deprecated.go
  vendor/github.com/docker/docker/api/types/container/change_type.go
  vendor/github.com/docker/docker/api/types/container/change_types.go
  vendor/github.com/docker/docker/api/types/container/container_changes.go
  vendor/github.com/docker/docker/api/types/container/filesystem_change.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/client_unix.go
  vendor/github.com/docker/docker/client/client_windows.go
  vendor/github.com/docker/docker/client/container_diff.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/pkg/jsonmessage/jsonmessage.go
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#4263 vendor: github.com/docker/docker v24.0.0-rc.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-picked, area/runtime

#4264 [24.0 backport] vendor: github.com/docker/docker v24.0.0-rc.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#4260 docs: add description and examples for docker -H
  cli/flags/options.go
  docs/reference/commandline/cli.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#4266 Update version to v25.0.0-dev, update to API v1.44
  VERSION
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
Labels: impact/changelog, status/2-code-review

#4270 [23.0 Backport] docs: add description and examples for docker -H
  cli/flags/options.go
  docs/reference/commandline/cli.md
Labels: kind/docs, status/3-docs-review

#4271 [24.0 Backport] docs: add description and examples for docker -H
  cli/flags/options.go
  docs/reference/commandline/cli.md
Labels: kind/docs, status/3-docs-review

#4223 docs: update tag docs to clarify name format
  docs/reference/commandline/tag.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#4275 [24.0 backport] Update tag docs to clarify name
  docs/reference/commandline/tag.md
Labels: kind/docs, status/3-docs-review

#4274 [23.0 backport] Update tag docs to clarify name
  docs/reference/commandline/tag.md
Labels: kind/docs, status/3-docs-review

#4276 cli-plugins/manager: fix deprecation comment of Metadata.Experimental
  cli-plugins/manager/metadata.go
Labels: impact/deprecation, status/2-code-review, area/plugins, process/cherry-picked

#4277 [24.0 backport] cli-plugins/manager: fix deprecation comment of Metadata.Experimental
  cli-plugins/manager/metadata.go
Labels: impact/deprecation, status/2-code-review, area/plugins

#4284 vendor: github.com/docker/distribution v2.8.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.dockerignore
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/errors.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/client/transport/http_reader.go
  vendor/modules.txt
Labels: status/2-code-review, area/distribution, process/cherry-picked

#4285 [23.0 backport] vendor: github.com/docker/distribution v2.8.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.dockerignore
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/errors.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/client/transport/http_reader.go
  vendor/modules.txt
Labels: status/2-code-review, area/distribution

#4286 [24.0 backport] vendor: github.com/docker/distribution v2.8.2
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.dockerignore
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/errors.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/client/transport/http_reader.go
  vendor/modules.txt
Labels: status/2-code-review, area/distribution

#4257 cli/context/docker: rename receiver for Endpoint
  cli/context/docker/load.go
Labels: status/2-code-review, area/context, kind/refactor

#4262 cli/config/credentials: skip unneeded exec.LookPath()
  cli/config/credentials/default_store.go
Labels: status/2-code-review, kind/refactor

#4282 replace uses of client.IsErrNotFound for errdefs.IsNotFound
  cli/command/container/create.go
  cli/command/container/create_test.go
  cli/command/image/remove.go
  cli/command/image/remove_test.go
  cli/command/service/inspect.go
  cli/command/service/logs.go
  cli/command/stack/swarm/deploy_composefile.go
  cli/command/stack/swarm/deploy_composefile_test.go
  cli/command/system/inspect.go
Labels: status/2-code-review, kind/refactor

#4279 cli/command/stack: remove deprecated RunDeploy, RunPS, RunRemove, GetServices
  cli/command/stack/deploy.go
  cli/command/stack/ps.go
  cli/command/stack/remove.go
  cli/command/stack/services.go
Labels: impact/deprecation, status/2-code-review, area/swarm, area/stack

#4281 cli/config: remove warning for deprecated ~/.dockercfg file
  cli/config/config.go
  cli/config/config_test.go
  docs/deprecated.md
Labels: impact/changelog, impact/deprecation, status/2-code-review, kind/refactor

#4261 remove pre-go1.17 build-tags
  cli-plugins/manager/manager_unix.go
  cli-plugins/manager/suffix_unix.go
  cli/command/container/signals_unix.go
  cli/command/container/signals_unix_test.go
  cli/command/image/build/context_unix.go
  cli/config/configfile/file_unix.go
  cli/config/credentials/default_store_unsupported.go
  cli/connhelper/commandconn/commandconn_unix_test.go
  cli/connhelper/commandconn/pdeathsig_nolinux.go
  cli/connhelper/commandconn/session_unix.go
  cmd/docker/docker_windows_386.go
  cmd/docker/docker_windows_amd64.go
  cmd/docker/docker_windows_arm.go
  cmd/docker/docker_windows_arm64.go
  opts/hosts_unix.go
Labels: status/2-code-review, kind/refactor

#4250 tini nits
  cli/command/container/hijack.go
  cli/command/image/build/context.go
Labels: status/2-code-review, kind/refactor

#4299 [24.0 backport] docs/deprecated: remove .patch release from deprecation status
  docs/deprecated.md
Labels: kind/docs, status/3-docs-review

#4298 docs/deprecated: remove .patch release from deprecation status
  docs/deprecated.md
Labels: kind/docs, status/3-docs-review, process/cherry-picked

#4304 docs: remove uses of deprecated AuFS, legacy overlay storage drivers
  docs/deprecated.md
  docs/extend/plugins_graphdriver.md
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review, process/cherry-picked

#4305 [24.0 backport] docs: remove uses of deprecated AuFS, legacy overlay storage drivers
  docs/deprecated.md
  docs/extend/plugins_graphdriver.md
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review

#4303 cli/command/system: remove aufs from fixtures
  cli/command/system/info_test.go
  cli/command/system/testdata/docker-info-badsec.golden
  cli/command/system/testdata/docker-info-badsec.json.golden
  cli/command/system/testdata/docker-info-daemon-warnings.json.golden
  cli/command/system/testdata/docker-info-legacy-warnings.json.golden
  cli/command/system/testdata/docker-info-no-swarm.golden
  cli/command/system/testdata/docker-info-no-swarm.json.golden
  cli/command/system/testdata/docker-info-plugins.golden
  cli/command/system/testdata/docker-info-plugins.json.golden
  cli/command/system/testdata/docker-info-with-labels-empty.golden
  cli/command/system/testdata/docker-info-with-labels-nil.golden
  cli/command/system/testdata/docker-info-with-swarm.golden
  cli/command/system/testdata/docker-info-with-swarm.json.golden
Labels: status/2-code-review, area/testing, kind/refactor

#4301 contrib/completion: remove aufs, legacy overlay
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Labels: status/2-code-review, process/cherry-picked, area/completion

#4302 [24.0 backport] contrib/completion: remove aufs, legacy overlay
  contrib/completion/bash/docker
  contrib/completion/zsh/_docker
Labels: status/2-code-review, area/completion

#4288 Correct "ps --no-trunc" example output
  docs/reference/commandline/ps.md
Labels: kind/docs, status/3-docs-review, process/cherry-pick

#4306 man: remove devicemapper from examples
  man/src/inspect.md
Labels: kind/docs, status/3-docs-review, process/cherry-picked

#4308 [24.0 backport] assorted docs fixes
  docs/reference/commandline/ps.md
  docs/reference/glossary.md
  man/src/inspect.md
Labels: kind/docs, status/3-docs-review

#4309 docs: fix example for proxies in daemon.json
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review, process/cherry-picked, kind/bugfix

#4310 [24.0 backport] docs: fix example for proxies in daemon.json
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review, kind/bugfix

#4311 [23.0 backport] docs: fix example for proxies in daemon.json
  docs/reference/commandline/dockerd.md
Labels: kind/docs, status/3-docs-review, kind/bugfix

#4313 [24.0] vendor: github.com/docker/docker v24.0.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#4267 vendor: update docker/docker to latest v25.0.0-dev
  vendor.mod
  vendor.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/api/common_unix.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/auth.go
  vendor/github.com/docker/docker/api/types/configs.go
  vendor/github.com/docker/docker/api/types/container/change_response_deprecated.go
  vendor/github.com/docker/docker/api/types/container/hostconfig_unix.go
  vendor/github.com/docker/docker/api/types/image/opts.go
  vendor/github.com/docker/docker/api/types/image_summary.go
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/client/client_unix.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/github.com/docker/docker/client/errors.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_other.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/archive/changes_other.go
  vendor/github.com/docker/docker/pkg/archive/changes_unix.go
  vendor/github.com/docker/docker/pkg/archive/copy_unix.go
  vendor/github.com/docker/docker/pkg/archive/diff.go
  vendor/github.com/docker/docker/pkg/archive/diff_unix.go
  vendor/github.com/docker/docker/pkg/archive/path_unix.go
  vendor/github.com/docker/docker/pkg/archive/time_unsupported.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_others.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/idtools/usergroupadd_unsupported.go
  vendor/github.com/docker/docker/pkg/idtools/utils_unix.go
  vendor/github.com/docker/docker/pkg/ioutils/tempdir_deprecated.go
  vendor/github.com/docker/docker/pkg/meminfo/meminfo.go
  vendor/github.com/docker/docker/pkg/meminfo/meminfo_linux.go
  vendor/github.com/docker/docker/pkg/meminfo/meminfo_unsupported.go
  vendor/github.com/docker/docker/pkg/meminfo/meminfo_windows.go
  vendor/github.com/docker/docker/pkg/process/doc.go
  vendor/github.com/docker/docker/pkg/process/process_unix.go
  vendor/github.com/docker/docker/pkg/process/process_windows.go
  vendor/github.com/docker/docker/pkg/system/chtimes_nowindows.go
  vendor/github.com/docker/docker/pkg/system/filesys_unix.go
  vendor/github.com/docker/docker/pkg/system/lstat_unix.go
  vendor/github.com/docker/docker/pkg/system/meminfo_deprecated.go
  vendor/github.com/docker/docker/pkg/system/mknod.go
  vendor/github.com/docker/docker/pkg/system/mknod_freebsd.go
  vendor/github.com/docker/docker/pkg/system/mknod_unix.go
  vendor/github.com/docker/docker/pkg/system/path_deprecated.go
  vendor/github.com/docker/docker/pkg/system/process_deprecated.go
  vendor/github.com/docker/docker/pkg/system/stat_bsd.go
  vendor/github.com/docker/docker/pkg/system/stat_unix.go
  vendor/github.com/docker/docker/pkg/system/utimes_unix.go
  vendor/github.com/docker/docker/pkg/system/utimes_unsupported.go
  vendor/github.com/docker/docker/pkg/system/xattrs_linux.go
  vendor/github.com/docker/docker/pkg/system/xattrs_unsupported.go
  vendor/github.com/docker/docker/registry/config_unix.go
  vendor/modules.txt
Labels: status/2-code-review, area/runtime

#4314 remove uses of golang.org/x/sys/execabs
  cli-plugins/manager/candidate.go
  cli-plugins/manager/manager.go
  cli/command/image/build/context.go
  cli/config/credentials/default_store.go
  cli/connhelper/commandconn/commandconn.go
Labels: status/2-code-review, kind/refactor
